<div class="container-fluid">
  <div class="row main_nav">
    <div class="navbar-collapse collapse" id="main-nav">
            <!-- Nav bar -->
        <ul class="col-xs-12 nav text_center first_nav">
          <li class="col-xs-4 menu_item dashboard_menu">
            <a ng-click="ShowSecondNav('dashboardmenu')">
              <img src="distribution/images/dashboard_icon.png">
              <span>DASHBOARD</span>
            </a>
          </li>
          <li class="col-xs-4 menu_item contract_menu" ng-class="contractVoSubNav?'menu_active':''">
            <a ng-click="ShowSecondNav('contractsvomenu')">
              <img src="distribution/images/contracts_icon.png">
              <span>CONTRACTS</span>
              <i class="fa fa-chevron-down pull-right" ng-hide="contractVoSubNav"></i>
              <i class="fa fa-chevron-up pull-right" ng-show="contractVoSubNav"></i>
            </a>
          </li>
          <li class="col-xs-4 menu_item customer_menu">
            <a ng-click="ShowSecondNav('customersmenu')">
              <img src="distribution/images/customers_icon.png">
              <span>CUSTOMERS</span>
            </a>
          </li>
        </ul>
        <div ng-show="contractVoSubNav" class="col-xs-12">
          <ul class="nav second_navbar text_center">
            <li>
              <a ui-sref="VoBoard.ManageVoManagerVerification">
                  <span class="{{activeLink8}}">Verification Requests</span>
              </a>
              </li>
            <li>
                <a ui-sref="VoBoard.ManageVoCompleteRequest">
                  <span class="{{activeLink9}}">Completed Requests</span>
                </a>
              </li>
            <li>
                <a ui-sref="VoBoard.ManageVoPriceDifference">
                  <span class="{{activeLink10}}">Manage Price Difference</span>
                </a>
              </li>
          </ul>
        </div>
    </div>
  </div> 



      <!--Manage roles-->
     <!--  <ul class="col-xs-12 nav nav-tabs second_navbar user_role_menu text_center" ng-show="ShowUserRolesMenu">
        <li class="col-xs-2">
        <a ui-sref="AdminBoard.ManageUser">
            <span class="{{activeLink1}}">Manage Users</span>
        </a>
        </li>
        <li class="col-xs-2">
          <a ui-sref="AdminBoard.ManageRole">
            <span class="{{activeLink2}}">Manage Roles</span>
          </a>
        </li>
        <li class="col-xs-3">
          <a ui-sref="AdminBoard.ManageRegistration">
            <span class="{{activeLink3}}">Registration Requests</span>
          </a>
        </li>
      </ul> -->
      
      <!--Manage contracts-->
      <!-- <ul class="col-xs-12 nav nav-tabs second_navbar" ng-show="true || ShowContractsMenu">
        <li class="col-xs-2">
          <a ui-sref="AdminBoard.ManageContract">
            <span class="{{activeLink4}}">Manage Contract</span>
          </a>
        </li>
        <li class="col-xs-2">
          <a>
            <span class="{{activeLink5}}">Cancellation Requests</span>
          </a>
        </li>
        <li class="col-xs-2">
          <a>
            <span class="{{activeLink6}}">Collection Requests</span>
          </a>
        </li>
          <li class="col-xs-2">
          <a>
            <span class="{{activeLink7}}">Verification Requests</span>
          </a>
        </li>
      </ul> -->
 
</div>
