<div class="loading-wrapper">
	<div class="loading-spiner" ng-show="loader"><img src="distribution/images/loader.gif" alt="Loading Icon"/></div>

<div class="container">
<div class="col-xs-6 col-sm-3 col-md-5 text_center back-margin">
        <a ui-sref="AdminBoard.ManageCustomer" class="back-link"> <i class="fa fa-angle-left"></i>&nbspBack to Manage Customer
        </a>
    </div>
<div class="row margin_null">
    
    <div class="col-xs-12 col-sm-12 col-md-12 text-center heading-bottom">
        <span class="headingClass_Autoresponse raleway_subheading">Create Customer</span>
         <div class="stepMarginBottom_create"></div>
    </div>
    </div>
       	<div class="row contract-nav price_screen_content navBarCustomer">
		<div class="pull-left navIconPointer" id="click1" ng-click="goToTab('1')">
			<img src="distribution/images/customerIcons/custome_icon_gray.png" class="img-responsive" ng-show="!part1">
			<img src="distribution/images/customerIcons/custome_icon_blue.png" class="img-responsive" ng-show="part1">
		</div>
		<div class="stepline-customer"></div>
		<div class="pull-left navIconPointer" id="click2" ng-click="goToTab('2')"> 
			<img src="distribution/images/customerIcons/address_icon_gray.png" class="img-responsive" ng-show="!part2">
			<img src="distribution/images/customerIcons/address_icon_blue.png" class="img-responsive" ng-show="part2">
		</div>
		<div class="stepline-customer"></div>
		<div class="pull-left navIconPointer" id="click3" ng-click="goToTab('3')">
			<img src="distribution/images/customerIcons/relationship_icon_gray.png" class="img-responsive" ng-show="!part3">
			<img src="distribution/images/customerIcons/relationship_icon_blue.png" class="img-responsive" ng-show="part3">
		</div>
		<!-- <div class="stepline-customer"></div>
		<div class="pull-left" id="click4">
			<img src="distribution/images/icons/create4.png" class="img-responsive" ng-show="!part4">
			<img src="distribution/images/icons/create4.png" class="img-responsive" ng-show="part4">
		</div> -->
	</div>
	<div class="row contract-nav-text">
			<div class="step_text nav-width1">
				<span class="navPaddingLeft1" ng-class="part1?'textColorBlack':''">Customer Details</span>
			</div>
			<div class="step_text nav-width2">
				<span class="navPaddingLeft2" ng-class="part2?'textColorBlack':''">Address Details</span>
			</div>
			<div class="step_text nav-width3 text-right">
				<span class="navPaddingRight3" ng-class="part3?'textColorBlack':''">Relationship Details</span>
			</div>
		</div>
    <div id="part1" ng-show="part1">
    <form name="customerDetailsForm" ng-submit="proceed('2')" novalidate>
   <div class="row total_content">
   <div >
   
    <!-- <div class="col-xs-11 col-sm-10 col-md-12">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Customer ID</label>
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
            <input type="text" class="form-control form_radius" ng-model="customer.customerCode" >
        </div> 
    </div> -->
    <div class="col-xs-11 col-sm-10 col-md-12">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Customer Name</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
            <input type="text" class="form-control form_radius" ng-model="customer.name" ng-class="customerDetailsForm.custName.$invalid && submit1?'emptyField':''" name="custName" required>
            <span class="errorMsg" ng-show="customerDetailsForm.custName.$invalid && submit1">Please Enter a Name</span>
            
        </div> 
    </div>
	<div class="col-xs-11 col-sm-10 col-md-12">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">IC No (Optional)</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
            <input type="text" class="form-control form_radius" ng-model="customer.icNo" maxlength="20">
        </div> 
    </div>
	<div class="col-xs-11 col-sm-10 col-md-12">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Race (Optional)</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom arrow_select">
			<div>
				<select class="form-control form_radius c-select arrow_remove"
					ng-model="customer.race"
					ng-options="rc for rc in raceList">
				</select></div> 
			</div> 
    </div>
    <div class="col-xs-11 col-sm-10 col-md-12">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Date of Birth (Optional)</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
              
						
							<div class="col-xs-8 col-sm-12 col-md-12 custom-date placeholder_italic">
								<input maxlength="11" size="11" placeholder="dd/mon/yyyy" datepicker type="text" class="form-control form_radius" ng-model="customer.dob">
							</div> 
	
            
        </div> 
    </div>
    <div class="col-xs-11 col-sm-10 col-md-12">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Company (Optional)</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
            <input type="text" class="form-control form_radius" ng-model="customer.company" >
            
        </div> 
    </div>
    <div class="col-xs-11 col-sm-10 col-md-12">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Designation (Optional)</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
            <input type="text" class="form-control form_radius" ng-model="customer.desg" >
            
        </div> 
    </div>
     <div class="col-xs-11 col-sm-10 col-md-12">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Email (Optional)</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" ng-model="customer.email" placeholder="Email Optional">
        </div> 
    </div>
    <div class="col-xs-11 col-sm-10 col-md-12">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Primary Phone</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" ng-model="customer.phonoNo" l name="custPhone" ng-class="customerDetailsForm.custPhone.$invalid && submit1?'emptyField':''" placeholder="Country Code-Phone No" required>
             <span class="errorMsg" ng-show="customerDetailsForm.custPhone.$invalid && submit1">Please Enter a Valid Phone No</span>
            
            
        </div> 
    </div>
     <div class="col-xs-11 col-sm-10 col-md-12">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Alt. Phone (Optional)</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" ng-model="customer.altPhoneNo"   name="custAltPhone" ng-pattern="/[123456789]+[-]{1}[123456789]+/" placeholder="Country Code-Phone No">
           <!--  ng-pattern="/^(?:[123456789]+[-]{1}[123456789]+)?$/g" -->
           <!-- ng-class="customerDetailsForm.custAltPhone.$invalid && submit1?'emptyField':''" -->
            <span class="errorMsg" ng-show="customerDetailsForm.custAltPhone.$invalid && submit1">Please Enter a Valid Phone No</span>
            
        </div> 
    </div>
    <div class="col-xs-11 col-sm-10 col-md-12">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Customer is Tax Exempted</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch"
                    class="onoffswitch-checkbox" id="myonoffswitch1" ng-model="taxexemption">
                <label class="onoffswitch-label" for="myonoffswitch1"> <span
                    class="onoffswitch-inner onoffswitch-inner-desg"></span> <span
                    class="onoffswitch-switch"></span>
                </label>
            </div>
        </div> 
    </div>
    
</div>   
</div>
<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-5 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
					<label class="contract-label ">Remarks (Optional)</label>
				</div>
				<div class="col-xs-7 col-sm-12 col-md-12 margin_30_bottom">
					<textarea class="form-control contract-label form_radius" rows="5" placeholder="Please Mention the products that are under promotions or being given as free gifts..." ng-model="customer.remarks"></textarea>
				</div>	
			</div>
<div class="col-xs-12 col-sm-12 col-md-12 reference-btn">
				<span class="pull-left">
					<button class="btn btn-md contract-btn btn_font_bold" type="button" ng-click="cancel()">Cancel</button>
					<!-- <img src="distribution/images/contracts/save-icon.png"> -->
				</span>
				<span class="pull-right">
					 <button class="btn btn-md createroleButton btn_font_bold contract-btn-next" type="submit">
					 	<img src="distribution/images/customerIcons/next_icon_white.png" class="img_icon"/>Next
					 	<img src="distribution/images/contracts/arrow_next_red.jpg" class="next_ar"/>
					 </button>
				</span>
			</div>
			</form>
			</div>
			

<div id="part2" class="row" ng-show="part2">
<form name="addressForm" ng-submit="proceed('3')" novalidate>
	<div class="col-md-5 leftMargin">
	<h4>HOME ADDRESS</h4>
	<div class="col-xs-11 col-sm-10 col-md-8">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Address</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" ng-model="customer.homeAddressLine1" placeholder="Address Line 1" name="addressLine1" ng-class="addressForm.addressLine1.$invalid && submit2?'emptyField':''" required>
            <span class="errorMsg" ng-show="addressForm.addressLine1.$invalid && submit2">Please Enter a Address</span>
        </div> 
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" ng-model="customer.homeAddressLine2" placeholder="Address Line 2 (Optional)">
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" ng-model="customer.homeCity" placeholder="City (Optional)">
        </div>
        <div class=" col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <select class="form-control form_radius c-select arrow_remove" ng-model="customer.homeState" ng-options="state for state in countryStateList" name="homestate" ng-class="addressForm.homestate.$invalid && submit2?'emptyField':''"  required>
			</select>
			<span class="errorMsg" ng-show="addressForm.homestate.$invalid && submit2">Please Select a State</span>				
        </div>
        <div class="col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" maxlength="5" ng-model="customer.homePinCode" placeholder="Pincode" ng-class="addressForm.homePin.$invalid && submit2?'emptyField':''" name="homePin" required>
            <span class="errorMsg" ng-show="addressForm.homePin.$invalid && submit2">Please Enter a Pin Code</span>
        </div>
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Email</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="email" class="form-control form_radius placeholder_italic" ng-model="customer.homeEmail" placeholder="Email (Optional)">
        </div>
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Phone</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" ng-model="customer.homePhoneNo" name="homePhone" ng-pattern="/[123456789]+[-]{1}[123456789]+/" placeholder="Country Code-Phone No" ng-class="addressForm.homePhone.$invalid && submit2?'emptyField':''">
            <span class="errorMsg" ng-show="addressForm.homePhone.$invalid && submit2">Please Enter a Valid Phone No</span>
        </div>
    </div>
	</div>

	<div class="col-md-2"></div>
	<div class="col-md-5">
	<h4>COMPANY ADDRESS (Optional)</h4>
	<div class="col-xs-11 col-sm-10 col-md-8">
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Address</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" ng-model="customer.compAddressLine1" placeholder="Address Line 1">
        </div> 
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" ng-model="customer.compAddressLine2" placeholder="Address Line 2">
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" ng-model="customer.compCity" placeholder="City">
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
            <select class="form-control form_radius c-select arrow_remove margin_30_bottom" ng-model="customer.compState" ng-options="state for state in countryStateList">
							
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" maxlength="5" ng-model="customer.compPinCode" placeholder="Pincode">
        </div>
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Email</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" ng-model="customer.compEmail" placeholder="Email">
        </div>
        <div class="col-xs-3 col-sm-12 col-md-12 margin_bottom_10">
            <label class="contract-label ">Phone</label> 
        </div>
        <div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
            <input type="text" class="form-control form_radius placeholder_italic" ng-model="customer.compPhoneNo" ng-pattern="/[123456789]+[-]{1}[123456789]+/" placeholder="Country Code-Phone No (Optional)" name="compPhone" ng-class="addressForm.compPhone.$invalid && submit2?'emptyField':''">
             <span class="errorMsg" ng-show="addressForm.compPhone.$invalid && submit2">Please Enter a Valid Phone No</span>
        </div>
    </div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-10 reference-btn leftMarginPart2">
			<span class="pull-left">
				<button class="btn btn-md contract-btn btn_font_bold" type="button" ng-click="cancel()">Cancel</button>
				<!-- <img src="distribution/images/contracts/save-icon.png"> -->
			</span>
			<span class="pull-right">
				<button id="prev2" class="btn btn-md  btn_font_bold contract-btn-next previousButton" ng-click="back('1');" type="button"><img src="distribution/images/contracts/arrow_prev_gray.jpg" class="iconImageMarginRight"><img src="distribution/images/customerIcons/custome_icon_dark-gray.png" class="iconImageMarginRight">Previous</button>
				 <button id="next2" class="btn btn-md createroleButton btn_font_bold contract-btn-next" type="submit"><img src="distribution/images/customerIcons/relationship_icon_white.png" class="iconImageMarginRight">Next
				 <img src="distribution/images/contracts/arrow_next_red.jpg" class="next_ar"/>
				 </button>
				 
			</span>
		</div>
		</form>
</div>
<div id="part3" ng-show="part3">
<form name="relationShipForm" ng-submit="proceed('4')" novalidate>
			<div ng-repeat="rlt in relationShipList">
			<ng-form name="partRelForm">
			<div class="row mobile_text_right price_screen_content paymentBlock">
			<div class="no">
			<label>{{$index+1}}.</label>
			</div>
			<div class="crossCustomer" ng-hide="relationShipList.length==1">
				<img src="\distribution\images\decline_inactive.png" ng-click="delRelationship($index)"></img>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-5">
				<div class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
						<div class="col-xs-3 col-sm-5 col-md-8 padding_right15 margin_bottom_10">
							<label class="contract-label  ">Choose Relation</label>
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
							<select class="form-control form_radius c-select arrow_remove margin_10" ng-model="rlt.relation" ng-options="relation for relation in relationList" name="relType" ng-class="partRelForm.relType.$invalid && submit3?'emptyField':''" required>
							</select>
							<span class="errorMsg" ng-show="partRelForm.relType.$invalid && submit3">Please Select a Relationship Type</span>
						</div> 
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
						<div class="col-xs-3 col-sm-5 col-md-8 padding_right15 margin_bottom_10">
							<label class="contract-label  ">Reference Name</label>
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
							<input type="text" class="form-control form_radius" ng-model="rlt.name" name="relName" ng-class="partRelForm.relName.$invalid && submit3?'emptyField':''" required>
							<span class="errorMsg" ng-show="partRelForm.relName.$invalid && submit3">Please Enter a Name</span>
						</div> 
				</div>
				<div class="col-md-12 form_margin mobile_form_margin">
						<div class="col-md-12 padding_right15 margin_bottom_10">
							<label class="contract-label  ">Phone (Optional)</label>
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom arrow_select buttonToolbar">
							<input type="text" class="form-control form_radius placeholder_italic" ng-model="rlt.phone" ng-pattern="/[123456789]+[-]{1}[123456789]+/" name="rltPhone" placeholder="CountryCode-PhoneNo" ng-class="relationShipForm.rltPhone.$invalid && submit3?'emptyField':''">
							<span class="errorMsg" ng-show="relationShipForm.rltPhone.$invalid && submit3">Please Enter a Valid Phone No</span>
							
						</div> 
				</div>
				
				
				<div class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
						<div class="col-md-12 padding_right15 margin_bottom_10">
							<label class="contract-label  ">Email (Optional)</label>
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
						
							<div class="col-xs-8 col-sm-12 col-md-12 custom-date">
								<input type="email" class="form-control form_radius" ng-model="rlt.email">
							</div> 
						</div> 
				</div>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-2">
				<div class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
						<div class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
							<label class="contract-label  ">Address</label>
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
							<input type="text" class="form-control form_radius placeholder_italic" placeholder="Address Line 1 (Optional)" ng-model="rlt.addrLine1">
						</div> 
						<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
							<input type="text" class="form-control form_radius placeholder_italic" placeholder="Address Line 2 (Optional)" ng-model="rlt.addrLine2">
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
							<input type="text" class="form-control form_radius placeholder_italic" placeholder="City" ng-model="rlt.cityName" placeholder="Optional">
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
							<select class="form-control form_radius c-select arrow_remove margin_30_bottom" ng-model="rlt.stateName" ng-options="state for state in countryStateList">
						</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin margin_30_bottom">
						
							<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
							<input type="text" class="form-control form_radius placeholder_italic" maxlength="5" placeholder="Pincode (Optional)" ng-model="rlt.pinCode">
							
						</div> 
				</div>
				
			</div>
			<div class="col-xs-12 addMore btn_font_bold" ng-show="($index+1)==relationShipList.length">
				<label class="btn_font_bold pull-right" ng-click="addReference()" ><img src="\distribution\images\Add_icon.png" class="adddItemCustomer"></img><span class="addCustomerOpt">Add More</span></label>
			</div>

		</div>
		</ng-form>
		</div>
		
	
		<div class="col-xs-12 col-sm-12 col-md-10 reference-btn leftMarginPart2">
			<span class="pull-left">
				<button class="btn btn-md contract-btn btn_font_bold" type="button" ng-click="cancel()">Cancel</button>
				<!-- <img src="distribution/images/contracts/save-icon.png"> -->
			</span>
			<span class="pull-right">
			<button id="prev3" class="btn btn-md btn_font_bold contract-btn-next previousButton" ng-click="back('2')" type="button"><img src="distribution/images/contracts/arrow_prev_gray.jpg" class="iconImageMarginRight"><img src="distribution/images/customerIcons/address_icon_dark_gray.png" class="iconImageMarginRight">Previous</button>
				 <button type="submit" id="next3" class="btn btn-md createroleButton btn_font_bold contract-btn-next elongatePadding" >Create</button>
			</span>
		</div>
		</form>
</div>
<!-- <div id="part4" ng-show="part4">
			<div ng-repeat="pmt in pmtList">
			<div class="row mobile_text_right price_screen_content paymentBlock">
			<div class="crossCustomer" ng-hide="pmtList.length==1">
				<img src="\distribution\images\decline_inactive.png" ng-click="delPaymentMethod($index)"></img>
			</div>
			<div class="col-xs-12 col-sm-5 col-md-5"  ng-hide="showRoleDetails">
				<div class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
						<div class="col-xs-3 col-sm-5 col-md-8 padding_right15 margin_bottom_10">
							<label class="contract-label  ">Payment Method</label>
						</div>
						<div class="col-xs-7 col-sm-12 col-md-12 margin_30_bottom arrow_select">
						
							<select class="form-control form_radius c-select arrow_remove margin_10" ng-options="p for p in customer.paymentMethods" ng-model="pmt.paymentMethod">
							<option value="">-Select-</option>
							</select>
							
						</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
						<div class="col-xs-3 col-sm-5 col-md-8 padding_right15 margin_bottom_10">
							<label class="contract-label  ">Bank Name</label>
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
							<input type="text" class="form-control form_radius" ng-model="pmt.bankName">
						</div> 
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
						<div class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
							<label class="contract-label  ">Account Type</label>
						</div>
						<div class="col-xs-7 col-sm-12 col-md-12 margin_30_bottom arrow_select">
						
							<select class="form-control form_radius c-select arrow_remove margin_10" ng-model="pmt.accType" ng-options="accType for eccType in accTypeList">
							<option value="">-Select-</option>
							</select>
							
						</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
						
						<div class="col-xs-7 col-sm-12 col-md-12 margin_30_bottom arrow_select">
						
							<label class="contract-label "><input type="checkbox" class="form_radius" ng-model="pmt.defPayment">Use This as the default payment method</label>
							
						</div>
				</div>
				
				

			</div>
			<div class="col-xs-12 col-sm-5 col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-2" ng-hide="showManageDiv">
				<div class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
						<div class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
							<label class="contract-label  ">Bank Address</label>
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
							<input type="text" class="form-control form_radius" placeholder="Address Line 1" ng-model="pmt.bankAddr1">
						</div> 
						<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
							<input type="text" class="form-control form_radius" placeholder="Address Line 2" ng-model="pmt.bankAddr2">
						</div>
					
				</div>

				
			</div>
			<div class="col-xs-12 addMore btn_font_bold" ng-show="($index+1)==pmtList.length">
				<label class="btn_font_bold pull-right" ng-click="addPmt()" ><img src="\distribution\images\Add_icon.png" class="adddItemCustomer" ></img><span class="addCustomerOpt">Add More</span></label>
			</div>

		</div>
		</div>
				<div class="col-xs-12 col-sm-12 col-md-10 reference-btn leftMarginPart2">
			<span class="pull-left">
				<button class="btn btn-md contract-btn btn_font_bold">Cancel</button>
				<img src="distribution/images/contracts/save-icon.png">
			</span>
			<span class="pull-right">
			<button id="prev4" class="btn btn-md btn_font_bold contract-btn-next previousButton" ng-click="back('3')"><img src="distribution/images/contracts/Book_white.png">Previous</button>
				 <button class="btn btn-md createroleButton btn_font_bold contract-btn-next" id="create" ng-click="subContractMenu('product')"><img src="distribution/images/contracts/Book_white.png">Create</button>
			</span>
		</div>
		
</div> -->
	
</div>
</div>
