<div class="modal-body">
	<form name="taxStatementForm" ng-submit="close()" novalidate>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="usr">Sales Person Name:</label> <input type="text"
						class="form-control" name="salesRepName" ng-model="salesRepName"
						ng-class="taxStatementForm.salesRepName.$invalid && submitPressed?'emptyField':''" ng-change="getsalesRepSuggestionList()"
						required> <span class="errorMsg"
						ng-show="taxStatementForm.salesRepName.$invalid && submitPressed">Please
						Enter SalesRep Name</span>
				</div>
			</div>
			<div class="col-xs-12" ng-show="showSalesRepSuggestion">
				<ul class="list-group locationSuggestionBox">
    				<li class="list-group-item" ng-repeat="salesRep in salesRepSuggestionList" ng-click="setSalesrepName(salesRep)">{{salesRep}}</li>
    			</ul>
			</div>
			<div class="col-xs-12">
				<button type="submit" class="btn btn-md  adminButton pull-right">Submit</button>
				<button type="button" class="btn btn-md adminCancelButton pull-left"
					ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</form>
</div>
