<div class="container-fluid" ng-controller="ManageGridCtrl">
	<div ng-controller="CompletedCollectionRequestsCtrl">
	<div class='row text_center margin_top_heading hidden-xs'>
	   <h1 class="raleway_heading">Completed Requests</h1>
	   
	    
	   </div>
	   <div class="row main-container">
	   <div class="col-xs-12 data-block">
	   <div class="sidebar-wrapper {{SidebarWidth}}" ng-include="'app/modules/sidebar-filter/view.html'"></div>
	   
	    <div  class="sub-container {{MainGridWidth}}">
			<div class="top_box" id="top_boxId">
				
				<div class="pull-left hidden-sm showing_margin">
					Showing {{totalItemCount}} collection Requests 	
				</div>
				<div class="pull-right more_links" id="threeDot_Id">
					<ul class="dotted">
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<ul class="sub-menu">
                        <li class="print"><a href="javascript: void(0);" data-ng-click="printPage($event);">Print</a></li>
                        <li class="export-csv"> <a href="javascript: void(0);" data-ng-click="exportToCsv($event,colData);">Export to .csv</a></li>
                        <li class="email"><a href="javascript: void(0);" data-ng-click="sendEmail($event);">Email</a></li>
                        <li class="settings"><a href="javascript: void(0);" data-ng-click="columnConfig($event);">Manage Columns</a></li>
                     </ul>
				</div>
				
				
				<div class="pull-right showing_page" id="showPerPage_Id">
					<span>Showing Per Page</span>
					<select class="btn btn-dropdown btn-md dropdown-toggle" ng-model="$parent.selectedCnt"
						ng-options="noOfRecords for noOfRecords in recordsPerPage" ng-change="PageCntChange()">
						<option value="noOfRecords" ng-if="false">{{selectedCnt}}</option>
					</select>
				</div>
				
			</div> 
			<div>
			
	<div ng-show="parts || parts==undefined">
			<div data-ng-show="loading" class="loadingIcon"><img src="distribution/images/loader.gif" alt="Loading Icon"></div>
			<div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="($parent.gridOptions.data==null || $parent.gridOptions.data==undefined || $parent.gridOptions.data.length==0)">
			    <table class="table table-striped checkpadding">
			        <thead>
				            <tr>
				               
				               <th ng-repeat="(i,th) in gridOptions.columnDefs"  ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn(i,$index+1)" ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
				               		<ul>
				               			<li class="col-head-text">{{th}}</li>
				               			<li class="order-arrow">
					               			<ul>
					               				<i class="fa fa-chevron-up" ng-show="predicate == i  && reverse"></i>
					               				<i class="fa fa-chevron-down" ng-show="predicate == i  && !reverse"></i>
					               			</ul>
				               			</li>
				               		</ul>
				               </th>
				            </tr>
				        </thead>
			        <tbody>
						
						<tr ng-repeat="row in gridOptions.data|orderBy:predicate:reverse" id="{{gridOptions.data.indexOf(row)}}" >

			                <td id="{{'contract'+gridOptions.data.indexOf(row)}}">
			                    <div>
			                        <a has-access="viewContract" ng-click='ShowContractPage(row)'>{{row.contractCode}}</a>
			                        <span has-access="!viewContract">{{row.contractCode}}</span>
			                    </div>
			                </td>
			                <td id="{{'custName'+gridOptions.data.indexOf(row)}}">

									<a has-access="viewUser" ng-click='ShowCustomerPage(row)'>{{row.custName}}</a>
									<span has-access="!viewUser">{{row.custName}}</span>
									<!-- <span class="new_position pos_collector" ng-show="row.isNewConTract=='Y'">New</span> -->

			                </td>
			             	<td id="{{'custAddress'+gridOptions.data.indexOf(row)}}">{{row.custHomeAddr}}</td>
			             	<td id="{{'fiscalYear'+gridOptions.data.indexOf(row)}}">{{row.contactNumber==null?'-':row.contactNumber}}</td>
			             	<td>{{row.collectionOfficerName==null?'-':row.collectionOfficerName}}</td>
			             	<td>{{row.fiscalYear==null?'-':row.fiscalYear}}</td>
			             	<td>{{row.lastPaymentDt==null?'-':row.lastPaymentDt}}</td>
			             	<td class="statusCell">
								<span class='{{concatanateString(row.orderStatus)}}'>{{row.orderStatus}}</span>
			                </td>





			            </tr>
			        </tbody>
			    </table>
			</div>
			<div ng-show="hidePaginationOnNoData">
			 <div class="col-md-12 text_center" ng-show="showPagination">
		 	<uib-pagination boundary-links="true" total-items="totalItems" ng-model="$parent.currentPage" class="pagination-lg" previous-text="&larr;" next-text="&rarr;" first-text="&laquo;" last-text="&raquo;" ng-click="pageChanged($event)"></uib-pagination>
		 </div></div>
		 		<div class="empty-block" ng-show="isEmptyManageData">
	    				<div  class="sub-container {{MainGridWidth}}">
						<div class="row">
							<div class="empty-content col-xs-12 col-sm-10 col-md-6 col-lg-5">
								<p class="raleway_heading">There are no Collection Request to view.</p>
							</div>
						</div>
					</div>
	    		</div>
	    
 </div>

</div>
</div>
</div>
</div>

</div>
</div>