<div class="container-fluid" ng-controller="ManageGridCtrl">
	<div ng-controller="ManageCollectorCollectionRequestCtrl">
		<div class='row text-center margin_top_heading visible-print-block'>
			<h1 class="raleway_heading print_only">Grolier International</h1>
			<div class="col-xs-12 address">
				81 Ubi Ave 4, #02-30, UB. ONE, Singapore 408830,</br>
				Tel: 6922 9555 &nbsp;&nbsp;Fax: 6922 9556
			</div>
		</div>
		<div class='row padding-xs text-center text-xs-left margin_top_heading hidden-print'>
			<h1 class="raleway_heading">Manage Collection Requests</h1>
		</div>
		<div class="row main-container">
			<div class="col-xs-12 data-block" ng-hide="isEmpty">
				<div class="sidebar-wrapper {{SidebarWidth}}" ng-include="'app/modules/sidebar-filter/view.html'"></div>
				<div data-ng-show="loading" class="loadingIcon hidden-xs"><img src="distribution/images/loader.gif" alt="Loading Icon"></div>
				<!-- Mobile Screen -->
				<div class="col-container co-manage {{MobilePageWidth}}">
					<div class="col-xs-12 top_box padding-none margin_bottom_10">
						<div class="pull-left hidden-sm showing-record">
							{{$parent.totalItemCount}} Contracts
						</div>
						<!-- <div class="pull-right more_links">
                           <ul class="dotted"><li></li><li></li><li></li></ul>
                           <ul class="sub-menu">
                               <li class="print">Print</li>
                               <li class="export-csv">Export to .csv</li>
                               <li class="email">Email</li>
                               <li class="settings">Manage Columns</li>
                           </ul>
                           </div> -->
						<div class="pull-right showing_page padding-right-none border-none">
							<!-- <span>Sort by</span> -->
							<select class="btn btn-dropdown btn-md dropdown-toggle" ng-model="listing.sortedBy" ng-options="list.value as list.text for list in listing.sortedByList track by list.value">
								<option value="">Last Modified</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12" ng-repeat="row in gridOptions.data | orderBy: listing.sortedBy">
						<div class="col-xs-12 row-selected" ng-swipe-right="showSelected[$index]=false;" ng-show="showSelected[$index]">
							<div class="col-xs-7 txt-area bordered">
								<div class="col-xs-1 text-center details-sec">
									<span class="glyphicon glyphicon glyphicon-menu-hamburger" aria-hidden="true" ng-swipe-right="showSelected[$index]=false;$event.stopPropagation();"></span>
								</div>
								<div class="col-xs-8 text-wrapper"><textarea rows="3" ng-model="row.collectorNote" style='color:black;'>{{row.collectorNote}}</textarea> </div>
								<div class="col-xs-2 save-btn text-center" ng-click="saveNote(row);$event.stopPropagation();">
									<div class="col-xs-12"><img src="distribution/images/mobile/blue-ok.png"> </div>
									<div class="text">Save</div>
								</div>
							</div>
							<div class="col-xs-3 detail-btn bordered text-center" ng-click="viewContract(row,$event);$event.stopPropagation();">
								<div class="col-xs-12"><img src="distribution/images/mobile/blue-details.png"> </div>
								<div class="text">Contract Details</div>
							</div>
							<div class="col-xs-2 detail-btn text-center" ng-click="viewCustomer(row);">
								<div class="col-xs-12"><img src="distribution/images/mobile/blue-profile.png"></div>
								<div class="text">Customer Details</div>
							</div>
						</div>
						<div class="col-xs-12 table-xs-view" ng-swipe-left="showSelectedRow($index);" ng-show="!showSelected[$index]" ng-click="payment(row)">
							<div class="col-xs-1 icon">
								<img ng-if="isOffline" src="distribution/images/mobile/refresh.png"/>
								<img ng-if="!isOffline" src="distribution/images/mobile/selected.png"/>
							</div>
							<div class="col-xs-5 content">
								<div class="col-xs-12 font-700">{{row.contractCode}}</div>
								<div class="col-xs-12 status {{row.orderStatus}}">{{row.orderStatus}}</div>
								<div class="col-xs-12"><label class="">CO: </label> {{row.collectionOfficerName}}</div>
								<div class="col-xs-12"><label class="">Due Date: </label> {{row.nextPaymentDueDt}}</div>
							</div>
							<div class="col-xs-5 content">
								<div class="col-xs-12 font-700 text-right">{{row.custName}}</div>
								<div class="col-xs-12 text-right">{{row.custHomeAddr}},</div>
								<div class="col-xs-12 text-right">{{row.custState}}</div>
								<div class="col-xs-12 text-right">{{row.custCountry}}, {{row.custPostalCode}}</div>
								<div class="col-xs-12 text-right">{{row.contactNumber}}</div>
							</div>
							<div class="col-xs-1 text-center details-sec">
								<span ng-show="row.outstandingInstallments!=null && row.outstandingInstallments!=0" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
							</div>
						</div>
					</div>
					<div ng-show="!loading" ng-if="!showPagination" class="col-xs-12 load-more text-center">
						<img src="distribution/images/icons/loader-inactive-20x20.png"/>
						<span>Load More</span>
					</div>
					<div ng-show="!loading" ng-if="showPagination" class="col-xs-12 load-more text-center">
						<img src="distribution/images/icons/loader-20x20.png"/>
						<span><a href="javascript:void(0);" ng-click="listing.loadMore();">Load More</a></span>
					</div>

				</div>
				<div ng-show="loading" class="col-xs-12 load-more text-center visible-xs">
					<img src="distribution/images/loader.gif" alt="Loading Icon">
				</div>
				<!-- For destop and tablet ManageUserGridCtrl-->
				<div class="col-container co-manage sub-container {{MainGridWidth}}">
					<div class="top_box" ng-hide="$parent.gridOptions.data==null || $parent.gridOptions.data==undefined">
						<div class="pull-left hidden-sm showing_margin">
							Showing {{showingEnd}} Collection Requests
						</div>
						<div class="pull-left showing-record visible-sm">
							Showing {{showingEnd}} Collection Requests
						</div>
						<div class="pull-right more_links hidden-sm">
							<ul class="dotted">
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<ul class="sub-menu">
								<li class="print"><a href="javascript: void(0);" data-ng-click="printPage($event);">Print</a></li>
								<li class="export-csv">Export to .csv</li>
								<li class="email"><a href="javascript: void(0);" data-ng-click="sendEmail($event);">Email</a></li>
								<li class="settings">Manage Columns</li>
							</ul>
						</div>
						<div class="pull-right showing_page hidden-sm" id="showPerPage_Id">
							<span>Showing Per Page</span>
							<select class="btn btn-dropdown btn-md dropdown-toggle" ng-model="$parent.selectedCnt"
									ng-options="noOfRecords for noOfRecords in recordsPerPage" ng-change="PageCntChange()">
								<option value="noOfRecords" ng-if="false">{{selectedCnt}}</option>
							</select>
						</div>
						<div class="pull-right showing_page visible-sm">
							<span>Sort by</span>
							<select class="btn btn-dropdown btn-md dropdown-toggle" ng-model="listing.sortedBy" ng-options="listSm.value as listSm.text for listSm in listing.sortedByList track by listSm.value">
								<option value="">-Select-</option>
							</select>
						</div>
					</div>
					<div class="table-responsive popover-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<table class="table table-striped checkpadding" ng-hide="$parent.gridOptions.data==null || $parent.gridOptions.data==undefined">
							<thead>
							<tr>
								<th ng-repeat="(i,th) in $parent.gridOptions.columnDefs" style="width: {{th.width}};" ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn(i,$index+1)" ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
									<ul>
										<li class="col-head-text">{{th.title}}</li>
										<li class="order-arrow">
											<ul>
												<i class="fa fa-chevron-up" ng-show="predicate == i  && reverse"></i>
												<i class="fa fa-chevron-down" ng-show="predicate == i  && !reverse"></i>
											</ul>
										</li>
									</ul>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="row in gridOptions.data|orderBy:predicate:reverse |orderBy:listing.sortedBy" id="{{gridOptions.data.vodata.indexOf(row)}}" ng-controller="VoCompletedCtrl">
								<td>
									<div>
										<a has-access="viewContract" ng-click='ShowContractPage(row)'>{{row.contractCode}}</a>
										<span has-access="!viewContract">{{row.contractCode}}</span>
									</div>
								</td>
								<td>
									<a ng-if="isDesktop" has-access="viewUser" ng-click='ShowCustomerPage(row)'>{{row.custName}}</a>
									<span ng-if="isDesktop" has-access="!viewUser">{{row.custName}}</span>
									<span ng-if="!isDesktop">{{row.custName}}</span>
									<!-- <span class="new_position pos_collector" ng-show="row.isNewConTract=='Y'">New</span> -->
								</td>
								<td>{{row.custHomeAddr==null?'-':row.custHomeAddr}}</td>
								<td>{{row.contactNumber==null?'-':row.contactNumber}}</td>
								<td>{{row.fiscalYear==null?'-':row.fiscalYear}}</td>
								<td>{{row.lastPaymentDt==null?'-':row.lastPaymentDt}}</td>
								<td>{{row.nextPaymentDueDt==null?'-':row.nextPaymentDueDt}}</td>
								<td class="statusCell">
									<span class='{{concatanateString(row.orderStatus)}}'>{{row.orderStatus}}</span>
								</td>
								<td>
									<button custom-popover="" popover-label="{{row.collectorNote}}" popover-contract="{{row.contractId}}" data="row.collectorNote" class="assign_btn">
										<img src="distribution/images/contracts/Add_icon.png" ng-show="{{row.collectorNote==' '}}"/>
										<img src="distribution/images/co_vo/note.png" ng-show="{{row.collectorNote!=' '}}"/></button>
									<!-- <button uib-popover="I have a title!" popover-title="The title." type="button" class="btn btn-default">title</button> -->
								</td>
								<td><button type="button" ng-click='payment(row)' class="assign_btn" ng-show="row.outstandingInstallments!=null && row.outstandingInstallments!=0"><img src="distribution/images/co_vo/card_icon.png"/></button></td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="col-xs-12 text-center hidden-sm" ng-show="showPagination">
						<uib-pagination boundary-links="true" total-items="totalItems" ng-model="$parent.currentPage" max-size="5" class="pagination-lg" previous-text="&larr;" next-text="&rarr;" first-text="&laquo;" last-text="&raquo;" ng-click="pageChanged($event)"></uib-pagination>
					</div>
					<div ng-show="!loading" ng-if="!showPagination" class="col-xs-12 load-more text-center visible-sm">
						<img src="distribution/images/icons/loader-inactive-20x20.png"/>
						<span>Load More</span>
					</div>
					<div ng-show="!loading" ng-if="showPagination" class="col-xs-12 load-more text-center visible-sm">
						<img src="distribution/images/icons/loader-20x20.png"/>
						<span><a href="javascript:void(0);" ng-click="listing.loadMore();">Load More</a></span>
					</div>

				</div>
			</div>
			<div class="empty-block" ng-show="isEmpty">
				<div  class="sub-container col-xs-12" visible-xs>
					<div class="row">
						<div class="empty-content col-xs-12 col-sm-10 col-md-6 col-lg-5">
							<p class="raleway_heading">There are no Collection Request to view.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
