<div class="col-xs-12" ng-repeat="report in contract.shipmentDetails">
	<div class="col-xs-12 vo-report-detail">
		<div class="col-xs-12 review-heading text-left">Delivery Details</div>
		<ul class="col-xs-11 report-list">
			<li class="col-xs-6">
				<div class="col-xs-3 width_auto padding_0">Delivery Order No:</div>
				<div class="col-xs-9 width_auto lbl-value padding_0">{{(report.deliveryOrderNo!=null)?report.deliveryOrderNo:'-'}}</div>
			</li>
			<li class="col-xs-6">
				<div class="col-xs-4 col-sm-5 text-right text-xs-left padding_0">
					Bin: <br> Distance:
				</div>
				<div class="col-xs-6 col-sm-6 lbl-value padding_0 ng-binding">
					<nobr>{{report.locationName}}</nobr> <br> <span ng-show="report.distance">greater
						than 30 km</span> <span ng-show="!report.distance">less than 30 km</span>

				</div> <!-- <div class="col-xs-offset-4 col-xs-5">Distance: <span ng-show="report.distance">greater than 30 km</span>
	  		  												  <span ng-show="!report.distance">less than 30 km</span>
	  		  </div>  -->
			</li>
		</ul>
	</div>

	<!-- <div class="col-xs-12 review-heading text-left">Product Details</div> -->
	<div class="col-xs-12 table-responsive contract-table border-bottom"
		 ng-controller="ManageGridCtrl">
		<table class="table table-striped">
			<thead>
			<tr>
				<!-- <th ng-repeat="(i,th) in vo.reportProductColList" style="width: {{th.width}}" ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn(i,$index+1)" ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
                       {{th.col}}
               </th> -->
				<th style="width: 10%;" ng-mouseenter="activeColumn(1)"
					ng-mouseleave="deActiveColumn(0,1)" ng-click="order(0,1)"
					ng-class="selectedCls(0)">S.No</th>
				<th style="width: 50%;" ng-mouseenter="activeColumn(2)"
					ng-mouseleave="deActiveColumn(1,2)" ng-click="order(1,2)"
					ng-class="selectedCls(1)">Products</th>
				<th style="width: 12%;" ng-mouseenter="activeColumn(3)"
					ng-mouseleave="deActiveColumn(2,3)" ng-click="order(2,3)"
					ng-class="selectedCls(2)">Ordered Qty</th>
				<th style="width: 12%;" ng-mouseenter="activeColumn(4)"
					ng-mouseleave="deActiveColumn(3,4)" ng-click="order(3,4)"
					ng-class="selectedCls(3)">Delivered Qty</th>
			</tr>
			</thead>
			<tbody>
			<tr
					ng-repeat="prod in report.shipmentList|orderBy:predicate:reverse">
				<td class="breakWord">{{$index+1}}</td>
				<td class="breakWord text-left"><span class="font-900">{{prod.productId}}</span>
					{{prod.productName}}</td>
				<td class="breakWord">{{prod.orderedQty}}</td>
				<!-- <td ng-if="vo.response.orderStatus!='Partially Delivered'"><input type="text" maxlength="5" size="5" class="form-control contract-label text-center form_radius" ng-model="vo.data.itemList[$index].deliveredProdQty" /></td> -->
				<td class="breakWord">{{prod.deliveredQty}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="col-xs-12 location-wrapper" ng-show="vo.showPartialFields">
	<div class="col-xs-12">Bin</div>
	<div class="col-xs-5">
		<select
				class="form-control contract-label form_radius c-select arrow_remove"
				ng-model="vo.selectedLocation" ng-class="binError ?'emptyField':'' "
				ng-options="option.locationName for option in vo.response.itemDeliverPaymentInfo.locationList track by option.locationId">
		</select>
		<span class="errorMsg" ng-show="binError?'emptyField':''">Please select a bin</span>
	</div>
	<div class="col-xs-5 col-xs-offset-1">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Delivery location is greater
				than 30 km?</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<div class="yesNO">
				<input type="checkbox" name="yesNO" ng-model='within30Km'
					   class="yesNO-checkbox" id="myyesNO"> <label
					class="yesNO-label" for="myyesNO"> <span
					class="yesNO-inner"></span> <span class="yesNO-switch"></span>
			</label>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 table-responsive contract-table border-bottom"
	 ng-controller="ManageGridCtrl" ng-show="vo.showPartialFields">
	<table class="table table-striped">
		<thead>
		<tr>
			<th ng-repeat="(i,th) in vo.remainingProductColList"
				style="width: {{th.width" ng-mouseenter="activeColumn($index+1)"
				ng-mouseleave="deActiveColumn(i,$index+1)"
				ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
				{{th.col}}</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="prod2 in vo.partialProduct track by prod2.itemId">
			<td>{{$index+1}}</td>
			<td class="text-left"><span class="font-900">{{prod2.itemProductCode}}</span>
				{{prod2.itemDesc}}</td>
			<td>{{prod2.orderedProdQty - prod2.deliveredProdQty}}</td>
			<!-- <td><input type="text" maxlength="5" size="5" class="form-control contract-label text-center form_radius" ng-model="vo.data.itemList[$index].deliveredProdQty" required name="deliveredProdQty_$index" ng-pattern="/^(\d)+$/" ng-class="vo.voVerificationForm.qtyError[$index] ? 'emptyField' : ''" ng-change="(vo.voVerificationForm.deliveredProdQty_$index.$error.pattern || (prod2.orderedProdQty - prod2.deliveredProdQty - vo.data.itemList[$index].deliveredProdQty) < 0) ? vo.voVerificationForm.qtyError[$index]=vo.voVerificationForm.qtyEr=true : vo.voVerificationForm.qtyError[$index]=vo.voVerificationForm.qtyEr=false" /></td> -->
			<td><input type="text" limit-char="5" size="5"
					   class="form-control contract-label text-center form_radius"
					   ng-model="vo.data.itemList[$index].deliveredProdQty"
					   ng-class="vo.qtyError[$index] ? 'emptyField' : ''"
					   ng-change="vo.validateInput($index, prod2.orderedProdQty-prod2.deliveredProdQty)" /></td>
		</tr>
		</tbody>
	</table>
	<span class="showError" ng-show="showDeliveryError">Please Enter
		Atleast One Deliverable Amount</span>
</div>


<div class="col-xs-12 border-bottom vo-report-detail">
	<div class="col-xs-12 review-heading text-left"></div>
	<ul class="col-xs-11 report-list" ng-if="isVO && contract.shipmentStatus!='Delivered' && vo.data.amtToBeCollected >0">
		<li class="col-xs-6">
			<div class="col-xs-3 width_auto padding_0">Payment Method:</div>
			<div class="col-xs-9 width_auto lbl-value padding_0">
				<!--{{vo.response.itemDeliverPaymentInfo.paymentMethod}}-->
				<select class="form-control contract-label form_radius c-select" ng-model="vo.response.itemDeliverPaymentInfo.paymentMethod"
                        ng-options="method for method in contract.paymentMethodList">
				</select>
			</div>
		</li>
		<li class="col-xs-6">
			<div class="col-xs-5 col-sm-5 text-right padding_0">Amount To be Collected:</div>
			<div class="col-xs-5 col-sm-6 lbl-value padding_0 ng-binding">{{vo.data.amtToBeCollected}}</div>
		</li>

		<li class="col-xs-6" ng-show="vo.response.itemDeliverPaymentInfo.paymentMethod==='Cheque' && vo.data.amtToBeCollected>0">
			<div class="col-xs-12 col-sm-3 padding_0">Cheque Date:</div>
			<div class="col-xs-12 col-sm-6 lbl-value padding_0 ng-binding"><div class="col-xs-12 col-sm-12 col-md-12 custom-date buttonToolbar">
				<input maxlength="11" size="11" placeholder="dd-mon-yyyy" datepicker type="text" class="form-control form_radius" ng-model="vo.chequeDate" ng-class="cheque1Error && cheque2Error ?'' : 'emptyField'">
			</div>
				<span class="errorMsg" ng-class="cheque1Error ? 'hideError' : 'showError'">Please select a valid Date.</span>
				<span class="errorMsg" ng-class="cheque2Error ? 'hideError' : 'showError'">Cheque Date cant be more than 6 months old and can not be a future date.</span></div>
		</li>

		<li class="col-xs-6" ng-show="vo.response.itemDeliverPaymentInfo.paymentMethod==='Credit Card' && vo.data.amtToBeCollected>0">
			<div class="col-xs-12 col-sm-3 padding_0">Clearing From:</div>
			<div class="col-xs-12 col-sm-6 lbl-value padding_0 ng-binding"><div class="col-xs-12 col-sm-12 col-md-12 custom-date buttonToolbar">
				<select class="form-control contract-label form-radius c-select arrow_remove" ng-model="selectedBank" name="bankName" ng-class="bankError ? 'emptyField':''"
						ng-options="bank as bank.accountName for bank in contract.bankList" ng-change="selectBank(selectedBank)">
					<option value="">-Select-</option>
				</select>
				<span ng-class="bankError ? 'showError':'hideError'">Please Select a bank name</span>
			</div>
				</div>
		</li>
		<li class="col-xs-6" ng-show="vo.data.amtToBeCollected>0">
			<div class="col-xs-12 col-sm-3 padding_0">Reference NO. :</div>
			<div class="col-xs-12 col-sm-6 lbl-value padding_0 ng-binding">
				<div class="col-xs-12 col-sm-12 col-md-12 buttonToolbar">
					<input type="text" class="form-control contract-label form_radius" ng-model="vo.paymentRefNum" ng-class="refNoError ? '' : 'emptyField'" limit-char="30">
					<span ng-class="refNoError ? 'hideError':'showError'">Please Enter a Reference Number</span>
				</div>
			</div>
		</li>
	</ul>
</div>