<div class="col-xs-12 review-heading border-bottom">

	<div class="pull-left col-xs-6">
		<div class="col-xs-4 width_auto">Verification report status:</div>
		<div class="col-xs-4 lbl-value status"
			 ng-class="concatanateString(vo.reportStatus)">{{vo.reportStatus}}</div>
	</div>
	<div class="col-xs-6 pull-right">
		<div class="col-xs-4 width_auto">Verification Officer:</div>
		<div class="col-xs-4"><nobr>{{contract.verificationOfficerName}}</nobr></div>

	</div>
</div>


<div class="col-xs-12 border-bottom vo-report-detail">
	<div class="col-xs-12 review-heading text-left">Customer Details</div>
	<ul class="col-xs-12 report-list">
		<li class="col-xs-12">
			<div class="col-xs-1 width_auto font-900 padding_0">1.</div>
			<div class="col-xs-3 width_auto padding_0">Name of the
				Customer:</div>
			<div class="col-xs-8 width_auto lbl-value padding_0">{{contract.customerDetails.name}}</div>
		</li>
		<li class="col-xs-12">
			<div class="col-xs-1 width_auto font-900  padding_0">2.</div>
			<div class="col-xs-3 width_auto  padding_0">Salary Income:</div>
			<div class="col-xs-8 width_auto lbl-value  padding_0">{{vo.response.salaryIncome}}</div>
		</li>
		<li class="col-xs-12">
			<div class="col-xs-1 width_auto font-900  padding_0">3.</div>
			<div class="col-xs-3 width_auto  padding_0">The Subscriber can
				speak:</div>
			<div class="col-xs-8 width_auto lbl-value  padding_0">{{vo.languageSpeak}}</div>
		</li>
	</ul>
</div>
<div class="col-xs-12 border-bottom vo-report-detail">
	<div class="col-xs-12 review-heading text-left">Company's Order</div>
	<ul class="col-xs-12 report-list">
		<li class="col-xs-12">
			<div class="col-xs-1 width_auto font-900 padding_0">1.</div>
			<div class="col-xs-3 width_auto padding_0">Company is operating
				in:</div>
			<div class="col-xs-8 width_auto lbl-value padding_0">{{vo.compOperating}}</div>
		</li>
	</ul>
</div>
<div class="col-xs-12 border-bottom vo-report-detail">
	<div class="col-xs-12 review-heading text-left">Verification
		Officer Comments</div>
	<ul class="col-xs-12 report-list">
		<li class="col-xs-12">
			<div class="col-xs-1 width_auto font-900 padding_0">1.</div>
			<div class="col-xs-3 width_auto padding_0">Remarks, if any:</div>
			<div class="col-xs-8 lbl-value padding_0">{{vo.response.remarks}}</div>
		</li>
		<li class="col-xs-12">
			<div class="col-xs-1 width_auto font-900 padding_0">2.</div>
			<div class="col-xs-3 width_auto padding_0">I recommend to:</div>
			<div class="col-xs-6 col-sm-8 width_auto lbl-value padding_0">{{vo.recommendTo}}
				the order</div>
		</li>
	</ul>
</div>