<div class="container-fluid">
  <div class="row">
  	<div class="pull-left"> 
		<button type="button" id="hamburger" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" ng-click="resetMainNav()" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="fa fa-lg fa-bars"></span>
		</button>
	</div>
    <div class="header-logo" ng-click="redirectHome()">
		<img src="distribution/images/scholastic_logo.png" class="img-responsive"/> 
	</div>

    <div class="container-fluid header-right">
		<div class="pull-left country-text">Asia</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9 nav nav-stacked mobile_nav" ng-show="mobileNavMenu">
<ul>
      <li><img src="distribution/images/mobile_nav.PNG" ng-click="mobileNavMenu = false"/></li>
      <li class="borderBottom"><a>DashBoard</a></li>
      <li class="borderBottom"><a>Users
          <span class="nav_plus"  ng-click="showSubmenu()" ng-hide="submenu">+</span>
           <span class="nav_plus"  ng-click="hideSubmenu()" ng-show="submenu">-</span></a>
      </li>

      <li class="borderBottom subNavMenu" ng-show="submenu"><a ui-sref="AdminBoard.ManageUser">Manage Users</a></li>
      <li class="borderBottom subNavMenu" ng-show="submenu"><a ui-sref="AdminBoard.ManageRole">Manage Roles</a></li>
      <li class="borderBottom subNavMenu" ng-show="submenu"><a ui-sref="AdminBoard.SRRegRequest">SR Registartion Requests</a></li>
      <li class="borderBottom"><a>Contracts</a></li>
      <li class="borderBottom"><a>Customers</a></li>
      <li class="borderBottom"><a ui-sref="AdminBoard.MyAccount">My Profile</a></li>
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    </div>
  </div>
</div>