<div class="loading-wrapper">
		<div class="loading-spiner" ng-show="loader"><img src="distribution/images/loader.gif" alt="Loading Icon"/></div>
<div class="container">
	<div class="row margin_null">
		<div class="col-xs-6 col-sm-3 col-md-3 text_center margin_40_top">
			<a ui-sref="{{backToLink}}" class="label_arial"> <i
				class="fa fa-angle-left"></i>&nbsp{{backLinkText}}
			</a>
		</div>
		<div class="col-xs-12 text-center margin_40_bottom ">
			<span class="headingClass_Autoresponse raleway_subheading">{{pageActionHeader}}</span>
			<div class="stepMarginBottom_create"></div>
		</div>
	</div>
	<div class="row total_content">
		<div class="col-xs-11 col-sm-10 col-md-12" ng-show="country.countryName!=null && country.countryName!=''">
			<div class="col-xs-3 col-sm-12 col-md-4 margin_bottom_10"
				ng-hide="showCountry">
				<label class="custom-label">Country Code</label>
			</div>
			<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom"
				ng-hide="showCountry">
				<input type="text" class="form-control placeholder_italic"
					id="countryID" ng-model="country.countryCode"
					placeholder="Country Code" ng-disabled="true">
			</div>
		</div>
		<div class="col-xs-11 col-sm-10 col-md-12" ng-show="opType=='edit'">
			<div class="col-xs-3 col-sm-12 col-md-4 margin_bottom_10"
				ng-hide="showCountry">
				<label class="custom-label">Country</label>
			</div>
			<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom"
				ng-hide="showCountry">
				<input type="text" class="form-control placeholder_italic"
					id="countryID" ng-model="countryName"
					placeholder="Country Name" ng-disabled="true">
			</div>
		</div>
		<div class="col-xs-11 col-sm-10 col-md-12" ng-show="opType=='create'">
			<div class="col-xs-3 col-sm-12 col-md-3 margin_bottom_10">
				<label class="custom-label">Country</label>
			</div>
			<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
				<button type="button" id="countrySelectButton"
					class="btn  btn-md dropdown-toggle form-control c-select marginbottom_10"
					data-toggle="dropdown" ng-model="country.countryName">
					<nobr>{{country.countryName!=''?country.countryName:'-Select-'}}</nobr>
				</button>
				<ul class="dropdown-menu dropdown_countryCreateEditPage fixedHeightDropDown scrollbar" id="countryListDropDown">
					<li><div class="right-inner-addon search_bg">
							<i class="fa fa-search search_icon" aria-hidden="true"></i> <input
								type="search" id="searchCountry"
								class="form-control search_radius placeholder_italic"
								placeholder="Search" ng-model="country.countryName" autofocus/>
						</div></li>
					<li
						ng-repeat="countries in country.countryNameList|filter:country.countryName"
						class="margin_12" ng-click="setCountry('{{countries.countryName}}')">&nbsp;{{countries.countryName}}</li>

				</ul>
				<!-- <span ng-class="countryError ? 'hideError' : 'showError'">Please Select a Country</span> -->

				<a ng-hide="!countryError" ui-sref="AdminBoard.CreateEditCountry">Add
					Country if not in list</a>
					<span ng-class="countrySelect ? 'hideError' : 'showError'">Please Select a Country</span>
			</div>
			
		</div>
		<!-- <div class="col-xs-11 col-sm-10 col-md-12">
			<div class="col-xs-3 col-sm-12 col-md-3 margin_bottom_10">
				<label class="custom-label">Status</label>
			</div>
			<div class="col-xs-8 col-sm-12 col-md-10 margin_30_bottom">
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch"
						class="onoffswitch-checkbox" id="onoffswitch1_editCountry"
						ng-model="status_active"> <label class="onoffswitch-label"
						for="onoffswitch1_editCountry"> <span
						class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
		</div> -->
		<div class="col-xs-11 col-sm-10 col-md-12" ng-show="country.stateList!=null && country.stateList.length>0 && country.countryName!=null && country.countryName!=''">
			<div class="col-xs-3 col-sm-12 col-md-3 margin_bottom_10">
				<label for="states" class="custom-label">States</label>
			</div>
			<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
				<div class="ccContainer1" id="style-1">
					<!-- <div class="checkbox select_all">
						<input type="checkbox" ng-value="select_all" ng-model="select_all" /><span>Select All</span>
					</div> -->
					<div class="marginBottomCSLH">
					<div class="col-xs-3 customWidthHeader"><label>State</label></div>
					<div class="col-xs-7 margin-left-country"><label>Region</label></div>
					</div>
					<div class="row" ng-repeat="state in country.stateList">

						<div class="col-xs-4 padding_left_5">
							<div class="checkbox">
								<label><input type="checkbox" ng-value="state.stateName"
									ng-model="state.checked" id="{{state.stateName}}"
									ng-click="toggleState(state.stateName)"> <nobr>{{state.stateName}}</nobr></label>
							</div>
						</div>
						<div class="col-xs-4">


							<!-- <button type="button" id="{{$index+'regionSelect'}}"
								class="btn  btn-md dropdown-toggle form-control c-select margin_30_bottom"
								data-toggle="dropdown" ng-model="state.regionName">
								<nobr>{{state.region.regionName=='' || state.region.regionName==null || state.region.regionName==undefined ?'-Select-':state.region.regionName}}</nobr>
								
							</button> -->
							<input type="text" id="{{'TempId'+$index+'regionName'}}" ng-model="state.region.regionName" ng-change="showDropdown($index,state.region.regionName)" class="form-control">
							<ul id="{{$index+'regDropdown'}}" class="dropdown-menu dropdown_country scrollbar_country regSearch" style="display:none;">
								<!-- <li><div class="right-inner-addon search_bg">
										<i class="fa fa-search search_icon" aria-hidden="true"></i> <input
											type="search"
											class="form-control search_radius placeholder_italic"
											placeholder="Search" ng-model="state.region.regionName" />
									</div></li> -->
									<!-- |filter:state.region.regionName -->
								<li
									ng-repeat="region in country.regionList|filter:state.region.regionName"
									class="margin_12"
									ng-click="regionChange('{{region.regionName}}','{{$parent.$index}}','')">&nbsp;{{region.regionName}}</li>
								<li class="margin_12 newItem"
									ng-click="regionChange('Add New Region','{{$index}}','{{state.region.regionName}}')">Add
									New Region</li>
							</ul>

						</div>
						<div class="col-xs-3 regionAddMargin" id="{{$index+'regAdd'}}"
							style="display: none;">
							<input type="text" class="form-control form_radius"
								class="text_city" />
							<div class="icon_price">
								<button class="btn btn-sm no_background_city"
									ng-click="addReg('{{$index}}')">
									<img src="distribution/images/Add_icon.png">
								</button>
							</div>

						</div>


					</div>
				</div>
				<div class="force-overflow"></div>
			</div>


		</div>
		<div class="col-xs-3 col-sm-12 col-md-5 margin_bottom_10 marginTopStateAdd" ng-show="country.countryName!=null && country.countryName!=''" ng-click="showAddState()">
        	<button class="btn no_background"  >
					<img src="distribution/images/Add_icon.png" class="iconMarginBottom" ng-show="!addState"></img>
					<img src="distribution/images/decline_inactive.png" class="iconMarginBottom" ng-show="addState"></img>
				</button>
				<label class="add_state">Add State</label>
			</div>
			<!-- <div class="angle"></div> -->
		<div class="col-xs-11 col-sm-10 col-md-12 addstateblock ccOntainerMarginBottom" ng-show="addState">
			<!-- <div class="arrow-up"></div> -->
			<div class="ccContainer2 arrow-up">
				<h3 class="text-center custom-label">Add State</h3>
				<div class="col-xs-2"></div>
				<div class="col-xs-8">

					<fieldset class="form-group">
						<label for="stateID" class="custom-label label_MuseoSans_300">State
							ID</label> <input type="text" class="form-control placeholder_italic"
							id="stateID" placeholder="State Id" ng-model="state.stateId"
							ng-disabled="true">
						<!-- <small class="text-muted">We'll never share your email with anyone else.</small> -->
					</fieldset>
					<fieldset class="form-group">
						<label for="stateName" class="custom-label label_MuseoSans_300">State
							Name</label> <input type="text" class="form-control placeholder_italic" ng-class="newStateError ? '' : 'emptyField'"
							id="stateName" placeholder="State Name"
							ng-model="newStateName" ng-change="(newStateError==false)?(newStateError=true):''">
							<span ng-class="newStateError ? 'hideError' : 'showError'">Please enter State Name</span>
						<!-- <small class="text-muted">We'll never share your email with anyone else.</small> -->
					</fieldset>
					<fieldset class="form-group">
						<label for="city" class="custom-label label_MuseoSans_300">Region</label>
						<div id="city" class="">
							<div class="pull-left col-xs-6">
								<!-- <button type="button" id="regionSelect"
									class="btn  btn-md dropdown-toggle form-control c-select"
									data-toggle="dropdown" ng-model="newRegion">
									<nobr>{{newRegion=='' || newRegion==null || newRegion==undefined ?'-Select-':newRegion}}</nobr>
									
								</button>
								<ul class="dropdown-menu dropdown_country scrollbar_user marginTopDropdown">
									<li><div class="right-inner-addon search_bg">
											<i class="fa fa-search search_icon" aria-hidden="true"></i> <input
												type="search"
												class="form-control search_radius placeholder_italic"
												placeholder="Search" ng-model="newRegion" />
										</div></li>
										|filter:newRegion
									<li
										ng-repeat="region in country.regionList"
										class="margin_12"
										ng-click="newregionChange('{{region.regionName}}')">&nbsp;{{region.regionName}}</li>
									<li class="margin_12 newItem"
										ng-click="newregionChange('Add New Region')">Add New Region</li>
								</ul> -->
								<input type="text" id="regionSelect" ng-model="newRegion" ng-change="showNewRegDropdown('{{newRegion}}')" class="form-control">
								<ul id="newRegDropDown" class="dropdown-menu dropdown_country scrollbar_country" style="display:none;">

								<li
									ng-repeat="region in country.regionList|filter:newRegion"
									class="margin_12"
									ng-click="newregionChange('{{region.regionName}}')">&nbsp;{{region.regionName}}</li>
								<li class="margin_12 newItem"
									ng-click="newregionChange('Add New Region')">Add
									New Region</li>
							</ul>
							</div>
							<!-- <div class="col-xs-6 regionPadding"  id="newStateRegionAdd"
							style="display: none;">
							<input type="text" class="form-control form_radius"
								class="text_city" ng-model="newCityAdd" />
							<div class="icon_price">
								<button class="btn btn-sm no_background_city"
									ng-click="addnewRegion()">
									<img src="distribution/images/Add_icon.png">
								</button>
							</div>


							</div> -->

						</div>
					</fieldset>
					<fieldset class="form-group margin_save">
						<div class="text-center">
							<button
								class="btn btn-md cancelButton cancel_color btn_font_bold"
								ng-click="cancelState()">Cancel</button>
							<button class="btn btn-md createroleButton btn_font_bold"
								ng-click="addnewState()">Save</button>
						</div>

					</fieldset>
				</div>
			</div>
		</div>
		
		<div class="col-xs-11 col-sm-10 col-md-12 margin_30_bottom cashUpMarginTop" ng-show="country.countryName!=null && country.countryName!=''">
			<div class="col-xs-3 col-sm-12 col-md-12 custom_tooltip margin_bottom_10">
				<label class="custom-label">Max. Cash-up Discount%</label>
				<a data-trigger="hover" data-toggle="popover"  data-content="This is the maximum discount % that the collector can provide the customer upon a cash-up request."><i class="fa fa-question-circle"></i></a>
				<!-- <a  data-toggle="popover" data-trigger="hover"
						data-content=""><i class="fa fa-question-circle"></i></a> -->
			</div>
			
			<div class="col-xs-4 col-sm-2 col-md-3 buttonMax">
							<input type="text" class="form-control form_radius placeholder_italic" placeholder="%" ng-model="cashUpDiscount" ng-class="cashUpError ? '' : 'emptyField'" ng-change="(cashUpError==false)?(cashUpError=true):''">
							<span ng-class="cashUpError ? 'hideError' : 'showError'"><nobr>Please enter valid Cash Up percentage</nobr></span>
						</div>
			
			
			<!-- <div class="col-xs-8 col-sm-12 col-md-10 margin_30_bottom">
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch"
						class="onoffswitch-checkbox" id="onoffswitch1_editCountry"
						ng-model="status_active"> <label class="onoffswitch-label"
						for="onoffswitch1_editCountry"> <span
						class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div> -->
		</div>
		
		<div class="col-xs-11 col-sm-10 col-md-12">
			<div class="col-xs-3 col-sm-12 col-md-3 margin_bottom_10">
				<label class="custom-label">Status</label>
			</div>
			<div class="col-xs-8 col-sm-12 col-md-10 margin_30_bottom">
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch"
						class="onoffswitch-checkbox" id="onoffswitch1_editCountry"
						ng-model="status_active"> <label class="onoffswitch-label"
						for="onoffswitch1_editCountry"> <span
						class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
		</div>

	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		<div class="stepLine_account"></div>

		<div class="text-center bottom_buttons">
			<button class="btn btn-md cancelButton btn_font_bold"
				ng-click="cancel()">Cancel</button>
			<button type="submit"
				class="btn btn-md createroleButton btn_font_bold"
				ng-click="serviceHit()">{{actionButton}}</button>
		</div>
	</div>
</div>
</div>
