.ui-datepicker {
    width: 280px;
    height: auto;
    padding: 0;
    margin: 5px auto 0;
    font: 14px Arial;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .5);
}
.ui-corner-all {
	border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.ui-datepicker a {
    text-decoration: none;
}
.ui-datepicker table {
    width: 100%;
    margin: 0;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.1em 0 0.7em;
}
.ui-datepicker-header {
    background: #d8d9d9;
    color: #333333;
    font-weight: bold;
    line-height: 30px;
    border: none;
    border-radius: 2px 2px 0 0;
}
.ui-widget-content {
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
}
.ui-datepicker .ui-datepicker-title {
    text-align: left;
    margin: 0;
    padding: 7px 2px 0px;
    overflow: auto;
}
.ui-datepicker .ui-datepicker-title select {
    text-align: left;
    color: #333;
    border: none;
    background: #d8d9d9;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-month {
    float: left;
    text-transform: uppercase;
    width: 100px;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
	width: 55px;
    float: right;
}
.ui-datepicker-prev, .ui-datepicker-next {
    display: none;
    overflow: hidden;
}
.ui-datepicker thead {
    background-color: #f7f7f7;
    border-bottom: 1px solid #bbb;
    display: none;
}
.ui-datepicker th {
    text-transform: uppercase;
    font-size: 11px;
    padding: 10px 0;
    color: #666666;
}
.ui-datepicker th span {
	font-size: 11px;
}
.ui-datepicker tbody td {
    padding: 0;
    border-right: 1px solid #bbb;
}
.ui-datepicker tbody td:last-child {
    border-right: 0px;
}
.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #1779BD;
    background: #EEF1F5;
    color: #1779BD;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 39px;
    height: 38px;
    line-height: 35px;
}
.ui-datepicker-calendar .ui-state-default {
    background: none;
    box-shadow: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-weight: normal;
    color: #6D6D6D;
    border: 1px solid #fff;
    font-size: 13px;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    opacity: .5;
    filter: Alpha(Opacity=50);
    font-weight: normal;
}
.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}
.ui-datepicker-calendar .ui-state-hover,
.ui-datepicker-calendar .ui-state-active,
.ui-datepicker-calendar .ui-state-highlight {
    border: 1px solid #1779BD;
    background: #EEF1F5 !important;
    color: #1779BD;
    position: relative;
    margin: 0px;
}
/* .ui-datepicker-calendar .ui-state-active {
    background: #1779BD;
    border: 1px solid #1779BD;
    position: relative;
    margin: 0px;
} */
.ui-datepicker td span, .ui-datepicker td a,
.ui-datepicker-calendar tr:last-child .ui-state-active,
.ui-datepicker-calendar td:last-child .ui-state-active,
.ui-datepicker-calendar td:first-child .ui-state-active {
   /*  width: 29px;
    margin-left: 0; */
    margin: 0;
    padding: 0;
}
.custom-date {
	position: relative;
}
.custom-date .ui-datepicker-trigger img {
	display: none;
	position: relative;
    top: -1px;
    right: 6px;
}
.custom-date .ui-datepicker-trigger {
	background: url("../images/calender_gray.png") no-repeat 0 0;
    border: none;
    outline: none;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 24px;
    height: 24px;
}
.custom-date input.form-control:focus + .ui-datepicker-trigger,
.custom-date .ui-datepicker-trigger:hover {
	background: url("../images/calender_blue.png") no-repeat 0 0;
}	