@font-face {
   font-family: "MuseoSans_300"; /*a name to be used later*/
   src: url("../../fonts/museo_sans_300.otf"); /*URL to font*/
}

header{
    font-family: "MuseoSans_300";
}
header .row {
	margin:0;
}
.login_header {
    padding-bottom: 10px;
}
.header_logo
{
    width: 70%;
    padding-left: 17px;
    margin-bottom: 3px;
    margin-top: 3px;
    border-left: 1px solid rgba(182, 182, 182, 0.25);
    height: 37px;
    position: relative;
}
.hamburger_menu{
    padding: 0;
    position: relative;
    height: 23px;
    width: 25px;
    margin: 10px 13px;
}
.header_right
{
    height: 44px;
    background-color: #4D4D4D; 
}
.border_bottom
{
    border-bottom: 1px solid rgba(182, 182, 182, 0.25);
}
.header_country_text
{
    color: #ffffff;
    padding: 0;
    margin-top: 13px;
    margin-left: 15px;
    font-weight: bold;
}
.lang_text{
	float:right;
	margin-right:20px;
}
.seachbox_group
{
    margin-top: 2px;
    padding-top: 4px;
    margin-right: 24px;
    margin-left: 45%;
    width: 18%;
    font-style: italic;
}
.serach_box
{
	padding: 5px;
    border-radius: 19px;
    background-color: #757575;
    border: none;
    font-size: 12px;
    color: #ffffff;
}
.seachbox_active{
    margin-top: 2px;
    padding-top: 4px;
    margin-right: 24px;
    margin-left: 32%;
    width: 30%;
    font-style: italic;
}
.seach_active{
    padding: 5px;
    border-radius: 19px;
    background-color: #757575;
    border: none;
    font-size: 12px;
    color: #ffffff;
}
.input-group .form-control:first-child{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

header .input-group[class*=col-]{
	    float:left;
}
.input_group_addon
{
	padding: 4px;
    border-radius: 19px;
    background-color: #757575;
    border: none;
    padding-top: 6px;
}
.bgcolor_white{
    background-color: #FFFFFF;
}
.other_links
{
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    border-left: 1px solid rgba(182, 182, 182, 0.25);
}
.otherlinks_text
{
	color: white;
    font-size: 12px;
}
.otherlinks_text img
{
    padding-top: 5px;
}
.account_settings .fa-chevron-down{
    color:#FFFFFF;
    margin-left: 5px;
}
.account_settings, 
.user_notifications
{
    padding-top: 10px;
    padding-bottom: 9px;
    margin-left: 18px;
    padding-left: 23px;
    text-align: center;
    border-left: 1px solid rgba(182, 182, 182, 0.25);
}
header .dropdown-menu
{
    padding: 10px 0;
    margin: 5px 0 0;
}
.account_settings .dropdown-menu > li > a,
.other_links .dropdown-menu > li > a
{
    color: #286090;
    padding: 5px 20px;

}
.notification_icon span{
    color: #fff;
    font-size: 10px;
    position: absolute;
    border-radius: 100%;
    margin-left: -13px;
    margin-top: 3px;
}
.user_notifications .dropdown-menu > li > a
{
    padding: 8px 10px;

}
.user_notifications .dropdown-menu
{
    width: 420px;
    font-size: 12px;
}
.usericon_notify
{
    padding: 10px 0;
    margin-left: 10px;
}
.user_name
{
    text-align: center;
    font-weight: bold;
}
.notification_text
{
    font-weight: bold;
    margin-left: 10px;
}
.seeall_notify 
{
    text-align: center;
    padding: 9px;
    margin-bottom: -10px;
    background-color: #d9edf7;
}
.dropdown-menu .custom_divider
{
    height: 1px;
    margin: 0 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.header_right .fa-chevron-down{
    color:#B6B6B6;
    font-size: 13px;
}

/*notification colors*/
.Registration {
    background-color: #eee;
}
.Cancellation {
   background-color: #ddd; 
}
.Return {
   background-color: #ccc; 
}




table { border-collapse: collapse; }
.percent {
    position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}
.progress-bar {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}
.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}
.dropbox {
    width: 15em;
    height: 3em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;
}
.dropbox span {
    margin-top: 0.9em;
    display: block;
}
.dropbox.not-available {
    background-color: #F88;
}
.dropbox.over {
    background-color: #bfb;
}

