.logoDiv img {
	display: block;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 40px;
}

.loginBox {
	padding-left: 0%;
    margin-bottom: 30px;
}

.loginBox h3 {
	text-align: center;
}

.loginBox form {
	margin-top: 10%;
}

.btn-login {
	width: 32%;
	border-radius: 24px;
}

.check {
    margin-top: 10%;
}
.check .checkbox input[type=checkbox]{
	margin-left: -16px;
    zoom: 1.2;
}
.text_center {
	text-align: center;
}
.login_side_img {
    width: 100%;
}
.height_539{
	height: 539px;
}
.height_70{
	height: 70px;
}
.margin_30_bottom{
	margin-bottom: 30px;
}
.height_40{
	height: 40px;
}
.login_form{
	font-size: 16px;
}