.col-xs-12,.col-xs-2,.col-xs-10,.col-xs-7,.col-xs-3,.col-xs-4,.col-xs-9,.col-xs-6,.col-xs-5,
.col-md-12,.col-md-2,.col-md-10,.col-md-7,.col-md-3,.col-md-4,.col-md-9,.col-md-6,.col-md-5,
.col-sm-12,.col-sm-2,.col-sm-10,.col-sm-7,.col-sm-3,.col-sm-4,.col-sm-9,.col-sm-6,.col-sm-5,.col-sm-8
{
	padding-left: 0;
	padding-right: 0;
}

/*Tablet media query*/
@media only screen and (min-width: 400px) and (max-width:1025px) {
	.form_margin_26 {
		margin-left: 10%;
		padding-left: 15%;
		padding-right: 15%;
	}
	.form_margin_38 {
		margin-left: 22%;
		padding-left: 15%;
		padding-right: 15%;
	}
	.stepLine_account {
		margin-left: 75px;
	}
	.form_margin {
		margin-left: 8%;
	}
	.captcha_create {
		margin-top: -12px;
	}
	.main_navbar li>a {
		padding: 5px 0;
	}
	.user_role_menu,.contracts_menu,.customers_menu {
		padding-left: 0;
	}
	.sidebar_stripe img {
		margin-left: 9px;
	}
	.account_settings .dropdown_icon {
		display: none;
	}
	.second_navbar>li>a {
		padding: 10px 5px;
	}
	.btn-createUser {
		width: 16%;
	}
	.btn-createUser_width_16 {
		width: 19%;
	}
	.load_more {
		padding: 20px;
	}
	.sidebar_stripe {
		height: 609px;
		width: 4%;
	}

	/*header media query*/
	.seachbox_group {
		margin-left: 10%;
		width: 26%;
	}
	.seachbox_active {
		margin-left: 4%;
		width: 32%;
	}

	/*nav bar*/
	.user_role_menu {
		padding-left: 26%;
	}

	/*grid*/
	.grid_custom_width {
		width: 96%;
	}
}

@media screen and (max-width: 760px) {
	.form_margin {
		margin-left: 8%;
		margin-top: 2%;
	}
	.mobile_form_margin {
		margin-left: 0;
		margin-top: 5.7%;
	}
	.mobile_text_right {
		text-align: right;
	}
	.bottom_buttons {
		padding: 2%;
	}
	.headingClass_Autoresponse {
		font-size: 24px;
	}
	.captcha_create {
		margin: 0;
		float: inherit;
		background-color: #1779BD;
	}
	.seq_margin {
		/* 	    margin-left: 5%; */
		
	}
	.seachbox_group {
		margin-left: 5px;
		margin-right: 5px;
	}
	.header_right_mobile {
		padding-top: 2%;
		padding-bottom: 4%;
		color: white;
		height: 43px;
		background-color: #504B4B;
	}
	.header_country_text_mobile {
		color: #ffffff;
		font-weight: bold;
	}
	.account_settings img {
		margin-left: 15px;
	}
	.lower_header {
		background: #504B4B;
	}
	.user_notifications .dropdown-menu {
		width: 340px;
		font-size: 11px;
		margin-right: -48px;
	}
	.mobile_nav {
		background-color: #616161;
		position: absolute;
		z-index: 6;
		top: 0;
	}
	.mobile_nav img {
		width: 100%;
	}
	header .nav-stacked>li:first-child {
		padding: 0;
	}
	.borderBottom {
		border-bottom: 1px solid rgba(255, 255, 255, .15);
	}
	.mobile_nav>li>a {
		color: #fff;
		cursor: pointer;
	}
	.mobile_nav>li>a:focus,.mobile_nav>li>a:hover {
		text-decoration: none;
		background-color: transparent;
	}
	.nav_plus {
		float: right;
		font-size: 18px;
		font-weight: bold;
	}
	.subNavMenu {
		background-color: #6F6F6F;
	}

	/* Mobile View of Manage Pages */
	.headingClass_mobile {
		margin-left: 10px;
	}
	.list-group-item {
		padding: 0;
		background-color: none;
		border: none;
		display: block;
	}
	.list_group_item_a {
		padding-top: 2%;
		border-top: 1px solid #ddd;
		border-bottom: none;
		border-top: 1px solid #ddd;
		padding-bottom: 2%;
	}
	.users {
		padding-top: 1%;
	}
	.reg_heading {
		margin-bottom: 5%;
	}
	.pg_heading {
		margin-left: 10%;
	}
	.mobile_only {
		padding-top: 5%;
		padding-left: 2%;
	}
	.main {
		border-top: 1px solid #ddd;
		/* border-bottom: 1px solid #ddd; */
	}
	.sidebar_stripe {
		width: 11%;
		margin-top: 5%;
	}
	.sidebar_stripe img {
		margin-left: 15%;
	}
	.btn-createUser {
		margin-top: 16px;
		width: initial;
		margin-right: 10px;
	}
	.role_info_manage {
		padding-top: 4%;
	}
	.manage_role_arrow {
		margin-top: 30%;
	}
	/*sequence*/
	.leftMarginOnOff {
		margin-left: 13px;
	}
	.padding_top20 {
		padding-top: 20px;
	}
	.headingClass_AutoresponseMarginBottom {
		margin-bottom: 23px;
	}
	.mobileSeqClrBcg {
		background: #1779BD;
		padding: 16px !important;
		padding-left: 15px;
		padding-right: 15px;
	}
}
