/*Side bar CSS*/
.side_bar {
	background-color: #616161;
    color:#FFFFFF;
    font-family: arial_bold;
    /* height: 732px; */
}
.side_bar .radio {
    margin-top: 0;
}
.nav-stacked > li{
	float: none;
   /* padding: 6px 10px; */
}
.li_color{
	color: #ffffff;
}
.side_bar .checkbox
{
    margin-left: 20px;
}
.side_bar .dropdown_icon{
	float: right;
    margin-top: -1px;
}
.li_color > i{
	color:#4F4F4 !important;
}
.sidebar_stripe
{
    height: 611px;
    background-color: #616161;
    float: left;
    width: 2.7%;
}
.sidebar_stripe img 
{
    margin-top: 30px;
    width: 22px;
    margin-left: 9px;
}

.scrollbar_nav{
	/* background: #F5F5F5; */
    overflow-y: scroll;
   /*  margin-bottom: 25px; */
    /* padding-top:2%;
    padding-left:2%; */
}
.scrollbar_nav::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	/* background-color: #F5F5F5; */
}

.scrollbar_nav::-webkit-scrollbar
{
	width: 12px;
	/* background-color: #F5F5F5; */
}

.scrollbar_nav::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #CDCCCC;
}


.border-bottom
{
	border-bottom: 1px solid rgba(182, 182, 182, 0.25);
    padding: 20px;
    padding-bottom: 10px;
}
.search_box_filter{
	background-color: transparent;
	color: #FFFFFF;
    width: 76%;
    display: inline-block;
    border: 1px solid rgba(182, 182, 182, 0.25);
}
.filter_search img
{
    padding: 8px 7px;
    margin-left: 6px;
    border: 1px solid rgba(182, 182, 182, 0.25);
    border-radius: 4px;
    cursor: pointer;
    background-color: #F5F5F5;
}
.country_search img{
    float: right;
    margin-top: -29px;
    margin-right: 31px;
}
.date_group .input-group .form-control{
    width: 48%;
    margin-left: 2px;
}
.filter_search{
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px; 
}
.filter_search_status{
	 padding: 2px;
    padding-bottom: 10px;
    padding-top: 10px; 
}
.search_country{
    background-color: transparent;
    border: 1px solid rgba(182, 182, 182, 0.25);
    border-radius: 20px;
    font-style: italic;
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 20px;
    width: 84%;
}
.side_bar .fa-chevron-down{
    font-size: 12px;
    color: #B6B6B6;
    cursor: pointer;
    margin-top: 3px;
}