/* /*comment1/* */
.onoffswitch {
	position: relative;
	width: 109px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #EEEEEE;
	border-radius: 50px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,.onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 41px;
	padding: 0;
	line-height: 41px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "Active";
	padding-left: 10px;
	background-color: #85CD00;
	color: #FFFFFF;
	font-size:13px;
	font-weight:100;
}

.onoffswitch-inner:after {
	content: "Inactive";
	padding-right: 10px;
	background-color: #FFFFFF;
	color: #DCDCDC;
	text-align: right;
	font-size:13px;
	font-weight:100;
}

.onoffswitch-inner-desg:before {
	content: "Yes";
	padding-left:25px;
	text-align:left;
	font-size:13px;
	font-weight:100;
}
.onoffswitch-inner-desg:after {
	content: "No";
	padding-right:35px;
	font-size:13px;
	font-weight:100;
}
.onoffswitch-switch {
	display: block;
	width: 38px;
	margin: 4px;
	background: #EEEEEE;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 64px;
	border: 2px solid #d6d6d6;
	border-radius: 50px;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

.onoffswitch-working {
	position: relative;
	width: 128px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox-working {
	display: none;
}

.onoffswitch-label-working {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #EEEEEE;
	border-radius: 50px;
}

.onoffswitch-inner-working {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner-working:before,.onoffswitch-inner-working:after {
	display: block;
	float: left;
	width: 50%;
	height: 41px;
	padding: 0;
	line-height: 41px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner-working:before {
	content: "Local";
	padding-left: 10px;
	background-color: #85CD00;
	color: #FFFFFF;
}

.onoffswitch-inner-working:after {
	content: "Outstation";
	padding-right: 10px;
	background-color: #85CD00;
	color: #FFFFFF;
	text-align: right;
}

.onoffswitch-switch-working {
	display: block;
	width: 36px;
	margin: 4px;
	background: #EEEEEE;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 83px;
	border: 2px solid #EEEEEE;
	border-radius: 50px;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox-working:checked+.onoffswitch-label-working .onoffswitch-inner-working
	{
	margin-left: 0;
}

.onoffswitch-checkbox-working:checked+.onoffswitch-label-working .onoffswitch-switch-working
	{
	right: 0px;
}


.onoffswitchcomm {
	position: relative;
	width: 137px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitchcomm-checkbox {
	display: none;
}

.onoffswitchcomm-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #EEEEEE;
	border-radius: 20px;
}

.onoffswitchcomm-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitchcomm-inner:before,.onoffswitchcomm-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 34px;
	padding: 0;
	line-height: 35px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitchcomm-inner:before {
	content: "Local";
	padding-left: 10px;
	background-color: #85CD00;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 100
}

.onoffswitchcomm-inner:after {
	content: "Outstation";
	padding-right: 10px;
	background-color: #85CD00;
	color: #FFFFFF;
	text-align: right;
	font-size: 13px;
	font-weight: 100
}

.onoffswitchcomm-switch {
	display: block;
	width: 30px;
	margin: 5.5px;
	background: #EEEEEE;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 100px;
	border: 2px solid #EEEEEE;
	border-radius: 30px;
	transition: all 0.3s ease-in 0s;
}

.onoffswitchcomm-checkbox:checked+.onoffswitchcomm-label .onoffswitchcomm-inner {
	margin-left: 0;
}

.onoffswitchcomm-checkbox:checked+.onoffswitchcomm-label .onoffswitchcomm-switch
	{
	right: 0px;
}







/*Pesonal Loan Switch*/

.vendorSwitch {
    position: relative; width: 160px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.vendorSwitch-checkbox {
    display: none;
}
.vendorSwitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.vendorSwitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.vendorSwitch-inner:before, .vendorSwitch-inner:after {
    display: block; float: left; width: 50%; height: 34px; padding: 0; line-height: 34px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: normal;
    box-sizing: border-box;
}
.vendorSwitch-inner:before {
    content: "Vendor Payment";
    padding-left: 10px;
    background-color: #85CD00; color: #FFFFFF;
}
.vendorSwitch-inner:after {
    content: "Personal Loan";
    padding-right: 10px;
    background-color: #85CD00; color: #FFFFFF;
    text-align: right;
}
.vendorSwitch-switch {
    display: block; width: 30px; margin: 4px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 122px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.vendorSwitch-checkbox:checked + .vendorSwitch-label .vendorSwitch-inner {
    margin-left: 0;
}
.vendorSwitch-checkbox:checked + .vendorSwitch-label .vendorSwitch-switch {
    right: 0px; 
}


/*CashUp-InstallmetSwitch*/

.cashUpSwitch {
    position: relative; width: 125px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.cashUpSwitch-checkbox {
    display: none;
}
.cashUpSwitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.cashUpSwitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.cashUpSwitch-inner:before, .cashUpSwitch-inner:after {
    display: block; float: left; width: 50%; height: 34px; padding: 0; line-height: 34px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: normal;
    box-sizing: border-box;
}
.cashUpSwitch-inner:before {
    content: "Installment";
    padding-left: 10px;
    background-color: #85CD00; color: #FFFFFF;
}
.cashUpSwitch-inner:after {
    content: "Cash-Up";
    padding-right: 10px;
    background-color: #85CD00; color: #FFFFFF;
    text-align: right;
}
.cashUpSwitch-switch {
    display: block; width: 30px; margin: 4px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 87px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.cashUpSwitch-checkbox:checked + .cashUpSwitch-label .cashUpSwitch-inner {
    margin-left: 0;
}
.cashUpSwitch-checkbox:checked + .cashUpSwitch-label .cashUpSwitch-switch {
    right: 0px; 
}
/*Inter Dm Transaction Switch*/
.yesNO {
    position: relative; width: 85px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.yesNO-checkbox {
    display: none;
}
.yesNO-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #EEEEEE; border-radius: 20px;
}
.yesNO-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.yesNO-inner:before, .yesNO-inner:after {
    display: block; float: left; width: 50%; height: 39px; padding: 0; line-height: 39px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: normal;
    box-sizing: border-box;
}
.yesNO-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #85CD00; color: #FFFFFF;
}
.yesNO-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: ; color: #CCCCCC;
    text-align: right;
}
.yesNO-switch {
    display: block; width: 36px; margin: 4px;
    background: #EEEEEE;
    position: absolute; top: 0; bottom: 0;
    right: 41px;
    border: 2px solid #EEEEEE; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.yesNO-checkbox:checked + .yesNO-label .yesNO-inner {
    margin-left: 0;
}
.yesNO-checkbox:checked + .yesNO-label .yesNO-switch {
    right: 0px; 
}



.paySelfSwitch{
    position: relative; width: 121px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.paySelfSwitch-checkbox {
    display: none;
}
.paySelfSwitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #D6D6D6;
    border-radius: 20px;
}
.paySelfSwitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.paySelfSwitch-inner:before, .paySelfSwitch-inner:after {
    display: block; float: left; width: 50%; height: 37px; padding: 0; line-height: 37px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: normal;
    box-sizing: border-box;
}
.paySelfSwitch-inner:before {
    content: "Sales Rep";
    padding-left: 10px;
    background-color: #85CD00; color: #FFFFFF;
}
.paySelfSwitch-inner:after {
    content: "Self";
    padding-right: 10px;
    background-color: #FFFFFF; color: #CCC;
    text-align: center;
}
.paySelfSwitch-switch {
    display: block;
    width: 31px;
    margin: 3px;
    background: #EEEEEE;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 80px;
    border: 2px solid #D6D6D6;
    border-radius: 25px;
    transition: all 0.3s ease-in 0s;
}
.paySelfSwitch-checkbox:checked + .paySelfSwitch-label .paySelfSwitch-inner {
    margin-left: 0;
}
.paySelfSwitch-checkbox:checked + .paySelfSwitch-label .paySelfSwitch-switch {
    right: 0px; 
}

/* within 3okm switch */

.thirtyKMSwitch {
    position: relative; width: 85px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.thirtyKMSwitch-checkbox {
    display: none;
}
.thirtyKMSwitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #EEEEEE; border-radius: 20px;
}
.thirtyKMSwitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.thirtyKMSwitch-inner:before, .thirtyKMSwitch-inner:after {
    display: block; float: left; width: 50%; height: 39px; padding: 0; line-height: 39px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: normal;
    box-sizing: border-box;
}
.thirtyKMSwitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #85CD00; color: #FFFFFF;
}
.thirtyKMSwitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: ; color: #CCCCCC;
    text-align: right;
}
.thirtyKMSwitch-switch {
    display: block; width: 36px; margin: 4px;
    background: #EEEEEE;
    position: absolute; top: 0; bottom: 0;
    right: 41px;
    border: 2px solid #EEEEEE; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.thirtyKMSwitch-checkbox:checked + .yesNO-label .yesNO-inner {
    margin-left: 0;
}
.thirtyKMSwitch-checkbox:checked + .yesNO-label .yesNO-switch {
    right: 0px; 
}