<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-lg-12">
			<div class="col-xs-12 col-sm-7" ng-init="load()">
				<div class="top-banner">
					<span></span>
				</div>
				<!-- <div class="top-banner" id="bgWrapper">
					<img id="loginBanner" alt="" login-background src="distribution/images/mobile/mobile-bg1.png" class="center-block img-responsive">
				</div> -->

				<div class="bottom-banner" style="display: none;">
					<span></span>
				</div>
			</div>

			<div class="col-xs-12 col-sm-5 login-content" ng-show="!showForgotPassword">
				<div class="col-xs-12 logo-div">
					<img src="distribution/images/Login-Grolier-Logo.png" class="center-block img-responsive hidden-xs">
					<div>Login</div>
				</div>
				<div class="col-xs-12 login-box">
					<div class="bg-danger msg danger" ng-hide="unAuth">{{loginErMsg}}</div>
					<div class="bg-success msg success" ng-hide="true">{{loginErMsg}}</div>

					<form class="login-form">
						<div class="form-group">
							<label for="userName" class="col-xs-3 col-sm-12 custom-label">Username</label>
							<div class="col-xs-9 col-sm-12 buttonToolbar">
								<input type="text"
									   class="form-control custom-input placeholder_italic hidden-xs"
									   placeholder="Username" ng-model="UserName" my-enter="myFunc()"
									   ng-class="userNameError ? '' : 'emptyField'"/>
								<input type="text"
									   class="form-control custom-input placeholder_italic visible-xs"
									   ng-model="UserName" my-enter="myFunc()"
									   ng-class="userNameError ? '' : 'emptyField'"/> <span
									class="shiftErrorMsgTop"
									ng-class="userNameError ? 'hideError' : 'showError'">Please
									enter Username</span>
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-xs-3 col-sm-12 custom-label">Password</label>
							<div class="col-xs-9 col-sm-12 buttonToolbar">
								<input type="password"
									   class="form-control custom-input placeholder_italic hidden-xs"
									   placeholder="Password" ng-model="Password" my-enter="myFunc()"
									   ng-class="passwordError ? '' : 'emptyField'"/>
								<input type="password"
									   class="form-control custom-input placeholder_italic visible-xs"
									   ng-model="Password" my-enter="myFunc()"
									   ng-class="passwordError ? '' : 'emptyField'"/>  <span
									class="shiftErrorMsgTop"
									ng-class="passwordError ? 'hideError' : 'showError'">Please
									enter Password</span>
							</div>
						</div>


						<div class="col-xs-12 form-group login-remember">
							<div class="col-xs-3 col-sm-7 checkbox">
								<label class="hidden-xs"> <input type="checkbox" ng-model="rememberMe"
																 name="remember"> <span>Remember Me</span>
								</label>
							</div>
							<div class="col-xs-5">
								<button type="button" class="btn btn-md login-btn pull-right"
										ng-click="LoginAuthentication()">
									<span data-ng-show="loginName">{{login}}</span>
									<div data-ng-show="loading" class="">
										<img src="distribution/images/loader_login24.gif"
											 alt="Loading Icon">
									</div>
								</button>
							</div>
						</div>
						<div class="col-xs-12 visible-xs">
							<span class="col-xs-4"></span>
							<a href="#" class="col-xs-8 col-sm-12 login-forgot" ng-click="forgotPassword();">Forgot Password?</a>
						</div>
						<!-- <a href="#" class="hidden-xs login-forgot pull-right">Forgot Password?</a> -->
						<div class="col-xs-12 text-sm-right" ng-show="showLoginLink">
							<span class="col-xs-3"></span>
							<span class="col-xs-9 col-sm-12">
								<img class="" src="distribution/images/mobile/android_icon.png" alt="">
							    <a href="https://s3-ap-southeast-1.amazonaws.com/ads-store-uat/Grolier.apk" class="download-apk">Download the App</a>
							</span>
						</div>

					</form>
				</div>
				<!-- <div class="visible-xs col-xs-12 sales-rep">
					<div class="col-xs-12">
						<p>Want to be a sales Representative?</p>
						<p>Please Register</p>
					</div>
					<div class="col-xs-12">
						<button type="button" class="btn btn-md login-btn">Register</button>
					</div>
				</div> -->
			</div>

            <div class="col-xs-12 col-sm-5 login-content" ng-show="showForgotPassword">
                <div class="col-xs-12 logo-div">
                    <img src="distribution/images/Login-Grolier-Logo.png" class="center-block img-responsive hidden-xs">
                    <div>Forgot Password</div>
                </div>
                <div class="col-xs-12 login-box" ng-show="showForgotPassword">
                    <div ng-form="forgotpasswordform" no-validate class="login-form" >
                        <div class="form-group">
                            <div class="col-xs-12 text-center buttonToolbar label-email"><div>Please enter your registered email id:</div></div>
                            <div class="col-xs-12 text-center buttonToolbar">
                                <input class="col-xs-12 forgotPassowrd" type="email" ng-model="emailId" name="emailId" ng-required="true" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' ng-class="forgotpasswordform.emailId.$dirty && forgotpasswordform.emailId.$invalid?'emptyField':''"/>
                                <span ng-show="forgotpasswordform.emailId.$dirty && forgotpasswordform.emailId.$invalid" class="showError pull-left" >Please enter a valid email id</span>
                            </div>

                            <button type="button" class="btn btn-lg col-xs-12 login-btn" ng-disabled="forgotpasswordform.$invalid" ng-click="submitForgotPassword();">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>