<!-- <span>PRIVACY POLICY .Terms of Use .TM R&C Scholastic Inc. All Rights Reserved.</span> -->

<div class="footer_style hidden-xs" ng-controller="footerController">
	<a class="footer_hyper" ng-click="getPrivacyPolicy();">PRIVACY POLICY</a> &#x25cf; <a class="footer_hyper" >Terms of Use</a> &#x25cf; TM &reg; & &copy; Scholastic Inc&#x25cf; All Rights Reserved&#x25cf;
</div>
<div class="footer_style visible-xs text-center" ng-controller="footerController">
	<div class="privacy">
		<a class="footer_hyper" ng-click="getPrivacyPolicy();">Privacy Policy</a>
		<a class="footer_hyper" ng-click="getTermsnUse();">Terms of Use</a>
	</div>
	<div class="">TM &reg; & &copy; Scholastic Inc. All Rights Reserved.</div>
 </div>