<div class="container-fluid" ng-controller="ManageGridCtrl">
	<div ng-controller="ManageContractCtrl">
		<div class='row text_center margin_top_heading hidden-xs'>
			<span class="raleway_heading">Manage Contracts</span>
		</div>
		<div class="row">
			<div ng-include="'app/modules/sidebar-filter/view.html'"></div>
			<div class="sub-container {{MainGridWidth}}">
				<div class="top_box">
					<div class="pull-left hidden-sm showing_margin">Showing
						{{showingStart}}-{{showingEnd}} of {{totalItemCount}} Records</div>
					<div class="pull-right more_links">
						<ul class="dotted">
							<li></li>
							<li></li>
							<li></li>
						</ul>
						<ul class="sub-menu">
							<li class="print">Print</li>
							<li class="export-csv">Export to .csv</li>
							<li class="email">Email</li>
							<li class="settings">Manage Columns</li>
						</ul>
					</div>
					
					<div class="pull-right showing_page">
						<span>Showing Per Page</span> <select
							class="btn btn-dropdown btn-md dropdown-toggle"
							ng-model="selectedCnt"
							ng-options="noOfRecords for noOfRecords in recordsPerPage"
							ng-change="PageCntChange()">
							<option value="noOfRecords" ng-if="false">{{selectedCnt}}</option>
						</select>
					</div>
				</div>
				<div class="row summary_box" data-ng-hide="loading">
					<div class="col-xs-4 summary_value">
						Total Points: <span class="">{{ topTotalPoints }}</span>
					</div>
					<div class="col-xs-4 summary_value">
						Total Order Amount: <span class="">{{ topTotalOrderAmount
							}}</span>
					</div>
					<div class="col-xs-4 summary_value">
						Total Outstanding Amount: <span class="">{{
							topOutstandingAmount }}</span>
					</div>
				</div>
				<div ng-show="$parent.loading" class="loadingIcon">
					<img src="distribution/images/loader.gif" alt="Loading Icon">
				</div>
				<div>
					<div class="table-responsive" ng-show="!$parent.loading">
						<table class="table table-striped">
							<thead>
								<tr>
									<th ng-repeat="header in gridOptions.columnDefs"
										ng-mouseenter="activeColumn($index+1)"
										ng-mouseleave="deActiveColumn(i,$index+1)"
										ng-click="order(i,$index+1)"
										style="width: {{header.width}}">
										<ul>
											<li class="col-head-text">{{header.title}}</li>
											<li class="order-arrow">
												<ul>
													<i class="fa fa-chevron-up"
														ng-show="predicate == i  && reverse"></i>
													<i class="fa fa-chevron-down"
														ng-show="predicate == i  && !reverse"></i>
												</ul>
											</li>
										</ul>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="row in gridOptions.data|orderBy:predicate:reverse">

									<td>
										<div>
											<a has-access="viewContract"
												ng-click='ShowContractPage(row,$event)'>{{row.contractCode}}</a>
											<span has-access="!viewContract">{{row.contractCode}}</span>
										</div>
									</td>
									<td>{{row.orderDate}}</td>
									<td>
										<div>
											<a has-access="viewUser"
												ng-click='ShowCustomerPage(row,$event)'>{{row.customerName}}</a>
											<span has-access="!viewUser">{{row.customerName}}</span>
										</div>
									</td>
									<td>{{row.salesRepName}}</td>
									<td>{{row.verificationOfficerName!=null?row.verificationOfficerName:'-'}}</td>
									<td>-</td>

									<!-- <td>{{row.terms}}</td> -->
									<td>{{row.paymentMethod}}</td>
									<td>{{row.points}}</td>
									<td>{{row.totalAmountOrder}}</td>
									<!-- <td>{{row.commenceMentDate}}</td> -->
									<!-- <td><a ng-click='ShowContractPage(row)'>{{row.lastPaymentDate}}</a></td> -->
									<td>{{row.totalOutstandingBalance}}</td>
									<td class="{{concatanateString(row.status)}}">{{row.status}}</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td>Total</td>
									<td>{{ getCurrentTotalPoints($parent.gridOptions.data) }}</td>
									<td>{{ totalOrderAmount}}</td>
									<td>{{ outstandingAmount }}</td>
									<td></td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="col-md-12 text_center" ng-show="showPagination">
						<uib-pagination boundary-links="true" total-items="totalItems"
							ng-model="currentPage" class="pagination-lg"
							previous-text="&larr;" next-text="&rarr;" first-text="&laquo;"
							last-text="&raquo;" ng-click="pageChanged($event)" max-size="5"></uib-pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>