<div class="container" ng-controller="MyAccountCtrl">
	<div class="loading-spiner" ng-show="loader">
		<img src="distribution/images/loader.gif" alt="Loading Icon" />
	</div>
	<div class="row row margin_null">
		<div class="text-center">
			<span class="account-heading">My Account</span>
		</div>

		<div class="row account-body">
			<div class="col-sm-4 side-menu">
				<div class="header">
					<span class="name">{{userName}}</span> <span
						class="mail">{{user.email}}</span>
				</div>
				<ul class="list-group">
					<li class="list-group-item  customList"
						ng-click="ShowProfile();" ng-class="switchOption ? 'selected' : ''" >
						<a ><i class="fa fa-user"></i> Profile</a></li>
					<li class="list-group-item customList" ng-click="ShowChangePwd();" ng-class="switchOption ? '' : 'selected'"><a
					><i class="fa fa-lock"></i> Change Password</a></li>
					<hr>
					<li class="list-group-item  customList" ng-click="logout()"><i
							class="fa fa-sign-out" ></i> Logout</li>
				</ul>

			</div>
			<div class="col-sm-4 change-pwd" ng-hide="switchOption">
				<form name="passwordChangeForm" ng-submit="submit()" novalidate>
					<div class="form-group margin_30_bottom">
						<span class="heading">CHANGE PASSWORD</span>
					</div>
					<div class="form-group margin_30_bottom">
						<label class="contract-label margin_bottom_10">Current Password</label> <input
							type="password" name="currentPassword" class="form-control" id="current_password" ng-model="user.currentPswd" ng-class="submitPressed && passwordChangeForm.currentPassword.$invalid?'emptyField':''" required>
						<span class="errorMsg" ng-show="submitPressed && passwordChangeForm.currentPassword.$invalid">Please Enter your current Password</span>
					</div>
					<div class="form-group margin_30_bottom">
						<label class="contract-label margin_bottom_10">New Password</label> <input
							type="password" class="form-control" id="current_password" name="newPassword" ng-change="checkPassword()" ng-model="newPassword" ng-class="(submitPressed && passwordChangeForm.newPassword.$invalid && !samePasswordError) || (submitPressed && samePasswordError)?'emptyField':''" required>
						<span class="errorMsg" ng-show="submitPressed && passwordChangeForm.newPassword.$invalid && !samePasswordError">Please Enter your New Password</span>
						<span class="errorMsg" ng-show="submitPressed && samePasswordError">New password and old password can not be same.</span>
					</div>
					<div class="form-group margin_30_bottom">
						<label class="contract-label margin_bottom_10">Repeat New Password</label> <input
							type="password" class="form-control" name="confirmPassword" id="new_password" name="confrmPwd" ng-model="confirmPassword" ng-class="(passwordChangeForm.confirmPassword.$invalid && submitPressed && !confirmPasswordError) || (submitPressed && confirmPasswordError)?'emptyField':''"  required>
						<span class="errorMsg" ng-show="submitPressed && passwordChangeForm.newPassword.$invalid && !confirmPasswordError">Please Confirm Your New Password</span>
						<span class="errorMsg" ng-show="submitPressed && confirmPasswordError">New password and confirm password does not match.</span>
					</div>
					<button type="submit" class="btn btn-md createroleButton btn_font_bold">Change
						Password</button>
				</form>
			</div>
			<div class="col-sm-3 pwd-point" ng-hide="switchOption">
				<ul class="list-group">
					<li class="list-group-item passList btn_font_bold">Your password must contain :</li>
					<li class="list-group-item passList caution">-Make it at
						least 6 characters</li>
					<li class="list-group-item passList caution">-lowercase
						letter</li>
					<li class="list-group-item passList caution">-uppercase
						letter</li>
					<li class="list-group-item passList caution">-numbers</li>
					<li class="list-group-item passList caution">-special
						characters</li>
				</ul>
			</div>
			<div class="col-sm-5 person-info" ng-hide="!switchOption">
				<div class="form-group">
					<span class="person-heading">PERSONAL INFO</span>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-4 image margin_30_bottom">
						<img ng-src="{{user.profileImg}}" class="round-image"/>
					</div>

					<div class="col-xs-6 change_profile" ng-click="toggleUpload($event)">
						<a id="uploadImageLink">Change Profile Image</a>
					</div>

				</div>
				<div ng-hide="toggleImageUpload">
					<div id="imgTest"></div>
					<div class="form-group margin_30_bottom">
						<label class="contract-label margin_bottom_10">Upload Picture</label>
						<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this)" id="photo-upload_Id" class="form-control" accept="image/*"
							   class="ChooseFilebutton">
					</div>
					<div class="form-group margin_30_bottom">
						<button type="button"
								class="btn btn-md createroleButton btn_font_bold" ng-click="uploadImg()">Upload</button>
						<button type="button"
								class="btn btn-md cancelButton">Cancel</button>

					</div>
				</div>

				<div class="col-sm-5">
					<div class="form-group buttonToolbar">
						<label class="contract-label margin_bottom_10 ">First Name</label> <input
							type="text" class="form-control placeholder_italic" id="first_name" ng-disabled="true" ng-model="user.firstName">
					</div>
				</div>
				<div class="col-sm-5 col-sm-offset-2">
					<div class="form-group margin_30_bottom buttonToolbar">
						<label class="contract-label margin_bottom_10 ">Last Name</label> <input
							type="text" class="form-control placeholder_italic" id="last_name" ng-disabled="true" ng-model="user.lastName">
					</div>
				</div>
				<div class="form-group margin_30_bottom buttonToolbar" >
					<label class="contract-label margin_bottom_10">IC</label> <input type="text"
																					 class="form-control placeholder_italic" id="ic_no" ng-disabled="true" ng-model="user.ic">
				</div>
				<div class="form-group margin_30_bottom buttonToolbar">
					<label class="contract-label margin_bottom_10">Email Address</label> <input
						type="email" class="form-control placeholder_italic" id="email" ng-disabled="true" ng-model="user.emailId">
				</div>
				<div class="form-group margin_30_bottom buttonToolbar">
					<label class="contract-label margin_bottom_10">Phone</label> <input type="text"
																						class="form-control placeholder_italic" id="phone_no" ng-disabled="true" ng-model="user.phoneNumber">
				</div>
				<div class="form-group margin_30_bottom buttonToolbar">
					<label class="contract-label">Address</label>
					<textarea class="form-control placeholder_italic" rows="3" id="address" ng-disabled="true" ng-model="address"></textarea>
				</div>
			</div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4 role-info" ng-hide="!switchOption">
				<span class="role-heading">ROLE INFO</span>
				<div class="form-group margin_30_bottom buttonToolbar">
					<label class="contract-label">User ID</label> <input type="text"
																		 class="form-control placeholder_italic" id="user_id"  ng-disabled="true" ng-model="user.userCode">
				</div>
				<div class="form-group margin_30_bottom buttonToolbar">
					<label class="contract-label margin_bottom_10">User Type</label> <input type="text"
																							class="form-control placeholder_italic" id="user_type" ng-disabled="true" ng-model="user.userTypeDesg.userType">
				</div>
				<div class="form-group margin_30_bottom buttonToolbar">
					<label class="contract-label margin_bottom_10">Division</label> <input type="text"
																						   class="form-control placeholder_italic" id="division" ng-disabled="true" ng-model="user.division.divisionCode">
				</div>
				<div class="form-group margin_30_bottom buttonToolbar" ng-show="user.superVisor!=null">
					<label class="contract-label margin_bottom_10">Supervisor Name</label> <input
						type="text" class="form-control placeholder_italic" id="supervisor_name"
						ng-disabled="true" ng-model="user.superVisor.imdSupVisorName">
				</div>
				<div class="form-group  bottomlabelPadding buttonToolbar" ng-show="user.superVisor!=null">
					<label class="contract-label margin_bottom_10">Supervisor Code</label> <input
						type="text" class="form-control placeholder_italic" id="supervisor_code"
						ng-disabled="true" ng-model="user.superVisor.imdSupVisorCode">
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</div>
</div>


<script>
	/* $('input[type="file"]').on('change', function(event, files, label) {
		var file_name = this.value.replace(/\\/g, '/').replace(/.*\//, '')
		var file_id_name = this.value.replace(/\\/g, '/').replace(/.*\//, '')
		$('#fileName_upload').text(file_name);
		$('#fileName_upload_id').text(file_id_name);
	}); */
	
	
	$('#photo-upload_Id').on('change', function(event, files, label) {
		var file_name = this.value.replace(/\\/g, '/').replace(/.*\//, '')
		var file_id_name = this.value.replace(/\\/g, '/').replace(/.*\//, '')
		$('#fileName_upload_id').text(file_id_name);
	});
</script>
