<div class="container-fluid">
  <div class="row main_nav">
    <div class="navbar-collapse collapse" id="main-nav">
        <!-- Nav bar -->
        <ul class="col-xs-12 nav text-center text-xs-left first_nav">
        
          <li ng-repeat="(i, menu) in mainNav" remove-element="{{menu.removeLink}}" class="{{gridClass}} menu_item {{menuClass}}" ng-class="menuIndex[$index]?'menu_active':''">
            <a ng-click="{{menu.click}}">         
              <img ng-src="{{menu.icon}}">
              <span>{{menu.menuName}}</span>
              <i remove-element="{{!menu.showArrow}}" class="fa fa-chevron-down pull-right" ng-hide="menuIndex[$index]"></i>
              <i remove-element="{{!menu.showArrow}}" class="fa fa-chevron-up pull-right" ng-show="menuIndex[$index]"></i>
            </a>
            
            <div remove-element="{{!menu.showArrow}}" ng-show="menuIndex[$index]" class="sub-menu-wrapper ">
	          <ul class="nav second_navbar text-center text-xs-left">
	           <li ng-repeat="(i,nav) in menu.subMenu">
	              <a ui-sref="{{nav.stateName}}">
	                <span class="{{(currentState==nav.stateName)?'sublink_active':''}}">{{nav.subMenuName}}</span>
	              </a>
	            </li>
	          </ul>
	        </div>
	        
          </li>
          <!-- <li class="col-xs-12 menu_item visible-xs">
            <a ui-sref="AdminBoard.MyAccount">         
              <img src="distribution/images/myprofile_icon.png"/>
              <span class="logout">My Profile</span>
            </a>	        
          </li> -->
          <li class="col-xs-12 menu_item visible-xs">
            <a ng-click="logout()"><img src="distribution/images/mobile/logout_icon.png"/><span class="logout">Logout</span></a>
          </li>
        </ul>
        
    </div>
  </div>  
</div>