<div class="container-fluid" ng-controller="ManageCustomerCtrl">
	<div ng-controller="ManageGridCtrl">
		<div class="pageBackLink">
			<!-- <a ui-sref="AdminBoard.ManageUser" class="back-link" href="#/AdminBoard/ManageUser"> <i class="fa fa-angle-left"></i>&nbsp;Back</a></div> -->
			<div class='row text_center margin_top_heading'>
				<span class="raleway_heading">Manage Customers</span>
			</div>
			<div class="row main-container">
				<div class="col-xs-12 data-block" ng-hide="isEmptyManageData">
					<div class="sidebar-wrapper {{SidebarWidth}}" ng-include="'app/modules/sidebar-filter/view.html'"></div>
					
					<!-- ManageUserGridCtrl-->
					<div class="sub-container {{MobilePageWidth}}">
						<div class="top_box">
							<div class="pull-left showing_margin">Showing
								{{showingStart}}-{{showingEnd}} of {{totalItemCount}} Records</div>

							<div class="pull-right more_links">
								<ul class="dotted">
									<li></li>
									<li></li>
									<li></li>
								</ul>
								<ul class="sub-menu">
									<li class="print">Print</li>
									<li class="export-csv">Export to .csv</li>
									<li class="email">Email</li>
									<li class="settings">Manage Columns</li>
								</ul>
							</div>


							<button type="submit" has-access="edit"
								class="btn btn-md btn-createUser_width_16 pull-right btn_create_color btn_font_bold"
								ui-sref="AdminBoard.CreateEditCustomer">
								<!-- <span class="pull-left glyphicon glyphicon-plus-sign"></span> -->
								<img src="distribution/images/CreateRoll-icon.png"
									class="picture" />Create Customer
							</button>
							<div class="pull-right showing_page">
								<span>Showing Per Page</span> <select class="btn-style btn-md"
									ng-model="selectedCnt"
									ng-options="noOfRecords for noOfRecords in recordsPerPage"
									ng-change="PageCntChange()">
									<option value="noOfRecords" ng-if="false">{{selectedCnt}}</option>
								</select>
							</div>


						</div>
						<div data-ng-show="loading" class="loadingIcon">
							<img src="distribution/images/loader.gif" alt="Loading Icon">
						</div>
						<div class="table-responsive col-xs-12" data-ng-hide="loading">
							<table class="table table-striped">
								<thead class="spacing">
									<tr>
										<th ng-repeat="(i,th) in gridOptions.columnDefs"
											ng-mouseenter="activeColumn($index+1)"
											ng-mouseleave="deActiveColumn(i,$index+1)"
											ng-click="order(i,$index+1)" ng-class="selectedCls(i)"><span
											class="col-head-text">{{th}}</span> <i
											class="fa fa-chevron-up" ng-show="predicate == i  && reverse"></i>
											<i class="fa fa-chevron-down"
											ng-show="predicate == i  && !reverse"></i></span></th>
									</tr>
								</thead>
								<tbody>

									<tr
										ng-repeat="row in gridOptions.data|orderBy:predicate:reverse">
										<!-- <td><img src="distribution/images/contracts/refresh.png"
											ng-show="row.systemStatus == 'N'" /> <img
											src="distribution/images/contracts/select.png"
											ng-show="row.systemStatus == 'Y'" /></td> -->
										<td>
											<div>
												<a has-access="view" ng-click='ShowCustomerPage(row)'>{{row.customerCode}}</a>
												<span has-access="!view">{{row.customerCode}}</span>
											</div>
										</td>
										<td>
											<div>
												<a has-access="view" ng-click='ShowCustomerPage(row)'>{{row.name}}</a>
												<span has-access="!view">{{row.name}}</span>
											</div>
										</td>
										<td>{{row.icNo}}</td>
										<td>{{row.phonoNo}}</td>
										<td>{{row.email}}</td>
										<td>{{row.lastContractNo}}</td>
										<!-- <td class="{{row.active}}">{{row.active}}</td> -->
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-12 text_center" ng-show="showPagination">
							<uib-pagination boundary-links="true" total-items="totalItems"
								ng-model="currentPage" max-size="5" class="pagination-lg"
								previous-text="&larr;" next-text="&rarr;" first-text="&laquo;"
								last-text="&raquo;" ng-click="pageChanged($event)"></uib-pagination>
						</div>
					</div>

				</div>


				<div class="empty-block" ng-hide="!isEmptyManageData">
					<div class="sub-container {{MainGridWidth}}">
						<div class="top_box">
							<button type="submit" has-access="edit"
								class="btn btn-md btn-createUser_width_21 pull-right btn_create_color btn_font_bold"
								ui-sref="AdminBoard.CreateEditCustomer">
								<img src="distribution/images/CreateRoll-icon.png"
									class="picture" />Create Customer
							</button>
						</div>
						<div class="row">
							<div class="empty-content col-xs-12 col-sm-10 col-md-6 col-lg-5">
								<p class="raleway_heading">There are no Customer to view.</p>
								<button type="submit" has-access="edit"
									class="btn btn-md btn-createUser_width_21 btn_create_color btn_font_bold"
									ui-sref="AdminBoard.CreateEditCustomer">
									<img src="distribution/images/CreateRoll-icon.png"
										class="picture" />Create Customer
								</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
