<div class="col-xs-12">
	<div class="col-xs-12 col-sm-5">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Price List Code</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<select ng-disabled="isVO" class="form-control contract-label form_radius c-select" ng-model="contract.priceListCode" ng-options="priceListCode for priceListCode in contract.priceListCodeList" ng-change="getTerms();" ng-class="priceListCodeEditError ? '' : 'emptyField'">
				<option font-900ue="" ng-if="false">-Select-</option>
			</select>
			<span ng-class="priceListCodeEditError ? 'hideError' : 'showError'">Please Select a Method Of Payment</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-5 col-sm-offset-2">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Terms</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<select class="form-control contract-label form_radius c-select" ng-model="contract.terms" ng-options="terms for terms in installmentList" ng-change="(isVO)?getPricingDetails():getPointList();" ng-class="termsEditError ? '' : 'emptyField'">
				<option font-900ue="" ng-if="false">-Select-</option>
			</select>
			<span ng-class="termsEditError ? 'hideError' : 'showError'">Please Select a Term</span>
		</div>
	</div>
</div>
<div class="col-xs-12">
	<div class="col-xs-12 col-sm-5">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Points</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<!-- <input type="text" class="form-control contract-label form_radius allownumericwithdecimal" ng-model="contract.points" ng-change="getPricingDetails()" ng-class="pricingPointsEditError ? '' : 'emptyField'" ng-paste="$event.preventDefault()"> -->
			<select ng-disabled="isVO" class="form-control contract-label form_radius c-select" ng-model="contract.points" ng-options="points for points in pointList" ng-change="getPricingDetails();" ng-class="pricingPointsEditError ? '' : 'emptyField'">
				<option font-900ue="" ng-if="false">-Select-</option>
			</select>

			<span ng-class="pricingPointsEditError ? 'hideError' : 'showError'">Please Enter a valid Point</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-5 col-sm-offset-2">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Total Order Amount</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="contract.totalAmountOrder" ng-disabled="true">
		</div>
	</div>
</div>
<div class="col-xs-12 margin_bottom_120" ng-hide="paymentDetailsShow"></div>

<div class="col-xs-12 col-sm-12 col-md-12 border-bottom-contract margin_bottom_20" ng-show="paymentDetailsShow"></div>

<div class="col-xs-12 col-sm-5 col-md-5" ng-show="paymentDetailsShow">
	<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom text-xs-left text-center">
		<span class="stepName stepName_font contract-font">DOWNPAYMENT 1</span>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Amount Collected</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius allownumericwithdecimal" ng-model="contract.downPayment1" ng-blur="generateAmount('dp1')" ng-class="dp1EditError ? '' : 'emptyField'" ng-paste="$event.preventDefault()" ng-disabled="dp1Disabled||disableDp1">
			<span ng-class="dp1EditError ? 'hideError' : 'showError'">Please Enter a valid amount</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Method of Payment</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom">
				<select class="form-control contract-label form_radius c-select" ng-model="contract.methodOfPaymentDP1" ng-options="method for method in methodOfPaymentList" ng-class="methodOfDp1EditError ? '' : 'emptyField'" ng-disabled="disableDp1">
					<option font-900ue="" ng-if="false">-Select-</option>
				</select>
				<span ng-class="methodOfDp1EditError ? 'hideError' : 'showError'">Please Select a Method Of Payment</span>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12" ng-show="contract.methodOfPaymentDP1=='Credit Card' || contract.methodOfPaymentDP1=='Online Payment'">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Clearing From</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<select class="form-control contract-label form_radius c-select arrow_remove" ng-model="contract.bankDp1" name="bankName" ng-class="bankDp1EditError ? '' : 'emptyField'" ng-change="bankDp1EditError==false?bankDp1EditError=true:''" ng-options="bank as bank.accountName for bank in bankList" ng-disabled="disableDp1">
					<option value="">-Select-</option>
				</select>
				<span ng-class="bankDp1EditError ? 'hideError' : 'showError'">Please Select a Bank Name</span>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12" ng-show="contract.methodOfPaymentDP1.toLowerCase()=='cheque'">
		<div ng-hide="disableDp1">
			<div class="col-xs-4 col-sm-12 text-xs-right">
				<label class="contract-label">Cheque Date</label>
			</div>
			<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
				<div class="col-xs-12 col-sm-12 col-md-12 custom-date buttonToolbar">
					<input maxlength="11" size="11" placeholder="dd-mon-yyyy" datepicker type="text" class="form-control form_radius" ng-model="partial.chequeDate" ng-change="updatechequeDate(partial)" ng-class="(!cheque1Error || !cheque2Error) ? 'emptyField':''" >
				</div>
				<span class="errorMsg" ng-class="cheque1Error ? 'hideError' : 'showError'">Please select a valid Date.</span>
				<span class="errorMsg" ng-class="cheque2Error ? 'hideError' : 'showError'">Cheque Date cant be more than 6 months old and be a future date.</span>
			</div>
		</div>

	</div>

	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Reference No.</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="contract.paymentRefNum" ng-class="refError ? '' : 'emptyField'" maxlength="30" ng-disabled="disableDp1">
			<span ng-class="refError ? 'hideError' : 'showError'">Please Enter a Reference Number</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Sales Rep Contribution</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<div class="onoffswitch onoffswitch-yesno flt-left">
				<input ng-disabled="currentSate==='AdminBoard.ViewContract'" type="checkbox" name="onoffswitch"
					   class="onoffswitch-checkbox" id="contractPrevireEditSalesRep"
					   ng-model="contract.salesRepContributionStatus" ng-blur="generateAmount();toggleSalesRep()" /> <label class="onoffswitch-label"
																															for="contractPrevireEditSalesRep"> <span
					class="onoffswitch-inner onoffswitch-inner-sr"></span> <span class="onoffswitch-switch"></span>
			</label>
			</div>
			<input ng-disabled="currentSate==='AdminBoard.ViewContract'" type="text" class="form-control switch-input contract-label form_radius ng-pristine ng-untouched ng-valid ng-empty allownumericwithdecimal" ng-model="contract.salesRepContributionAmt" ng-show="contract.salesRepContributionStatus" ng-blur="generateAmount()" ng-paste="$event.preventDefault()" ng-class="contributionEditError ? '' : 'emptyField'">
			<span ng-class="contributionEditError ? 'hideError' : 'showError'">Please Enter a valid amount</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12" ng-show="contract.salesRepContributionStatus">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Pay by</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<div class="onoffswitch onoffswitch-payby margin_bottom_20">
				<input ng-disabled="true" type="checkbox" name="onoffswitch-payby"
					   class="onoffswitch-checkbox" id="contractPrevireEditPayby"
					   ng-model="contract.commission" checked> <label class="onoffswitch-label"
																	  for="contractPrevireEditPayby"> <span
					class="onoffswitch-inner onoffswitch-inner-sr"></span> <span class="onoffswitch-switch"></span>
			</label>
			</div>
		</div>
	</div>



	<!-- <div class="col-xs-12 col-sm-12 col-md-12" ng-show="salesRepContribution">
            <div class="col-xs-12">
                <label class="contract-label ">Pay by</label>
            </div>
            <div class="col-xs-8 col-sm-12 col-md-12 margin_bottom_20">
            <div class="onoffswitch onoffswitch-pay">
                <input type="checkbox" name="onoffswitch"
                    class="onoffswitch-checkbox" id="onoffswitch_payby"
                    ng-model="contract.commission"> <label class="onoffswitch-label"
                    for="onoffswitch_payby"> <span
                    class="onoffswitch-inner onoffswitch-inner-pay"></span>
                    <span class="onoffswitch-switch onoffswitch-switch-pay"></span>
                </label>
            </div>
            </div>
    </div> -->
</div>

<div class="col-xs-12 col-sm-5 col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-2" ng-show="paymentDetailsShow">
	<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom text-xs-left text-center">
		<span class="stepName stepName_font contract-font">DOWNPAYMENT 2 UPON DELIVERY</span>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">{{dpLabel}} Upon Delivery</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="contract.downPayment2" ng-disabled="true">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Payment Period</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="bank.bankId" ng-disabled="true">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">{{text.instalmentAmountLbl}}</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="contract.installmentAmt" ng-disabled="true">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">{{text.paymentMethodDP2Lbl}}</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<select class="form-control contract-label form_radius c-select" ng-model="contract.methodOfPaymentDP2" ng-options="method for method in methodOfPaymentList" ng-class="dp2EditMethodError ? '' : 'emptyField'">
				<option font-900ue="" ng-if="false">-Select-</option>
			</select>
			<span ng-class="dp2EditMethodError ? 'hideError' : 'showError'">Please Select a Method Of Payment</span>
		</div>
	</div>

	<!-- <div class="col-xs-12 col-sm-12 col-md-12" ng-show="contract.methodOfPaymentDP2=='Credit Card' || contract.methodOfPaymentDP2=='Online Payment'">
                    <div class="col-xs-4 col-sm-12 text-xs-right">
                        <label class="contract-label ">Clearing From</label>
                    </div>
                    <div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <select class="form-control contract-label form_radius c-select arrow_remove" ng-model="contract.bankDp2" name="bankName" ng-class="bankDp2EditError ? '' : 'emptyField'" ng-change="bankDp2EditError==false?bankDp2EditError=true:''" ng-options="bank as bank.accountName for bank in bankList">
                                    <option value="">-Select-</option>
                                </select>
                            <span ng-class="bankDp2EditError ? 'hideError' : 'showError'">Please Select a Bank Name</span>
                        </div>
                    </div>
            </div> -->
</div>

<div class="col-xs-12 product-notify margin_bottom_20" ng-show="paymentDetailsShow">
	<div class="col-xs-2 width_auto"><img src="distribution/images/contracts/comment_icon.png"/></div>
	<div class="col-xs-10 notify-text">Products will be delivered in 4-7 working days.</div>
</div>

<div class="col-xs-12 col-sm-5 col-md-5" ng-show="paymentDetailsShow">
	<div class="col-xs-4 col-sm-12 text-xs-right">
		<label class="contract-label ">Campaign Code (Optional)</label>
	</div>
	<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
		<input type="text" class="form-control contract-label form_radius" ng-model="contract.campaignCode" >
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12" ng-show="paymentDetailsShow">
	<div class="col-xs-12">
		<label class="contract-label ">Remarks (Optional)</label>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom">
		<textarea class="form-control form_radius" rows="5" id="comment" ng-model="remarks.remarkPricing" place-holder="Please Mention the products that are under promotions or being given as free gifts..."></textarea>
	</div>
</div>
	