<div id="prodEditError" style="color:red;display:none;">Please Select at least one Product to proceed.</div>
<div ng-show="showProductDetailErr" style="color:red;">You can not select same product twice.</div>
<table class="table table-bordered mobile-bordered-tbl">
	<thead class="thead">
	<tr>
		<th class="width-sno text-center" style="width:6%">Sr No.</th>
		<th class="width-product text-left" style="width:30%">Product</th>
		<th class="width-product text-center" style="width:10%">Points</th>
		<th class="width-qty text-center" style="width:20%">Quantity</th>
		<th class="width-qty text-center" style="width:20%" ng-show="contract.shipmentStatus=='Delivered'||contract.shipmentStatus=='Partially Delivered'">Delivered Quantity</th>
		<th class="width-actn text-center" style="width:10%">Actions</th>
	</tr>
	</thead>
	<tbody class="text-center">
	<tr ng-repeat='x in contract.productDetails track by $index' id="$index+'row'">
		<td><span class="numb">{{$index+1}}.</span></td>
		<td>
			<!-- <select class="form-control contract-label form_radius c-select" ng-model="productList1[productSelIndex[$index]]" ng-options="product as product.productName for product in productList1" ng-change="changeProduct(productList1[productSelIndex[$index]], $index)">
                <option font-900ue="" value="" ng-hide="hideOption">-Select-</option>
            </select>  -->
			<select class="form-control contract-label form_radius c-select hidden-xs hidden-sm"  ng-class="(productDetailErr[$index])?'emptyField':''" ng-model="myprod.selProductDetails[$index]" ng-options="product as product.productName for product in productList1 track by product.itemId" ng-change="selectProductMobile(myprod.selProductDetails[$index], $index)">
				<option font-900ue="" value="" ng-hide="hideOption">-Select-</option>
			</select>
			<div class="col-xs-12 visible-xs visible-sm">
				<button type="button" class="btn btn-md dropdown-toggle form-control c-select margin_10 mobile-prod-sel" ng-class="(productDetailErr[$index])?'emptyField':''" data-toggle="dropdown" ng-model="x" ng-disabled="x.deliveredQty>0" >
					<nobr>{{(x.productName==undefined || x.productName=='')?'-Select-':x.productName}}</nobr>
				</button>
				<ul class="dropdown-menu prepopulate-list fixedHeightDropDown scrollbar">
					<li class="no-effect">
						<div class="right-inner-addon search_bg">
							<i class="fa fa-search search_icon" aria-hidden="true"></i>
							<input type="search" class="form-control search_radius placeholder_italic no-hover" placeholder="Search" ng-model="selDetails[$index]" />
						</div>
					</li>
					<li ng-repeat="product in productList1|filter:selDetails[$index]" class="margin_12" ng-click="selectProduct(product, $parent.$index, $index)">{{product.productName}}</li>
				</ul>
			</div>
		</td>
		<td>
			<div class="points"><span>{{contract.productDetails[$index].productPoints}}</span></div>
		</td>

		<td>
			<div class="spinner">
				<a ng-click="decrementer(contract.productDetails[$index].quantity,$index)">
					<i class="fa fa-minus"></i>
				</a>
				<input type="nmber" class="form-control contract-label" ng-model="contract.productDetails[$index].quantity" min=0 data-rule="quantity" allow-pattern="\d" ng-paste="$event.preventDefault()" ng-change="changeQuantity(contract.productDetails[$index].quantity,$index)">
				<a ng-click="incrementer(contract.productDetails[$index].quantity,$index)">
					<i class="fa fa-plus"></i>
				</a>
			</div>
		</td>
		<td ng-show="contract.shipmentStatus=='Delivered'||contract.shipmentStatus=='Partially Delivered'"><span>{{contract.productDetails[$index].deliveredQty}}</span></td>
		<td class="product_action">
			<img class="fa-times" src="distribution/images/contracts/decline_inactive.png" ng-click="removeProductRow($index)">
			<img class="fa-plus" src="distribution/images/contracts/Add_icon.png" ng-show="checkContProdAddBtn($index)" ng-click="addProductRow()">
		</td>
	</tr>
	<tr>
		<td colspan="2" class="text-right"><strong>Total</strong></td>
		<td colspan="1"><!-- {{getTotalPointsVal}} -->{{ getTotalPoints() }}</td>
		<td colspan="1">{{totalQty}}</td>
		<td colspan="1" ng-show="contract.shipmentStatus=='Delivered'||contract.shipmentStatus=='Partially Delivered'"></td>
		<td colspan="1"></td>
	</tr>
	</tbody>
</table>
<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
		<label class="contract-label">Remarks (Optional)</label>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom">
		<textarea class="form-control contract-label form_radius" rows="5" id="comment" ng-model="remarks.remarkProduct" placeholder="Please Mention the products that are under promotions or being given as free gifts..."></textarea>
	</div>
</div>