<div class="container" ng-controller="VoReceiveCtrl">
		<div class="loading-spiner" ng-show="loader">
			<img src="distribution/images/loader.gif" alt="Loading Icon" />
		</div>

	<div class="col-md-5 back-margin">
		<a ui-sref="VoBoard.VoTurnIn" class="back-link"> <i
			class="fa fa-angle-left"></i>&nbsp;Back to Manage Turn-in
		</a>
	</div>

	<div class="row">
		<form name="voReceive" ng-submit="serviceHit()" novalidate>
			<div class="sub-container container noMinHeight">

				<div class="margin_null">
					<div
						class="col-xs-12 col-sm-12 col-md-12 text-center heading-bottom">
						<span class="raleway_heading">Receive Collections</span>
					</div>

				</div>
				<div class="pull-left table-responsive showing_margin" ng-show="!showReceivingFromMultipleBlock">
					Collecting From {{firstItem}}</div>
				<div class="table-responsive col-xs-12"
					ng-show="!showReceivingFromMultipleBlock">
					<table class="table table-striped">
						<thead class="spacing">
							<tr>
								<th>Amount</th>
								<th>Cheque Date</th>
								<th>Cheque Number</th>
								<th>Transaction Number</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-hide="CashBankIn.length==0" class="colorBankIn">
								<td class="font-700 breakWord">Cash</td>
								<td></td>
								<td></td>
								<td class="font-700 breakWord">Cash-in-Hand : {{cashTotal}}</td>
							</tr>
							<tr ng-repeat="x in CashBankIn">
								<td class="breakWord">{{x.amount}}</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<tr ng-hide="ChequeBankIn.length==0" class="colorBankIn">
								<td class="font-700 breakWord">Cheque</td>
								<td></td>
								<td></td>
								<td class="font-700 breakWord">Cheque-in-Hand : {{ChequeBankIn.length}} | {{chequeTotal}}</td>
							</tr>
							<tr ng-repeat="x in ChequeBankIn">
								<td class="breakWord">{{x.amount}}</td>
								<td class="breakWord">{{x.chequeDate}}</td>
								<td class="breakWord">{{x.chequeNumber}}</td>
								<td>-</td>
							</tr>
							<tr ng-hide="CreditCardBankIn.length==0" class="colorBankIn">
								<td class="font-700 breakWord">Credit Card</td>
								<td></td>
								<td></td>
								<td class="font-700 breakWord">Total - {{creditCardTotal}}</td>
							</tr>
							<tr ng-repeat="x in CreditCardBankIn">
								<td class="breakWord">{{x.amount}}</td>
								<td class="breakWord">-</td>
								<td>-</td>
								<td>{{x.transactionNumber}}</td>
							</tr>

						</tbody>
					</table>

					<div class="col-xs-12 topSummary-bank">
						<div class="col-xs-4 text-center summary-turn font-700">
							Total Cash Amount: <span class="font-700">{{cashTotal}}</span>
						</div>
						<div class="col-xs-4 text_center summary-turn font-700">
							Total Cheque Amount: <span class="font-700">{{chequeTotal}}</span>
						</div>
						<div class="col-xs-4 text_center summary-turn font-700">
							Total Credit Card Amount: <span class="font-700">{{creditCardTotal}}</span>
						</div>
					</div>


				</div>
				<div class="table-responsive col-xs-12"
					ng-show="showReceivingFromMultipleBlock">
					<table class="table table-striped">
						<thead class="spacing">
							<tr>
								<th>Amount</th>
								<th>Cheque Date</th>
								<th>Cheque Number</th>
								<th>Collecting From</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-hide="CashBankIn.length==0" class="colorBankIn">
								<td class="font-700 breakWord text-left">Cash</td>
								<td></td>
								<td></td>
								<td class="font-700 breakWord text-right">Total - {{cashTotal}}</td>
							</tr>
							<tr ng-repeat="x in CashBankIn">
								<td class="breakWord">{{x.amount}}</td>
								<td>-</td>
								<td>-</td>
								<td class="breakWord">{{x.srName}}</td>
							</tr>
							<tr ng-hide="ChequeBankIn.length==0" class="colorBankIn">
								<td class="font-700 breakWord text-left">Cheque</td>
								<td></td>
								<td></td>
								<td class="font-700 breakWord text-right">Total - {{chequeTotal}}</td>
							</tr>
							<tr ng-repeat="x in ChequeBankIn">
								<td class="breakWord">{{x.amount}}</td>
								<td class="breakWord">{{x.chequeDate}}</td>
								<td class="breakWord">{{x.chequeNumber}}</td>
								<td class="breakWord">{{x.srName}}</td>
							</tr>
							<tr ng-hide="CreditCardBankIn.length==0" class="colorBankIn">
								<td class="font-700 breakWord text-left">Credit Card</td>
								<td></td>
								<td></td>
								<td class="font-700 breakWord text-right">Total - {{creditCardTotal}}</td>
							</tr>
							<tr ng-repeat="x in CreditCardBankIn">
								<td class="breakWord">{{x.amount}}</td>
								<td class="breakWord">{{x.date}}</td>
								<td>-</td>
								<td class="breakWord">{{x.srName}}</td>
							</tr>

						</tbody>
					</table>

					<div class="col-xs-12 topSummary-bank">
						<div class="col-xs-4 text-center summary-turn font-700">
							Total Cash Amount: <span class="font-700">{{cashTotal}}</span>
						</div>
						<div class="col-xs-4 text_center summary-turn font-700">
							Total Cheque Amount: <span class="font-700">{{chequeTotal}}</span>
						</div>
						<div class="col-xs-4 text_center summary-turn font-700">
							Total Credit Card Amount: <span class="font-700">{{creditCardTotal}}</span>
						</div>
					</div>


				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom">
					<div class="stepLine_bank"></div>
				</div>



				<!-- <div class="table-responsive col-md-5">
					<div class="col-md-10 form_margin mobile_form_margin"
						ng-show="cashTotal>0">
						<div class="col-xs-12 text-left">
							<label class="contract-label ">Actual Cash Amount
								Received</label>
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_bottom_20">
							<input name="cashAmount" type="text"
								class="form-control contract-label form_radius"
								ng-model="cashAmount"
								ng-pattern="/^[0123456789]+([.]{1}[0123456789]{2})*$/"
								ng-class="voReceive.cashAmount.$invalid && submitPressed?'emptyField':''"
								ng-required="cashTotal>0"> <span class="errorMsg"
								ng-show="voReceive.cashAmount.$invalid && submitPressed">Please
								Enter an Amount</span>
						</div>
					</div>


				</div> -->



				<div class="col-md-12 table-responsive">
					<div class="col-md-12">
						<label class="contract-label ">Remarks <span class="remarksColor">(Optional)</span></label>
					</div>
					<div class="col-md-12 margin_30_bottom">
						<textarea class="form-control contract-label form_radius"
							placeholder="" rows="5" id="comment" ng-model="remarks" maxlength="4000"></textarea>
					</div>
				</div>
			</div>



			<div class="text-center">

				<div class="row">
					<div class="text-center bottom_buttons mobile_btn_padding"
						style="border-top: 1px solid #ccc;">
						<span class="pull-right">
							<button type="submit"
								class="btn btn-md createroleButton btn_font_bold">Submit</button>
						</span> <span class="pull-left">
							<button type="button"
								class="btn btn-md cancelButton btn_font_bold"
								ng-click="cancel()">Cancel</button>
						</span>
					</div>
				</div>

			</div>
		</form>
	</div>
</div>













