<div class="container loading-wrapper"
	 ng-controller="CoCollectPaymentCtrl">
	<div class="loading-spiner" ng-show="loading">
		<img src="distribution/images/loader.gif" alt="Loading..." />
	</div>

	<div class="vo-verify vo-verify-payment"
		>
		<form name="collectPaymentForm" ng-submit="submit()" novalidate>
			<div class="row hidden-xs hidden-sm"></div>
			<div class="row">
				<div class="col-xs-12 back-margin padding-xs padding-sm">
					<a ui-sref="CoBoard.ManageCollectorCollectionRequest"
					   class="back-link"> <i class="fa fa-angle-left"></i>&nbspBack
						to Manage Collection Requests
					</a>
					<div class="pull-right">
						<img src="distribution/images/contracts/print_icon.png"
							 class="pull-right view-contract"> <img
							src="distribution/images/contracts/Email_icon.png"
							class="pull-right view-email">
					</div>

				</div>
			</div>

			<div class="row view-heading border-none text-center">
				<h1 class="headingClass_Autoresponse">Collect Payment</h1>
			</div>

			<div class="clearfix padding-sm">
				<div
						class="col-xs-12 sub-container section_summary summary-dotted subContainer-co">
					<div class="row view-summary border-none summary-block">
						<div class="col-xs-12 margin_bottom_15">
							<div class="col-xs-12 col-sm-6 text-xs-right">
								<span class="cust-col-xs-40">Contract Code | Date: </span> <span
									class="font-700 cust-col-xs-60 text-xs-left"><a>{{contractDetails.contractCode}}</a>
									| {{contractDetails.createdDt}}</span>
							</div>
							<div class="col-xs-12 col-sm-6 text-right">
								<span class="cust-col-xs-40">Last Payment Date:</span> <span
									class="font-700 cust-col-xs-60 text-xs-left"><a>{{contractDetails.lastPaymentDt}}
							</a></span>
							</div>
						</div>
						<div class="col-xs-12 margin_bottom_15">
							<div class="col-xs-12 col-sm-6 text-xs-right">
								<span class="cust-col-xs-40">Customer: </span> <span
									class="font-700 cust-col-xs-60 text-xs-left"><a>{{contractDetails.custCode}}</a>
									<a>|</a> <a>{{contractDetails.custName}}</a></span>
							</div>
							<div class="col-xs-12 col-sm-6 text-right">
								<span class="cust-col-xs-40">Last payment Amount:</span> <span
									class="font-700 cust-col-xs-60 text-xs-left">{{contractDetails.lastPaymentAmt}}</span>
							</div>
						</div>
						<div class="col-xs-12 margin_bottom_15">
							<div class="col-xs-12 col-sm-6 text-xs-right">
								<span class="cust-col-xs-40">Monthly Installment Amount:
								</span> <span class="font-700 cust-col-xs-60 text-xs-left">{{contractDetails.monthlyInstallmentAmt}}</span>
							</div>
							<div class="col-xs-12 col-sm-6 text-right">
								<span class="cust-col-xs-40">Current Outstanding Amount:</span>
								<span class="font-700 cust-col-xs-60 text-xs-left">{{contractDetails.currentOutStandingAmt}}</span>
							</div>
						</div>
					</div>

					<div class="row padding-xs">
						<div class="col-xs-12 vo-report-detail co-details">
							<div
									class="col-xs-5 col-sm-12 col-md-12 padding_right15 margin_bottom_10 text-xs-right">
								<label class="custom-label ">Collection Type</label>
							</div>
							<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_10">
								<div class="onoffswitch">
									<input type="checkbox" name="onoffswitch"
										   class="onoffswitchCo-checkbox" id="myonoffswitchCo"
										   ng-model="status_collect" ng-change="setCashUpDiscount()">
									<label class="onoffswitchCo-label" for="myonoffswitchCo">
										<span class="onoffswitchCo-inner"></span> <span
											class="onoffswitchCo-switch"></span>
									</label>
								</div>
							</div>
							<div class="col-xs-12" ng-show="status_collect==false">
								<div
										class="col-xs-5 col-sm-12 col-md-12 text-left text-xs-right">
									<label class="contract-label">Cash-up Discount %</label>
								</div>
								<div class="col-xs-7 col-sm-6 col-md-6 margin_bottom_10">
									<input type="number" name="cashUpPrecentage"
										   class="form-control form_radius" ng-model="cashUpPercentage"
										   min="0" max="{{maxCashUpDiscount}}"
										   ng-required="status_collect===false"
										   ng-class="collectPaymentForm.cashUpPrecentage.$invalid && submitPressed?'emptyField':''"
										   ng-change="setCashUpDiscount()"> <span
										class="errorMsg"
										ng-show="collectPaymentForm.cashUpPrecentage.$invalid && submitPressed">Please
										Enter a Valid Discount Percentage</span>
								</div>
							</div>

							<div class="col-xs-12">
								<div
										class="col-xs-5 col-sm-12 col-md-12 text-left text-xs-right">
									<label class="contract-label ">Payment Type</label>
								</div>
								<div class="col-xs-7 col-sm-6 col-md-6 margin_bottom_10">
									<select
											class="form-control contract-label form_radius c-select arrow_remove"
											ng-model="paymentMethod" name="paymentType"
											ng-class="collectPaymentForm.paymentType.$invalid && submitPressed?'emptyField':''"
											required>
										<option
												ng-repeat="pmtType in contractDetails.paymentMethodList"
												value="{{pmtType.paymentMethodId}}">{{pmtType.paymentMethodName}}</option>
									</select> <span class="errorMsg"
													ng-show="collectPaymentForm.paymentType.$invalid && submitPressed">Please
										Select an Option</span>
								</div>
							</div>
							<div class="col-xs-12"
								 ng-show="getPayemtMethod(paymentMethod).toLowerCase()=='cheque'">
								<div
										class="col-xs-5 col-sm-12 col-md-12 text-left text-xs-right">
									<label class="contract-label ">Cheque Date</label>
								</div>
								<div class="col-xs-7 col-sm-6 col-md-6 margin_bottom_10">
									<div class="col-md-12 custom-date buttonToolbar">
										<input name='chequeDate' maxlength="11" size="11"
											   placeholder="dd-mon-yyyy" datepicker type="text"
											   class="form-control form_radius" ng-model="chequeDate"
											   ng-class="(collectPaymentForm.chequeDate.$invalid && submitPressed && past6monthError) || (collectPaymentForm.chequeDate.$valid && submitPressed && !past6monthError)?'emptyField':''"
											   ng-required="getPayemtMethod(paymentMethod).toLowerCase()=='cheque'">
									</div>
									<span class="errorMsg"
										  ng-show="collectPaymentForm.chequeDate.$invalid && submitPressed && past6monthError">Please
										Select an Option</span> <span class="errorMsg"
																	  ng-show="collectPaymentForm.chequeDate.$valid && submitPressed && !past6monthError">Cheque
										Date can not be more than six months old and can not be a
										future date.</span>
								</div>
							</div>
							<div class="col-xs-12"
								 ng-show="getPayemtMethod(paymentMethod).toLowerCase()=='credit card'">
								<div
										class="col-xs-5 col-sm-12 col-md-12 text-left text-xs-right">
									<label class="contract-label ">Clearing From</label>
								</div>
								<div class="col-xs-7 col-sm-6 col-md-6 margin_bottom_10">
									<select
											class="form-control contract-label form_radius c-select arrow_remove"
											ng-model="selectedBank" name="selectedBank"
											ng-class="collectPaymentForm.selectedBank.$invalid && submitPressed?'emptyField':''"
											ng-options="bank.accountName for bank in bankList track by bank.bankId"
											ng-required="getPayemtMethod(paymentMethod).toLowerCase()=='credit card'">

									</select> <span class="errorMsg"
													ng-show="collectPaymentForm.selectedBank.$invalid && submitPressed">Please
										Select a Bank.</span>
								</div>
							</div>
							<div class="col-xs-12">
								<div
										class="col-xs-5 col-sm-12 col-md-12 text-left text-xs-right">
									<label class="contract-label">Amount Being Collected</label>
								</div>
								<div class="col-xs-7 col-sm-6 col-md-6 margin_bottom_10">
									<input type="number" step="0.01"
										   class="form-control form_radius" ng-model="amount"
										   name="amount"
										   ng-class="collectPaymentForm.amount.$invalid && submitPressed?'emptyField':''"
										   ng-pattern="/^[0-9]+([.]*[0-9]{1,2})?$/"
										   placeholder="Please Enter an Amount Eg: 19.20"
										   ng-disabled="paymentDisable" ng-min="0.01"
										    required>
									<!--ng-max="contractDetails.currentOutStandingAmt"-->
									<span class="errorMsg"
										  ng-show="collectPaymentForm.amount.$invalid && submitPressed">Please
										Enter an Amount</span>
								</div>
							</div>
							<div class="col-xs-12">
								<div
										class="col-xs-5 col-sm-12 col-md-12 text-left text-xs-right">
									<label class="contract-label">Reference No.</label>
								</div>
								<div class="col-xs-7 col-sm-6 col-md-6 margin_bottom_10">
									<input type="text" class="form-control form_radius"
										   ng-model="referenceNo" name="rerenceNo"
										   ng-class="collectPaymentForm.rerenceNo.$invalid && submitPressed?'emptyField':''"
										   placeholder="Please Enter a Reference No." limit-char="30"
										   ng-required="paymentMethod!=null">
									<span class="errorMsg"
										  ng-show="collectPaymentForm.rerenceNo.$invalid && submitPressed">Please
										Enter a Reference No.</span>
								</div>
							</div>

							<div class="col-xs-12">
								<div
										class="col-xs-5 col-sm-12 col-md-12 text-left text-xs-right">
									<span class="contract-label">Remarks (Optional)</span>
								</div>
								<div class="col-xs-7 col-sm-12 padding-none margin_bottom_10">
									<textarea class="form-control form_radius" rows="5" limit-char="400"
											  id="comment" ng-model="remark"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 payment-btn-co">
				<span class="pull-left">
					<button class="btn btn-md contract-btn border-none btn_font_bold"
							ng-click="cancel()" type="button">Cancel</button>
				</span> <span class="pull-right">
					<button class="btn btn-md createroleButton btn_font_bold"
							type="submit">Submit</button>
				</span>
			</div>
		</form>
	</div>
</div>