@font-raleway-regular: ralewayRegular;
@font-arial-regular : arialRegular;
@heading-color: #4F4F4F;
@bottom-border-top: 1px solid #eee;
@light-gray: #eee;

.account-heading {
	display: inline-block;
    color: @heading-color;
    font-size: 32px;
    font-family: @font-raleway-regular;
}
.account-body {
	margin:20px 20px 60px 20px;
	border: @bottom-border-top;
	.side-menu {
		.header {
			margin-bottom: 40px;
			padding: 20px;
			background-color: @light-gray;
			.name {
				display: block;
		        margin-bottom: 10px;
			    font-size: 30px;
			    font-family: ralewayRegular;
			}
			.mail {
				display: block;
				padding-bottom: 10px;
			}
		}
	}
	.change-pwd{
        padding: 30px 18px 18px 40px;
    	border-left: 1px solid #ccc;
		.heading {
			font-size: 22px;
	    	font-family: @font-raleway-regular;
		}
	}
	.pwd-point {
	    float: right;
		margin-top: 9%;
		ul li {
			font-size: 13px;
			font-family: @font-arial-regular;
		}
	}
	.custom-label {
		font-size: 15px;
		font-family: @font-arial-regular;
	}
	.person-info {
	    margin-right: 30px;
		padding: 30px 115px 0 40px;
		border-left: @bottom-border-top;
		border-bottom:2px dotted #ccc;;
		.person-heading {
			color: #333333;
			font-size: 22px;
	    	font-family: @font-raleway-regular;
		}
		.input-margin {
		    margin-left: 11px;
		}
	}
	.role-info {
   		padding: 0px 18px 0 40px;
   		border-left: @bottom-border-top;
   		.role-heading {
   			display: inline-block;
   			margin-top: 20px;
   			margin-bottom: 20px;
   			color: #333333;
   			font-size: 22px;
	    	font-family: @font-raleway-regular;
   		}
	}
}


.change_profile {
	padding-left: 10px;
	top: 23px;
	}
	
.round-image{
    height: 80px;
    width: 80px;
    border-radius: 39px;
}