@back-link-color: #0487D5;
@heading-color: #4F4F4F;
@step-line-color: #eee;
@btn-canel-color: #0487D5;
@btn-create-color: #EC1D25;
@sequence-color:#7D8DB7;
@btn-text-color: #ffffff;
@span-bg-color:#6A6A6A;
@font-raleway-medium : ralewayMedium;
@font-arial-regular : arialRegular;
@font-bold : arial_bold;
@font-raleway-regular: ralewayRegular;
@font-family-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-14: 14px;
@font-size-15: 15px;
@font-size-13: 13px;
@font-size-32: 32px;
@heading-margin-bottom :40px;
@label-margin-bottom : 30px;
@back-margin-top : 40px;
@icon-margin-left :10px;
@create-border-top : 2px dotted #eee;
@bottom-border-top: 1px solid #ccc;
@create-border-width: 56%;
@create-margin-left: 23%;
@body-row-form :0px 35.5% auto;
@body-user-form:0px 5% auto;
@body-user-price:0px 15% auto;
@margin-role-top:10px;



body {
	font-family: @font-family-sans;
	font-size: @font-size-14;
}


*{
outline:none;
}

input::-ms-clear{
display:none;
}

.back-margin{
        margin-top: @back-margin-top;
        }

.margin_null {
    margin:0px;
    .back-margin{
        margin-top: @back-margin-top;
        }
      .back-link{
      color: @back-link-color;
      font-size: @font-size-13;
      font-family: @font-arial-regular;
    }
}

*.main_content_margin {
	margin: 0 13%;
	font-family: @font-raleway-medium;
}

.total_content{
  margin: @body-row-form;
}

.total_content_sequence{
margin:0px 30.5% auto;
}
.price_screen_content{
margin:@body-user-price;
}

.price_screen_content_margin{
margin: @body-user-price;
margin-bottom: @label-margin-bottom;
}
.price_screen_content_auto{
margin:0 10% auto;
}

.price_screen_content_margin_align{
margin: @body-user-form;
margin-bottom: @label-margin-bottom;
margin-left:100px;

}

.margin_right_price_badge{
margin-right:-3%;
}
.heading-bottom{
margin-bottom:@heading-margin-bottom;
}

.headingClass_Autoresponse {
    display: inline-block;
    margin-top: 2%;
    margin-bottom: @heading-margin-bottom;
    color: @heading-color;
    font-size: @font-size-32;
    font-family: @font-raleway-regular;
    }
    
 .stepMarginBottom_create{
  width : @create-border-width;
  margin-left : @create-margin-left;
  border-top : @create-border-top;
  }
  
  
  .stepMarginBottom {
    margin-bottom: @heading-margin-bottom;
    border-top: @create-border-top;
    width: 84%;
    margin-left: 13%;
    }
    
  .form_margin_26 {
	margin-left: 26%;
	   .margin-bottom-30{
	   margin-bottom:@label-margin-bottom;
	   }
}

.margin_bottom_10{

margin-bottom:10px;
       .custom-label{
			     font-family:@font-arial-regular;
			     font-size:@font-size-13;
     }
}

.custom-label{		
			     font-family:@font-arial-regular;		
			     font-size:@font-size-13;		
     }

.cancelButton {
	border-color: @btn-text-color;
	background-color: @btn-text-color;
	color: @btn-canel-color;
	padding: 0px;
	margin-right: 50px;
	margin-left: 30px;
	color: @btn-canel-color;
	outline: none;
	&:hover {
		border-color: @btn-text-color;
	background-color: @btn-text-color;
	color: @btn-canel-color;
	padding: 0px;
	margin-right: 50px;
	margin-left: 30px;
	color: @btn-canel-color;
	outline: none;
	}
	&:focus {
		border-color: @btn-text-color;
	background-color: @btn-text-color;
	color: @btn-canel-color;
	padding: 0px;
	margin-right: 50px;
	margin-left: 30px;
	color: @btn-canel-color;
	outline: none;
	}
	&:active {
		border-color: @btn-text-color;
	background-color: @btn-text-color;
	color: @btn-canel-color;
	padding: 0px;
	margin-right: 50px;
	margin-left: 30px;
	color: @btn-canel-color;
	outline: none;
	}
}

.cancel_color{
background-color:#F9F9F9;
}
.createroleButton {
	background-color: @btn-create-color;
	border-radius: 25px;
	color:@btn-text-color;
	outline: none;
	padding:10px 30px 10px 30px;
	&:hover {
		background-color: @btn-create-color;
		border-radius: 25px;
		color: @btn-text-color;
		outline: none;
		padding:10px 30px 10px 30px;
		border:1px solid transparent;
	}
	&:focus {
		background-color: #EC1D25;
		border-radius: 25px;
		color: @btn-text-color;
		outline: none;
		padding:10px 30px 10px 30px;
		border:1px solid transparent;
	}
	&:active {
		background-color: #EC1D25;
		border-radius: 25px;
		color: @btn-text-color;
		outline: none;
		padding:10px 30px 10px 30px;
		border:1px solid transparent;
	}
}

.stepLine_account{
    border-top:@bottom-border-top;
    width:90%;
    margin-left:5%;

}
.bottom_buttons{
padding-top: 30px;
padding-bottom: 80px;

}
.btn_font_bold{
font-size: @font-size-15;
font-family:@font-bold;
}
		
	.stepLine {
	width: 34%;
    margin: 0 11px auto;
    margin-top: 13px;
    border-top: @bottom-border-top;
    }
    
    
    .stepLine_price{
    width:31%;
    margin-top: 13px;
    border-top: @bottom-border-top;
    }
    .margin_5_left{
    	margin-left:5%;
    }
    .stepName{
        font-family: @font-raleway-regular;
    font-size: 20px;
    
    }
    
    .role-left{
    float:left;
    margin-left: 10px;
    }

span.step{
background: @span-bg-color;
    color: @btn-text-color;
 font-size:15px;
    display: inline;
    padding: 5px 9px;
    margin-right: 10px;
    border-radius: 50%;

}

.span_margin{
margin-left:5%
}

  .c-select {
	display: inline-block;
	max-width: 100%;
	text-align: left;
	-webkit-appearance: none;
	padding: .375rem 1.75rem .375rem .75rem;
	padding-right: .75rem \9;
	color: #55595c;
	vertical-align: middle;
	background: #fff
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC)
		no-repeat right .75rem center;
	background-image: none \9;
	-webkit-background-size: 8px 10px;
	background-size: 8px 10px;
	border: 1px solid #ccc;
	-moz-appearance: none;
}

	.dropdown_country{
	width:100%;
	margin-top:-16px;
	
	li:not(:first-child){
	padding-top:8px;
	}
	li:last-child{
	padding-bottom:8px;
	}
	}
	.dropdown_countryCreateEditPage{
		width:100%;
		margin-top:-6px;
		
		li:not(:first-child){
	padding-top:8px;
	}
	li:last-child{
	padding-bottom:8px;
	}
	}
	.text-margin{
	margin-left:15px;
	}
	
	.text_top{
	margin-top:5px;
	}

	
	.captcha_create {
    background-color:@sequence-color;
    width: 197px;
    float: right;
    margin-right: -41%;
    margin-top: 6.5%;
    margin-left: 9%;
    border-radius:5px;
    }
    
    .margin-sequence{
    margin-top:3px;
    }
    
    .sequence_color {
	padding: 13px !important;
	padding-left: 15px;
	padding-right: 15px;
}

.sequence_cap {
	color: @btn-text-color;
	font-weight: bold;
}
.marginbottom_10{
margin-bottom:10px;
}
.seq_margin{
margin-left:12%;
}

.select_all{
margin-left:10px;
}

.ccContainer1 {
	padding-left: 6%;
	padding-top: 2%;
	width:560px;
	background: #F9F9F9;
	border: @bottom-border-top;
	border-radius: 1px;
}

.ccContainer2 {
	width:560px;
	height: 350px;
	background: #F9F9F9;
	border: @bottom-border-top;
	border-radius: 1px;
}

.margin_save{
margin-bottom:0px;
}

.padding_10{
padding-left:10px;
}

a{
cursor:pointer;
}

.margin_icon{
margin-left:10px;
}

.create_captcha_color {		
    color: @btn-text-color;	
    font-size: @font-size-13;
}

.no_cross::-ms-clear {		
    display: none;		
}

.margin_top_modal{
margin-top: 7px;
}
	.padding_left_5{		
padding-left:5px;		
}		
.width_city_btn{		
width:90%;		
}		
.text_city{		
width: 69%;		
    height: 27px;		
}

.scrollbar_user{
padding-top: 2%;
	padding-left: 2%;
	height: 183px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: -26px;
}


.scrollbar_country{
	padding-top: 2%;
	padding-left: 2%;
	height: 183px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 0px;
}

.prepopulate-list {
	padding: 6px 0;
    margin: 0;
	height: 183px;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
}

.prepopulate-list::-webkit-scrollbar-track,
.scrollbar_user::-webkit-scrollbar-track,
.scrollbar_country::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.prepopulate-list::-webkit-scrollbar,
.scrollbar_user::-webkit-scrollbar,
.scrollbar_country::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.prepopulate-list::-webkit-scrollbar-thumb,
.scrollbar_user::-webkit-scrollbar-thumb,
.scrollbar_country::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #CDCCCC;
}

.prepopulate-list li {
	cursor: pointer;
    padding: 4px 6%;
}
.prepopulate-list li:hover:not(.no-effect),
.prepopulate-list li:active:not(.no-effect) {
	background: #1779bd;
    color: #fff;
}

.font_fa{
font-size: 18px;
   font-weight: bold;
}
.back_modal{
margin-left:7px;
}

.badge_icon , .badge_icon2{
margin-top: -6px;
    }
    
    .badge_icon{
    margin-right: 6px;
    }
    
    
    .badge_icon2{
    margin-right:5px;
    }
    .badge_margin{
    margin-left:3px;
    }
    
    
  .form-control:focus {
   border-color:#ccc;
   outline: 0;
   -webkit-box-shadow:none !important;
   box-shadow: none;
} 

.top_margin_10{
margin-left: 14px;
}

.icon_price{
float: right;
    margin-right: -43px;
    margin-top: -28px;
    }
    
    
    .dropdown_price{
    width: 100%;
    margin-top: 4px
    }
    .dropdown-menu{
    li:not(:first-child){
    cursor:pointer;
    }
    
    }
.cust_pad{
padding:5px;
}
.leftMargin{		
margin-left: 16%;		
}		
.previousButton{		
	background-color: #ccc;		
    margin-right: 10px;		
}		
.leftMarginPart2{		
    margin-left: 114px;		
}		
.paymentBlock{		
	position: relative;		
    background: #f9f9f9;		
    padding-right: 4%;		
    padding-left: 4%;		
    padding-top: 20px;		
    margin-bottom: 25px;		
    border: 1px solid #9e9e9e;		
      		
}		
.addMore{		
    border-top: 1px solid #ccc;		
    padding-bottom: 5px;		
    padding-top: 5px;		
    color:#0487D5;		
}		
.previousButton,.previousButton:hover{		
    background-color: #f9f9f9;
    border-radius: 25px;
    color: #777777;
    outline: none;
    padding: 10px 30px 10px 30px;
    margin-right: 10px;
    border: 1px solid #ccc;	
}		
.stepline-customer {		
   width: 44%;		
   float: left;		
   margin-top: 8px;		
   border-top: 1px solid #F9F9F9 ;		
}		
.remarksCustomer{		
    margin-left: -45%;		
}		
.navBarCustomer{		
	margin-bottom:50px;		
}		
.crossCustomer{		
	position:absolute;		
	top: -13px;		
    right: -11px;		
    background: #fff;		
}		
.no{		
	 position: absolute;		
    top: 20px;		
    left: 21px;		
}		
.adddItemCustomer{		
	margin-right:10px;		
}		
.addCustomerOpt{		
	display:inline-block;		
	margin-top:4px;		
}		
 .leftMarginCustEdit{		
margin-left:20px;		
}		
.lrPadding{		
	padding-left:25px;		
	padding-right:25px;		
	padding-top: 20px;		
    overflow: auto;		
}		
.part1_ce{		
	overflow:auto;
	border: 1px solid #ccc;		
	margin-bottom: 20px;		
}		
.headingBcg{		
	position: relative;		
	background:#f9f9f9;		
    margin-bottom: 0px;		
    margin-top: 0px;		
    padding-bottom:8px;		
    padding-top: 8px;		
    padding-left: 20px;		
    border-bottom: 1px solid #ccc;		
    font-weight: bold;		
    font-size: 1em;		
}		
.adjPadding{		
padding-left:20px;		
padding-right:20px;		
}		
.remarks{		
    padding-bottom: 35px;		
}		
.addressBlockChanges{		
	border-bottom: 1px solid #ccc;		
    margin-left: 20px;		
    margin-right: 20px;		
    margin-bottom: 18px;		
    padding-top: 20px;		
    overflow: auto;		
}		
.table1{		
display:flex;		
}		
.subtable1{		
flex:0.05;		
background: #F5F5F5;		
padding:0px;		
}		
.subtable2{		
	flex:1;		
}		
.pmtBlockEdit{		
    margin-top: 30px;		
    margin-left: 20px;		
    margin-right: 20px;		
}		
.cancelBtnEc{		
    margin: 0;		
    padding: 0px;		
    color: #0487D5;		
    background-color: #ffffff;		
    border-color: #ffffff;		
    outline: none;		
}		
.rightAlign{		
text-align:right;		
}		
.boldFont{		
font-weight:bold;		
}		
.viewCustomerDetails{		
	border-bottom: 1px solid #ccc;		
    margin-bottom: 20px;		
    padding-left: 0px;		
    padding-right: 0px;		
    margin-left: 25px;		
    margin-right: 25px;		
    padding-bottom: 15px;		
			
}		
.remarksBlock{		
    padding-top: 0px;		
    border-bottom: none;		
}		
.eiPadding{		
	padding-right:10px;		
    position: absolute;		
    top: 6px;		
    right: 0px;
    cursor:pointer;		
}		
.marginEmailTop{		
	margin-top:34px;		
}		
.addressdetailsBlock{		
	border-bottom-width: 0px;		
}		
.navBcg{		
background:#f5f5f5;		
} 		
.higlightNav{		
    border-left: 4px solid #153795 !important;
    border-right: 0 !important;		
} 
.paddingTopUl{
	padding-top:5px;
	padding-bottom:5px;
}

.hyphen{
margin-top:5px;
}


.margin_10_bottom{
margin-bottom:@margin-role-top;
}

.font_regular{
font-family:@font-raleway-regular;
font-weight:bold;
}

.regionAddMargin{
	margin-left:10px;
}


.regionPadding{
padding-left:10px;
}
.angle{
font-size: 0px; line-height: 0%; width: 0px;
border-bottom: 20px solid #77c;
border-left: 10px solid #f6f6f6;
border-right: 10px solid #f6f6f6;
}
.ccOntainerMarginBottom{
	margin-bottom:20px;
}

.arrow-up {
   position: relative;
   background: #F9F9F9 ;
   border: 1px solid #ccc;
   margin-top: 7px;
}
.arrow-up:after, .arrow-up:before {
   bottom: 100%;
   left: 0%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}
.arrow-up:before {
   border-color: rgba(204, 204, 204, 0);
   border-bottom-color: #ccc;
   border-width: 11px;
   margin-left: 12px;
}
.arrow-up:after {
   border-color: rgba(249, 249, 249, 0);
   border-bottom-color: #F9F9F9 ;
   border-width: 10px;
   margin-left: 13px;
}

.marginTopDropdown{
	margin-top:2px;
}		


.marginTopStateAdd{
	margin-top:-25px;
}
.iconMarginBottom{
	margin-bottom: 5px;
}
.cashUpMarginTop{
	margin-top:20px;
}	
.marginBottomCSLH{
	margin-bottom:40px;
}
.customWidthHeader{
	width:25%;
	margin-left:-6px;
}


.marginLink0{
	margin-right:0px;
}
.marginLin1{
margin-right:-86%;
}

.dropdown_role{
    min-width: 110px;
    margin-top:-10px;
}


.li_margin{
margin-left:4px;
}

.margin-left-country{
margin-left:10%;
}
.regSearch{
	cursor:pointer;
	display:none;
}
/* cust-chkbox */
.cust-radio,
.cust-chkbox {
  position: relative;
  margin-top: 0;
  word-wrap: break-word;
  padding-right: 10px;
}
.cust-radio label,
.cust-chkbox label {
	font-size: 12px;
	margin-left: 3px;
}
.cust-radio label > span,
.cust-chkbox label > span {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 0px;
  background: #616161;
  border: 1px solid #fff;
  border-radius: 3px; 		
}
.cust-radio label > span {
	border-radius: 7px;
}
.cust-radio label > span .cust_margin,
.cust-chkbox label > span .cust_margin {
	width: 13px;
	height: 13px;
	top:4px;
	left:3px;
}
.cust-radio.gray-radio label > span,
.cust-chkbox.gray-checkbox label > span {
 	background: #ffffff ;
 	border: 1px solid #cccccc;
}
.cust-radio.white-radio label > span,
.cust-chkbox.white-checkbox label > span {
 	background: #ffffff ;
 	border: 1px solid #616161;
}
.cust-chkbox label > span:after {
  content: '';
  width: 8px;
  height: 4px;
  position: absolute;
  top: 4px;
  left: 3px;
  border: 2px solid #616161;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
		  transform: rotate(-45deg);
}
.cust-radio label > span:after {
	content: '';
  	display: block;
    width: 5px;
    height: 5px;
    margin: 0;
    border-radius: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
  	background: transparent;
}
.cust-radio label > span:hover::after,
.cust-chkbox label > span:hover::after {
  opacity: 0.5;
}
.cust-radio input[type=radio],
.cust-chkbox input[type=checkbox] {
  visibility: hidden;
  margin-right: 10px;
}
.cust-chkbox label input[type=checkbox]:checked + span {
  background: #fcfff4;
}
.cust-radio label input[type=radio]:checked + span {
	background: #ffffff;
}
.cust-chkbox label input[type=checkbox]:checked + span:after {
  opacity: 1;
}	
.cust-radio label input[type=radio]:checked + span:after {
	background: #1779BD;
	opacity: 1;
}
.cust-radio input[type=radio]:checked + label > span,
.cust-chkbox input[type=checkbox]:checked + label > span {
  background: #ffffff;
}
.cust-radio input[type=radio]:checked + label > span:after,
.cust-chkbox input[type=checkbox]:checked + label > span:after {
  opacity: 1;
}

.vo-verify .cust-radio label { margin-top: 3px; }
.vo-verify .cust-chkbox label { margin-top: 2px; }
/* end cust-chkbox */

.custom_Grid_padding{
padding-left: 10px;
padding-right: 10px;
}
.addRemarkslabelBlock{
padding-left:15px;
}
.addRemarkButton{
margin: 20px 0px 10px 0px;
padding-right: 15px;
}
.subFont{
font-size:25px;
};
.borderNone{
border:none !important;
}
.commentLine{
color:#4F4F4F;
}
.addressLabel{
	min-height:65px;
	display:block;
}
.back-margin{
	margin-top:30px !important;
}
.minHeightLabel{
	height:30px;
	margin: 0px;
}
.elongatePadding{
	padding-left:35px;
	padding-right:35px;
}
.textColorBlack{
	color:black !important;
}

.passList{
font-size:12px;
cursor:pointer;
padding: 5px 20px;
}

.headingPassword{
font-size: 22px;
font-family: ralewayRegular;
text-align:center;
}

textarea {
   resize: none;
}

.remarksDanger{
	padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 5px;
    color: #EC1D25;
    text-align: left;
    background-color:#f2dede;
}

.backLink{
color:#0487D5;
outline:none;
float:none;
&:hover {
color:#0487D5;
outline:none;
float:none;
}
&:focus{
color:#0487D5;
outline:none;
float:none;
}
&:active{
color:#0487D5;
outline:none;
float:none;
}
}

.createAnother{
background-color: #f9f9f9;
color:#777;
border:1px solid #CCCCCC;
border-radius:24px;
outline:none;
float:none;
margin-bottom:5px;
&:hover{
background-color: #f9f9f9;
color:#777;
border:1px solid #CCCCCC;
border-radius:24px;
outline:none;
float:none;
margin-bottom:5px;
}
&:active{
background-color: #f9f9f9;
color:#777;
border:1px solid #CCCCCC;
border-radius:24px;
outline:none;
float:none;
margin-bottom:5px;
}
&:focus{
background-color: #f9f9f9;
color:#777;
border:1px solid #CCCCCC;
border-radius:24px;
outline:none;
float:none;
margin-bottom:5px;
}
}

.createDraft{
border-radius:24px;
color:white;
background-color:#EC1D25;
outline:none;
float:none;
	&:hover{
	border-radius:24px;
	color:white;
	background-color:#EC1D25;
	outline:none;
	float:none;
	}
		&:active{
		border-radius:24px;
		color:white;
		background-color:#EC1D25;
		outline:none;
		float:none;
		}
	&:focus{
	border-radius:24px;
	color:white;
	background-color:#EC1D25;
	outline:none;
	float:none;
	}
}

.footerBorder{
padding:15px;
border-top:none;
text-align: right;
}

.floatReject{
float:none;
}

.rejectBtn{
	background-color: #f9f9f9;
    color: #777;
    border: 1px solid #CCCCCC;
    border-radius: 24px;
    outline: none;
    float: none;
    padding: 10px 30px 10px 30px;
 &:hover{
 	background-color: #f9f9f9;
    color: #777;
    border: 1px solid #CCCCCC;
    border-radius: 24px;
    outline: none;
    float: none;
    padding: 10px 30px 10px 30px;
 }
&:active{
	background-color: #f9f9f9;
    color: #777;
    border: 1px solid #CCCCCC;
    border-radius: 24px;
    outline: none;
    float: none;
    padding: 10px 30px 10px 30px;
}
&:focus{
	background-color: #f9f9f9;
    color: #777;
    border: 1px solid #CCCCCC;
    border-radius: 24px;
    outline: none;
    float: none;
    padding: 10px 30px 10px 30px;
}
}


.action_tick_btn{
    padding: 0px;
    border: 0px;
    outline: none;
    background-color: transparent;
}

.centerTest{
	text-align:center;
}