@header-border: 1px solid #CCC;
@menu-border: 1px solid #757575;
@header-color: #4D4D4D;
@white-color: #FFFFFF;
@search-brg-color: #757575;
@alink-color: #1779BD;
@font_regular: arial_regular;
@header-blue: #153795;


header {
    .navbar-toggle {
        float: left;
        display: block;
        background: @white-color;
        border-radius: 0;
        margin: 0;
        height: 44px;
        padding: 0 12px 0 10px;
        font-size:1.5em;
        color: @header-blue;
    }
    .collapsed {
        background: @header-blue;
        color: @white-color;
    }
    
}
.login-header-logo {
	img {
	    width: 100%;
	    height: 50px;
	    margin: 2px 0 auto;
	    padding-left:15px;
	    padding-right:15px;
	}
}
.header-logo {
	float: left;
    padding: 2px 6px;
    border-bottom: @header-border;
    border-left: @header-border;
    cursor:pointer;
    background: #fff;
	img {
		height: 39px;
        width: auto;
	}
}
.header-right {
    height: 44px;
    padding: 0 0 0 20px;
    color: @white-color;
    background-color: @header-color;
    font-family: @font_regular;
    overflow: hidden;
    .country-text {
        padding: 15px 0 10px;
        font-weight: bold;
        font-size: 12px;
    }
    .search-group {
        float: right;
        margin-top: 5px;
        input[type="text"] {
           width:250px;
            color: #AAAAAA;
            font-weight: 900;
            background:@search-brg-color;
            border-radius: 20px;
            border: none;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            transition: all .5s ease;
        }
	    img {
	        float: right;
		    margin-top: -29px;
		    margin-right: 10px;
	    }
        .mac-style:focus {
            width: 445px;
            color: @header-color;
            background-color: @white-color;
            font-weight: bold;
        }
    }
    .header-menu {
        float: right;
        cursor: pointer;
		position: inherit;
        .dropdown-menu>li>a {
        	padding: 5px 13px;
        	color: @alink-color;
        }
    	.other-links {
    		display: block;
    		margin-left: 20px;
			padding: 12px 20px 10px 20px;
		    border-left: @menu-border;
		    
		    span {
		    	font-size: 12px;
		    	font-family:@font_regular;
		    	font-weight: bold;
		    }
		    .down-arr {
			    width: 12px;
			    margin-left: 5px;
		    }		    
    	}
    	.other-dropdown {
    		right: 12px;
    	}
    	.account-links {
    		display: block;
			padding: 8px 20px 9px 20px;
            border-left: @menu-border;
            .down-arr {
			    width: 12px;
			    margin-left: 5px;
			    margin-top: 10px;
		    }
    	}
    	.account-dropdown {
        	.user-name {
        		margin-bottom: 5px;
			    padding: 5px 5px;
			    border-bottom: @header-border;
        		color: @header-color;
        		font-weight: 900;
        		text-align: center;
        	}
    	}
    	.notification-link {
    		display: block;
			padding: 8px 20px 9px 20px;
            border-left: @menu-border;
            position: relative;
    	}
    	.notification-text {
    		margin-left: 10px;
    		color: @header-color;
    		font-weight: 900;
    	}
        .notification-cnt {
			position: absolute;
			top: 9px;
    		left: 34px;
			font-size: 12px;
        }
    	.notification-dropdown {
	    	min-width: 200px;
	    	max-height:300px;
	    	overflow-y:scroll;
    	}
    	.usericon-notify {
   			margin-left: 10px;
    	    padding: 10px 0;
    	}
    	.seeall_notify 
		{		    
			margin-bottom: -10px;
		    padding: 9px;
		    text-align: center;
		}
    }
}


.other-links:focus{
background-color:#B6B6B6;
}

#OtherLinks:hover, #UserNotifications:hover, #AccountSettings:hover{
background-color:#757575;
}

ul.first_nav {
	li {
		text-transform: uppercase;
		.sub-menu-wrapper {
			position: fixed;
			left: 0;
			width: 100%;
			li {
				text-transform: capitalize;
				background: #f5f5f5;
				border-left: 0;
				span { font-weight: normal; color: #808080;}
			}
		}
	}
}
ul.second_navbar {
    border-bottom: 1px solid #e8e8e8;
}

.header-up{
		position: fixed;
    	width: 100%;
    	background: #fff;
    	display:block;
    	z-index: 1000;
}
.navbar-up{
		position: fixed;
    	top: 41px;
    	width:100%;
    	z-index: 2;
    	display:block;
}
.hideBar{
	display:none;
}
.mainContent{
	padding-top:176px;
}

.notification-list{
	color:black;
	padding:0 15px;
}