@btn-red: #EC1D25;
@custom-label-color: #484848;
@white-color: #FFFFFF;
@alink-color: #1779BD;
@font-museosans300: MuseoSans_300;
@login-border-bottom: 1px solid #ccc;
@font-raleway-medium : ralewayMedium;
@font-arial-regular : arialRegular;
@font-bold : arial_bold;
@font-raleway-regular: ralewayRegular;

.top-banner {
	background-image: url('../images/loginImg.PNG');    
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    background-size: 100%;
    background-position: 25% 0;
    background-repeat: no-repeat;
}
.top-banner span {
	/*padding-top: 57.5%;*/
	padding-top: 67.5%;
    display: block;
    height: 0;
}
.bottom-banner {
	background-image: url('../images/logIn-bottom-Logo.png'); 
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.bottom-banner span {
	padding-top: 10%;
    display: block;
    height: 0;
}
.login_col4{
margin-left:54px;
}
.login-content {
	padding: 0 8% 30px;
	font-family:@font-arial-regular;
}
.logo-div {
    margin: 20px 0 15px;
	div {
	    font-size: 30px;
	    font-weight: normal;
	    font-family:@font-raleway-regular;
	    margin: 30px 0 0;
	    text-align: center;
	}
}

.label-email {
    margin: 20px 0 15px;
	div {
	    font-weight: normal;
	    font-family:@font-raleway-regular;
	    margin: 30px 0 0;
	    text-align: center;
	}
}

.login-box {
    overflow: hidden;
    margin: 0 auto;
}
.login-form {
	font-size: 16px;
	.custom-label {
	
		margin-bottom: 10px;
		color: @custom-label-color;
		font-family:@font-arial-regular;
		font-size:14px;
	}
	.custom-input {
		height: 42px;
	}
	.buttonToolbar {margin-bottom: 30px;}
}
.login-remember {
	border-bottom: @login-border-bottom;
	.checkbox {
		display: inline-block;
		margin-bottom: 30px;
		font-size: 14px;
		input[type=checkbox] {
			margin-left: -16px;
	   		zoom: 1.2;
		}
	}
}
.login-forgot,
.download-apk,
.download-apk:hover {
	color: @alink-color;
	font-size: 13px;
}
.login-btn {
	height: 40px;
	color: @white-color;
    background-color: @btn-red;
	border-radius: 24px;
	padding: 0 25%;
}
.shiftErrorMsgTop{
	font-size: 14px;
    position: absolute;
}
.login-btn:hover,.login-btn:focus{
color:@white-color;
}


.loadingIcon_login{
margin-left: 80px;
    margin-top: -20px;
}

.login-content {
	.msg {
		padding: 5px 0;
		margin: 0 0 40px 0;
		border-radius: 5px;
	    text-align: center;
	}
	.msg.danger{
		border:1px solid #EC1D25;
		color: #EC1D25;
	}
	.msg.success{
		border:1px solid #97c584;
		color: #80b969;
	}
	.sales-rep {
		text-align: center;
	    font-size: 16px;
	    font-weight: 700;
	    margin-top: 10%;
	    p {margin: 0;}
	}
}

.password-modal {
	.adminButton, .adminButton:hover, .adminButton:focus, .adminButton:active {
		font-size: 12px;
	}
}