@float-right:right;
@position :absolute;
@margin-left-15:15px;
@margin-left-20:20px;
@margin-left-60:60px;
@label-margin-bottom : 30px;
@okay_margin-bottom:40px;
@question-padding:44px;
@padding-bottom_question:10px;
@label-margin-bottom_10 : 10px;
@font-arial-regular : arialRegular;
@font-raleway-regular:ralewayRegular;
@font-size-20:20px;
@font-size-32:32px;
@line-width:84%;
@outline-none:none;
@margin-left-line:13%;
@body-row-sales :0px 15.5% auto;
@color-white:#ffffff;
@heading-color: #4F4F4F;
@okay_button_color:#1779BD;
@create-border-top : 2px dotted #eee;
@bottom-border-top: 1px solid #eee;

.plus_position, .times_position{
	 float:@float-right;
      margin-top:-36px;
	}

.plus_margin{
position:@position;
margin-left:5px;
}

.times_margin{
position:@position;
margin-top: 7px;
    margin-left: 15%;

}

.arial_regular_font{
font-family:@font-arial-regular;
font-weight:700;
font-size:@font-size-20;
}

.arial_regular_font_size{
font-family:@font-arial-regular;
font-size:12px;
font-weight:700;
}

.arial_regular_span{
font-family:@font-arial-regular;
font-size:@font-size-20;
}
.margin-10_bottom{
margin-bottom:@label-margin-bottom_10;
}


.headingClass_Autoresponse_welcome{
    display: inline-block;
    margin-top: 2%;
    color: @heading-color;
    font-size: @font-size-32;
    font-family: @font-raleway-regular;
    }
 .stepMarginBottom_sales {
    border-top: @create-border-top;
    width: @line-width;
    margin-left: @margin-left-line;
    }
    .form_padding_14{
     padding-left: 14%;
    }
    
    .padding_15{
    margin-left: 10px;
    padding-bottom: 15px;
    margin-bottom:@okay_margin-bottom;
    
    }
    .padding_12{
    padding-bottom:12.5%;
    }
    .padding_44_bottom{
    padding-bottom:@question-padding;
    }
    
    .stepLine_account_sales{
    border-top:@bottom-border-top;
    width: @line-width;
    margin-left: @margin-left-line;
    }
    
    .progress{
	width: 270px;
	border: @bottom-border-top;
	border-radius: 5px;
	background-color:@color-white;
	height: 10px;
	float: none;
	margin-top: 20px;
	margin-left: 12.5%;
	background-image: none;
}

.progress-bar{
	
	background-color:@okay_button_color;
	background-image: @outline-none;
}
   .question_font{
   font-family: @font-arial-regular;
    font-weight: 600;
   }
   
   .QuestionBtn{
   border-color: @color-white;
    background-color: @color-white;
    color:@heading-color;
    outline: @outline-none;
    }
    
    .bottom_buttons_padding{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left:12%;
    }
    .nextButton {
	color: @color-white;
	outline: @outline-none;
	background-color: @color-white;
	margin-right: @margin-left-20;
}
.prevButton{
color: @color-white;
	outline: @outline-none;
	background-color: @color-white;

}
.font_size{
font-size:12px;
margin-right: 15%;
}

.okayButton,.okayButton:hover,.okayButton:focus,.okayButton.focus {
	background-color:@okay_button_color ;
	border-radius: 2px;
	color: white;
	outline: @outline-none;
	font-size: 13px;
    font-weight: 700;
    width: auto;
    padding: 6px 30px;
    float: left;
    margin-right: 20px;
}

.okayButtonSales,.okayButtonSales:hover,.okayButtonSales:focus,.okayButtonSales.focus {
	background-color:@okay_button_color ;
	border-radius: 2px;
	color: white;
	outline: @outline-none;
	font-size: 13px;
    font-weight: 700;
    float: left;
    margin-right: 20px;
}

.arial_bold_font{
font-size:@font-size-20;
font-family:@font-arial-regular;
padding-bottom:@padding-bottom_question;
}

.total_content_sales{
margin:@body-row-sales;
}

.padding_20_bottom{
padding-bottom:19.5%;
}
  
  .padding_14_bottom{
padding-bottom:14%;
}

.padding_15_bottom{
padding-bottom:15.5%;
}
.padding_4_bottom{
padding-bottom:4%;
}
.margin_10_bottom{
margin-bottom:10px;
}

.upload_label{
font-family:@font-arial-regular;
margin-bottom:0px;
}
.upload_btn{
   margin-left: 20px;
   margin-top: 10px;
}
    
 .change_bottom{
 margin-bottom:26.5%;
 } 
 
 .change_right{
 margin-left: 12%;
 }  
 
 .transition1{
 -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
 }
 
 
 .stepLine_account_rep{
 width:109%;
 border:@bottom-border-top;
 }
 
 .name_height{
 height:405px;
 
 }
 
 .btn_remarks{
 margin-top: 17px;
    margin-bottom: 19px;
 }
 
 .margin-left_22{
 margin-left: 22%;
 }
 
 .btnStyleSales{
 margin-top: 5px;
 margin-left: 8px;
 margin-bottom: 5px;
 }
 
 .btnBorderSales{
 border: 1px solid #ccc;
 border-radius: 10px;
 }
 
 .uploadAlign{
 margin-top:10px;
 padding-left:15px;
 }
 
 .regTextAreaWidth{
 width:75%;
 }
 
 .uploadAlignText{
 margin-bottom:10px;
 }
 
 .okayButtonMargin{
     margin-top: 6px;
    margin-left: 8px;
 }
 
 .ok_wrapper_style{
 border: 1px solid #ccc;
    border-radius: 5px;
    }
    
    .okayButtonSales, .okayButtonSales:hover, .okayButtonSales:focus, .okayButtonSales.focus{
    background-color: #1779BD;
    border-radius: 2px;
    color: white;
    outline: none;
    font-size: 13px;
    font-weight: 700;
    width: auto;
    float: left;
    margin-right: 20px;
    }
    
    .headingColorSales{
    font-weight:700;
    color:#4F4F4F;
    }
    
    .remarksStyle{
     color:#4F4F4F;
    }
    
    .supvisorColor{
    color:#000000;
    }
    
    .checkStyleBox{
    height: 25px;
    width: 50px;
    }