@margin-drop-top:20px;
@margin-sales-top:20px;
@outline_none:none;
@btn-create-color: #EC1D25;
@create-btn-color: #E60505;
@bcakground-color-modal:#eee;
@btn-text-color: #ffffff;
@background-color-trans:transparent;
@font-arial-regular : arialRegular;
@font-family: "MuseoSans_900";
@print-icon: "../images/contracts/print_icon.png";
@email-icon: "../images/contracts/Email_icon.png";


.drop_style{
height: 30px;
    width: 145px;
    margin-bottom: 5px;
    border-radius: 5px;
    }
    
    .drop_margin{
    margin-top:@margin-drop-top;
   
    }
    
    .attach_margin{
    margin-top:@margin-drop-top;
     cursor:pointer;
    }
    
    .tick_btn{
    padding:0px;
    border:0px;
    margin-right: 13px;
    margin-top:@margin-sales-top;
    outline:@outline_none;
    background-color:@background-color-trans;
    
    }
    
    .undo_btn{
     border:0px;
     background-color:@background-color-trans;
     float:right;
     margin-right:3.5%;
     outline:@outline_none;
    }
    
    .undo_btn_manage{
    padding:0px;
    border:0px;
    float:right;
    margin-right: 40px;
    margin-top:@margin-sales-top;
    outline:@outline_none;
    background-color:@background-color-trans;
    
    }
    
    
    .modal_sales{
    position: relative;
    padding-top: 10px;
}

margin_top_15{
margin-top:@margin-sales-top;
}

.modalBtnWidth_sales{
width:70px;
border-radius: 18px;
}

.remarks_width{
width:180px;
word-wrap: break-word;

}
.margin_left_right_btn{
margin-left:150px;
margin-right:134px;
}
.raleway_heading_22{
font-family: @font-arial-regular;
font-size:20px;
}
.blank_salesRep{
margin-top:30px;
}

.blank_margin_bottom{
margin-bottom:30px;
}

.btn_okay_color{
margin-top: 7px;
    margin-left: 20px;
    color: @btn-text-color;
    background-color: @btn-create-color;
    border-radius: 24px;
    border-style: @outline_none;
    border-width: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn_okay_color:hover{
color: @btn-text-color;
}

.template{
background-color: #DCE4EA;
display: none; 
text-align: center;
}

.side_li{
background-color: white;
    border: none;
    padding: 1px;
    float: right;
    margin-right: 10px;
}

.sales_dropdown{
left: 86%;
top:50px;
}

.modal_upload{
    padding: 10px;
        background-color: @bcakground-color-modal;
    
}

.sales_height{
height:610px;
width:525px;
}

.circle{
border-radius: 50%;
width: 250px;
    height: 250px;
    background:#eee;
    border: 1px solid #eee;
    margin-left:160px;
}

.modal_upload_link{
position:relative;
padding:0px;
}
.upload_text_field{
padding: 30px 0 10px 50px;
}
.upload_botton{
padding: 30px 0 10px 50px;
}
.sales_border{
border-radius:5px;
}

.upload_margin_css{
margin-top: 10px;
    margin-left: 15px;
    }
    
    .large-modal{
    position: fixed;
    right: 13%;
    }
    
    .modalUploadImg{
    margin-top:30px;
    }
    
    .uploadBox_style{
    border: 1px solid #eee;
    width: 200px;
    height: 80px;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    .drag_color{
    color:#ccc;
    }
    
    .margin_30_top{
    margin-top: 30px;
    }
    
    .errorText_style{
    font-size: 12px;
    margin-top: 40px;
    text-align: center;
    }
    .bottom_buttons_sales{
    padding-top:15px;
    }
    
    .modal-open .modal{
    overflow-y:hidden;
    overflow-x:hidden;
    }
    
    .prevField{
    opacity:0.3;
    font-size: 18px;
    }
    .nextUpcoming{
    opacity:0.3;
    }
    
    
    .padding_heading{
    padding-top:30px;
    font-weight:900;
    
    }
    
    .alignment{
    margin-left: 30%;
    margin-top: 12%;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 30px;
    }
    
    .btn_create_color {
    margin-top: 7px;
    margin-left: 20px;
    padding-left: 15px;
    color: #FFFFFF;
    background-color: #E60505;
    border-radius: 24px;
    &:hover{
    margin-top: 7px;
    margin-left: 20px;
    padding-left: 15px;
    color: #FFFFFF;
    background-color: #E60505;
    border-radius: 24px;
    }
    &:focus{
    margin-top: 7px;
    margin-left: 20px;
    padding-left: 15px;
    color: #FFFFFF;
    background-color: #E60505;
    border-radius: 24px;
    }
    &:active{
    margin-top: 7px;
    margin-left: 20px;
    padding-left: 15px;
    color: #FFFFFF;
    background-color: #E60505;
    border-radius: 24px;
    }
    }
    .btn_create_color_upload {
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 12px;
    color: #FFFFFF;
    background-color: #E60505;
    border-radius: 24px;
    }
    .btn_create_color_upload:hover {
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 12px;
    color: #FFFFFF;
    background-color: #E60505;
    border-radius: 24px;
    }
    
    .btn_create_color_invite{
    color: #FFFFFF;
    background-color: #E60505;
    border-radius: 24px;
    }
    .btn_create_color_invite:hover{
    color: #FFFFFF;
    background-color: #E60505;
    border-radius: 24px;
    }
    
    .initial_hide{
    display:none;
    }
    
    .manageFontColor{
		color:#ccc;
		font-weight: 100;
		}
		.alignment_reg{
			text-align:left;
			}
   
   .undo_btn_manage_temp{ 
   padding: 0px;
    border: 0px;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    outline: none;
    background-color: transparent;
    }
    
    .fa-max {
				float: left;
    			margin-top:15px;
    			cursor: pointer;
			}
			.fa-reg {
			    float: left;
    			cursor: pointer;
    			margin-top:15px;
    			padding-left:15px;
			}
			
			.btn_okay_color_sales{
				position: absolute;
			    background-color: @create-btn-color;
			    border-radius: 25px;
			    padding-left: 30px;
			    padding-right: 30px;
			    left: 58%;
			    color: @btn-text-color;
			    border-style: none;
			    border-width: 0px;
			    top:1px;
			    &:hover{
			    
			    position: absolute;
			    background-color: @create-btn-color;
			    border-radius: 25px;
			    padding-left: 30px;
			    padding-right: 30px;
			    left: 58%;
			    color: @btn-text-color;
			    border-style: none;
			    border-width: 0px;
			    top:1px;
			    }
			    &:focus{
			    
			    position: absolute;
			    background-color: @create-btn-color;
			    border-radius: 25px;
			    padding-left: 30px;
			    padding-right: 30px;
			    left: 58%;
			    color: @btn-text-color;
			    border-style: none;
			    border-width: 0px;
			    top:1px;
			    }
			    &:active{
			    position: absolute;
			    background-color:@create-btn-color;
			    border-radius: 25px;
			    padding-left: 30px;
			    padding-right: 30px;
			    left: 58%;
			    color: @btn-text-color;
			    border-style: none;
			    border-width: 0px;
			    top:1px;
			    }
    }
    .reg-container{
    padding:0 10px 0 10px;
    }
    .template-margin-reg{
    margin-top:10px;
    }
    
    .span_grid-reg{
    text-align: center;
    float: left;
    margin-top: 15px;
    }