@white: #FFFFFF;
@sidebarGray: #616161;

.side_bar {
	background-color: @sidebarGray;
	color:@white;
	/*font-family: arial_bold;*/
	font-family: arial;
	.radio {
		margin-top: 0;
	}
	.cust-radio,
	.checkbox {
		margin-left: 20px;
	}
	.dropdown_icon {
		float: right;
		margin-top: 6px;
		
		
	}
	.fa-chevron-down {
		margin-top: 3px;
		color: #B6B6B6;
		font-size: 12px;
		cursor: pointer;
	}
	button.sidebar-reset {
	    background: #808080 url("../images/icons/reset_round.png") no-repeat 9px 7px;
	    border: 0;
	    box-shadow: none;
	    outline: none;
	    float: right;
	    margin: -4px 20px 0 0;
	    padding: 15px 17px;
	    border-radius: 3px;
	    
	    -moz-transform: scaleX(-1);
	    -webkit-transform: scaleX(-1);
	    -o-transform: scaleX(-1);
	    transform: scaleX(-1);
	    -ms-filter: fliph; /*IE*/
	    filter: fliph; /*IE*/
	}
}
.nav-stacked>li {
	float: none;
	padding-top: 10px;
}
.li_color {
	color: @white;
}
.li_color>i {
	color:#4F4F4 !important;
}
.sidebar_stripe {
	float: left;
	height: 611px;
	width: 2.7%;
	background-color: @sidebarGray;
	img {
		margin-left: 9px;
		margin-top: 30px;
		width: 22px;
	}
}
.scrollbar_nav {
	overflow-y: scroll;
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
	}
	&::-webkit-scrollbar {
		width: 12px;
	}
	&::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		border-radius: 10px;
		background-color: #CDCCCC;
		
	}
}
.nav-stacked li.border-bottom {
	padding: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(182, 182, 182, 0.25);
	
}
.nav-stacked li.refine-by {
	padding-bottom: 20px;
}

.search_box_filter {
	display: inline-block;
	width: 76%;
	border: 1px solid rgba(182, 182, 182, 0.25);
	color: @white;
	background-color: transparent;
	font-size: 11px;
}
.filter_search {
	padding: 10px 20px;
	img {
		margin-left: 6px;
		padding: 8px 7px;
		border-radius: 4px;
		border: 1px solid rgba(182, 182, 182, 0.25);
		background-color: #F5F5F5;
		cursor: pointer;
		margin: 1px 0px 0px 3px;
	}
}
.country_search {
	img {
		float: right;
		margin-right: 31px;
		margin-top: -38px;
	}
}
.date_group {
	.input-group {
		.form-control {
			margin-left: 2px;
			width: 48%;
		}
	}
}
.nav-stacked li,
.filter_search_status {
	padding: 10px 2px 0;
	position:relative;
	
}
.search_country {
	color:#FFFFFF;
	margin-top: 0;
	width: 84%;
	border-radius: 20px;
	border: 1px solid rgba(182, 182, 182, 0.25);
	background-color: transparent;
	font-style: italic;
	font-size: 13px;
	margin: 3px auto 10px;
	
}
.icon_refine_by{
		  -moz-transform: scaleX(-1);
       	  -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
		}

.nav-stacked li.btn-reset-wpr {
	padding-top: 8px;
}
.search_all{
	position: relative;
    margin-bottom: 10px;
    margin-top: 3px;
}
.style_search{
	width: 84%;
    background-color: #616161;
    border-radius: 20px;
    border: 0;
    color: @white;
    font-size: 12px;
    padding: 6px 2px 6px 12px;
}
.all_search {
	img {
		position: absolute;
	    right: 7px;
	    top: 6px;
	    cursor: pointer;
	}
}

ul#dropdownCampaign li {
    padding: 3px;
    line-height: 1;
}
.side_bar {
	.cust-radio label > span:after {
	    width: 5px;
	    height: 5px;
	    border-radius: 5px;
	    top: 4px;
	    left: 4px;
	}
	.cust-radio label {
		font-weight: normal;
		input[type=radio] { 
			margin: 0;
		    padding: 0;
		    position: absolute;
		}
		input[type=radio]:checked + span:after { background: #616161; }
	}
}