@white: #FFFFFF;
@btn-verify-color: #7E7E7E;
@font-raleway-medium : ralewayMedium;
@font-raleway-regular: ralewayRegular;
@font-arial-regular : arialRegular;
@color-rejected-vo: #DE5E3D;
@color-confirmed-vo: #0BCC3B;
@color-reconsidered-vo: #F6CD2A;
@create-btn-color: #E60505;
@margin-top-assign:15px;
@active-color:#153795;
@decoration :none;
@new-div-color:#FFCC00;
@font-12-size:12px;
@font-size-15: 15px;
@bottom-border-top: 1px solid #ccc;
@font-text :right;
@font-text-left:left;

.btn:focus
{
outline:none;
outline-offset:0px;
box-shadow: none;
}
.btn:active:focus
{
outline:none;
outline-offset:0px;
box-shadow: none;
}
.sub-container {
	.table-responsive {
		.table>tbody {
			.btn_action {
				color: @white;
				background-color: @btn-verify-color;
				border-radius: 24px;
				padding: 4px 12px;
			}
			tr td {
				vertical-align: middle;
				font-size:@font-12-size;
			}
		}
	}
}

.showing_Vo
{
padding: 10px 20px 6px 0;
}

.padding_vo
{
padding:10px;
}

.choose_width
{
width:140px;
font-family: @font-arial-regular;
font-size: @font-12-size;
}

.template_bulk
{
height: 51px;
padding: 0 10px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
background-color: #E7F1F8;
text-align:center;
}
#bulkAssign_row
{
display:none;
} 
   
.unassign_margin
{
margin-top:20px;
}
   
.alignment_unassigned
{
float: @font-text-left;
margin-top: @margin-top-assign;
}
   
.alignment_assigned
{
margin-top: @margin-top-assign;
}
   
#raleway_heading_Nav
{
font-family:@font-raleway-medium;
font-size:@font-size-15;
}
   
   
#Assigned, #Verified
{
float: @font-text;
width: 50%;
font-family: @font-raleway-regular;
}
   
#Unassigned, #Unverified
{
float:@font-text-left;
width:50%;
font-family: @font-raleway-regular;
}

#History{
float: @font-text-left;
width: 45%;
font-family: @font-raleway-regular;
}
#PendingClearance{
float:@font-text;
width: 55%;
font-family: @font-raleway-regular;

}

ul.tab 
{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
margin-top: @margin-top-assign;
margin-bottom: 12px;
border-bottom: @bottom-border-top;
    
}

/* Float the list items side by side */
/* ul.tab li {float: left;}*/

/* Style the links inside the list items */
#pending
{
display: inline-block;
color: black;
text-align: center;
padding: 14px 136px;
text-decoration: none;
transition: 0.3s;
font-size: 17px;
font-family: @font-raleway-regular;
}

ul.tab li.tablink_active a
{
color:@active-color;
font-weight: bold;
}

ul.tab li a:not(#pending)
{
display: inline-block;
color: black;
text-align: center;
padding: 14px 204px;
text-decoration: none;
transition: 0.3s;
font-size: 17px;
}
ul.tab li a #PendingClearance
{
display: inline-block;
color: black;
text-align: center;
padding: 14px 193px;
text-decoration: none;
transition: 0.3s;
font-size: 17px;
}


/* Change background color of links on hover */
ul.tab li a:hover 
{
background-color: @white;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active 
{
background-color:@white;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid @white;
border-top: none;
}
.tab_active
{
border-bottom:2px solid @active-color;
font-weight: bold;	
}
ul.tab li.tab_active a
{
color:@active-color;
}

.tablink_active
{
border-bottom:2px solid @active-color;
font-weight: bold;
}


.new_position
{
position: absolute;
top: -14px;
left: -10px;
background-color: @new-div-color;
padding-left: 4px;
padding-right: 4px;
font-size:10px;
}

.pos_collector{
top:-14px;
}

.cust-position
{
position :relative;
}

.aln_padding
{
padding-left:30px;
}

.undo_btn_manage_vo
{
padding: 0px;
border: 0px;
float: @font-text;
margin-right: 46px;
outline: none;
background-color: transparent;
}


.clear
{
margin-top: 13px;
float: @font-text-left;
margin-left: @margin-top-assign;
color:#1779BD;
}
.ResetButton{
	margin-top: 8px;
	float: @font-text-left;
	margin-left: @margin-top-assign;
	color:#1779BD;
}
    
.clear:hover
{
color:#1779BD;
text-decoration:none;
}
    
.span_grid
{
text-align: center;
float: @font-text-left;
margin-top: @margin-top-assign;
margin-left:9%;
    }
    
.cust-chkbox.white-checkbox label > span 
{
background: @white ;
border: @bottom-border-top;
} 
   
.undo_vo
{
float: @font-text;
margin-top: 12px;
}
   
.assign_btn
{
background-color:transparent;
outline:none;
border:0px;
padding:0px;
}
   
   
.btn_create_color_bulk 
{
margin-top: 7px;
margin-left: 20px;
padding-left: @margin-top-assign;
color: @white;
background-color: @create-btn-color;
border-radius: 24px;
}
	    
.btn_create_color_bulk:focus, .btn_create_color_bulk:hover, .btn_create_color_bulk.focus{
color: @white;
text-decoration: none;
}

.vo-verify {
	width: 65%;
	padding-top: 35px;
	font-size: 12px;
	margin: 0 auto;
	h2 {
		margin-bottom: 25px;
	}
	.boby-sec {
		padding: 0 3%;
		h3 {
			font-weight: 700;
    		font-size: 20px;
    		margin-bottom: 20px;
		}
		h4 {
    		font-size: 22px;
    		margin: 15px 0;
		}
		p.custom-label {
			font-size: 12px;
			padding: 20px 0;
		}
		.ok_wrapper { padding-bottom: 11.5%; }
		button.okayButton {
			font-size: 13px;
		    font-weight: 700;
		    width: auto;
		    padding: 6px 30px;
		    float: left;
    		margin-right: 20px;
		}
		.section1_header {
			background-color: #f7f7f7;
		    border: 1px solid #ccc;
		    font-size: 15px;
		    padding: 7px 15px;
		    font-weight: 600;
		}
		.question {
			padding: 15px 0;
			label {
				font-size: 20px;
    			font-weight: bolder;
			}
		}
		.answer { margin-bottom: 30px;}
		.disabled {
			padding: 3px 0 10px;
			opacity: 0.3;
			filter: alpha(opacity=30);
			.section,
			.sub-section,
			label { 
				font-size: 17px; 
				font-weight: bolder;
    			margin: 0;
			}
			.lbl-value { 
				font-size: 15px; 
				font-weight: bolder;
			}
		}
	}
	.QuestionBtn {
	    color: #888888;
	    font-weight: 700;
	    padding: 0;
	}
	.next-btn,
	.prev-btn {
		color: #ffffff;
	    outline: none;
	    background-color: #ffffff;
	    padding: 6px 0 6px 25px;
	}
	.progress_wrapper {
		padding: 15px 0 50px;
	}
	.progress_vo {
		width:270px;
		background-color: #f5f5f5;
		border-radius: 7px;
	    height: 13px;
	    margin: 0;
	    box-shadow: none;
	    .progress-bar { border-radius: 7px; }
	}
	.stepLine_vo {
		border-top: 1px solid #eee;
		clear: both;
	}
	.nextButton_vo {
		padding-right: 0;
	}
	.section_summary.sub-container .table-responsive {
	    padding: 0;
	    .table {
	    	margin-bottom: 0;
	    }
	}
	.section_summary {
		font-family: arialRegular;
		h3 {
			margin: 15px 0;
		}
		.sales-rep-block {
			border-bottom: 1px solid #eee;
    		padding-bottom: 10px;
		}
		.summary-block {
			border-bottom: 1px solid #eee;
    		padding: 15px 0;
    		.lbl-value {
				padding: 0 0 0 10px;
    			font-weight: 700;
			}
		}
		.review-heading {
			font-size: 13px;
			font-weight: 700;
			padding-bottom: 10px;
		}
		.vo-report-detail {
			padding: 15px 0;
    		border-bottom: 1px solid #eee;
    		.report-list > div {
			    
			}
			.lbl-value {
				padding: 0 0 0 10px;
    			font-weight: 700;
			}
			.width_auto { width: auto; }
		}
		.ok_wrapper {
			margin-top: 20px;
		}
		
		.verfied {
		    padding: 5px 10px;
		    color: #fff;
		    margin-bottom: 20px;
		    line-height: 26px;
		    .text {
			    font-size: 15px;
			    font-weight: 700;
			}
			.reverify-btn {
			    color: #7e7e7f;
			    padding: 5px 20px;
			    background: #f5f5f5;
			    border-radius: 16px;
			    font-weight: 700;
			}
		}
		.accepted {
		    background: #0c3;
		}
		.reconsidered {
			background: #FE8112;
		}
		.rejected {
			background: #E34F2B;
		}
		
		
		.amount_wrapper {
		    margin: 20px 0 0;
		    border: 1px solid #1779bd;
		    border-radius: 3px;
		    .text {
			    margin: 0;
			    font-size: 12px;
			    background: #1779bd;
			    color: #fff;
			    padding: 5px 10px;
			    line-height: 2em;
			    font-weight: normal;
			}
			.amount {
			    font-size: 2em;
			    font-weight: 700;
			    padding: 0px 10px;
			}
		}
		.collect-payment {
		    margin: 25px 0 50px;
		}
	}
}
.vo-verify-payment {				
	padding-top:0px;
	width: 72.2%;
	.view-heading {
		border-bottom: 2px dotted #ccc;
	    width: 85%;
	    margin: 0 auto;
	}
}
.payment_btn{		
	padding: 30px 0;		
}
.check-margin {
	margin-left: 19px;
}
.header-chekbox {
	margin-left: 27px;
}

.sub-container .table-responsive.popover-wrapper {
	overflow: hidden;
	position: initial;
}
.popover-wrapper {
	width: 100%;
	left:28px;
	.popover-content {
	  height: auto;  
	  width: 180px;  
	}
	textarea.popover-textarea {
	   border: 1px solid #ccc;  
	   border-radius:5px; 
	   margin: 12px 0px 0px 5px; 
	   width: 94%;
       	   height: 80%;
	   padding: 7px;  
	   box-shadow: none;
	   color:black;
	   font-weight:bold;
	}
	.popover-footer {
	  margin: 0;
	  padding: 8px 14px;
	  font-size: 14px;
	  font-weight: 400;
	  line-height: 18px;
	  background-color: #F7F7F7;
	  border-bottom: 1px solid #EBEBEB;
	  border-radius: 5px 5px 0 0;
	}
	a {
	    padding: 0px 20px 20px 20px;
	    float: left;
	    vertical-align: middle;
	    width: 100px;
	    margin: 5px;
	}	
}

.Content{
	  height: auto;  
	  width: 180px;
}
.vo-verify-payment {
  padding-top: 0px;
  summary-dotted {
	border-top: 2px dotted #eee;
  }
}

.payment_btn {
  padding: 30px 0;
}

.review-heading-location {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 5px;
}

.subContainer-co {
  min-height: 0px;
}

.co-details {
  padding-bottom: 8%;
}

.onoffswitchCo {
  position: relative;
  width: 137px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitchCo-checkbox {
  display: none;
}

.onoffswitchCo-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #EEEEEE;
  border-radius: 20px;
}

.onoffswitchCo-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitchCo-inner:before,.onoffswitchCo-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 35px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitchCo-inner:before {
  content: "Normal";
  padding-left: 10px;
  background-color: #85CD00;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 100;
}

.onoffswitchCo-inner:after {
  content: "Cash-Up";
  padding-right: 10px;
  background-color: #85CD00;
  color: #FFFFFF;
  text-align: right;
  font-size: 13px;
  font-weight: 100;
}

.onoffswitchCo-switch {
  display: block;
  width: 27px;
  margin: 5.5px;
  background: #EEEEEE;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 72px;
  border: 2px solid #EEEEEE;
  border-radius: 30px;
  transition: all 0.3s ease-in 0s;
}
.vo_color{
color:#337ab7;
}

.btn_okay_color_vo{
	position: absolute;
    top: 9px;
    background-color: @create-btn-color;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    left: 66%;
    color:@white;
    border-style: none;
    border-width: 0px;
    &:hover{
    position: absolute;
    top: 9px;
    background-color: @create-btn-color;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    left: 66%;
    color:@white;
    border-style: none;
    border-width: 0px;
		}
		&:focus{
	position: absolute;
    top: 9px;
    background-color: @create-btn-color;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    left: 66%;
    color:@white;
    border-style: none;
    border-width: 0px;
    }
    &:active{
    position: absolute;
    top: 9px;
    background-color: @create-btn-color;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    left: 66%;
    color:@white;
    border-style: none;
    border-width: 0px;
    }
    }

.onoffswitchCo-checkbox:checked+.onoffswitchCo-label .onoffswitchCo-inner {
  margin-left: 0;
}

.onoffswitchCo-checkbox:checked+.onoffswitchCo-label .onoffswitchCo-switch {
  right: 0px;
}

.payment-btn-co {
  padding: 30px 20px;
  position: relative;
  
      span.pull-left{
      position: absolute;
  	  top: 50%;
      transform: translateY(-50%);
      
      }
}
.vo-verification {
	.new_position {
		top: -13px;
    	left: 0;
	}
	.tick_btn {margin: 0;}
}

.vo_contract_assign{
    position: absolute;
    right: 15px;
    top: 2px;
}
.modal-img{
padding-top:15px;
}
.singleAssignButton{
	position: absolute;
    background-color: #E60505;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    left: 66%;
    color: #FFFFFF;
    border-style: none;
    border-width: 0px;
    margin-top: 10px;
}


.summary-turn{
background: #fff;
    color: #1779BD;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.topSummary-turn{
padding-bottom:15px;
}

.bankIn-container{
margin-left:9%;
}

.bank-labelStyle{
	float: right;
    margin-right: 25%;
  }
  
  .remark-margin-bank{
  margin-left:17.5%;
  }
  
  .btn-padding-bank{
  padding:0 5%;
  }
  
  .trSpacing{
  margin-left:18%;
  }
  
  .bankInTotal{
  background-color: #E5E5E5;
  padding: 12px 3px 12px 3px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.3px;
  }
  
  .spacing-letter{
  letter-spacing:0.3px;
  font-size:12px;
  font-weight:900;
  }
  
  .borderClass{
    border:1px solid #ccc;
}

.bodyColor{
background-color: #EFF8FD !important;
}

.summary-box{
margin: 25px 10px 15px;		
border: 1px solid #ccc;		
border-radius: 3px;	
font-size:13px;
}


.ReceivedColor{
color:#E14218;
}

.bankColor{
color:#38D520;
}

.submitFont{
color:#179604;
}

.outstandingColor{
color:#BC5611;
}

.summary-value{
padding: 10px 15px;
font-size:15px;
}

.colorBankIn{
background-color:#E7F1F8 !important;
}

.topSummary-bank{
padding: 10px;
border: 1px solid #1779BD;
border-radius: 3px;
color:#1779BD;
}

.stepLine_bank{
border-top: 1px solid #ccc;
width: 98%;
margin-left: 1%;
margin-top: 2%;
}

.marginBank{
    margin-left: 12px;
}

.img-style{
height:24px;
}
.cancel-initiate-btn {
	margin-bottom: 30px;
}
.alignReceive{
padding-left: 1%;
}


.alignBank{
padding-left: 8px;
}

.alignSubmit{
padding-right: 3.5%;
}
.alignOutstanding{
padding-right: 1%;
}

.submitFontSales{
padding-left:1.5%;
}

.bankedSales{
padding-left: 5.5%;
}

.alignOutstand{
padding-left:1%;
}
.check-marginHeading{
margin-left: 33px;
}

.fontCash{
font-weight:700;
font-size:15px;
}

.paddingColor{
padding-top:1%;
}

.totalAlignTurn{
padding:0px 15px 0px 0px;
}

.padding_house{
padding:1%;
}
.fontBold{
font-size: 12px;
font-family: arial_bold;
}

.textArea_width{
width: 100%;
}

.checkMin_Height{
min-height:20px;
}

.stepLine_account_turnreceive{
border-top:1px solid #ccc;
width: 98%;
margin-left: 1%;
}

.fontSizeCash{
font-size:13px;
}

.remarksColor{
color:#ccc;
}

.padding_turnColor{
padding-bottom:1%;
}

.parentElement{
position:rellative;
}
.childElement{
 	position: absolute;
  	  top: 50%;
      transform: translateY(-50%);
      }
      
.rightNo{
right:0;
}