<div class="modal-body modal_sales">
	<div class="row margin_top_15">
               <div class="col-xs-12 text-center modal-img" >
               	<img class="modalSuccessTick" src="distribution/images/Green_check.png"></img>
               </div>
           </div>
	<div class="row margin_top_20">
		<div class="col-xs-12 text-center">
			<p>Are you sure you want to Reject the Registration Request form</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 text-center">
			<p>{{name}} <span class="modalMessage">{{(code)}}</span> ?</p>
		</div>
	</div>
	<div class="row margin_left_right_btn">
		<div class="col-xs-6 text-center">
			<button
				class="btn btn-md btn_import_color btn_font_bold modalBtnWidth_sales"
				type="button" ng-click="no()">No</button>
		</div>
		<div class="col-xs-6 text-center">
			<button
				class="btn btn-md btn_create_color btn_font_bold modalBtnWidth_sales"
				type="button" ng-click="deleteData(gridOptions.data.indexOf(row),'Reject')">Yes</button>
		</div>
	</div>
</div>