<div class="modal-content sales_height" id="salesHide">
<div class="modal-body modal_upload_link">
<div class="modal-header modal_upload">
          <h4 class="modal-title">Upload Document - Bulk Invite</h4>
        </div>
        <div class="col-xs-8 col-sm-12 col-md-9 margin_30_bottom upload_text_field">
        <!-- <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this)" id="photo-upload"/> -->
        <input type="file" name="file" ng-model="uploadPicName" class="fieldBorder sales_border" ng-click="fileChooser()" onchange="angular.element(this).scope().uploadFile(this)" id="photo-upload"/>
		<!-- <input id="fileChooser" type="file" class="fieldBorder sales_border" name="pic" accept="image/*"ng-model="fileName" ng-click="fileChooser()" onchange="angular.element(this).scope().file_changed(this)"> -->
			</div>
			<div class="upload_botton"><button type="button" class="btn btn-md btn_create_color_upload btn_font_bold upload_margin_css" ng-click="serviceHit()">Upload</button></div>
	<div class="row margin_top_15">
               <div class="col-xs-12 text-center circle" >
               	<img class="modalUploadImg" src="distribution/images/gray_icon_new.png"></img>
               	<h4 class="drag_color">Drag and Drop file here</h4>
               	<span class="drag_color">Don't have invite Template,<br> Download <a>here</a></span>
               </div>
           </div>
           
           
           <div class="col-xs-12 col-sm-12 col-md-12 text-center hidden-xs margin_30_top">
				<div class="stepLine_account"></div>
			<div class="col-xs-12 col-sm-12 col-md-12 initial_hide" id="picDemo">
			<div class="col-xs-6 col-sm-6 col-md-6 uploadBox_style">
			<img ng-src="data:image/jpeg;base64,{{data.UserPhoto}}" id="photo-id" style='display:block; width:200px;height:80px;'/>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 errorText_style">
			<span>File Error. Please check and upload again</span>
			</div>
			
			</div>
		</div>
		
		
		
           <div class="col-xs-12 col-sm-12 col-md-12 text-center hidden-xs">
				<div class="stepLine_account"></div>
			<div class="text-center bottom_buttons_sales mobile_btn_padding">
				<button class="btn btn-md cancelButton btn_font_bold" ng-click="cancel()">Cancel</button>
				<button class="btn btn-md btn_create_color_invite btn_font_bold" ng-click="serviceHit()">Invite Sales Rep</button>
			</div>
		</div>
</div>
</div>


