<div class="container" ng-controller="coBankInCtrl" ng-form="collectorBankIn">
	<div class="loading-spiner" ng-show="loader">
		<img src="distribution/images/loader.gif" alt="Loading"/>
	</div>

	<div class="col-xs-12 revert-padding">
		<div class="col-xs-12 revert-padding text-left back-margin">
			<a ui-sref="CoBoard.CollectionTurnIn" class="back-link" href="#/CoBoard/CollectionTurnIn"> <i class="fa fa-angle-left"></i>&nbsp;Back to Manage Turn-in</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 revert-padding text-center heading-bottom">
        	<span class="raleway_heading">Bank-in Collections</span>
    	</div>
    </div>

    <div class="col-xs-12 revert-padding cash-section" ng-show="CashBankIn.length>0">
    	<div class="col-xs-12 revert-padding list-section">
    		<div class="col-xs-12 revert-padding text-center font-700 list-heding">
    			<span>Cash</span>
    		</div>
    		<div class="col-xs-12 revert-padding list-header">
    			<div class="col-xs-4 revert-padding text-center">Date</div>
    			<div class="col-xs-4 revert-padding text-center">Ref NO.</div>
    			<div class="col-xs-4 revert-padding text-center">Amount</div>
    		</div>
    		<div class="col-xs-12 table-xs-view revert-padding" ng-repeat="cashRow in CashBankIn">
    			<div class="col-xs-4 revert-padding text-center">{{cashRow.date}}</div>
    			<div class="col-xs-4 revert-padding text-center">{{cashRow.bankSlipNo}}</div>
    			<div class="col-xs-4  revert-padding text-center">{{cashRow.amount}}</div>
    		</div>
    	</div>
    </div>
    <div class="col-xs-12 revert-padding cheque-section" ng-show="ChequeBankIn.length>0">
    	<div class="col-xs-12 revert-padding list-section">
    		<div class="col-xs-12 revert-padding text-center font-700">
    			<span>Cheque</span>
    		</div>
    		<div class="col-xs-12 revert-padding">
    			<div class="col-xs-6  revert-padding text-center">Date</div>
    			<div class="col-xs-4 revert-padding text-center">Cheque NO.</div>
    			<div class="col-xs-6 revert-padding text-center">Amount</div>
    		</div>
    		<div class="col-xs-12 revert-padding table-xs-view" ng-repeat="cashRow in ChequeBankIn">
    			<div class="col-xs-4 revert-padding text-center">{{cashRow.chequeDate}}</div>
    			<div class="col-xs-4 revert-padding text-center">{{cashRow.chequeDt}}</div>
    			<div class="col-xs-4 revert-padding text-center">{{cashRow.amount}}</div>
    		</div>
    	</div>
    </div>
    <div class="col-xs-12 revert-padding credit-section" ng-show="CreditCardBankIn.length>0">
    	<div class="col-xs-12 revert-padding list-section">
    		<div class="col-xs-12 revert-padding text-center font-700">
    			<span>Credit Card</span>
    		</div>
    		<div class="col-xs-12 revert-padding ">
    			<div class="col-xs-6 revert-padding text-center">Date</div>
    			<div class="col-xs-6 revert-padding text-center">Amount</div>
    		</div>
    		<div class="col-xs-12 revert-padding table-xs-view" ng-repeat="cashRow in CreditCardBankIn">
    			<div class="col-xs-6 revert-padding text-center">{{cashRow.datePayment}}</div>
    			<div class="col-xs-6 revert-padding text-center">{{cashRow.sumOfPaymentAmt}}</div>
    		</div>
    	</div>
    </div>
    <div class="col-xs-12 revert-padding topSummary-bank margin_bottom_20">
				<div class="col-xs-4 revert-padding text-center summary-turn font-700">
					Total Cash Amount:
					<span class="font-700">{{cashTotal}}</span>
				</div>
				<div class="col-xs-4 revert-padding text_center summary-turn font-700">
					Total Cheque Amount:
					<span class="font-700">{{chequeTotal}}</span>
				</div>
				<div class="col-xs-4 revert-padding text_center summary-turn font-700">
					Total Credit Card Amount:
					<span class="font-700">{{creditCardTotal}}</span>
				</div>
	</div>

	<div class="col-xs-12 revert-padding form-section">
		<div class="col-xs-12 revert-padding margin_bottom_20">

			<div class="col-sm-6 col-xs-12 revert-padding margin_bottom_20" ng-show="cashTotal>0">
				<div class="col-xs-12 text-left">
						<label class="contract-label ">Actual Cash Amount Banked-in</label>
				</div>
				<div class="col-xs-12">
						<input type="number" step="0.01" class="form-control contract-label form_radius" ng-pattern="/^[0123456789]+([.]{1}[0123456789]+)*$/" ng-model="cashAmount" ng-required="cashTotal>0" name="amount" ng-max="cashTotal" required>
						<span ng-class="(collectorBankIn.amount.$invalid && submitPressed) ? 'showError' : 'hideError'">Please Enter a valid amount</span>
				</div> 

			</div>

			<div class="col-sm-6 col-xs-12 revert-padding">
				<div class="col-xs-12 text-left">
						<label class="contract-label ">Bank</label>
					</div>
				<div class="col-xs-12">
					<select class="form-control contract-label form_radius c-select" ng-model="bankName" ng-options="bank as bank.bankName for bank in bankNameList" name="bank" required></select>
						<span ng-class="(collectorBankIn.bank.$invalid && submitPressed) ? 'showError' : 'hideError'">Please Select a Bank Name</span>
				</div>
			</div>
			
		</div>

		<div class="col-xs-12 revert-padding margin_bottom_20">

				<div class="col-sm-6 col-xs-12 revert-padding margin_bottom_20">
					<div class="col-xs-12 text-left">
						<label class="contract-label ">Account Name</label>
					</div>
					<div class="col-xs-12">
						<input type="text" class="form-control contract-label form_radius" ng-disabled="true" ng-model="bankName.accountName">
					</div> 
				</div>
				<div class="col-sm-6 col-xs-12 revert-padding">
					<div class="col-xs-12 text-left">
						<label class="contract-label ">Account Number</label>
					</div>
					<div class="col-xs-12">
						<input type="text" class="form-control contract-label form_radius placeholder_italic" ng-disabled="true" ng-model="bankName.accountNumber">
					</div> 
				</div>
			
		</div>

		<div class="col-xs-12 revert-padding margin_bottom_20">

				<div class="col-sm-6 col-xs-12 revert-padding margin_bottom_20">
					<div class="col-xs-12 text-left">
						<label class="contract-label ">Slip Number</label>
					</div>
					<div class="col-xs-12">
						<input type="text" class="form-control contract-label form_radius" ng-model="bankTagNo" name="slipNo" required>
						<span ng-class="(collectorBankIn.slipNo.$invalid && submitPressed) ? 'showError' : 'hideError'">Please Enter a valid Slip Number</span>
					</div> 
				</div>
				<div class="col-sm-6 col-xs-12 revert-padding">
					<div class="col-xs-12 text-left">
						<label class="contract-label ">Banked In Date</label>
					</div>
					<div class="col-xs-12 custom-date buttonToolbar">
						<input type="text" class="form-control contract-label form_radius placeholder_italic" name="bankedInDate" ng-model="bankedInDate" maxlength="11" size="11" placeholder="dd/mon/yyyy" datepicker ng-required="true"/>
						<span ng-class="(chequeDateError && submitPressed) ? 'showError' : 'hideError'">Future date can not be selected</span>
						<span ng-class="(chequePastDateError && submitPressed) ? 'showError' : 'hideError'">Bank-in date can not be more than 3 days from past date</span>
						<span ng-class="(collectorBankIn.bankedInDate.$invalid && submitPressed) ? 'showError' : 'hideError'">Please select a valid date</span>
					</div> 
				</div>
			
		</div>

		<div class="col-xs-12 revert-padding margin_bottom_20">
			<div class="col-xs-12">
				<label class="contract-label ">Remarks (Optional)</label>
			</div>
			<div class="col-xs-12 revert-padding margin_30_bottom">
				<textarea class="form-control contract-label form_radius" placeholder="" rows="5" id="comment" ng-model="message"></textarea>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12  revert-padding text-center">
				<div class="stepLine_account"></div>
				<div class="col-xs-12 col-sm-12 col-md-12 revert-padding btn-padding-bank">
			<div class="text-center bottom_buttons mobile_btn_padding">
			<span class="pull-right">
				<button class="btn btn-md createroleButton btn_font_bold" ng-click="serviceHit()">Submit</button>
				</span>
				<span class="pull-left">
				<button class="btn btn-md cancelButton btn_font_bold" ng-click="cancel()">Cancel</button>
				</span>
			</div>
			</div>
		
	</div>

	</div>


	</div>
</div>














