.btn_create_color{
	background-color: #E60505;
	color:#FFFFFF;
	margin-top: 7px;
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.btn_import_color{
	background-color: #F5F5F5;
	color:#777;
	border:1px solid #CCCCCC;
	margin-top: 7px;
}
.btn_import{
	width: 10%;
    border-radius: 24px;
}
.margin_10_price{
	margin-right: 10px;
}
.btn_import_color:hover, .btn_import_color:focus, .btn_import_color.focus{
	color:#777;
}

.btn_create_color:focus, .btn_create_color:hover, .btn_create_color.focus{
color: #FFFFFF;
    text-decoration: none;
}
/* .btn.focus, .btn:focus, .btn:hover {
    color: #FFFFFF;
    text-decoration: none;
} */