body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.bottomRow {
	margin-bottom: 10px;
}

*.main_content_margin {
	margin: 0 13%;
	font-family: "ralewayMedium";
}

.page_heading {
	margin-bottom: 10px;
	margin-top: 10px;
}

.custom-label {
	font-weight: normal;
}

.border_radius_none {
	border-radius: 0;
}
/*.form-control {
	border-radius: 1px;
}*/
.form_margin_26 {
	margin-left: 26%;
}

.form_margin_38 {
	margin-left: 38%;
}

.createroleButton,.createroleButton:hover,.createroleButton:focus,.createroleButton:active
	{
	background-color: #EC1D25;
	border-radius: 17px;
	color: white;
	/* width: 11%; */
	outline: none;
}

.cancelButton,.cancelButton:hover,.cancelButton:focus,.cancelButton:active
	{
	border-color: #ffffff;
	background-color: #ffffff;
	color: #666666;
	/* width: 11%; */
	margin-right: 3%;
	outline: none;
}

.headingClass {
	display: inline-block;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 29px;
	color: #4F4F4F;
	margin-top: 5%;
}

span.step {
	background: #6A6A6A;
	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-right: 10px;
	text-align: center;
	width: 1.6em;
}

.Role_Details {
	color: #333333;
	font-size: 19px;
}

.stepLine {
	display: inline-block;
	width: 21%;
	padding-bottom: 7px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px solid #eee;
}

.stepLine_Bottom {
	display: inline-block;
	width: 100%;
	padding-bottom: 7px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px solid #eee;
}

.stepMarginBottom {
	margin-bottom: 40px;
	border-top: 2px dotted #eee;
	width: 52%;
	margin-left: 27%;
}

.heading_bottom {
	margin-bottom: 23px;
}

/* *-----------MyAccount-------------* */
.customList .fa {
	font-size: 24px;
	color: #666666;
	margin-right: 10px;
}

.bottomMarginMyAccount {
	margin-bottom: 3.8%;
}

.account_heading {
	font-size: 36px;
}

.user {
	width: 100%;
	height: 50px;
	background-color: #eee;
}

.panel_padding {
	padding: 0px;
}

.customList {
	border: none;
	font-size: 16px;
	cursor: pointer;
}

.customList a {
	color: #0487D5;
	text-decoration: none;
}

/* .selected {
	border-left: 3px solid #FD7C3A;
	font-color: #FD7C3A;
	background-color: #EEEEEE;
} */
.selected .fa {
	color: #0487D5;
}

.userList {
	padding: 0px;
	height: 459px;
	border-right: 1px solid #CCCCCC;
}

.userDetail {
	padding: 20px;
	margin-bottom: 40px;
	background-color: #eee;
}

.userName {
	margin-bottom: 20px;
}

.userEmail {
	padding-bottom: 10px;
}

.custom-label {
	font-weight: normal;
}

.lblChgPass {
	font-size: 20px;
}

.chgPwdButton,.chgPwdButton:hover,.chgPwdButton:focus,.chgPwdButton:active
	{
	background-color: #EC1D25;
	border-radius: 17px;
	color: white;
	width: 50%;
	outline: none;
	margin-bottom: 20px;
}

.chngPswdLabel {
	margin: 40px 0;
}

.fieldMargin {
	margin-bottom: 25px;
	margin-top: 15px;
}

.margin_40_bottom {
	margin-bottom: 40px;
}

.margin_20_bottom {
	margin-bottom: 20px;
}

.margin_15_top {
	margin-top: 15px;
}

.padding_15_right {
	padding-right: 15px;
}

.passwordtips {
	font-weight: bold;
}

.caution {
	color: #E82B2B;
}

.rowBorder {
	border: 1px solid #CCCCCC;
	margin-left: 0%;
	margin-right: 0%;
}

.alert_radius {
	border-radius: 0px;
}

.middle_row_padding_left {
	padding-left: 50px;
}

.change_profile a:hover {
	text-decoration: none;
}

.change_right_row {
	margin-top: 10%;
	margin-left: 12%;
}

.page_heading {
	margin-bottom: 10px;
}

/* *-----------MyAccount_Details-------------* */
.uploadBtnButton,.uploadBtnButton:hover {
	background-color: #EC1D25;
	border-radius: 17px;
	color: white;
	width: 20%;
	outline: none;
}

.cancelButton,.cancelButton:hover,.cancelButton:focus,.cancelButton:active
	{
	padding: 0px;
	margin-right: 50px;
	margin-left: 30px;
	background-color: #ffffff;
	color: #0487D5;
	/* width: 11%; */
	/* margin-right: 3%;  */
	outline: none;
}

.cancel_color,.cancel_color:hover,.cancel_color:focus,.cancel_color.focus
	{
	padding: 0px;
	margin-right: 50px;
	margin-left: 30px;
	background-color: #F9F9F9;
	color: #0487D5;
}

.userOptionsId {
	height: 1341px;
	padding: 0px;
	border-right: 1px solid #CCCCCC;
}

.userOptionsId2 {
	height: 1210px;
	padding: 0px;
	border-right: 1px solid #CCCCCC;
}

.customPaddingBottom {
	margin-bottom: 10px;
}

.bottomlabelPadding {
	padding-bottom: 40px;
}

.roleInfoLabel {
	font-size: 1.5em;
	display: inline-block;
	padding-bottom: 10px;
}

.custom-label {
	color: #484848;
}

.form_radius {
	border-radius: 3px;
}

.fieldBorder {
	border: 1px solid #ccc;
	width: 100%;
	margin-top: 10px;
	padding: 5px;
}

/* .change_profile {
	padding-left: 10px;
	top: 35px;
	float: right;
    margin-top: 5%;
    padding-right: 50%;
    color:#1779BD; 
} */

.stepLine_account {
	width: 100%;
	/* padding-bottom: 7px;
	margin-bottom: 7px; */
	border-top: 1px solid #eee;
}
/* *-----------Notifications-------------* */
.notification_margin {
	margin: 0;
}

.removeBorder {
	border-left: none;
	border-right: none;
	padding: 0;
}

---------- /* mobile version create roles */
------------
.mobileHeading {
	margin-left: 40%;
}

span.step_badge {
	background: #6A6A6A;
	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	text-align: center;
	width: 1.6em;
}

.moblie_hr {
	display: inline-block;
	width: 40%;
	padding-bottom: 7px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px solid #eee;
}

.role_info {
	margin-left: 21%;
	font-size: 14px;
	display: inline-block;
}

.role_access {
	margin-left: 32%;
	font-size: 14px;
	display: inline-block;
}

.role_id {
	text-align: center;
}

.mobile_role_labels {
	display: inline-block;
	width: 100%;
	text-align: right;
	font-size: 1.1em;
	font-weight: 500;
	padding-top: 4px;
}

.mobile_row_btmMargin {
	margin-bottom: 12px;
}

.proceedToButton,.proceedToButton:hover,.proceedToButton:focus,.proceedToButton:active
	{
	background-color: #EC1D25;
	border-radius: 17px;
	color: white;
	/* width: 180px; */
	outline: none;
}

.back_link {
	border-bottom: 2px solid #eeeeee;
}

.back_link a {
	text-decoration: none;
	font-size: 1.1em;
	margin-bottom: 5px;
}

.mobile_labels_edit {
	display: inline-block;
	width: 100%;
	font-size: 1em;
	font-weight: 500;
	padding-top: 4px;
}

.createroleButton,.createroleButton:hover,.createroleButton:focus,.createroleButton:active
	{
	background-color: #EC1D25;
	border-radius: 17px;
	color: white;
	/* width: 110px; */
	outline: none;
}

.last_row {
	margin-bottom: 10px;
}

.backToButton,.backToButton:hover,.backToButton:focus,.backToButton:active
	{
	border-color: #ccc;
	background-color: #ffffff;
	color: #666666;
	/* width: 120px; */
	margin-right: 3%;
	outline: none;
}

#containerSmall_access {
	display: none;
}

.stepLine_Mobile {
	display: inline-block;
	width: 60%;
	padding-bottom: 7px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px solid #eee;
}

.mobile_role {
	padding-left: 14%;
}

.mobile_access {
	padding-right: 13%;
}

.mobile_topPadding {
	padding-top: 8%;
}

.info_margin {
	margin-bottom: 2%;
}

.info_marginAccess {
	margin-top: 5%;
}

.notification_heading a {
	text-decoration: none;
}

.list_margin {
	margin-bottom: 0;
}
/* Mobile notification */
.mobile_headingNotify {
	display: inline-block;
	font-size: 29px;
	color: #4F4F4F;
	margin-top: 5%;
}

.NotifySetting_TopMargin {
	margin-top: 7%;
	text-decoration: none;
}

.notificationMobileRow {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* CreateEmailAutoRespose */
.headingClass_Email {
	display: inline-block;
	font-size: 29px;
	color: #4F4F4F;
	margin-top: 5%;
}

.c-select {
	display: inline-block;
	max-width: 100%;
	-webkit-appearance: none;
	padding: .375rem 1.75rem .375rem .75rem;
	padding-right: .75rem \9;
	color: #55595c;
	vertical-align: middle;
	background: #fff
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC)
		no-repeat right .75rem center;
	background-image: none \9;
	-webkit-background-size: 8px 10px;
	background-size: 8px 10px;
	border: 1px solid #ccc;
	-moz-appearance: none;
}

.row_width {
	width: 45%;
}

.grid-width-100 {
	padding-left: 0px;
	padding-right: 0px;
}

.padding_response {
	padding: 10px;
}

#cke_1_bottom {
	display: none;
}

.row_padding {
	padding-left: 15px;
	padding-right: 15px;
}

.radioBtnDiv {
	height: 75px;
	overflow: scroll;
	overflow-x: hidden;
}

.radioBtnDiv_price {
	height: 98px;
	overflow: scroll;
	overflow-x: hidden;
}

a .side_underline {
	text-decoration: none;
}

.padding_button {
	padding-bottom: 10px;
}

.scrollbar {
	background: #F5F5F5;
	overflow-y: scroll;
	/*  margin-bottom: 25px; */
	padding-top: 2%;
	padding-left: 2%;
}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #CDCCCC;
}
.filterMenuScrollBar {
	overflow-y: auto;
	max-height:200px;
}
.filterMenuScrollBar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.filterMenuScrollBar::-webkit-scrollbar {
	width: 9px;
	background-color: #F5F5F5;
	border-radius:16px;
}

.filterMenuScrollBar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #CDCCCC;
}

.marginBottomCL {
	margin-bottom: 0;
}

.backLinkPadding {
	margin-bottom: 10px;
}

.titlePaddMarg {
	border-bottom: 1px dotted #eee;
	margin-bottom: 25px;
	padding-bottom: 25px;
}

.lastRow {
	/* border-bottom: 1px dotted #eee; */
	/* margin-bottom: 25px; */
	
}

/* Create Numbering Sequence */
.sequence_color {
	background-color: #153795;
	padding: 16px !important;
	padding-left: 15px;
	padding-right: 15px;
}

.sequence_cap {
	color: white;
	font-weight: bold;
}

.custom_tooltip a {
	color: #ccc;
}

.custom_tooltip a i {
	font-size: 1.3em;
}

/* .popover {
	background-color: #F6F6F6;
} */

.captcha_create {
	background-color: #7D8DB7;
	width: 12%;
	float: right;
	margin-right: 3%;
	margin-top: 9.5%;
}

.create_captcha_color {
	color: white;
}

.ScreenTypeList {
	list-style-type: none;
}

.list_heading {
	font-size: 16px;
}

.padding_heading {
	padding-top: 10px;
}

/* Create Screen Access */
.padding_createscreen {
	padding-bottom: 40px;
}

/* crate user type */
.padding_createscreen {
	padding-bottom: 40px;
}

.ul_padding {
	padding-left: 0;
}

.padding_userType {
	padding-bottom: 35px;
}

.padding_createUser {
	padding-bottom: 60px;
}

.circle-size {
	font-size: 2em;
}

.blue_icon {
	color: #1779BD;
}

.push_down {
	margin-bottom: 10.5%;
}

.bottom_buttons {
	/* padding:2%; */
	padding-top: 30px;
	padding-bottom: 80px;
}

/* create Country */
.list-group {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.list-group-item {
	border: none;
}

.selected {
	border-left: 5px solid #0487D5;
	background-color: #EEEEEE;
}

/* .ccContainer1 {
	padding-left: 6%;
	padding-top: 2%;
	overflow-x: hidden;
	background: #F9F9F9;
	border: 1px solid gray;
	border-radius: 1px;
} */

/* .ccContainer2 {
	height: 390px;
	padding-left: 6%;
	padding-top: 2%;
	background: #F9F9F9;
	border: 1px solid gray;
	border-radius: 1px;
} */

.right-inner-addon {
	position: relative;
	padding-left: 2%;
	padding-right: 2%;
}

.right-inner-addon input {
	padding-right: 30px;
}

.right-inner-addon i {
	position: absolute;
	right: 0px;
	padding: 15px 12px;
	pointer-events: none;
}

.no_background,.no_background:hover {
	background: transparent;
	color: #1779BD;
	font-size: 23px;
	/* margin-right: 50px;
    margin-top: -10px; */
}

.no_background_city,.no_background_city:hover {
	background: transparent;
	color: #1779BD;
	font-size: 23px;
	margin-right: -4px;
	margin-top: -13px;
}

.add_state {
	color: #1779BD;
}

.emptyField {
	border: 1px solid red !important;
}

.showError {
	display: block;
	color: red;
	font-size: 13px;
    font-weight: 300;
}

.hideError {
	display: none;
	color: red;
}

.modalBtnWidth {
	/* width: 200px; */
	border-radius: 24px;
}

.modalLink {
	margin-top: 10px;
}

/**Modal vertically aligned: Middle***/
.modal {
  	text-align: center;
  	padding: 0!important;
}

.modal:before {
  	content: '';
  	display: inline-block;
  	height: 100%;
  	vertical-align: middle;
  	margin-right: -4px;
}

.modal-dialog {
  	display: inline-block;
  	text-align: left;
  	vertical-align: middle;
}
/*.center-modal {
	position: fixed;
	top: 25%;
	right: 13%;
}*/

/* .modal-content {
	width: 500px;
    height: auto;
    padding-bottom: 10%;
} */

.modal-body {
	position: relative;
	padding: 20px 40px;
}
.modalSuccessTick{
	padding-bottom: 20px;
}
@media only screen and (max-width:732px) {
	*.main_content_margin {
		margin: 0;
	}
}

.search_icon {
	margin-top: -7px;
}



/* IE 8 , 9 and 10 fallback styles */
@media screen\0 {
.margin_minus{
margin-left:-3px;
}
.header-right>.header-menu>.notification-cnt{
	
	position: absolute !important;
    margin-top: 1px !important;
    margin-left: -16px !important;
    font-size: 12px !important;
}
}

/* This is to remove the arrow of select element in IE */
.arrow_remove::-ms-expand {	
	display: none; 
	}
.arrow_remove{
    -webkit-appearance: none;
    appearance: none;
}


@-moz-document url-prefix(){
	.arrow_select{
	border: none; 
	 box-sizing: border-box; 
	 }
  .arrow_select .arrow_remove {
   border: 1px solid #ccc !important;
   }
   .header-right>.header-menu>.notification-cnt{
	position: absolute !important;
margin-top: 1px !important;
margin-left: -13px !important;
font-size: 12px !important;
}
}
.fixedHeightDropDown{
	max-height:250px;
	overflow-x:hidden;
}

.MyClass{
	left:100px;
}
.errorMsg{
	color: red;
}
.rowBox1 {
	width: 100%;
    display: table-row;
}
.rowBox1 .item{
	height: 108px;
	width:20%;
    display: table-cell;
    cursor:pointer;
}
.rowBox2{
	width: 100%;
    display: table-row;
}
.rowBox2 .item{
	width:25%;
	height: 108px;
    display: table-cell;
    cursor:pointer;
}
.rowBox3{
	width: 100%;
    display: table-row;
}
.rowBox3 .item{
	width:14.28%;
	height:108px;
	display:table-cell;
	cursor:pointer;
}
.rowBox4{
	width: 100%;
    display: table-row;
}
.rowBox16{
	width: 100%;
    display: table-row;
}
.rowBox16 .item{
	width:16.6%;
	height: 108px;
    display: table-cell;
    cursor:pointer;
}
.rowBox33{
	width: 100%;
    display: table-row;
}
.rowBox33 .item{
	width:33.33%;
	height: 108px;
    display: table-cell;
    cursor:pointer;
}
.rowBox4 .item{
	width:50%;
	height: 108px;
    display: table-cell;
    cursor:pointer;
}
.ordered{
	border:2px solid #8FE881;
}
.draftitem{
	border:2px solid #B436CB;
}
.new{
	border: 2px solid #153795;
}
.voRejected{
	border:2px solid #E14218;
}
.dmRelease{
	border:2px solid #FE8112;
}
.customerCancelled{
	border:2px solid #C6708D;
}
.partiallyDelivered{
	border:2px solid #FFE270;
}
.broughForward{
	border: 2px solid #70E2D1;
}
.rowBox-wrapper{
	    display: table;
    	width: 100%;
    	border-spacing: 3px;
}
.outWrapper{
	width:80%;
	margin: 0 auto;
    border: 1px solid #A1A1A1;
    padding:20px;
    border-radius: 8px;
    overflow:auto;
}
.ordered .sub2{
	background-color: #D5F6D0;
}
.draftitem .sub2{
	background-color: #E8D2EC;
}
.voRejected .sub2{
	background-color: #F9D7CE;
}
.dmRelease .sub2{
	background-color: #FFE4CD;
}
.customerCancelled .sub2{
	background-color: #E9C9D4;
}
.partiallyDelivered .sub2{
	background-color: #FFF4C9;
}
.broughForward .sub2{
	background-color: #C9F4ED;
}
.new .sub2{
	background-color: #B8C3DF;
}
.sub1{
	width: 100%;
	height:70%;
}
.sub2{
	width:100%;
	height:30%;
    font-size: 14px;
    color: #666666;
    padding-top: 5px;
    font-weight: normal;
}
.line1{
	margin:5px;
	font-size: 13px;
    font-weight: bold;
	color:#666666;
}
.line2{
	font-size: 35px;
}
.ordered .line2{
	color:#38D520;
}
.draftitem .line2{
	color:#B436CB;
}
.voRejected .line2{
	color:#E14218;
}
.dmRelease .line2{
	color:#FE8112;
}
.new .line2{
	color:#153795;
}
.customerCancelled .line2{
	color:#990033;
}
.partiallyDelivered .line2{
	color:#FFCC00;
}
.broughForward .line2{
	color:#00CCAD;
}
.outWrapper2{
	width: 80%;
    margin: 0 auto;
    padding: 20px 6px 0px 6px;
}
.defaultBootStrapPadding{
	padding:0px 10px 0px 10px;
}
.customBorderForPanel{
	border-color: #A1A1A1;
}
.contractHotSpotHeading{
	border-bottom: 1px solid #E5E5E5;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    font-family: ralewayRegular;
}
.overFlowVisible{
	overflow:visible !important;
}
.noMinHeight{
	min-height: initial !important;
}
.searchCursor{
	cursor:pointer;
}
.customTableHeaderForTurnIn{
	padding:10px 10px 0px 10px !important
}
.customTableResponsiveForTurnIn{
	padding: 0 10px 0 10px !important;
}
.customTableForTurnIn{
	margin-bottom:0;
}
.minHeightSubSectionHeaderTurnIn{
	min-height:35px !important;
}
.removePAddingFromDataCell{
	padding:0 !important;
}
.turnInTopBoxAmounts
{
	padding-left:5px;
}
.noPaddingBottom{
	padding-bottom:0;
}
.nopaddingTop{
	padding-top:0;
}
.sectionHeader{
	margin: 0 auto;
    width: 94%;
    text-align: left;
    font-weight: bold;
}
.displayReportColoumn{
	width:80%;
	margin:0 auto;
}
.displayReportColoumn li{
	padding:10px 0 10px 0;
	font-family: ralewayRegular;
	font-weight: bold;

}
.reportHeader{
	font-family: ralewayRegular;
    font-weight: bold;
    font-size: 16px;
    background: none !important;
    border:none;
}
.reportColumn{
	border-right:1px solid #eee;
}
.adminButton,.adminButton:hover,.adminButton:focus,.adminButton:active{
	color: #FFFFFF;
    background-color: #E60505;
    border-radius: 24px;
    font-family: "arial_bold";
    font-size: 15px;
}
.adminCancelButton,.adminCancelButton:hover,.adminCancelButton:focus,.adminCancelButton:active{
	border-color: #ffffff;
    background-color: #ffffff;
    padding: 0px;
    color: #0487D5;
    outline: none;
    font-family: "arial_bold";
    font-size: 15px;
}
.locationSuggestionBox{
	max-height: 150px;
    overflow: auto;
}
.locationSuggestionBox li:hover{
	background:#1779bd;
	color:#fff;
	cursor:pointer;
}
.defaultCursor{
	cursor:default !important;
}
.dashBoardCreateContractButton{
	position: absolute;
    top: 0.5%;
    right: 6%;
}
.delinquentReportContainer{
	width: 96%;
    margin: 0 auto;
}
.footerFont{
	font-weight: bold;
	font-size:14px;
}
.delinquentTableMargin{
	margin-bottom:10px;
}
.delinquentContractNo{
	color:#1C79B9;
}
.triggerMargin{
	margin-top:	24px;
}
.formColoumn{
	width: 63%;
    margin: 0 auto;
}
.dropdownForAdvanceForm{
    margin-top: -9px;
    width:100%;
}
.addMoreButton{
	padding-top:5px !important;
}
.addMoreForFirst{
	padding-top:30px !important;
}
.borderLine{
	width: 83%;
    border: 1px solid #eee;
    margin: 0 auto;
    margin-bottom: 20px;
}
.advanceREquestFormHeader{
    padding-left: 21%;
    margin: 30px 0 30px 0;
}
.statusandDate{
	width: 81%;
    margin: 0 auto;
}
.statusRightMargin{
	margin-right:7%
}
.defaultMargin{
	margin:0px;
}
.adminApproveContainer{
	width: 84%;
    margin: 0 auto;
}
.labelPaddingLeft{
padding-left: 5%;
}
.informationIcon{
	color:#1C79B9;
}
.emtyBlockAdvance{
	margin: 0 auto;
    background: #ffffff;
}
.emptyBlockContainer{
	margin: 0 auto;
    width: 40%;
}
.labelNopaddingLeft{
	padding-left:0;
}
.inputMarginRight{
	margin-right:10px;
}
.resetLink{
	position: absolute;
    top: 14px;
    margin-left: 10px;
}
.alingnedwithInput{
	top:0;
}
.suggestionListAdvanceRequest{
	padding:5px 10px 5px 10px;
}
.suggestionListAdvanceRequest:hover{
	color:#fff;
	background:#1779bd;
}
.scrollbarSuggestionListAdvanceRequestForm{
	background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
    padding-top: 2%;
}
.turnInSubHeader{
	padding-left: 3%;
}
.commissonContainerWidth{
	margin: 0px 26% auto;
}
.commissionRowCell{
	margin-left:15px;
}
.commissionRowActiobButtons{
	margin-top:28px;
}
.houseSalesCountryLocationContainer{
	 margin: 20px 15% auto;
}
.houseSaleSuggestionListItem{
	border-bottom: 1px solid #ccc;
    padding: 10px;
    font-weight: bold;
    background: #fff;
    word-wrap: break-word;
}
.houseSaleSuggestionListItem span{
	font-weight:normal;
}
.houseSaleSuggestionListItem:hover{
	background:#1779bd;
	color:#fff;
}
.commisonSalesRepSuggestionList{
    padding: 8px 10px 8px 10px;
    font-weight: bold;
}
.commisonSalesRepSuggestionLis:hover{
		background: #1779BD;
		color: #fff;
}
.dropdownforCommisonSalesRep{
	margin-top: -8px;
}
.arrow-down:after,.arrow-uptable:after{
 position: relative;
 left: 2px;
 border: 8px solid transparent;
}
.arrow-down:after{
	font-family: FontAwesome;
	content:"\f078";
}

.arrow-uptable:after{
	font-family: FontAwesome;
	content:"\f077";
}

.arrow-down,.arrow-uptable{
 padding-right: 10px;
}
.rowPaddingContract{
	padding:15px !important;
	word-break:break-all;
}
.houseSalePopUpTable{
	margin-bottom:0px;
	border:none !important;
}
.houseSalePopUpTable th{
	background-color:#eee !important;
	font-weight:bold;
	border-top:1px solid black !important;
	border-bottom:1px solid black !important;
}
.houseSalePopUpTable tr{
	background-color:#eee !important;
	border: none !important;
	padding:0px !important;
}
.houseSaleProductDropDown{
	padding: 3%;
    background: #eee
}

.houseSaleProductDropDown:before {
  position: absolute;
  top: -7px;
  right: 141px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.houseSaleProductDropDown:after {
  position: absolute;
  top: -6px;
  right: 141px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.productName{
	padding:2%;
	text-align: left;
}
.houseSalePopUpTable tbody{
	border:none !important;
}
.houseSalePopUpTable tr td{
	padding:6px 3px 3px 6px !important;
}

.table-houseSale{
	overflow:inherit !important;
}
.suggestionListOfColumns{
	height:200px;
}