/********************************************************/
/***********	Media Query for Small Mobile	*********/
/********************************************************/
@media screen and (max-width: 767px) {
	
	body { padding-bottom: 5rem; }
	
	.text-xs-left { text-align: left; }
	.text-xs-right { text-align: right; }
	.text-xs-center { text-align: center; }
	.text-xs-justify { text-align: justify; }
	
	.cust-col-xs-40 { width: 40%; float: left; }
	.cust-col-xs-50 { width: 50%; float: left; }
	.cust-col-xs-60 { width: 60%; padding-left: 10px; float: left; }
	
	.border-xs-bottom{border-bottom: 1px solid #eee;}
	
	body { font-size: 12px; }
	.overflow-xs-hidden { overflow: hidden; }
	.btn_font_bold,
	.form-control {font-size: 12px;}
	
	.createroleButton,
	.createroleButton:hover, 
	.createroleButton:focus, 
	.createroleButton:active { padding: 5px 15px; font-size: 12px; }
	.cancel-xs-btn .createroleButton,
	.cancel-xs-btn .createroleButton:hover { padding: 5px 6px; margin-right: 0; }
	
	/*******Datepicker Start*****/
	.ui-datepicker { width: 240px; margin: 0 auto 0; }
	.ui-datepicker td span, 
	.ui-datepicker td a { width: 33px; height: 32px; line-height: 33px; }
	.ui-datepicker .ui-datepicker-header { padding: 0.1em 0 5px; }
	.ui-datepicker .ui-datepicker-title { padding: 3px 2px 0px; }
	/*******Datepicker End*****/
	
	/*******Modal Start*****/
	.center-modal { right: 0; }
	.modal-content { width: 100%; height: auto; padding-bottom: 15px; }
	
	.modal.fixPosition-xs:before {display:none;}
	.modal.fixPosition-xs .modal-dialog {top: 30%; width: 94%;}
	.modal.fixPosition-xs .modal-dialog .cancelButton {margin: 10px 0 0;}
	/*******Modal End*****/
	.loading-spiner { height: 105%; }
	
	/*******Login Page Start*****/
	/* .logo-div { margin: 15px 0 0; } */
	.login-form .buttonToolbar { margin-bottom: 20px; }
	.login-form .custom-input { height: 35px; }
    .top-banner { background-image: url('../images/mobile/mobile-bg1.png'); }
    .top-banner span { padding-top: 150%; }
    
	.col-xs-12 .top-banner:after {
	    content: '\A';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: rgba(0,0,0,0.6);
	    opacity: 1;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	}
	.login-content .logo-div div { color: white;}
	.login-content .label-email div { color: white;}
	.login-content { top: 0; position: absolute; }
	.login-content .custom-label { text-align: right; padding: 8px 8px 0 0; color: white; }
	.login-content .login-remember {border: none;}
	.login-content .login-btn {margin-top: 0; padding: 0 30px;}
	.login-content .login-btn.pull-right {float: left !important;}
	.login-content .msg { margin: 5px 0 15px 0; }
	.privacy .footer_hyper { color: #019ae2; padding-right: 20px; }
	
	.download-apk {
		color: white;
	}
	.download-apk:hover {
		text-decoration: underline;
	}
	.password-modal .modal-body { padding: 20px 30px; }
	/*******Login Page End*****/
	
	/*******Sidebar Page Start*****/
	.side_bar .cust-radio label, .cust-chkbox label { margin-top: 3px; min-height: 18px; }
	
	/*******Contract Page Start*****/
	.create-contract .back-margin,
	.view-container-wraper .back-margin, 
	.review-container-wraper .back-margin,
	.vo-verify-payment .back-margin {
	    margin: 16px 0;
	    border-bottom: 1px solid #eaeaea;
	    padding-bottom: 10px;
	}
	.contract-flow {margin: 20px auto 0;}
	.view-container-wraper .reference-container,
	.review-container-wraper .reference-container,
	.create-contract .reference-container {
		margin: 0;
	    padding: 0;
	    background: none;
	    border: none;
	    border-radius: 0;
	}
	.create-contract,
	.view-container-wraper, 
	.review-container-wraper,
	.create-contract .total_content { width: 100%; }
	.padding-xs { padding-left: 15px; padding-right: 15px; }
	.padding-xs-left { padding-left: 15px; }
	.padding-xs-right { padding-right: 15px; }
	.create-contract .total_content .col-xs-4 { 
		text-align: right;
    	padding-right: 10px;
    }
    .create-contract .headingClass_Autoresponse,
    .view-container-wraper .headingClass_Autoresponse,
    .review-container-wraper .headingClass_Autoresponse,
    .raleway_heading {font-size: 29px; padding: 10px 0;}
    .contract-nav-text .current_alink,
    .contract-nav-text span {font-size: 12px;}
    .contract-nav-text { padding: 0 10px 40px; }
    
    .mobile_form_margin {margin: 0;}
    label.contract-label {margin-right: 10px;}
    .contract-prev { margin-right: 0px; }
    .contract-prev, .contract-btn-next {padding: 5px 10px;  font-size: 12px; }
    .contract-prev:hover, .contract-prev:focus, .contract-prev:active, .contract-btn-next:hover, .contract-btn-next:focus, .contract-btn-next:active {
	    padding: 5px 10px;
	}
    .contract-prev .img_icon, .contract-btn-next .img_icon { margin: 0 6px 2px 0; height: 10px; }
    .reference-btn span:first-child {padding-top: 4px;}
    .reference-btn { margin-bottom: 30px; }
    .reference-btn .contract-btn { font-size: 12px; } 
    .contract-table .mobile-bordered-tbl .spinner .form-control { width: 80%; padding: 6px 3px; }
    .contract-table .mobile-bordered-tbl .points,
    .contract-table .mobile-bordered-tbl .spinner { border: none; }
    .contract-table .table-bordered.mobile-bordered-tbl > tbody > tr > td, 
    .contract-table .table-bordered.mobile-bordered-tbl > thead > tr > th { border: 1px solid #d0d0d0; font-size: 12px; }
    .mobile-prod-sel {width: 90px; overflow: hidden; font-size: 12px; }
    .showError { font-size: 12px; } 
    .onoffswitch.flt-left + .switch-input { width: 47%; margin-bottom: 10px; }
    .contract-table .numb { font-size: 12px; }
    
	/*******Contract Page End*****/
	
	
	/*******Review Contract Page Start*****/
	.review-container { border: none; }
	.sticky-block.fixed { border: none; }
	.sticky-block.fixed {width: 90.5%; left: 15px; }
	.sticky-block-view.fixed {width: 90.5%;}
    .review-container .body { padding: 20px 0; }
    .review-container .header { border-radius: 0; border: none; }
    
    /*******View Contract Page Start*****/
    .sticky-stripe { border: none; padding: 0; }
    .view-container-wraper .view-summary,
    .view-container-wraper .view-summary .margin_bottom_15 { margin: 0; }
    .sticky-stripe {border: none; padding: 0;}
    .view-container-wraper .view-summary { padding: 20px 0 0 0px; }
    .heading-line { border: none; }
    .vo-report { padding: 0; font-size: 12px; }
    .vo-report .vo-report-detail ul.report-list { margin: 0; font-size: 12px; }
	.report-tab .vo-report .vo-report-detail ul.report-list { margin-left: 10px; }
	.vo-report .vo-report-detail ul.report-list li { padding-bottom: 5px; }
    .view-sub-heading { text-transform: capitalize; }
    .vo-report .review-heading,
    .vo-report .status { font-size: 13px; }
    .sub-container .top_box .showing_margin,
    /* .contract-table .table > thead:first-child > tr:first-child > th { font-size: 12px; } */
    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th { white-space: normal; }
    .sub-container .top_box { border-top: 0; }
    .view-container-wraper .showing_page .btn-dropdown { width: 100px; font-size: 12px; }
    
    /*******Cancel Contract Page Start*****/
    .cancel-xs-table .col-xs-12 { margin: 0 0 10px;}
    .vo-report.sub-container .table-responsive { padding: 0; }
    .cancl-reject {margin-left: 0;}
    
    /*******Manage Contract*****/
	/*.main-container */.container-xs .top_box .dropdown-toggle { width: 130px; font-size: 12px; padding: 5px; background: #fff;}
	.col-container.filter-on, .col-container.filter-on:before { width: 100%; }
	.manage-xs .showing_page { padding-right: 15px; }
	.manage-xs .top_box {background: #f5f5f5;}
	
	/*******Manage Collection Request*****/
	.margin_top_heading { margin-top: 0; }
	/* .sub-container .table-responsive.popover-wrapper { overflow-x: auto; } */
	.vo-verify-payment .headingClass_Autoresponse { font-size: 25px; margin: 0 0 15px; }
	.vo-verify-payment .co-details .custom-label,
	.vo-verify-payment .co-details .contract-label { margin-top: 8px; }
	.vo-verify-payment .co-details .margin_30_bottom,
	.vo-verify-payment .co-details .margin_bottom_20 { margin-bottom: 10px; }
	div.more_links { margin: 6px 3px 0; }
	div.more_links ul.dotted { padding: 5px 0 0; width: 30px; }
	.co-manage .table-xs-view .right-arrow { margin-top: 30px; }
	
	/*******Sidebar*****/
	.overlay { position: absolute; left: 0; z-index: 1; }
	.sidebar-wrapper.filter-on:before { z-index: 1; }
	
	/*******Header Start*****/
	.main_nav .navbar-collapse { border-bottom: none; }
	.menu_item span { font-size: 16px; }
	.menu_item span.logout { margin-left: 18px; }
	ul.first_nav li { border-left: none; width: 100%; border-bottom: 1px solid #e8e8e8; }
	.main_nav li > a { padding-top: 7px; }
	ul.first_nav li .sub-menu-wrapper { position: relative; }
	ul.first_nav li .sub-menu-wrapper ul.second_navbar { padding-bottom: 20px; }
	ul.first_nav li .sub-menu-wrapper li { border-bottom: none; }
	ul.first_nav li .sub-menu-wrapper li a { padding: 0px 40px 0 75px; }
	ul.first_nav li .sub-menu-wrapper li span { margin: 0; padding: 5px 0; display: block; font-size: 14px; border-bottom: 1px solid #e8e8e8; }
    
    /*******Footer Start*****/
    footer {
	    line-height: 15px;
	    padding: 12px;
    }
    
    /********Vo Pages*******/
    .vo-verify { width:100%; }    
   	.headingClass_Autoresponse{ font-size: 19px; }
   	.review-sub-heading>.margin_top_10{margin-top:10px;}
   	.vo-verify .section_summary .verfied .reverify-btn {padding: 6px 9px; font-size: 12px;}
   	.vo-verify .section_summary .verfied .text {font-size: 12px; font-weight: 700;}
   	/*.vo-verify-payment{width:84.2%;}
   	div.more_links {margin: 7px 0px 0px 7px;}*/
   	.contractText{font-weight: bold; color: black; font-size: 14px;}
	.customerText{font-weight: bold; color: black;}
	.vo-verify .progress_vo{width:138px;}
	.rejectButton,
	.rejectButton:hover,
	.rejectButton:active,
	.rejectButton:focus{padding:5px 1px;}
	
	
	/*******SalesRep*********/
	.upload >.createroleButton,
	.upload >.createroleButton:hover, 
	.upload >.createroleButton:focus, 
	.upload >.createroleButton:active { padding: 5px 5px; font-size: 12px; }
	
	/********View Customer*******/
	.custTextAlign{text-align:left;}
	.imgCust{padding-top:15px;}
	
}

/********************************************************/
/***********	Media Query for Big Mobile	*********/
/********************************************************/
@media only screen and (min-width: 481px) and (max-width:767px) {
	.headingClass_Autoresponse{ font-size: 24px; }
	
	/********Vo Pages*******/
    .vo-verify { width:100%;}
    .progress_vo { width: 240px;}
    .review-sub-heading>.margin_top_10{margin-top:10px;}
    .margin_bottom_20{margin-bottom:0px;}
    /* .vo-verify-payment{width:84.2%;} */
    .vo-verify .progress_vo{width:200px;}
}

/********************************************************/
/***********		Media Query for Tablet		*********/
/********************************************************/
@media only screen and (min-width: 768px) and (max-width:959px) {
	
	.text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
    
    .padding-sm { padding-left: 25px; padding-right: 25px; }
    
    /*******Login Page Start*****/ 
    .top-banner { background-image: url('../images/mobile/mobile-bg1.png'); }
    .top-banner span { padding-top: 151%; }
    
	/*******Contract Page Start*****/
	.create-contract,
	.view-container-wraper, 
	.review-container-wraper { width: 95%; }
	.create-contract .total_content { width: 50%; }
	.form_margin { margin-left: 0; }
	label.contract-label {padding-right: 10px;}
	.showing-record { padding: 15px 0; }
	.sticky-block.fixed {width: 95%; left: 2.5%; }
	/*******Contract Page End*****/
	
	/*******View Contract Page Start*****/
	.sticky-block-view.fixed { width: 84.9%; }
	input.form-control { padding: 6px; }
	.vo-report .vo-report-detail ul.report-list { margin: 0px; }
	.report-tab .vo-report .vo-report-detail ul.report-list { margin-left: 10px; }
	
	/*******Manage Contract*****/
	/* .main-container */ .desktop.filter-on { width: 100%; }
	.sub-container .table-responsive.popover-wrapper { overflow-x: auto; }
	
	/*******Sidebar*****/
	.overlay { position: absolute; left: 0; z-index: 1; }
	.sidebar-wrapper.filter-on:before { z-index: 1; }
	
	/*******Navigation*****/
	ul.first_nav li .sub-menu-wrapper { display: table; }
	.sub-menu-wrapper ul.second_navbar { display: table-row; }
	.sub-menu-wrapper ul.second_navbar li { display: table-cell; }
	ul.first_nav li .sub-menu-wrapper li span { padding: 15px 0; }
	
	/*********Vo Verify************/
	.vo-verify { width: 100%;}
	.headingClass_Autoresponse{font-size:27px;}
	.review-sub-heading>.margin_bottom_30{margin-bottom:30px;}
	.uppercase-desktop{text-transform: uppercase;}
	/* .vo-verify-payment{width: 90.2%;} */
	.margin-xs-top{margin-top:10px;}
	
	.sub-container.vo-verification .top_box .showing_page,
	.co-manage .top_box .showing_page { padding: 7px 0px 6px 0; border-right: none; }
}


@media (min-width: 960px) and (max-width: 1199px) {
	.text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
    
    .sub-container .table-responsive.popover-wrapper { overflow-x: auto; }
    
    /*******Contract Page Start*****/
	label.contract-label {padding-right: 10px;}
	/*******Contract Page End*****/
	
	/*********Vo Verify************/
	.review-sub-heading>.margin_bottom_30{margin-bottom:0px;}
	.uppercase-desktop{text-transform: uppercase;}
} 
@media (min-width: 1200px) {
	.text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
    
    .sub-container .table-responsive.popover-wrapper { overflow-x: auto; }
    
    /*******Contract Page Start*****/
	label.contract-label {padding-right: 10px;}
	/*******Contract Page End*****/
	
	/*********Vo Verify************/
	.review-sub-heading>.margin_bottom_30{margin-bottom:0px;}
	.review-sub-heading>.margin_top_10{margin-top:0px;}
	.uppercase-desktop{text-transform: uppercase;}
}
