.margin_top_heading {
	margin-top: 40px;
	margin-bottom: 25px;
}

.showing_margin {
	margin-top: 13px;
	/* margin-bottom: 9px;  */
}
/* .ui-grid-header, .ui-grid-header-cell-wrapper{
	height:40px;
}
.ui-grid-cell-contents{
	padding-left: 20px;
    padding-top: 10px;
}

.ui-grid-cell{
	border:none;
} */
.margin_icon_20 {
	float: right;
	margin-right: 20px;
}

.margin_user_10 {
	margin-top: 10px;
	margin-bottom: 30px;
}

input[type="checkbox"] {
	opacity: 0.5;
}

.margin_40_top {
	margin-top: 40px;
	margin-left: 150px;
}

.margin_40_bottom {
	margin-bottom: 40px;
}

.margin_30_bottom {
	margin-bottom: 30px;
}

.desktop_create_margin {
	margin-left: 8%;
	margin-right: 8%;
}

.margin_bottom_5 {
	margin-bottom: 5px;
}
/* .ui-grid-cell-contents{
	padding-top: 5px;
    text-align: center;
}
.ui-grid-cell{
	padding:15px;
} */
.picture {
	float: left;
	margin-right: 5px;
}

.btn-createUser_width_13 {
	
	border-radius: 24px;
}

.btn-createUser_width_14 {
	
	border-radius: 24px;
}

.btn-createUser_width_16 {
	
	border-radius: 24px;
}

.btn-createUser_width_18 {
	
	border-radius: 24px;
}

.btn-createUser_width_21 {
	
	border-radius: 24px;
}

.padding_8_left {
	padding-left: 8%;
}

.stepMarginBottom_create {
	border-top: 2px dotted #eee;
	width: 56%;
	margin-left: 23%
}

.cancel_bg {
	background-color: #F9F9F9;
	border-color: #F9F9F9;
}

.margin_7 {
	margin-top: 7px;
}

.margin_12 {
	margin-left: 12px;
}

.margin_8 {
	margin-right: 8px;
}

.search_radius {
	border-radius: 20px;
	height: 30px;
}

.search_bg {
	background-color: #F9F9F9;
	padding: 8px;
}

.drop_margin {
	margin-left: 15px;
}

.top_margin_6 {
	margin-top: 10px;
}

.icon {
	float: right;
	margin-right: 27px;
}

.margin_3_top {
	margin-top: 3px;
}

.padding_5 {
	padding-left: 5px;
}

.margin_10_left {
	margin-left: 10px;
}

.margin_10_icon {
	margin-left: 10px;
	margin-top: 5px;
}

.margin_15_top_error {
	margin-top: 15px;
	margin-left: 15px;
}