@media print { 
	/* @page { size: landscape; } */
	body {
		-webkit-print-color-adjust: exact; 
	}
	
	header, footer, nav.navbar-up, .sidebar-wrapper, 
	.no-print, .sub-container .top_box, .top_box, .pagination, .load-more { display: none !important; }
	.only-print { display: block !important; }
	 
	.mainContent { padding-top: 20px !important; }
	.col-container.filter-on, .col-container.filter-off, .manage-xs,
	.sub-container.filter-on, .sub-container.filter-off { width: 100% !important; }
	.sub-container { min-height: auto !important; }
	.manage-xs { border-top: 1px solid #ddd !important; }
	
	/*******Manage Page********/
	.container-fluid, .container,
	.sub-container .table-responsive { color: #333333 !important; }
	.pageBackLink { margin-top: 0 !important; }
	.sub-container .table-responsive, .table-responsive { overflow: hidden !important; }
	
	.table-responsive .table > thead tr { border-bottom: #e5e5e5 !important; }
	.sub-container .table-responsive .table > thead tr th,
	.table-responsive .table > thead tr th,
	.table-responsive .table tr th,
	.table > thead tr {
		background-color: #e5e5e5 !important;
		text-shadow: none !important;
    	font-weight: 300 !important;
    	-webkit-print-color-adjust: exact; 
	}
	.sub-container .table-responsive .table > thead tr th,
	.table-responsive .table > thead tr th {
		border-right: 1px solid #fff !important;
	}
	.sub-container .table-responsive .table > tbody tr:nth-of-type(even),
	.table-responsive .table > tbody tr:nth-of-type(even),
	.table-responsive .table > tbody tr:nth-of-type(even) td { background: #f6f6f6 !important; }
	.sub-container .table-responsive .table > tbody tr:nth-of-type(odd),
	.table-responsive .table > tbody tr:nth-of-type(odd),
	.table-responsive .table > tbody tr:nth-of-type(odd) td {background: #fdfdfd !important;}
	
	.table-responsive .table > tfoot,
	.table-responsive .table > tfoot tr td { background: #ededed !important; }
	.sub-container .table-responsive .table > tfoot > tr > td, 
	.table-responsive .table > tfoot > tr > td { 
		border-right: 1px solid #fff !important; 
		border-top: 1px solid #ddd !important;
		text-shadow: none !important;
		font-weight: 300 !important;
	}
	
	
	.sub-container .table-responsive .table > thead tr th.active,
	.table-responsive .table > thead tr th.active {
		background-color: #dce4ea !important;
	}
	.sub-container .table-responsive .table > tbody tr:nth-of-type(odd) td.active-odd,
	.table-responsive .table > tbody tr:nth-of-type(odd) td.active-odd {
	    background-color: #eff8fd !important;
	}
	.sub-container .table-responsive .table > tbody tr:nth-of-type(even) td.active-even,
	.table-responsive .table > tbody tr:nth-of-type(even) td.active-even {
	    background-color: #e9f2f8 !important;
	}
	
	.sub-container .summary_box .summary_value,
	.summary_box .summary_value span {color: #1779BD !important;}
	a { color: #337ab7 !important; text-decoration: none !important; }
	
	.draft { color: #B74ECA !important; }
	.closed { color: #179604 !important; }
	.partially-delivered,.Partially-Delivered { color: #FFCC00 !important; }
	.banked-in-by-admin,.with-admin,.banked-in-by-co,.with-co, .with-vo, .Banked-In-By-CO, .banked-in-by-vo , .banked-in,.banked-in-by-sr{
		color: #00CC33 !important;
	}
	.cancelled, .cancellation-initiated, .delinquent, .Rejected, .rejected {color: #DE5E3D !important;}
	.accepted, .pay-ahead,.Confirmed,.confirmed,.Delivered ,.delivered,.Cleared,.cleared,.ordered,.Ordered,.banked-in,.Banked-in {
		color: #00CC33 !important;
	}
	.released, .amended, .Reconsidered,.Re-considered, .reconsidered,.Pending,.pending,.pending-confirmation,.pending-verification,.pending-vo-allocation,.pending-co-allocation,.pending-collection ,.cash-in-hand, .cheque-in-hand{
		color:#f19c00 !important;
	}
	.current { color: #784C8D !important; }
	.Active { color: #00CC33 !important; }
	.Inactive { color: #CCCCCC !important; }
	.visible-print-block .address { color: #696969 !important; }
	.table-responsive .table > tfoot {page-break-after: always;}
	
	.co-manage .popover { display: none !important; }
	
	/*******View Contract********/
	.view-container-wraper {}
	.view-container-wraper .view-summary { padding-left: 0; }
	.view-container-wraper .sticky-stripe { border: 0; padding: 0; }
	.view-container-wraper .followWrap { height: 0 !important; }
	.view-container-wraper .review-container { border: 0; border-bottom: 1px solid #ccc; !important; border-radius: 0; }
	.view-container-wraper .review-container .header { 
		border: 0;
    	background: none;
    	padding: 0;
	}
	.view-container-wraper .review-container .header span { margin: 0; }
	.view-container-wraper .review-container .header img { display: none !important; }
	
	.view-container-wraper .border-bottom-contract,
	.tab-heading  { text-align: left !important; }
	.view-container-wraper .view-sub-heading { text-transform: capitalize; text-align: left !important; }
	.view-container-wraper .sub-container .table-responsive { padding: 0 !important; }
	.font-900,
	.view-container-wraper .font-900,
	.view-container-wraper .review-container .review-heading,
	.view-container-wraper .vo-report .lbl-value,
	.table > thead:first-child > tr:first-child > th { font-weight: normal !important; }
	.print-customer { padding: 0 0 20px; }
	.print-customer a { color: #333 !important; }
	.view-container-wraper .print-customer .headingClass_Autoresponse {
		width: 100%;
		margin: 0;
		border-bottom: none;
		padding-bottom: 15px;
	}
	.print-customer .delivery { 
		margin: 20px 0 0; 
		padding-bottom: 20px;
		border-bottom: 1px solid #eaeaea;
	}
	.review-container,
	.print-customer .review-container .review-reference { border: none; }
	.print-customer .review-container .header {padding-bottom: 10px !important; font-weight: 300 !important;}
	.print-customer .contract-detail .col-xs-12 {width: 100% !important;}
	.print-customer .margin_bottom_15, .print-customer .margin_bottom_20 { margin-bottom: 0px; }
	
	.print-customer .review-container .review-reference { padding: 0 !important; }
	.print-customer .review-container.product .col-xs-offset-1 { margin: 0 !important; }
	.print-customer .review-container.product .body {padding: 0 !important;}
	.print-customer .review-container.product .darkBcg,
	.print-customer .review-container.product .lightBcg,
	.print-customer .review-container.product .product_table {border: none !important; background-color: white !important;}
	.print-customer .review-container .review-sub-heading { font-weight: 300!important; padding: 10px 0 3px!important; }
	.print-customer .view-container-wraper .prod_remarks { padding-top: 40px !important; border: none !important; }
	.vo-report { padding: 0 0 20px !important; }
	
	#printContractProductDetails{ page-break-after: always !important; }
}