<div class="container-fluid loading-wrapper" id="mailBody">
	<div class="loading-spiner" ng-show="loading">
		<img src="distribution/images/loader.gif" alt="Loading..." />
	</div>
	<div class="view-container-wraper" >
		<div class="row hidden-xs hidden-sm hidden-print"></div>
		<div class="row hidden-print" id="pdfIgnoreBack">
			<div class="col-xs-12 back-margin padding-xs">
				<div class="pull-left">
					<a ui-sref="AdminBoard.ManageContract" class="back-link ng-binding"
						href="#/AdminBoard/ManageContract" ng-show="!isCO && !isVO"> <i
						class="fa fa-angle-left"></i>&nbsp;Back to Manage Contracts
					</a>
					<a ui-sref="CoBoard.ManageCollectorCollectionRequest" class="back-link ng-binding"
					   href="#/CoBoard/ManageCollectorCollectionRequest" ng-show="isCO"> <i
							class="fa fa-angle-left"></i>&nbsp;Back to Collection Contract
					</a>
                    <a ui-sref="VoBoard.VoVerificationRequest" class="back-link ng-binding"
                       href="#/VoBoard/VoVerificationRequest" ng-show="isVO"> <i
                            class="fa fa-angle-left"></i>&nbsp;Back to Verification Requests
                    </a>
				</div>


				<div class="pull-right">
					<!--<img role="button" ng-click="printPage($event);"-->
						<!--src="distribution/images/contracts/print_icon.png"-->
						<!--class="pull-right view-contract"> <img role="button"-->
						<!--ng-click="sendEmail($event);"-->
						<!--src="distribution/images/contracts/Email_icon.png"-->
						<!--class="pull-right view-email">-->
				</div>
			</div>
		</div>

		<!-- Print preview for Contract Detail -->
		<div class="row print-customer visible-print-block"
			ng-include="'app/partials/contract/print-customer-detail.html'"></div>

		<div class="row view-heading border-none text-center hidden-print">
			<h1 class="headingClass_Autoresponse">{{contract.contractCode}}</h1>
		</div>

		<div class="row hidden-print">
			<div class="col-xs-12 view-summary border-none padding-xs">
				<img ng-if="isAdmin" has-access="edit"
					src="distribution/images/contracts/edit_icon.png"
					class="edit-img pull-right review-edit"
					ng-click="editContract('summary')"
					ng-hide="removeEditBtn||editCustSummary||editCustSummaryPen" />
				<div class="col-xs-12 margin_bottom_15">
					<div class="col-xs-12 col-sm-4 text-xs-center"
						ng-class="{input_label:editCustSummary&&isAdmin}">
						<span class="cust-col-xs-40 text-xs-right">Contract Date: </span>
						<span class="cust-col-xs-60 text-xs-left font-700">{{contract.orderDate}}</span>
					</div>
					<div class="col-xs-12 col-sm-4 text-center">
						<span class="col-xs-4 col-sm-4 cust-col-xs-40 text-xs-right"
							ng-class="{input_label:editCustSummary&&isAdmin}">Sales
							Rep:</span> <span ng-if="isAdmin"
							class="col-xs-5 col-sm-6 cust-col-xs-60 text-xs-left font-700"
							ng-hide="isAdmin && editCustSummary"><a
							ng-click='ShowSalesRep(contract.salesRepCode, $event)'>{{contract.salesRepName}}</a></span>
						<span ng-if="!isAdmin"
							class="col-xs-5 col-sm-6 cust-col-xs-60 text-xs-left font-700"
							ng-hide="isAdmin && editCustSummary">{{contract.salesRepName}}</span>
						<span ng-if="isAdmin"
							class="col-xs-5 col-sm-6 cust-col-xs-60 text-xs-left"
							ng-show="editCustSummary"> <select
							class="form-control contract-label form_radius c-select"
							ng-model="adminCont.salesRepNameEdit" ng-change="newSelesRep()">
								<option ng-selected="value==contract.salesRepName"
									ng-repeat="(key, value) in salesRepList" value="{{key}}">{{value}}</option>
						</select>
						</span>
					</div>
					<div class="col-xs-12 col-sm-4 text-center text-xs-center"
						ng-class="{input_label:editCustSummary&&isAdmin}">
						<span class="cust-col-xs-40 text-xs-right">Status:</span> <span
							class="cust-col-xs-60 text-xs-left"
							ng-class="concatanateString(contract.status)">{{contract.status}}</span>
					</div>
				</div>
				<div class="col-xs-12 margin_bottom_15">
					<div class="col-xs-12 col-sm-4 text-xs-center" >
						<span class="col-xs-4 col-sm-4 cust-col-xs-40 text-xs-right"
							ng-class="{input_label:editCustSummary&&isAdmin}" ng-show="contract.deliveryDate!==null">Delivery
							Date: </span> <span
							class="col-xs-5 col-sm-6 cust-col-xs-60 text-xs-left font-700"
							ng-hide="(isAdmin && editCustSummary) && contract.deliveryDate===null">{{(contract.deliveryDate!=null)?contract.deliveryDate:'-'}}</span>
						<span ng-if="isAdmin"
							class="col-xs-5 col-sm-6 cust-col-xs-60 text-xs-left font-700 custom-date"
							ng-show="editCustSummary"> <input type="text"
							class="form-control contract-label form_radius placeholder_italic"
							ng-model="contract.deliveryDate" maxlength="11" size="11"
							placeholder="dd/mon/yyyy" datepicker />
						</span>
					</div>
					<div class="col-xs-12 col-sm-4 text-center" >
						<span class="col-xs-6 cust-col-xs-40 text-xs-right"
							ng-class="{input_label:editCustSummary&&isAdmin}" ng-show="contract.commenceMentDate!==null">Commencement
							Date:</span> <span class="col-xs-6 cust-col-xs-60 text-xs-left font-700"
							ng-hide="(isAdmin && editCustSummary) && contract.commenceMentDate===null">{{contract.commenceMentDate}}</span>
						<span ng-if="isAdmin"
							class="col-xs-6 cust-col-xs-60 text-xs-left font-700 custom-date"
							ng-show="editCustSummary"> <input type="text"
							class="form-control contract-label form_radius placeholder_italic"
							ng-model="contract.commenceMentDate" maxlength="11" size="11"
							placeholder="dd/mon/yyyy" datepicker />
						</span>
					</div>
					<div class="col-xs-12 col-sm-4 text-center text-xs-center"
						ng-class="{input_label:editCustSummary&&isAdmin}">
						<span class="cust-col-xs-40 text-xs-right">Customer Name: </span>
						<span class="cust-col-xs-60 text-xs-left font-700"><a
							ng-click='ShowCustomerPage(contract.customerDetails.customerCode, $event)'>{{contract.customerDetails.name}}</a></span>
					</div>
				</div>
				<div class="col-xs-12 margin_bottom_15 heading-line">
					<div class="col-xs-12 col-sm-4 text-xs-center"
						ng-class="{input_label:editCustSummary&&isAdmin}">
						<span class="cust-col-xs-40 text-xs-right">Fiscal Week:</span> <span
							class="cust-col-xs-60 text-xs-left font-700">{{contract.contractWeek}}
							| {{contract.contractMonth}} | {{contract.contractYear}}</span>
					</div>
				</div>
			</div>
		</div>

		<!--Contract Details-->
		<section class="main">
			<div class="row stickey-nav-wrapper padding-xs">
				<ul class="list-group sticky-nav hidden-xs hidden-print" id="pdfIgnoreSideBar">
					<li class="list-group-item customer"
						ng-class="contractDetails?'active':''"
						ng-click="stickyMenu('contract')" tooltip-placement="right"
						uib-tooltip="Contract Details"></li>
					<li class="list-group-item vo_report"
						ng-class="reportDetails?'active':''"
						ng-click="stickyMenu('report')" tooltip-placement="right"
						uib-tooltip="Verification Report" ng-if="showReportTab"></li>
					<li class="list-group-item payment"
						ng-class="paymentDetails1?'active':''"
						ng-click="stickyMenu('payment')" tooltip-placement="right"
						uib-tooltip="Payment History"></li>
					<li class="list-group-item cancellation"
						ng-class="cancellationDetails?'active':''"
						ng-click="stickyMenu('cancellation')" tooltip-placement="right"
						uib-tooltip="Cancellation Details" ng-if="showCancelTab"></li>
					<li class="list-group-item remarks"
						ng-class="remarksDetails?'active':''"
						ng-click="stickyMenu('remarks')" tooltip-placement="right"
						uib-tooltip="Remarks"></li>
				</ul>
				<div class="col-xs-12 sticky-stripe">
					<div class="col-xs-12 hidden-print" ng-show="contractDetails">
						<div class="contract-container col-xs-12 padding_16_5"
							ng-show="{{contract.status!='Pending'}}">
							<div class="col-xs-12 col-sm-4 text-xs-center">
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.verificationOfficerName!=null">Delivered By:</span>
									<span class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.verificationOfficerName!=null">{{(contract.verificationOfficerName!=null)?contract.verificationOfficerName:'-'}}</span>
								</div>
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.collectorName!=null">Collector:</span> <span
										class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.collectorName!=null">{{(contract.collectorName!=null)?contract.collectorName:'-'}}</span>
								</div>
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.cancelType!=null">Cancel Type |
										Date:</span> <span class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.cancelType!=null">{{(contract.cancelType!=null)?contract.cancelType:'-'}}
										| {{contract.cancelDate}}</span>
								</div>
								<div class="col-xs-12">
									<span class="cust-col-xs-40 text-xs-right">Chargeback 1:</span>
									<span class="cust-col-xs-60 text-xs-left font-900">
										<!-- Week NN| MMM| YYYY -->{{(contract.chargeBack1!=null)?contract.chargeBack1:'-'}}
									</span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 text-center">
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.doNum!=null">Delivery
										Order No:</span> <span class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.doNum!=null">{{(contract.doNum!=null)?contract.doNum:'-'}}</span>
								</div>
								<div class="col-xs-12">
									<span class="cust-col-xs-40 text-xs-right">Last Payment
										Date:</span> <span class="cust-col-xs-60 text-xs-left font-900">{{payment[payment.length-1].lastPaymentDt}}</span>
								</div>
								<div class="col-xs-12" ng-show="false">
									<span class="cust-col-xs-40 text-xs-right">Cancel
										Period:</span> <span class="cust-col-xs-60 text-xs-left font-900">-</span>
								</div>
								<div class="col-xs-12">
									<span class="cust-col-xs-40 text-xs-right">Chargeback 2:</span>
									<span class="cust-col-xs-60 text-xs-left font-900"> {{(contract.chargeBack2!=null)?contract.chargeBack2:'-'}}</span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 text-right text-xs-center">
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.deliveryDate!=null">Delivered
										Date:</span> <span class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.deliveryDate!=null">{{(contract.deliveryDate!=null)?contract.deliveryDate:'-'}}</span>
								</div>
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.statusDate!=null">Status Date:</span>
									<span class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.statusDate!=null">{{contract.statusDate}}</span>
								</div>
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.suspenseContractDt!=null">Suspend Date:</span>
									<span class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.suspenseContractDt!=null">{{contract.suspenseContractDt}}</span>
								</div>
								<div class="col-xs-12">
									<span class="cust-col-xs-40 text-xs-right">Reinstatement:</span>
									<span class="cust-col-xs-60 text-xs-left font-900">{{(contract.reinstatement!=null)?contract.reinstatement:'-'}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 review-container">
							<div class="header sticky-block-view">
								<img
									src="distribution/images/contracts/Customer-Details-gray.png" />
								<span class="review-heading">Customer Details</span> <img
									has-access="edit"
									src="distribution/images/contracts/edit_icon.png"
									class="edit-img pull-right" ng-click="editContract('customer')"
									ng-hide="removeEditBtn||editCustomer||editCustomerPen" />
							</div>
							<div class="col-xs-12 body" ng-hide="editCustomer">
								<div
									ng-include="'app/partials/contract/view-customer-detail.html'"></div>
							</div>
							<div class="col-xs-12 body" ng-show="editCustomer">
								<div
									ng-include="'app/partials/contract/edit-customer-details.html'"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 review-container">
							<div class="header sticky-block-view">
								<img src="distribution/images/contracts/Book_gray.png" /> <span
									class="review-heading">Product Details</span> <img
									has-access="edit"
									src="distribution/images/contracts/edit_icon.png"
									class="edit-img pull-right" ng-click="editContract('product')"
									ng-hide="removeEditBtn||editProduct" />
							</div>
							<div class="col-xs-12 body" ng-hide="editProduct">
								<div
									ng-include="'app/partials/contract/view-product-detail.html'"></div>
							</div>
							<div class="col-xs-12 body contract-table" ng-show="editProduct">
								<div ng-include="'app/partials/contract/product-detail.html'"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 review-container">
							<div class="header sticky-block-view">
								<img
									src="distribution/images/contracts/Payment-Details-grey.png" />
								<span class="review-heading">Pricing & Payment Details</span> <img
									has-access="edit"
									src="distribution/images/contracts/edit_icon.png"
									class="edit-img pull-right" ng-click="editContract('payment')"
									ng-hide="removeEditBtn||editPayment" />
							</div>
							<div class="col-xs-12 body" ng-hide="editPayment">
								<div
									ng-include="'app/partials/contract/view-payment-detail.html'"></div>
							</div>
							<div class="col-xs-12 body" ng-show="editPayment">
								<div ng-include="'app/partials/contract/payment-detail.html'"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 reference-btn"
							ng-show="editProduct||editCustomer||editPayment">
							<span class="pull-left">
								<button type="button"
									class="btn btn-md contract-btn border-none btn_font_bold"
									ng-click="cancellEditCustomer()">Cancel</button>
							</span> <span class="pull-right">
								<button type="button" ng-show="!showNewContractSaveButton"
									class="btn btn-md createroleButton btn_font_bold"
									ng-click="saveContract()">Save Contract</button>
								<button type="button" ng-show="showNewContractSaveButton"
									class="btn btn-md createroleButton btn_font_bold"
									ng-click="createNewContract()">Create New</button>
							</span>
						</div>
						<div
							class="col-xs-12 contract-container padding-none border-none reference-foot margin_bottom_20"
							ng-hide="editProduct||editCustomer||editPayment">

                            <div class="col-xs-12 col-sm-12 col-md-12 review-container">

                                <div class="header sticky-block">
                                    <img src="distribution/images/contracts/Book_gray.png"/>
                                    <span class="review-heading">Customer Agreement</span>
                                    <!-- <img src="distribution/images/contracts/edit_icon.png" class="edit-img pull-right" ng-click="editPreview()"/> -->
                                </div>

                                <div class="col-xs-12 body">
                                    <div class="col-xs-12 margin_bottom_10"><span>Sales Representative is not allowed to collect any installment or cash on behalf of the company (except the initial payment or down payment1). No cash discount is allowed to given by a sales representative after this agreement is signed.</span>
                                        <br><br>
                                        <div class="centerTest">
                                            <span class="cooling-off">This contract is subject to a cooling-off period of ten working days.</span></div></div>
                                    <div class="checkbox cust-chkbox white-checkbox col-xs-12">
                                        <label> <input type="checkbox" name="review_terms"
                                                       ng-model="contract.review_terms" value="true"
                                                       ng-disabled="true"><span><span></span></span>I,
                                            {{contract.customerDetails.name}} hereby agree to the <a
                                                    href="javascript:void(0)">terms and conditions</a> and <a
                                                    href="javascript:void(0)">Privacy policy</a> terms of Grolier
                                        </label>
                                    </div>

                                </div>


                            </div>

							<!--<div class="checkbox cust-chkbox white-checkbox">
								<label> <input type="checkbox" name="review_terms"
									ng-model="contract.review_terms" value="true"
									ng-disabled="true"><span><span></span></span>I,
									{{contract.customerDetails.name}} hereby agree to the <a
									href="javascript:void(0)">terms and conditions</a> and <a
									href="javascript:void(0)">Privacy policy</a> terms of Grolier
								</label>
							</div>-->
						</div>
						<div
							class="col-xs-12 col-sm-12 col-md-12 reference-btn hidden-print"
							ng-hide="editProduct||editCustomer||editPayment" id="pdfIgnoreBtn">
							<!-- <span class="pull-left">
								<img src="distribution/images/contracts/save-icon.png">
							</span> -->
							<!--<span class="pull-right cancel-xs-btn" has-access="edit">-->
								<!--&lt;!&ndash; <button class="btn btn-md createroleButton btn_font_bold margin_right_10">Return/Cancel Contract</button> &ndash;&gt;-->
								<!--<button-->
									<!--ng-if="contract.status.toLowerCase()!='rejected' && contract.status.toLowerCase()!='dm rejected' && showCancelInitiateBtn();"-->
									<!--class="btn btn-md createroleButton btn_font_bold margin_right_10"-->
									<!--ng-click="cancelThisContract()">Return/Cancel Contract</button>-->
								<!--<button ng-show="showUpgradeDowngradeButton()"-->
									<!--class="btn btn-md createroleButton btn_font_bold"-->
									<!--ng-click="upgradeContract('createNew');">Upgrade/Downgrade</button>-->
								<!--<button-->
									<!--ng-show="contract.status.toLowerCase()=='rejected' && isAdmin"-->
									<!--class="btn btn-md createroleButton btn_font_bold margin_right_10"-->
									<!--ng-click="acceptByDM()">Accept</button>-->
								<!--<button-->
									<!--ng-show="contract.status.toLowerCase()=='rejected' && isAdmin"-->
									<!--class="btn btn-md createroleButton btn_font_bold margin_right_10"-->
									<!--ng-click="rejectedByDM()">Reject & Close</button>-->
							<!--</span>-->
						</div>
					</div>

					<div ng-if="showReportTab"
						class="col-xs-12 margin_30_bottom report-tab"
						ng-show="reportDetails" ng-form name="vo.voVerificationForm">
						<div class="col-xs-12 text-center tab-heading">
							<span class="view-sub-heading raleway_subheading">Verification
								Report</span>
						</div>
						<div
							class="col-xs-12 col-sm-12 col-md-12 review-container vo-report sub-container">

							<div class="col-xs-12"
								ng-include="'app/partials/vo/general-report.html'"></div>

							<div class="col-xs-12" ng-hide="vo.reportStatus=='Rejected'"
								ng-include="'app/partials/vo/confirmed-report.html'"></div>

							<div class="col-xs-12 review-heading text-left" ng-if="isVO && contract.shipmentStatus!='Delivered'">Remarks
								(Optional)</div>
							<div class="col-xs-12 col-sm-12 col-md-12" ng-if="isVO && contract.shipmentStatus!='Delivered'">
								<textarea class="form-control form_radius" rows="5"
									ng-model="vo.data.remarks"></textarea>
							</div>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-12 hidden-print"
							ng-if="isVO && contract.shipmentStatus!='Delivered'">
							<button
								ng-disabled="vo.voVerificationForm.disableSubmit||!vo.voVerificationForm.$valid"
								class="btn btn-md createroleButton btn_font_bold pull-right margin_bottom_10"
								ng-click="vo.submitVerificationReport()">Submit</button>
						</div>
					</div>

					<div ng-if="showCancelTab" class="col-xs-12 margin_30_bottom"
						ng-show="cancellationDetails">
						<form name="vo.voCancellationForm"
							ng-submit="approveOrRejectCancellation()">
							<div class="col-xs-12 text-center tab-heading">
								<span class="view-sub-heading raleway_subheading">Cancellation
									Request Form</span>
							</div>
							<div
								class="col-xs-12 col-sm-12 col-md-12 review-container vo-report sub-container">
								<div class="col-xs-12 border-bottom vo-report-detail">
									<div class="col-xs-12 review-heading text-left">Delivery
										Details</div>
									<ul class="col-xs-12 col-md-11 report-list">
										<li class="col-xs-12 col-sm-6">
											<div class="col-xs-5 col-md-4 text-right">Delivery
												Order No:</div>
											<div class="col-xs-6 col-md-7 lbl-value">{{contract.doNum}}</div>
										</li>
										<li class="col-xs-12 col-sm-6">
											<div class="col-xs-5 col-md-4 text-right">Invoice No |
												Date:</div>
											<div class="col-xs-6 col-md-7 lbl-value ">INVID1234 |
												18-Mar-2016</div>
										</li>
									</ul>
									<ul class="col-xs-12 col-md-11 report-list">
										<li class="col-xs-12 col-sm-6">
											<div class="col-xs-5 col-md-4 text-right">Delivered
												Date:</div>
											<div class="col-xs-6 col-md-7 lbl-value">{{contract.deliveryDate}}</div>
										</li>
										<li class="col-xs-12 col-sm-6">
											<div class="col-xs-5 col-md-4 text-right">Delivered
												Address:</div>
											<div class="col-xs-6 col-md-7 lbl-value">
												<p>{{contract.customerDetails.homeAddressLine1}},
													{{contract.customerDetails.homeAddressLine2}},</p>
												<p>{{contract.customerDetails.homeState}},
													{{contract.customerDetails.homeCountry}}</p>
											</div>
										</li>
									</ul>
								</div>

								<div class="col-xs-12 border-bottom vo-report-detail">
									<div class="col-xs-12 review-heading text-left">Cancellation
										Details</div>
									<ul class="col-xs-12 col-md-11 report-list">
										<li class="col-xs-12 text-right">
											<div class="col-xs-4 col-sm-2">Cancel Request Date:</div>
											<div class="col-xs-7 col-sm-3 col-md-2 lbl-value">
												<input type="text" maxlength="11" size="11" disabled=""
													ng-model="vo.cancelData.cancelRequestDate"
													class="form-control contract-label text-center form_radius">
											</div>
										</li>
										<li class="col-xs-12">
											<div class="col-xs-4 col-sm-2 text-right">Reason:</div>
											<div class="col-xs-7 col-sm-9 lbl-value">
												<textarea class="form-control form_radius" rows="4"
													ng-model="vo.cancelData.cancelReason"
													placeholder="Reason of Cancellation"
													ng-disabled="isAdmin|| isCM || contract.status.toLowerCase()==='cancellation initiated'"></textarea>

											</div>
										</li>
										<li class="col-xs-12">
											<div class="col-xs-4 col-sm-2 text-right">Approve/Cancel
												Reason:</div>
											<div class="col-xs-7 col-sm-9 lbl-value">
												<textarea name="approvalRejectionReason"
													class="form-control form_radius" rows="4"
													ng-model="$parent.cancelApproveRejectRemarks"
													placeholder="Cancellation Reason"
													ng-disabled="approveRejectionCommentDisable()"
													ng-class="vo.voCancellationForm.approvalRejectionReason.$invalid && submitPressedApproveReject?'emptyField':''"></textarea>
												<span class="errorMsg"
													ng-show="vo.voCancellationForm.approvalRejectionReason.$invalid && submitPressedApproveReject">Please
													Enter your reason for approval/rejection.</span>
											</div>
										</li>
									</ul>
								</div>
								<div ng-show="showProductDetails()">
									<div class="col-xs-12 review-heading text-left">Product
										Details</div>
									<div class="col-xs-4"
										ng-show="showLocationForCancellation()">
										<div class="form-group">
											<label>Bin :</label> <select class="form-control"
												ng-model="$parent.cancellationLocation"
												ng-disabled="disableLocationForCancellation()"
												ng-required="productDetailsLocationRequired()"
												ng-options='location as location.locationName for location in locationList track by location.locationId'>

											</select>
										</div>
									</div>

									<!-- For Desktop and Tablet -->
									<div class="col-xs-12 hidden-xs">
										<div ng-if="isSalesRep"
											class="col-xs-12 table-responsive contract-table border-bottom"
											ng-controller="ManageGridCtrl">
											<table class="table table-striped">
												<thead>
													<tr>
														<th ng-repeat="(i,th) in vo.cancelProductSalesCol"
															style="width: {{th.width"
															ng-mouseenter="activeColumn($index+1)"
															ng-mouseleave="deActiveColumn(i,$index+1)"
															ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
															<ul>
																<li class="col-head-text">{{th.col}}</li>
																<li class="order-arrow"><i class="fa fa-chevron-up"
																	ng-show="predicate == i  && reverse"></i> <i
																	class="fa fa-chevron-down"
																	ng-show="predicate == i  && !reverse"></i></li>
															</ul>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr
														ng-repeat="prod1 in contract.productDetails|orderBy:predicate:reverse">
														<td>{{$index+1}}</td>
														<td class="text-left"><span class="font-900">{{prod1.productId}}</span>
															{{prod1.productName}}</td>
														<td>{{prod1.quantity}}</td>
													</tr>
												</tbody>
											</table>
										</div>

										<div ng-if="isCO"
											class="col-xs-12 table-responsive contract-table border-bottom"
											ng-controller="ManageGridCtrl">
											<table class="table table-striped">
												<thead>
													<tr>
														<th ng-repeat="(i,th) in vo.cancelProductColList"
															style="width: {{th.width"
															ng-mouseenter="activeColumn($index+1)"
															ng-mouseleave="deActiveColumn(i,$index+1)"
															ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
															<ul>
																<li class="col-head-text">{{th.col}}</li>
																<li class="order-arrow"><i class="fa fa-chevron-up"
																	ng-show="predicate == i  && reverse"></i> <i
																	class="fa fa-chevron-down"
																	ng-show="predicate == i  && !reverse"></i></li>
															</ul>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr
														ng-repeat="prod2 in contract.productDetails|orderBy:predicate:reverse">
														<td>{{$index+1}}</td>
														<td class="text-left"><span class="font-900">{{prod2.productId}}</span>
															{{prod2.productName}}</td>
														<td>{{prod2.quantity}}</td>
														<td>{{prod2.deliveredQty}}</td>
														<td ng-if="contract.status != 'Cancelled'"><input
															type="text"
															ng-model="vo.cancelData.productDetails[$index].returnedQty"
															ng-class="vo.cancelQtyError[$index] ? 'emptyField' : ''"
															allow-pattern="\d"
															ng-change="vo.validateCancelQtyInput($index, prod2.deliveredQty, vo.cancelData.productDetails[$index].returnedQty)"
															class="form-control contract-label text-center form_radius"
															limit-char="5" size="5" /></td>
														<td ng-if="contract.status == 'Cancelled'">{{vo.cancelData.productDetails[$index].returnedQty}}</td>
														<td>{{prod2.deliveredQty -
															vo.cancelData.productDetails[$index].returnedQty}}</td>
														<td ng-if="contract.status != 'Cancelled'"><input
															type="text"
															ng-model="vo.cancelData.productDetails[$index].remarks"
															class="form-control contract-label form_radius" /></td>
														<td ng-if="contract.status == 'Cancelled'">{{vo.cancelData.productDetails[$index].remarks}}</td>
													</tr>
												</tbody>
											</table>
										</div>

										<div ng-if="isAdmin || isCM"
											class="col-xs-12 table-responsive contract-table border-bottom"
											ng-controller="ManageGridCtrl">
											<table class="table table-striped">
												<thead>
													<tr>
														<th ng-repeat="(i,th) in vo.adminCancelProductColList"
															style="width: {{th.width"
															ng-mouseenter="activeColumn($index+1)"
															ng-mouseleave="deActiveColumn(i,$index+1)"
															ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
															<ul>
																<li class="col-head-text">{{th.col}}</li>
																<li class="order-arrow"><i class="fa fa-chevron-up"
																	ng-show="predicate == i  && reverse"></i> <i
																	class="fa fa-chevron-down"
																	ng-show="predicate == i  && !reverse"></i></li>
															</ul>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr
														ng-repeat="prod3 in contract.productDetails|orderBy:predicate:reverse">
														<td>{{$index+1}}</td>
														<td class="text-left"><span class="font-900">{{prod3.productId}}</span>
															{{prod3.productName}}</td>
														<td>{{prod3.quantity}}</td>
														<td>{{prod3.deliveredQty}}</td>
														<td>{{prod3.returnedQty}}</td>
														<td ng-if="contract.status != 'Cancelled'"><input
															type="text"
															ng-model="vo.cancelData.productDetails[$index].verifiedProdQty"
															ng-class="vo.cancelQtyError[$index] ? 'emptyField' : ''"
															allow-pattern="\d"
															ng-change="vo.validateCancelQtyInput($index, prod3.returnedQty, vo.cancelData.productDetails[$index].verifiedProdQty)"
															class="form-control contract-label text-center form_radius"
															limit-char="5" size="5" /></td>
														<td ng-if="contract.status == 'Cancelled'">{{vo.cancelData.productDetails[$index].verifiedProdQty}}</td>
														<td ng-if="contract.status != 'Cancelled'"><input
															type="text"
															ng-model="vo.cancelData.productDetails[$index].remarks"
															class="form-control contract-label form_radius" /></td>
														<td ng-if="contract.status == 'Cancelled'">{{vo.cancelData.productDetails[$index].remarks}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

									<!-- For Mobile Screen -->
									<div class="col-xs-12 visible-xs cancel-xs-table">
										<div ng-if="isSalesRep" class="col-xs-12"
											ng-repeat="prod1 in contract.productDetails">
											<div class="col-xs-12">
												<div class="col-xs-4 text-left">{{prod1.productId}}:</div>
												<div class="col-xs-8 font-900">{{prod1.productName}}</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-4 text-right">Ordered Qty</div>
												<div class="col-xs-8">{{prod1.quantity}}</div>
											</div>
										</div>

										<div ng-if="isCO" class="col-xs-12"
											ng-repeat="prod2 in contract.productDetails">
											<div class="col-xs-12">
												<div class="col-xs-4 text-left">{{prod2.productId}}:</div>
												<div class="col-xs-8 font-900">{{prod2.productName}}</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-4 text-right">Ordered Qty</div>
												<div class="col-xs-8">{{prod2.quantity}}</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-4 text-right">Delivered Qty</div>
												<div class="col-xs-8">{{prod2.deliveredQty}}</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-4 text-right">Returned Qty</div>
												<div class="col-xs-8"
													ng-if="contract.status !== 'Cancelled'">
													<input type="text"
														ng-model="vo.cancelData.productDetails[$index].returnedQty"
														ng-class="vo.cancelQtyError[$index] ? 'emptyField' : ''"
														allow-pattern="\d"
														ng-change="vo.validateCancelQtyInput($index, prod2.deliveredQty, vo.cancelData.productDetails[$index].returnedQty)"
														class="form-control contract-label text-center text-xs-left form_radius"
														   limit-char="5" size="5" />
												</div>
												<div class="col-xs-8"
													ng-if="contract.status === 'Cancelled'">{{vo.cancelData.productDetails[$index].returnedQty}}</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-4 text-right">Remaining Qty</div>
												<div class="col-xs-8">{{prod2.deliveredQty -
													vo.cancelData.productDetails[$index].returnedQty}}</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-4 text-right">Remarks (Optional)</div>
												<div class="col-xs-8"
													ng-if="contract.status !== 'Cancelled'">
													<input type="text"
														ng-model="vo.cancelData.productDetails[$index].remarks"
														class="form-control contract-label form_radius" />
												</div>
												<div class="col-xs-8"
													ng-if="contract.status === 'Cancelled'">{{vo.cancelData.productDetails[$index].remarks}}</div>
											</div>
										</div>

										<div ng-if="isAdmin|| isCM" class="col-xs-12"
											ng-repeat="prod3 in contract.productDetails">
											<div class="col-xs-12">
												<div class="col-xs-4 text-left">{{prod3.productId}}:</div>
												<div class="col-xs-8 font-900">{{prod3.productName}}</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-4 text-right">Ordered Qty</div>
												<div class="col-xs-8">{{prod3.quantity}}</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-4 text-right">Delivered Qty</div>
												<div class="col-xs-8">{{prod3.deliveredQty}}</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-4 text-right">Returned Qty</div>
												<div class="col-xs-8">{{prod3.returnedQty}}</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-4 text-right">Verified Qty</div>
												<div class="col-xs-8"
													ng-if="contract.status !== 'Cancelled'">
													<input type="text"
														ng-model="vo.cancelData.productDetails[$index].verifiedProdQty"
														ng-class="vo.cancelQtyError[$index] ? 'emptyField' : ''"
														allow-pattern="\d"
														ng-change="vo.validateCancelQtyInput($index, prod3.returnedQty, vo.cancelData.productDetails[$index].verifiedProdQty)"
														class="form-control contract-label text-center text-xs-left form_radius"
														   limit-char="5" size="5" />
												</div>
												<div class="col-xs-8"
													ng-if="contract.status === 'Cancelled'">{{vo.cancelData.productDetails[$index].verifiedProdQty}}</div>
											</div>
											<div class="col-xs-12">
												<div class="col-xs-4 text-right">Remarks (Optional)</div>
												<div class="col-xs-8"
													ng-if="contract.status !== 'Cancelled'">
													<input type="text"
														ng-model="vo.cancelData.productDetails[$index].remarks"
														class="form-control contract-label form_radius" />
												</div>
												<div class="col-xs-8"
													ng-if="contract.status === 'Cancelled'">{{vo.cancelData.productDetails[$index].remarks}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div
								class="col-xs-12 col-sm-12 col-md-12 text-center text-xs-right hidden-print"
								ng-if="contract.status != 'Cancelled'|| contract.status != 'Cancel Request Rejected'">
								<!-- <button class="btn btn-md contract-btn btn_font_bold cancel-reset" ng-click="vo.cancelCancellationRequest();">Cancel</button> -->
								<!-- <button class="btn btn-md contract-btn btn_font_bold cancel-reset" ng-click="vo.resetCancellationRequest();">Reset</button> -->
								<button type="button"
									class="btn btn-md btn-default contract-prev"
									ng-if="showApproveRejectButton()"
									ng-click="vo.resetCancellationRequest();">Undo Changes</button>
								<button type="button" ng-if="isCO"
									ng-disabled="vo.voCancellationForm.disableSubmit||!vo.voCancellationForm.$valid"
									class="btn btn-md createroleButton btn_font_bold"
									ng-click="vo.submitCancellationRequest()">Save</button>
								<button type="button" ng-click="vo.approveCancellation();"
									ng-if="showApproveRejectButton()"
									ng-disabled="vo.voCancellationForm.disableSubmit||vo.voCancellationForm.$invalid"
									class="btn btn-md createroleButton btn_font_bold">Approve</button>
								<button type="button" ng-click="vo.rejectCancellation();"
									ng-if="showApproveRejectButton()"
									ng-disabled="vo.voCancellationForm.$invalid"
									class="btn btn-md createroleButton btn_font_bold cancl-reject">Reject</button>
							</div>
						</form>
					</div>

					<div class="col-xs-12 margin_30_bottom" ng-show="remarksDetails">
						<div
							class="col-xs-12 hidden-xs text-center contract-container border-bottom-contract padding_tb_20_10">
							<span class="view-sub-heading raleway_subheading">Remarks</span>
						</div>
						<div
							class="col-xs-12 visible-xs text-center contract-container padding_tb_20_10">
							<span class="view-sub-heading raleway_subheading">Remarks</span>
						</div>
						<div
							class="col-xs-12 hidden-xs text-left margin_bottom_20 margin_top_10 hidden-print">
							<span class="add-remarks font-900">Add Remarks</span>
						</div>
						<div class="col-xs-12 hidden-print">
							<div class="col-xs-3 col-sm-2 remark_label">
								<span class="contract-label ">Remarks (Optional):</span>
							</div>
							<div class="col-xs-9 col-sm-10 padding-none margin_bottom_10">
								<textarea class="form-control form_radius" rows="5" id="comment"
									ng-model="viewRemark"></textarea>
							</div>
						</div>
						<div
							class="col-xs-12 col-sm-12 col-md-12 border-bottom-contract padding_10 hidden-print">
							<button type="button"
								class="btn btn-md createroleButton btn_font_bold pull-right margin_bottom_10"
								ng-click="addRemark()">Add</button>
						</div>
						<div class="col-xs-12 hidden-print">
							<span class="comment-remarks">Showing
								{{remarkList.length}} Remarks</span>
						</div>
						
						<div class="col-xs-12" ng-show="remarkList===null||remarkList===undefined||remarkList.length===0">
						
						
						<ul class="col-xs-3 noRemarkList">
						<li><span>Customer Section:</span></li>
						<li><span>Product Details:</span></li>
						<li><span>Pricing & Payment Details:</span></li>
						</ul>
						
						<ul class="col-xs-2">
						<li>-</li>
						<li>-</li>
						<li>-</li>
						</ul>
						
						
						</div>
						
						
						<div class="col-xs-12 comment-text"
							ng-repeat="remark in remarkList">
							<!-- 18-Mar-2016 10.35PM -->
							<span class="col-xs-12 comment-user">{{remark.recordedBy}}
								| {{remark.recorderDate}}</span> <span class="font-900"
								ng-show="remark.showShortRemark"> <span class="remarkSpan" ng-show="remark.remarkType==='Customer_Section' || remark.remarkType==='Product_Section' || remark.remarkType==='Pricing_Section' ">{{remark.remarkType}} :</span>
								{{shortRemark(remark.remarks)}} <a ng-click="readMore($index)"
								ng-hide="remark.remarks.length<200"> Read More..</a>
							</span> <span class="font-900" ng-hide="remark.showShortRemark">
								<span class="remarkSpan" ng-show="remark.remarkType==='Customer_Section' || remark.remarkType==='Product_Section' || remark.remarkType==='Pricing_Section' ">{{remark.remarkType}} :</span> {{remark.remarks}} <a
								ng-click="readLess($index)" ng-hide="remark.remarks.length<200">Read
									Less..</a>
							</span>
						</div>

					</div>

					<div class="col-xs-12 margin_30_bottom sub-container"
						ng-controller="ManageGridCtrl" ng-show="paymentDetails1">
						<div
							class="col-xs-12 col-sm-12 col-md-12 text-center contract-container padding_tb_20_10 hidden-print">
							<span class="view-sub-heading raleway_subheading">Payment
								History</span>
						</div>
						<div
							class="hidden-xs col-xs-12 top_box padding-none margin_bottom_10 hidden-print">
							<div class="pull-left hidden-sm showing_margin">
								<!-- Showing 1-{{selectedCnt}} of {{totalItems}} Records  -->
								Showing {{showingStart}}-{{showingEnd}} of {{totalItemCount}}
								Records
							</div>
							<div
								class="pull-right showing_page padding-right-none border-none">
								<span>Showing Per Page</span> <select
									class="btn btn-dropdown btn-md dropdown-toggle"
									ng-model="selectedCnt"
									ng-options="noOfRecords for noOfRecords in recordsPerPage"
									ng-change="PageCntChange()">
									<option value="noOfRecords" ng-if="false">{{selectedCnt}}</option>
								</select>
							</div>
						</div>

						<div
							class="visible-xs col-xs-12 top_box padding-none margin_bottom_10 hidden-print">
							<div class="pull-left hidden-sm showing_margin">Showing
								{{listing.limit}} Payments</div>
							<div
								class="pull-right showing_page padding-right-none border-none">
								<span>Sort by</span> <select
									class="btn btn-dropdown btn-md dropdown-toggle"
									ng-model="listing.sortedBy"
									ng-options="list.value as list.text for list in listing.sortedByList track by list.value">
									<option value="" ng-if="false">-Select-</option>
								</select>
							</div>
						</div>

						<!-- Desktop and Tabalet Screen -->
						<div
							class="hidden-xs col-xs-12 table-responsive contract-table padding-side-none">
							<table class="table table-striped">
								<thead>
									<tr>
										<th ng-repeat="(i,th) in paymentList"
											ng-mouseenter="activeColumn($index+1)"
											ng-mouseleave="deActiveColumn(i,$index+1)"
											ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
											<ul>
												<li class="col-head-text">{{th}}</li>
												<li class="order-arrow">
													<ul>
														<i class="fa fa-chevron-up"
															ng-show="predicate == i  && reverse"></i>
														<i class="fa fa-chevron-down"
															ng-show="predicate == i  && !reverse"></i>
													</ul>
												</li>
											</ul>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat="row in payment|orderBy:predicate:reverse| orderBy: listing.sortedBy">
										<td>{{row.lastPaymentDt}}</td>
										<td>{{row.paymentType}}</td>
										<td>{{row.paymentMethod}}</td>
										<td>{{row.paymentRefNum}}</td>
										<td>{{row.paymentMethod.toLowerCase()==='cheque'?row.chequeDt:row.lastPaymentDt}}</td>
										<td>{{row.collectedBy}}</td>
										<!-- <td>{{row.prevBalance}}</td> -->
										<td>{{row.paymentAmt}}</td>
										<td>{{row.orderDueAmt}}</td>
										<td>{{(row.statusDate===null)?'-':row.statusDate}}</td>
										<td>{{(row.bankInStatus===null)?'-':row.bankInStatus}}</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- Admin Posting -->
						<!--
                                                <div
                                                    class="col-xs-12 col-sm-12 col-md-12 text-center contract-container padding_tb_20_10 hidden-print">
                                                    <span class="view-sub-heading raleway_subheading">Admin Posting History</span>
                                                </div>
                                                <div
                                                    class="hidden-xs col-xs-12 top_box padding-none margin_bottom_10 hidden-print">
                                                    <div class="pull-left hidden-sm showing_margin">
                                                        //Showing 1-{{selectedCnt}} of {{totalItems}} Records
                                                        Showing {{showingStart}}-{{showingEnd}} of {{totalItemCount}}
                                                        Records
                                                    </div>
                                                    <div
                                                        class="pull-right showing_page padding-right-none border-none">
                                                        <span>Showing Per Page</span> <select
                                                            class="btn btn-dropdown btn-md dropdown-toggle"
                                                            ng-model="selectedCnt"
                                                            ng-options="noOfRecords for noOfRecords in recordsPerPage"
                                                            ng-change="PageCntChange()">
                                                            <option value="noOfRecords" ng-if="false">{{selectedCnt}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div
                                                    class="visible-xs col-xs-12 top_box padding-none margin_bottom_10 hidden-print">
                                                    <div class="pull-left hidden-sm showing_margin">Showing
                                                        {{listing.limit}} Payments</div>
                                                    <div
                                                        class="pull-right showing_page padding-right-none border-none">
                                                        <span>Sort by</span> <select
                                                            class="btn btn-dropdown btn-md dropdown-toggle"
                                                            ng-model="listing.sortedBy"
                                                            ng-options="list.value as list.text for list in listing.sortedByList track by list.value">
                                                            <option value="" ng-if="false">-Select-</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                // Desktop and Tabalet Screen
                                                <div
                                                    class="hidden-xs col-xs-12 table-responsive contract-table padding-side-none">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th ng-repeat="(i,th) in paymentList"
                                                                    ng-mouseenter="activeColumn($index+1)"
                                                                    ng-mouseleave="deActiveColumn(i,$index+1)"
                                                                    ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
                                                                    <ul>
                                                                        <li class="col-head-text">{{th}}</li>
                                                                        <li class="order-arrow">
                                                                            <ul>
                                                                                <i class="fa fa-chevron-up"
                                                                                    ng-show="predicate == i  && reverse"></i>
                                                                                <i class="fa fa-chevron-down"
                                                                                    ng-show="predicate == i  && !reverse"></i>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                ng-repeat="row in adminPostingHistoryList|orderBy:predicate:reverse| orderBy: listing.sortedBy">
                                                                <td>{{row.lastPaymentDt}}</td>
                                                                <td>{{row.paymentType}}</td>
                                                                <td>{{row.paymentMethod}}</td>
                                                                <td>{{row.paymentRefNum}}</td>
                                                                <td>{{row.paymentMethod.toLowerCase()==='cheque'?row.chequeDt:row.lastPaymentDt}}</td>
                                                                <td>{{row.collectedBy}}</td>
                                                                // <td>{{row.prevBalance}}</td>
                                                                <td>{{row.paymentAmt}}</td>
                                                                <td>{{row.orderDueAmt}}</td>
                                                                <td>{{(row.statusDate===null)?'-':row.statusDate}}</td>
                                                                <td>{{(row.bankInStatus===null)?'-':row.bankInStatus}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>  -->

						<!-- Admin Posting End -->

						<!-- Mobile Screen -->
						<div class="col-xs-12 visible-xs">
							<div class="col-xs-12 table-xs-view"
								ng-repeat="row in payment | limitTo: listing.limit | orderBy: listing.sortedBy">
								<div class="col-xs-12 heading">{{row.lastPaymentDt}}</div>
								<div class="col-xs-12">
									<div class="col-xs-6">{{contract.doNum}}</div>
									<div class="col-xs-6 text-xs-right">
										<label>Prev. Balance: <span>{{row.prevBalance}}</span></label>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-6">{{row.paymentType}}</div>
									<div class="col-xs-6 text-xs-right">
										<label>Amount:<span class="confirmed">{{row.paymentAmt}}</span></label>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-6">
										<label>Status Date:<span>{{(row.statusDate===null)?'-':row.statusDate}}</span></label>
									</div>
									<div class="col-xs-6 text-xs-right">
										<label>Out. Balance:<span>{{row.orderDueAmt}}</span></label>
									</div>
								</div>
							</div>
							<div ng-if="!listing.showLoader"
								class="col-xs-12 load-more text-center">
								<img src="distribution/images/icons/loader-inactive-20x20.png" />
								<span>Load More</span>
							</div>
							<div ng-if="listing.showLoader"
								class="col-xs-12 load-more text-center">
								<img src="distribution/images/icons/loader-20x20.png" /> <span><a
									href="javascript:void(0);" ng-click="listing.loadMore();">Load
										More</a></span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

		<!--Footer Sticky Navigation-->
		<div class="row footer-stickey visible-xs hidden-print">
			<div class="col-xs-12">
				<ul class="list-group footer-sticky-nav text-center">
					<li class="list-group-item" ng-class="contractDetails?'active':''"
						ng-click="stickyMenu('contract')">
						<div class="img customer-img"></div>
						<div class="tab-text">Contract Details</div>
					</li>
					<li class="list-group-item" ng-class="reportDetails?'active':''"
						ng-click="stickyMenu('report')" ng-if="showReportTab">
						<div class="img vo_report-img"></div>
						<div class="tab-text">Verification Report</div>
					</li>
					<li class="list-group-item" ng-class="paymentDetails1?'active':''"
						ng-click="stickyMenu('payment')">
						<div class="img payment-img"></div>
						<div class="tab-text">Payment History</div>
					</li>
					<li class="list-group-item"
						ng-class="cancellationDetails?'active':''"
						ng-click="stickyMenu('cancellation')" ng-if="showCancelTab">
						<div class="img cancellation-img"></div>
						<div class="tab-text">Cancellation Details</div>
					</li>
					<li class="list-group-item" ng-class="remarksDetails?'active':''"
						ng-click="stickyMenu('remarks')">
						<div class="img remarks-img"></div>
						<div class="tab-text">Remarks</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="row reference-btn contract_screen_content hidden-print"
			ng-hide="true">
			<span class="pull-left">
				<button type="button" class="btn btn-md cancelButton btn_font_bold">Cancel</button>
				<img src="distribution/images/contracts/save-icon.png">
			</span> <span class="pull-right">
				<button type="button"
					class="btn btn-md createroleButton btn_font_bold">Save &
					Submit</button>
			</span>
		</div>
	</div>
</div>
