<div class="container-fluid loading-wrapper">
	<div class="loading-spiner" ng-show="loading"><img src="distribution/images/loader.gif" alt="Loading..."/></div>
	
	<div class="vo-verify">	
		<div class="row">
			<div
				class="col-xs-12 col-sm-12 col-md-12 text-center">
				<h2 class="headingClass_Autoresponse">GROLIER MALAYSIA - SBN BHD: VERIFICATION REPORT</h2>			
			</div>
		</div>
	
		<div class="clearfix boby-sec" ng-hide="contractAccepted||contractReconsider||contractReject">
			<div class="col-xs-12 sub-container section_summary" ng-show="pageCount==0">
				<div class="stepLine_vo"></div>
			    <div class="col-xs-12 sales-rep-block">
			         <h3>Hi {{contract.verificationOfficerName}},</h3>
			         <p>Welcome to the Verification process.</p>
			         <p>Please find the contract details below</p>
			    </div>
			   	<div class="col-xs-12 summary-block">
					<div class="col-xs-6">
						<span class="">Contract Code | Date </span>
						<span class="lbl-value"><a ng-click="gotoContractDetail($event);">{{contract.contractCode}}</a> | {{contract.orderDate}}</span>
					</div>
					<div class="col-xs-6 text_right">
						<span class="">Customer</span>
						<span class="lbl-value"><a ng-click='ShowCustomerPage(contract.customerCode, $event)'>{{contract.customerCode}} | {{vo.report.data.custName}}</a></span>
					</div>
			    </div>
			    
			    <div ng-include ="'app/partials/vo/contract-summary.html'"></div>
			    		
				<div class="col-xs-12 ok_wrapper">
					<button class="btn btn-md okayButton" ng-click="next(false);">Start</button>
					<!-- <p class="pull-left">or press enter <br> to proceed</p> -->
				</div>
			</div>
			<div class="col-xs-12 section_verification" ng-show="pageCount>0 && pageCount<5">
				<div class="col-xs-12" ng-show="pageCount==1">
					<div class="col-xs-12">
						<div class="stepLine_vo"></div>
						<h3 class="custom-label">Section 1</h3>
						<div class="stepLine_vo"></div>
					</div>				
					<div class="col-xs-12 text-center">
						<h4 class="custom-label uppercase-desktop">Verification Report</h4>
						<div class="stepLine_vo"></div>
					</div>			
					<div class="col-xs-12">
						<p class="custom-label">Please verify the personal details provided by the customer.</p>
					</div>
					<div class="col-xs-12 ok_wrapper">
						<button class="btn btn-md okayButton" ng-click="next(false);">OK</button>
						<p class="pull-left">or press enter <br> to proceed</p>
					</div>
				</div>
				
				<div class="col-xs-12 section1_header" ng-show="pageCount>1 && pageCount<5"> {{customerDetails}} </div>
				<div class="col-xs-12" ng-show="pageCount==2">
					<div class="col-xs-12 question">
						 <label class="custom-label">1. Name of the Customer</label>
					</div>
					<div class="col-xs-10 col-sm-4 answer">
						<input my-enter="next()" type="text" class="form-control form_radius" ng-model="vo.report.data.custName" autofocus>
					</div>				
					<div class="col-xs-12 ok_wrapper">
						<button class="btn btn-md okayButton" ng-click="next(true);">OK</button>
						<p class="pull-left"> or press enter <br> to procced</p>
					</div>
					<div class="col-xs-12 col-md-12 disabled">
						<label class="custom-label">2. Salary Income ?</label>
					</div>
				</div>
	
				<div class="col-xs-12" ng-show="pageCount==3">
					<div class="col-xs-12 disabled">
						<label class="custom-label">1. Name of the Customer</label>
						<div class="lbl-value">{{vo.report.data.custName}}</div>
					</div>
					<div class="col-xs-12 question">
						 <label class="custom-label">2. Salary Income ?</label>
					</div>
					<div class="col-xs-12 answer">
						<div class="radio cust-radio gray-radio" ng-repeat="income in vo.report.incomeList">
				  			<label><input my-enter="next()" type="radio" name="salary" ng-model="vo.report.data.salaryIncome" value="{{income}}"><span><span></span></span> {{income}}</label>
						</div>
					</div>
					<div class="col-xs-12 ok_wrapper">
						<button class="btn btn-md okayButton" ng-click="next(true);">OK</button>
						<p class="pull-left"> or press enter <br> to procced</p>
					</div>
					<div class="col-xs-12 col-md-12 disabled">
						<label class="custom-label">3. Customer can speak</label>
					</div>
				</div>
	
				<div class="col-xs-12" ng-show="pageCount==4">
					<div class="col-xs-12 disabled">
						<label class="custom-label">2. Salary Income ?</label>
						<div class="lbl-value">{{vo.report.data.salaryIncome}}</div>
					</div>				
					<div class="col-xs-12 question">
					 	<label class="custom-label">3. Customer can speak</label>
					</div>
					<div class="col-xs-12 answer">
						<div class="checkbox cust-chkbox white-checkbox" ng-repeat="language in vo.report.langList">
				  			<label><input my-enter="next()" type="checkbox" name="language" ng-model="vo.report.langSelected[language]" value="{{language}}"><span><span></span></span>{{language}}</label>
						</div>
						<div class="checkbox cust-chkbox white-checkbox">
				  			<label><input my-enter="next()" type="checkbox" name="language" ng-model="vo.report.otherLanguageSpeak" ng-change="showOtherLang=!showOtherLang;vo.report.langSelected['Other']='';" value="Other"><span><span></span></span>Other</label>
						</div>
						<div class="col-xs-12 col-sm-4 answer" ng-show="showOtherLang">
							<input my-enter="next()" type="text" class="form-control form_radius" ng-model="vo.report.langSelected['Other']"/>
						</div>
					</div>
					
					<div class="col-xs-12 ok_wrapper">
						<button class="btn btn-md okayButton" ng-click="next(true);">OK</button>
						<p class="pull-left"> or press enter <br> to procced</p>
					</div>
				</div>
			</div>
				
			<div class="col-xs-12 section_company" ng-show="pageCount>4 && pageCount<7">
				<div class="col-xs-12" ng-show="pageCount==5">
					<div class="col-xs-12">
						<div class="stepLine_vo"></div>
						<h3 class="custom-label">Section 2</h3>
						<div class="stepLine_vo"></div>
					</div>				
					<div class="col-xs-12 text-center">
						<h4 class="custom-label">COMPANY's ORDER</h4>
						<div class="stepLine_vo"></div>
					</div>			
					<div class="col-xs-12">
						<p class="custom-label">Please verify the Company details provided by the customer.</p>
					</div>
					<div class="col-xs-12 ok_wrapper">
						<button class="btn btn-md okayButton" ng-click="next(false);">OK</button>
						<p class="pull-left">or press enter <br> to proceed</p>
					</div>
				</div>	
				
				<div class="col-xs-12 section1_header" ng-show="pageCount==6"> {{companyDetails}} </div>
				<div class="col-xs-12" ng-show="pageCount==6">
					<div class="col-xs-12 disabled">
						<div class="section">Section 1</div>
						<div class="sub-section">Verification Report</div>
						<label class="custom-label">The Subscriber can speak</label>
						<div class="lbl-value">{{vo.report.langString}}</div>
					</div>	
					<div class="col-xs-12 question">
					 	<label class="custom-label">1. Company is operating in</label>
					</div>
					<div class="col-xs-12 answer">
						<div class="checkbox cust-chkbox white-checkbox" ng-repeat="operation in vo.report.operationList">
				  			<label><input my-enter="next()" type="checkbox" name="compOperating" ng-model="vo.report.operationSelected[operation]" value="{{operation}}"><span><span></span></span>{{operation}}</label>
						</div>
						<div class="checkbox cust-chkbox white-checkbox">
				  			<label><input my-enter="next()" type="checkbox" name="compOperating" ng-model="vo.report.otherCompOperating" ng-change="showOtherOperation=!showOtherOperation;vo.report.operationSelected['Other']='';" value="Other"><span><span></span></span>Other</label>
						</div>
						<div class="col-xs-12 col-sm-4 answer" ng-show="showOtherOperation">
							<input my-enter="next()" type="text" class="form-control form_radius" ng-model="vo.report.operationSelected['Other']"/>
						</div>
					</div>		
					
					<div class="col-xs-12 ok_wrapper">
						<button class="btn btn-md okayButton" ng-click="next(true);">OK</button>
						<!-- <p class="pull-left"> or press enter <br> to procced</p> -->
					</div>
					<div class="col-xs-12 disabled">
						<div class="section">Section 3</div>
						<div class="sub-section">Verification Officer Comments</div>
						<label class="custom-label">Remarks (if any)</label>
					</div>	
				</div>
			</div>			
				
			<div class="section_comments" ng-show="pageCount>6 && pageCount<10">
				<div class="col-xs-12" ng-show="pageCount==7">
					<div class="col-xs-12">
						<div class="stepLine_vo"></div>
						<h3 class="custom-label">Section 3</h3>
						<div class="stepLine_vo"></div>
					</div>				
					<div class="col-xs-12 text-center">
						<h4 class="custom-label">VERIFICATION OFFICER COMMENTS</h4>
						<div class="stepLine_vo"></div>
					</div>			
					<div class="col-xs-12">
						<p class="custom-label">Please provide your remarks and recommendation.</p>
					</div>
					<div class="col-xs-12 ok_wrapper">
						<button class="btn btn-md okayButton" ng-click="next(false);">OK</button>
						<!-- <p class="pull-left">or press enter <br> to proceed</p> -->
					</div>
				</div>	
							
				<div class="col-xs-12 section1_header" ng-show="pageCount>7 && pageCount<10">{{commentsDetails}}</div>
				<div class="col-xs-12" ng-show="pageCount==8">
					<div class="col-xs-12 disabled">
						<div class="section">Section 2</div>
						<div class="sub-section">Company's Order</div>
						<label class="custom-label">Company is operating in</label>
						<div class="lbl-value">{{ vo.report.operationString }}</div>
					</div>
	
					<div class="col-xs-12 question">
					 	<label class="custom-label">1. Remark's, if any </label>
					</div>
					<div class="col-xs-12 answer margin_30_bottom">
						<textarea my-enter="next()" rows="5" class="form_radius textArea_width" ng-model=vo.report.data.remarks></textarea>
					</div>

					<div class="col-xs-12 question">
					 	<label class="custom-label">2. Installment collection</label>
					</div>

					<div class="col-xs-12 answer margin_30_bottom">
						<div class="radio cust-radio gray-radio">
				  			<label><input type="radio" name="installmentLocation" ng-model="vo.report.data.installmentLocation" value="Home"/><span><span></span></span>Home</label>
						</div>
						<div class="radio cust-radio gray-radio">
				  			<label><input type="radio" name="installmentLocation" ng-model="vo.report.data.installmentLocation" value="Office"/><span><span></span></span>Office</label>
						</div>
						<!-- <div class="radio cust-radio gray-radio">
				  			<label><input type="radio" name="installmentLocation" ng-model="vo.report.data.installmentLocation" value="Spouse"/><span><span></span></span>Spouse Address</label>
						</div> -->
					</div>

					<div class="col-xs-12 ok_wrapper">
						<button class="btn btn-md okayButton" ng-click="next(true);">OK</button>
						<!-- <p class="pull-left">or press enter <br> to proceed</p> -->
					</div>
				
				<!-- <div class="col-xs-12 col-md-12 nextUpcoming custom-label arial_bold_font">2.I Recommend to</div> -->
				
				</div>
				<div class="col-xs-12" ng-show="pageCount==9">
					<div class="col-xs-12 disabled">
						<label class="custom-label">1. Remark's, if any</label>
						<div class="lbl-value">{{vo.report.data.remarks}}</div>
					</div>
					<div class="col-xs-12 question">
					 	<label class="custom-label">2. I Recommend to</label>
					</div>
					
					<div class="col-xs-12 answer margin_30_bottom">
						<div class="radio cust-radio gray-radio">
				  			<label><input type="radio" name="contractStatus" ng-model="vo.report.data.recommendContract" value="Accept_Contract" ng-change="changeContractRecommend('Accept_Contract');"><span><span></span></span>Accept Contract</label>
						</div>
						<!-- <div class="radio cust-radio gray-radio">
				  			<label><input type="radio" name="contractStatus" ng-model="vo.report.data.recommendContract" value="Reconsider_Contract" ng-change="changeContractRecommend('Reconsider_Contract');"><span><span></span></span>Reconsider Contract</label>
						</div> -->
						<div class="radio cust-radio gray-radio">
				  			<label><input type="radio" name="contractStatus" ng-model="vo.report.data.recommendContract" value="Reject_Contract" ng-change="changeContractRecommend('Reject_Contract');"><span><span></span></span>Reject Contract</label>
						</div>
					</div>
					<!-- <div class="col-xs-12 ok_wrapper">
						<button class="btn btn-md okayButton" ng-click="next(true);">OK</button>
						<p class="pull-left">or press enter <br> to proceed</p>
					</div> -->
				</div>
			</div>
	
			<div class="col-xs-12" ng-hide="pageCount==0">
				<input type="text" ng-model="count" ng-hide="true" />
				
				<div class="stepLine_vo"></div>
				<div class="col-xs-12 progress_wrapper mobile_btn_padding">
		  			<div class="col-xs-6">
						<button class="btn btn-md QuestionBtn" ng-click="cancel()">{{count}} of 6 questions answered</button>
						<uib-progressbar class="progress_vo" value="count*17"></uib-progressbar>    
		    		</div>
		  			<div class="col-xs-6">	  			
		  				<button class="btn btn-md next-btn pull-right"
							ng-click="next(false);" ng-hide="pageCount==9">
							<img src="distribution/images/Arrow-Round-down.png"></img>
						</button>
						<button class="btn btn-md prev-btn pull-right"
							ng-click="previous(false);" ng-hide="pageCount==0">
							<img src="distribution/images/Arrow-Round-up.png"></img>
						</button>
					</div>
				</div>			
			</div>		
		</div>
		
		<div class="clearfix boby-sec" ng-show="contractAccepted||contractReconsider||contractReject">
			<div class="col-xs-12 sub-container section_summary" ng-show="contractAccepted">
				<div class="stepLine_vo"></div>
			    <div class="col-xs-12 verfied accepted">
				  	<span class="text text-center text-xs-left col-xs-12">{{contract.contractCode}} has been Accepted</span>   
				  	<span class="vo_contract_assign">
						 <button class="btn btn-md reverify-btn" ng-click="reverify();">Re-verify</button>
					</span>
			    </div>
			    
			    <div ng-include ="'app/partials/vo/contract-summary.html'"></div>
			    		
				<div class="col-xs-12 amount_wrapper">
					<span class="col-xs-8 col-md-4 text">Payment to be collected upon delivery</span>
				  	<span class="col-xs-4 col-md-8 text-right amount">{{contract.downPayment2}}</span>
				</div>
				<div class="col-xs-12 collect-payment">
				  	<button class="btn btn-md createroleButton btn_font_bold pull-right" ng-click="collectPayment();">{{buttonText}}</button>
				</div>
			</div>
			<div class="col-xs-12 section_summary" ng-show="contractReconsider">
				<div class="stepLine_vo"></div>
			    <div class="col-xs-12 verfied reconsidered">
				  	<span class="text text-center text-xs-left col-xs-12">{{contract.contractCode}} to be Reconsidered</span>   
				  	<span class="vo_contract_assign">
						 <button class="btn btn-md reverify-btn" ng-click="reverify();">Re-verify</button>
					</span>
			    </div>
			    <div class="col-xs-12">
			    	<div class="col-xs-12 font-900 margin_bottom_20">
				  		Inform Sales Rep on Reconsideration
					</div>
				  	<div class="col-xs-11 col-xs-offset-1 margin_bottom_20">
				  		<div class="col-xs-4 width_auto">Sales Rep </div> 
			  			<div class="col-xs-8 font-900 lbl-value"> {{contract.salesRepName}} | {{contract.salesRepCode}}</div>
					</div>
					<div class="col-xs-11 col-xs-offset-1 margin_bottom_20">
				  		<div class="col-xs-4 width_auto">Message: </div> 
			  			<div class="col-xs-8 font-900 lbl-value">
			  				<textarea rows="5" class="form_radius textArea_width" ng-model=vo.report.reconsidered.message></textarea>
			  			</div>
					</div>
				</div>
				<div class="stepLine_vo"></div>
			    
				<div class="col-xs-12 collect-payment">
				  	<button class="btn btn-md createroleButton btn_font_bold pull-right" ng-click="submitReconsidered();">Send</button>
				</div>
			</div>
			<div class="col-xs-12 section_summary" ng-show="contractReject">
				<div class="stepLine_vo"></div>
			    <div class="col-xs-12 verfied rejected">
				  	<span class="text text-center text-xs-left col-xs-12">{{contract.contractCode}} has been Rejected</span>   
				  	<span class="vo_contract_assign">
						 <button class="btn btn-md reverify-btn" ng-click="reverify();">Re-verify</button>
					</span>
			    </div>
			    <div class="col-xs-12">
			    	<p>This contract cannot be accepted at this time. Please do not deliver the products in this contract to the customer.
			    	 This contract will be sent to the Sales DM to review and for the next steps.</p>
				</div>
			    
				<div class="col-xs-12 collect-payment">
				  	<button class="btn btn-md createroleButton btn_font_bold pull-right" ng-click="gotoManagePage();">Save & Go Back To Manage Verification Requests</button>
				</div>
			</div>
			
		</div>
	</div>
</div>	
