<div class="container-fluid">
	<div class='row text_center margin_top_heading hidden-xs'>
	   <h1 class="raleway_heading">Completed Requests</h1> 
	</div>
	
	<div class="row main-container" ng-controller="ManageVoCompleteCtrl">
	<div class="col-xs-12 data-block" ng-hide="isEmptyManageData" ng-controller="ManageGridCtrl">
		<div class="sidebar-wrapper {{SidebarWidth}}" ng-include="'app/modules/sidebar-filter/view.html'"></div>
		
		<!-- ManageUserGridCtrl-->
		<div class="sub-container {{MainGridWidth}}">
			<div class="top_box">
				
				<div class="pull-left hidden-sm showing_margin">
					Showing {{totalItemCount}} verification Requests 	
				</div>
				<div class="pull-right more_links">
					<ul class="dotted">
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<ul class="sub-menu">
                        <li class="print"><a href="javascript: void(0);" data-ng-click="printPage($event);">Print</a></li>
                        <li class="export-csv"> <a href="javascript: void(0);" data-ng-click="exportToCsv($event,colData);">Export to .csv</a></li>
                        <li class="email"><a href="javascript: void(0);" data-ng-click="sendEmail($event);">Email</a></li>
                        <li class="settings"><a href="javascript: void(0);" data-ng-click="columnConfig($event);">Manage Columns</a></li>
                     </ul>
				</div>
				
				<div class="pull-right showing_page" id="showPerPage_Id">
					<span>Showing Per Page</span>
					<select class="btn-style btn-md" ng-model="selectedCnt"
						ng-options="noOfRecords for noOfRecords in recordsPerPage" ng-change="PageCntChange()">
						<option value="noOfRecords" ng-if="false">{{selectedCnt}}</option>
					</select>
				</div>
				
			</div> 
			
			<div data-ng-show="loading" class="loadingIcon"><img src="distribution/images/loader.gif" alt="Loading Icon"></div>
			<div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-hide="loading">
			    <table class="table table-striped checkpadding">
			        <thead>
				            <tr>
				               <th ng-repeat="(i,th) in gridOptions.columnDefs" style="width: {{th.width}};" ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn(i,$index+1)" ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
				               		<ul>
				               			<li class="col-head-text">{{th.title}}</li>
				               			<li class="order-arrow">
					               			<ul>
					               				<i class="fa fa-chevron-up" ng-show="predicate == i  && reverse"></i>
					               				<i class="fa fa-chevron-down" ng-show="predicate == i  && !reverse"></i>
					               			</ul>
				               			</li>
				               		</ul>
				               </th>
				            </tr>
				        </thead>
			        <tbody>
						
						<tr ng-repeat="row in gridOptions.data|orderBy:predicate:reverse" id="{{gridOptions.data.indexOf(row)}}" ng-controller="ManageVoCompleteCtrl">
			                <td class="breakWord">
			                    <div>
			                        <a has-access="viewContract" ng-click='ShowContractPage(row)'>{{row.contractCode}}</a>
			                        <span has-access="!viewContract">{{row.contractCode}}</span>
			                    </div>
			                </td>
			                <td class="breakWord">
			                <a has-access="viewUser" ng-click='ShowCustomerPage(row)'>{{row.custName}}</a>
			                <span has-access="!viewUser">{{row.custName}}</span>
			               </td>
			             	<td class="breakWord">{{row.custHomeAddr==null?'-':row.custHomeAddr}}</td>
			             	<td class="breakWord">{{row.fiscalYear==null?'-':row.fiscalYear}}</td>
			             	<td>
			             		{{row.verificationOfficerName==null?'-':row.verificationOfficerName}}
			             	</td>
			             	
			             	<td class="statusCell breakWord">
								<span class='{{row.orderStatus}}'>{{row.orderStatus}}</span>
			                </td>
			             	<td class="breakWord"><button has-access="view" type="button" class="assign_btn" ng-click="showVerificationReport(row);"><img src="distribution/images/co_vo/view_report.png"></img></button></td>
			             	<td class="statusCell breakWord">
								<span class='{{row.shipmentStatus}}'>{{row.shipmentStatus==null?'-':row.shipmentStatus}}</span>
			                </td>  				
			            </tr>
			        </tbody>
			    </table>
			</div>
				 <div class="col-md-12 text_center" ng-show="showPagination">
			 	<uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" max-size="5" class="pagination-lg" previous-text="&larr;" next-text="&rarr;" first-text="&laquo;" last-text="&raquo;" ng-click="pageChanged($event)"></uib-pagination>
			 	</div>
	    	</div>
		</div>


					<div class="empty-block" ng-hide="!isEmptyManageData">
	    				<div  class="sub-container {{MainGridWidth}}">
							<div class="top_box">	
							</div>
						<div class="row">
							<div class="empty-content col-xs-12 col-sm-10 col-md-6 col-lg-5">
								<p class="raleway_heading">There are no Completed Request to view.</p>
							</div>
						</div>
					</div>
	    		</div>
	  </div>
	  </div>