<div class="modal-body config-modal">
		<div class="modal-body">
			<div class="row" ng-hide="hidegreenTick">
			     <div class="col-xs-12 text-center modal-img" >
			        	<img class="modalSuccessTick" src="distribution/images/Green_check.png"></img>
			    </div>
			 </div>
			    	
			<div class="row" ng-hide="hideRedCross">
        		<div class="col-xs-12 text-center modal-img" >
        			<img class="modalSuccessTick" src="distribution/images/red_icon.png"></img>
        		</div>
    		</div>
			<div class="container-fluid bd-example-row">
				<div class="row">
        			<div class="col-xs-12 text-center">
        				<p>{{modalEntity}} <span class="breakWord modalMessage">{{modalBody}}
        			</div>
        			
        			<div class="row">
        				<div class="col-xs-12 text-center">
        					<p>What do you want to do next?</p>
       					 </div>
    				</div>
				</div>
			
			</div>
		</div>
	
		<div class="modal-footer footerBorder">
			<div class="col-xs-12 text-center">
				<a class="col-xs-8 col-sm-4 btn btn_font_bold backLink" ng-click="ok('close')"><i class="fa fa-angle-left font_fa"></i> Back to Manage Contract</a>
				<button class="col-xs-8 col-sm-4 btn btn_font_bold createAnother" type="button" ng-click="ok('createAnother')">Create Another Contract</button>
				<!--<button class="col-xs-8 col-sm-3 btn btn_font_bold createDraft" type="button" ng-click="cancel()">Continue Editing</button>-->
			</div>
		</div>
</div>