<!-- Sidebar Filter-->
<div class="sidebar-inner-wrapper" ng-controller="SideFilterMenuCtrl" ng-hide="RemoveFilterBar">

	<div class="nav nav-stacked side_bar overlay" ng-show ="ShowSidebarFilter" >
		<ul>
			<li class="font-bold border-bottom refine-by" ng-click="HideFilterBar()">
				<span>REFINE BY</span>
				<!-- <i class="fa fa-chevron-down pull-right" ></i> -->
				<img src="distribution/images/sidebar_arrow.png" class="dropdown_icon icon_refine_by">
				<button class="sidebar-reset" ng-click="resetSidebarFilter(); $event.stopPropagation();"></button>
			</li>
			<!-- 	<li class="font-bold border-bottom" ng-show="ShowRoleFilter">
                 <span>Valid Date Range</span>
            </li> -->
			<!-- <li  ng-show="ShowRoleFilter" class="filter_search" >
                    <input type="text" class="form-control search_box_filter" placeholder="Valid To" ng-model="searchedDate">
                   <img src="distribution/images/next_arrow.png" ng-click="filterGrid()"/>
                <div class="input-group">
                   <input type="text" class="form-control usercheck_box" placeholder="From">
                   <input type="text" class="form-control usercheck_box" placeholder="To">
                </div>
            </li> -->
			<!-- <li class="font-bold border-bottom btn-reset-wpr">
                 <input class="btn btn-md btn-default btn_font_bold" type="reset" value="Reset" ng-click="resetSidebarFilter()" />
            </li> -->


			<!-- Search Box -->
			<li class="font-bold border-bottom" ng-click="toggleSidebar('search')">
				<span>{{searchBoxField}}</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"  ng-show="searchTypeIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right "  ng-show="!searchTypeIcon"></img>
			</li>
			<li class="all_search" ng-hide="ToggleSearchPanel">
				<div class="search_country search_all">
					<input type="text" class="form-control style_search placeholder_italic" placeholder="{{boxPlaceHolder}}" ng-model="searchedText" my-enter="filterGrid()" />
					<img src="distribution/images/search_icon.png" ng-click="filterGrid()"/>
				</div>
			</li>


			<!-- Date Range Filter -->
			<li class="font-bold border-bottom" ng-click="toggleSidebar('dateRanage')" ng-show="showDateRanageFilter">
				<span>Duration</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"   ng-show="dateRanageIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!dateRanageIcon"></img>
			</li>
			<li class="filter_search_status filterMenuScrollBar" ng-hide="ToggleDateRanage||!showDateRanageFilter">
				<div class="checkbox cust-chkbox" ng-repeat="dateRanage in dateRanageArray">
					<label><input id="{{getId(dateRanage)}}" type="checkbox" name="dateRanage" value='{{dateRanage}}' ng-click="filterGrid()"><span><span></span></span>{{dateRanage}}</label>
				</div>
			</li>

			<!--  UserType Filter -->
			<li class="font-bold border-bottom" ng-show="ShowUserFilter" ng-click="toggleSidebar('userType')">
				<span>User Type</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"  ng-show="userTypeIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right "  ng-show="!userTypeIcon"></img>
			</li>
			<li ng-show="ToggleUserType && ShowUserFilter" class="filterMenuScrollBar">
				<div class="checkbox cust-chkbox" ng-repeat="usertype in userTypeLists" >
					<label>
						<input type="checkbox" name="usertype" value="{{usertype}}" ng-click="filterGrid()"><span><span></span></span>{{usertype}}</label>
				</div>
			</li>


			<!-- Sales Team Designation -->
			<li class="font-bold border-bottom" ng-show="ShowDesignationFilter" ng-click="toggleSidebar('designation')">
				<span>Sales Team Designation</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"  ng-show="!salesTeamTypeIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right " ng-show="salesTeamTypeIcon"></img>
			</li>
			<li ng-show="ToggSalesDesig && ShowDesignationFilter" class="filterMenuScrollBar">
				<div class="checkbox cust-chkbox" ng-repeat="SalesTeamDesignation in SalesTeamDesignations">
					<label><input type="checkbox" name="salesrepdesig" value="{{SalesTeamDesignation}}" ng-click="filterGrid()"><span><span></span></span>{{SalesTeamDesignation}}</label>
				</div>
			</li>

			<!-- Division Filter -->
			<li class="font-bold border-bottom" ng-show="ShowDivisionList" ng-click="toggleSidebar('division')">
				<span>Division</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"  ng-show="!divisionIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right "  ng-show="divisionIcon"></img>
			</li>
			<li ng-show="ToggDivision && ShowDivisionFilter" class="filterMenuScrollBar">
				<div class="checkbox cust-chkbox"  ng-repeat="DivisionCode in DivisionCodes">
					<label><input type="checkbox" name="divisioncode" value="{{DivisionCode}}" ng-click="filterGrid()"><span><span></span></span>{{DivisionCode}}</label>
				</div>
			</li>

			<!-- Country Filter -->
			<li class="font-bold border-bottom"  ng-show="ShowCountryFilter" ng-click="toggleSidebar('country')">
				<span>Country</span>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="countryIcon"></img>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right "  ng-show="!countryIcon"></img>
			</li>
			<li ng-show="ToggleCountryName && ShowCountryFilter" class="country_search filterMenuScrollBar">
				<!-- <input type="text" class="form-control search_country placeholder_italic" placeholder="Search Country" ng-model="searchedCountry">
                <img src="distribution/images/search_icon.png"> -->
				<div class="checkbox cust-chkbox"  ng-repeat="countryname in CountryNames|filter:searchedCountry ">
					<label><input type="checkbox" name="country" value="{{countryname}}" ng-click="filterGrid()"><span><span></span></span>{{countryname}}</label>
				</div>
			</li>


			<!-- Method Payment Filter -->
			<li class="font-bold border-bottom" ng-click="toggleSidebar('paymentMethod')" ng-show="showPaymentMethodFilter">
				<span>Payment Type</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"   ng-show="paymentMethodIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!paymentMethodIcon"></img>
			</li>
			<li class="filter_search_status filterMenuScrollBar" ng-hide="TogglePaymentMethod||!showPaymentMethodFilter">
				<div class="checkbox cust-chkbox" ng-repeat="payment in paymentList">
					<label><input type="checkbox" name="paymentType" value='{{payment}}' ng-click="filterGrid()"><span><span></span></span>{{payment}}</label>
				</div>
			</li>

			<!-- Campaign Code Filter -->
			<li class="font-bold border-bottom"  ng-show="showCampaignCodeFilter" ng-click="toggleSidebar('campaignCode')">
				<span>Campaign Code</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right "  ng-show="campaignCodeIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!campaignCodeIcon"></img>
			</li>
			<li ng-hide="ToggleCampaignCode||!showCampaignCodeFilter" class="country_search ">
				<input type="text" class="form-control search_country placeholder_italic" placeholder="Search Campaign Code" ng-model="searchedCampaignCode" ng-change="showHideDropdown()">
				<img src="distribution/images/search_icon.png">
				<ul class="filterMenuScrollBar" id="dropdownCampaign" ng-show="campaignCodeSuggestionList">
					<li ng-repeat="campaignCode in campaignCodeList|filter:searchedCampaignCode " class="checkbox cust-chkbox" ><label><input type="checkbox" name="campaignCode" value="{{campaignCode}}" ng-click="filterGrid()"><span><span></span></span>{{campaignCode}}</label></li>
				</ul>

				<!-- <div class="checkbox cust-chkbox"  ng-repeat="campaignCode in campaignCodeList|filter:searchedCampaignCode ">
				  <label><input type="checkbox" name="campaignCode" value="{{campaignCode}}" ng-click="filterGrid()"><span><span></span></span>{{campaignCode}}</label>
				</div> -->
			</li>



			<!-- CO Filter -->
			<li class="font-bold border-bottom"  ng-show="showCoFilter" ng-click="toggleSidebar('co')">
				<span>CO</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right "  ng-show="!coIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="coIcon"></img>
			</li>
			<li ng-show="ToggleCo && showCoFilter" class="country_search">
				<input type="text" class="form-control search_country placeholder_italic" placeholder="Search CO" ng-model="searchedCo">
				<img src="distribution/images/search_icon.png">
				<div class="checkbox cust-chkbox filterMenuScrollBar"  ng-repeat="co in collectionOfficerList|filter:searchedCo">
					<label><input type="checkbox" name="co" value="{{co.userCode}}" ng-click="filterGrid()"><span><span></span></span>{{co.name}}</label>
				</div>
			</li>


			<!-- VO Filter -->
			<li class="font-bold border-bottom"  ng-show="showVoFilter" ng-click="toggleSidebar('vo')">
				<span>VO</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right "  ng-show="!voIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="voIcon"></img>
			</li>
			<li ng-show="ToggleVo && showVoFilter" class="country_search">
				<input type="text" class="form-control search_country placeholder_italic" placeholder="Search VO" ng-model="searchedVo">
				<img src="distribution/images/search_icon.png">
				<div class="checkbox cust-chkbox filterMenuScrollBar"  ng-repeat="vo in voList|filter:searchedVo">
					<label><input type="checkbox" name="vo" value="{{vo.userCode}}" ng-click="filterGrid()"><span><span></span></span>{{vo.name}}</label>
				</div>
			</li>

			<!-- Sales Rep -->
			<li class="font-bold border-bottom"  ng-show="showSalesRepFilter" ng-click="toggleSidebar('salesRep')">
				<span>Sales Rep</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right "  ng-show="salesRepIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!salesRepIcon"></img>
			</li>
			<li ng-show="TogglesalesRep && showSalesRepFilter" class="country_search">
				<input type="text" class="form-control search_country placeholder_italic" placeholder="Search Sales Rep" ng-model="searchedSalesRep">
				<img src="distribution/images/search_icon.png">
				<div class="filterMenuScrollBar">
					<div class="checkbox cust-radio"  ng-repeat="salesRep in salesList|filter:searchedSalesRep">
						<label><input type="radio" name="salesRep" value="{{salesRep}}" ng-click="filterGrid()" class="inputMarginRight"><span><span></span></span>{{salesRep}}</label>
					</div>
				</div>
			</li>


			<!-- Delinquent Period -->
			<li class="font-bold border-bottom"  ng-show="showDelinqPeriodFilter" ng-click="toggleSidebar('DelinquentPeriod')">
				<span>Delinquent period</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right "  ng-show="DelinquentPeriodIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!DelinquentPeriodIcon"></img>
			</li>
			<li ng-show="ToggleDelinquentPeriod && showDelinqPeriodFilter" class="country_search ">
				<input type="text" class="form-control search_country placeholder_italic" placeholder="Search Delinquent Period" ng-model="searchedDelinquentPeriod">
				<img src="distribution/images/search_icon.png">
				<div class="checkbox cust-chkbox filterMenuScrollBar"  ng-repeat="DelinquentPeriod in DelinquentPeriodType |filter:searchedDelinquentPeriod">
					<label><input type="checkbox" name="DelinquentPeriod" value="{{DelinquentPeriod}}" ng-click="filterGrid()"><span><span></span></span>{{DelinquentPeriod}}</label>
				</div>
			</li>


			<!-- State Filter -->
			<li class="font-bold border-bottom"  ng-show="showStateFilter" ng-click="toggleSidebar('state')">
				<span>State</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right "  ng-show="!stateIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="stateIcon"></img>
			</li>
			<li ng-show="ToggleState && showStateFilter" class="country_search">
				<input type="text" class="form-control search_country placeholder_italic" placeholder="Search State" ng-model="searchedState">
				<img src="distribution/images/search_icon.png">
				<div class="checkbox cust-chkbox filterMenuScrollBar"  ng-repeat="state in stateList|filter:searchedState">
					<label><input type="checkbox" name="state" value="{{state}}" ng-click="filterGrid()"><span><span></span></span>{{state}}</label>
				</div>
			</li>

			<!-- Method of Payment -->
			<li class="font-bold border-bottom" ng-click="toggleSidebar('paymentType')" ng-show="showPaymentTypeFilter">
				<span>Payment Method</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"   ng-show="paymentTypeIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!paymentTypeIcon"></img>
			</li>
			<li class="filter_search_status filterMenuScrollBar" ng-show="TogglePaymentType && showPaymentTypeFilter">
				<div class="checkbox cust-chkbox" ng-repeat="payment in methodOfPayment">
					<label><input type="checkbox" name="paymentType" value='{{payment}}' ng-click="filterGrid()"><span><span></span></span>{{payment}}</label>
				</div>
			</li>


			<li class="font-bold border-bottom" ng-show="ShowStatusFilter" ng-click="toggleSidebar('status')">
				<span>Status</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"   ng-show="!statusIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="statusIcon"></img>
			</li>
			<li class="filter_search_status filterMenuScrollBar" ng-show="ShowStatusFilter && ToggleStatus">
				<div class="checkbox cust-chkbox" ng-repeat="status in StatusType">
					<label><input id="{{getId(status)}}" type="checkbox" name="status" value='{{status}}' ng-click="filterGrid()"><span><span></span></span>{{status}}</label>
				</div>
			</li>

			<li class="font-bold border-bottom" ng-show="requestTypeFilter" ng-click="toggleSidebar('requestType')">
				<span>Request Type</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"   ng-show="requestIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!requestIcon"></img>
			</li>
			<li class="filter_search_status" ng-show="requestTypeFilter && toggleRequestType">
				<div class="checkbox cust-chkbox filterMenuScrollBar" ng-repeat="request in requestType">
					<label><input type="checkbox" name="requestType" value='{{request}}' ng-click="filterGrid()"><span><span></span></span>{{request}}</label>
				</div>
			</li>
			<li class="font-bold border-bottom" ng-show="deductionModeFilter" ng-click="toggleSidebar('deductionMode')">
				<span>Deduction Mode</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"   ng-show="deductionModeIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!deductionModeIcon"></img>
			</li>
			<li class="filter_search_status filterMenuScrollBar" ng-show="deductionModeFilter && toggleDeductionMode">
				<div class="checkbox cust-chkbox" ng-repeat="deduction in DeductionModeList">
					<label><input type="checkbox" name="deductionType" value='{{deduction}}' ng-click="filterGrid()"><span><span></span></span>{{deduction}}</label>
				</div>
			</li>

			<li class="font-bold border-bottom" ng-show="ShowTurnInStatusFilter" ng-click="toggleSidebar('toggleTurnInStatus')">
				<span>Status</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"   ng-show="turnInStatusIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!turnInStatusIcon"></img>
			</li>
			<li class="filter_search_status filterMenuScrollBar" ng-show="ShowTurnInStatusFilter && ToggleTurnInStatus">
				<div class="checkbox cust-chkbox" ng-repeat="status in StatusTypeTurn">
					<label><input type="checkbox" name="turnInSttausFilter" value='{{status}}' ng-click="filterGrid()"><span><span></span></span>{{status}}</label>
				</div>
			</li>

			<li class="font-bold border-bottom" ng-show="vmCompletedFilter" ng-click="toggleSidebar('vmCompletedFilter')">
				<span>Others</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"   ng-show="vmCompletedFilterIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!vmCompletedFilterIcon"></img>
			</li>
			<li class="filter_search_status filterMenuScrollBar" ng-show="vmCompletedFilter && togglevmCompletedFilter">
				<div class="checkbox cust-chkbox" ng-repeat="type in vmFilters">
					<label><input id="{{type+'vmfilter'}}" type="checkbox" name="vmFilter" value='{{type}}' ng-click="filterGrid()"><span><span></span></span>{{type}}</label>
				</div>
			</li>

			<li class="font-bold border-bottom" ng-show="cmCompletedFilter" ng-click="toggleSidebar('cmCompletedFilter')">
				<span>Others</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"   ng-show="cmCompletedFilterIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!cmCompletedFilterIcon"></img>
			</li>
			<li class="filter_search_status" ng-show="cmCompletedFilter && togglecmCompletedFilter">
				<div class="checkbox cust-chkbox" ng-repeat="type in cmFilters">
					<label><input id="{{type+'cmfilter'}}" type="checkbox" name="cmFilter" value='{{type}}' ng-click="filterGrid()"><span><span></span></span>{{type}}</label>
				</div>
			</li>

			<li class="font-bold border-bottom" ng-show="showShipmentStatusFilter" ng-click="toggleSidebar('toggleShipmentStatusFilter')">
				<span>Shipment Status</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"   ng-show="shipmentStatusIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!shipmentStatusIcon"></img>
			</li>
			<li class="filter_search_status" ng-show="showShipmentStatusFilter && ToggleShipmentStatusFilter">
				<div class="checkbox cust-chkbox" ng-repeat="shipmentStatus in ShipmentStatusList">
					<label><input id="{{'shipment'+$index}}" type="checkbox" name="shipmentstatusfilter" value='{{shipmentStatus}}' ng-click="filterGrid()"><span><span></span></span>{{shipmentStatus}}</label>
				</div>
			</li>

			<li class="font-bold border-bottom" ng-show="showFiscalWeekFilter" ng-click="toggleSidebar('toggleFiscalWeekFilter')">
				<span>Fiscal Week/Month</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"   ng-show="fiscalWeekIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!fiscalWeekIcon"></img>
			</li>
			<li class="filter_search_status filterMenuScrollBar" ng-show="showFiscalWeekFilter && ToggleFiscalWeekFilter">
				<div class="custom-date buttonToolbar houseCalender">
					<label><input ng-model="fiscalDate" datepicker type="text" name="fiscalWeekFilter" ng-change="filterDate()" ng-disabled="true"></label>
				</div>
			</li>

			<li class="font-bold border-bottom" ng-show="ShowTransIdFilter" ng-click="toggleSidebar('toggleTransIdFilter')">
				<span>Trans ID</span>
				<img src="distribution/images/topnav_arrow.png" class="dropdown_icon pull-right"   ng-show="transIdIcon"></img>
				<img src="distribution/images/top_downArrow.png" class="dropdown_icon pull-right"  ng-show="!transIdIcon"></img>
			</li>
			<li class="all_search" ng-show="ShowTransIdFilter && ToggleTransIdFilter">
				<div class="search_country search_all">
					<input type="text" class="form-control style_search placeholder_italic" placeholder="Search Trans ID" ng-model="transId" my-enter="filterGrid()" />
					<img src="distribution/images/search_icon.png" ng-click="filterGrid()"/>
				</div>
			</li>


		</ul>
	</div>

	<div class="sidebar-refined" ng-hide="ShowSidebarFilter" ng-click="ShowFilterBar()">
		<img src="distribution/images/refine_text.png">
	</div>
</div>
