<div class="loading-wrapper">
	<!-- <div class="loading-spiner" ng-show="loader">
		<img src="distribution/images/loader.gif" alt="Loading Icon" />
	</div> -->

	<div class="container-fluid" ng-controller="ManageGridCtrl">
		<div ng-controller="EditCustomerCtrl">
		<div class="loading-spiner" ng-show="loader"><img src="distribution/images/loader.gif" alt="Loading Icon"/></div>
			<div class="row view-container-wraper">
				<div class="col-xs-12 back-margin" ng-show="isCO">
					<a ui-sref="CoBoard.ManageCollectorCollectionRequest" class="back-link"> <i
						class="fa fa-angle-left"></i>&nbspBack to Manage Collection
					</a>
				</div>
				<div class="col-xs-12 back-margin" ng-show="isSalesRep">
					<a ui-sref="AdminBoard.ManageCustomer" class="back-link"> <i
							class="fa fa-angle-left"></i>&nbspBack to Manage Customer
					</a>
				</div>
				<div class="col-xs-12 back-margin" ng-show="isVO">
					<a ui-sref="VoBoard.VoVerificationRequest" class="back-link ng-binding"
					   href="#/VoBoard/VoVerificationRequest"> <i
							class="fa fa-angle-left"></i>&nbsp;Back to Verification Requests
					</a>
				</div>
			</div>
			<div
				class="view-container-wraper contract-container view-heading border-none text_center">
				<h1 class="headingClass_Autoresponse">
					{{customer.name}}| <span class="subFont">{{customer.customerCode}}</span>
				</h1>
				<div class="pull-right hidden-xs">
					<img src="distribution/images/contracts/Email_icon.png"class="view-email"> 
					<img src="distribution/images/contracts/print_icon.png"class="view-contract">
				</div>
			</div>
			<div class="view-container-wraper">
				<div class="row mobile_text_right stickey-nav-wrapper">

					<ul class="list-group hidden-xs">
						<li id="nav1" class="list-group-item navBcg" ng-class="nav1Current?'higlightNav':''" ng-mouseover="hoverIn('nav1')" ng-mouseleave="hoverOut('nav1')" ng-click="setCurrent('nav1')" data-toggle="tooltip" data-placement="right" title="Customer"><a>
						<img src="distribution/images/contracts/Customer-Details-icon.png" ng-show="nav1Img">
						<img src="distribution/images/contracts/Customer-Details-gray.png" ng-show="!nav1Img"></a></li>
						
						<li id="nav2" class="list-group-item navBcg" ng-class="nav2Current?'higlightNav':''" ng-mouseover="hoverIn('nav2')" ng-mouseleave="hoverOut('nav2')" ng-click="setCurrent('nav2')" data-toggle="tooltip" data-placement="right" title="Contract History"><a> 
						<img src="distribution/images/contracts/edit.png" ng-show="nav2Img">
						<img src="distribution/images/contracts/edit-gray.png" ng-show="!nav2Img"></a></li>
						
						<li id="nav3" class="list-group-item navBcg" ng-class="nav3Current?'higlightNav':''" ng-mouseover="hoverIn('nav3')" ng-mouseleave="hoverOut('nav3')" ng-click="setCurrent('nav3')" data-toggle="tooltip" data-placement="right" title="Payment History"><a> 
						<img src="distribution/images/contracts/Payment-Details_icon.png" ng-show="nav3Img">
						<img src="distribution/images/contracts/Payment-Details-grey.png" ng-show="!nav3Img"></a></li>
						
						<li id="nav4" class="list-group-item navBcg" ng-class="nav4Current?'higlightNav':''" ng-mouseover="hoverIn('nav4')" ng-mouseleave="hoverOut('nav4')" ng-click="setCurrent('nav4')" data-toggle="tooltip" data-placement="right" title="Remarks"><a> 
						<img src="distribution/images/contracts/chat_button.png" ng-show="nav4Img">
						<img src="distribution/images/contracts/chat-button-active.png" ng-show="!nav4Img"></a></li>
					</ul>

					<div class="col-xs-12 sticky-stripe">
						<div id="tab1" ng-show="tab1">
							<div id="viewPage" ng-show="viewPage">
								<div class="part1_ce">

									<div class="headingBcg header sticky-block-view text-xs-left">
										<img src="distribution/images/icons/customer_details.png" class="blockImage"></img>
										<span class="blockHeading">Customer Details</span>
										<img src="distribution/images/contracts/edit_icon.png" class="eiPadding pull-right showEditPage hidden-xs"></img>
									</div>
									<div class="lrPadding viewCustomerDetails">
										<div class="col-xs-12 col-sm-5 col-md-5">
											<div class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin"> 
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
														<label class="custom-label minHeightLabel">Customer Id:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Customer Name:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">IC No:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Race:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Date of Birth:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Customer is Tax Exempted:</label>
												</div>
											</div>
											
											
											<div class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin custTextAlign">
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.customerCode}}</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.name}}</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.icNo!=null && customer.icNo.trim()!='' ?customer.icNo:'-'}}</label>
												</div>
												<div
													class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.race!=null && customer.race.trim()!=''?customer.race:'-'}}</label>
												</div>
												<div
													class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.dob!=null && customer.dob.trim()!=''?customer.dob:'-'}}</label>
												</div>
												<div
													class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel"></label>
												</div>

											</div>

										</div>
										<div class="col-xs-12 col-sm-5 col-md-5 col-sm-offset-2 col-md-offset-2">

											<div class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin">
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Company:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Designation:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Email:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Phone No:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Alt Phone No:</label>
												</div>
											</div>
											
											
											<div class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin custTextAlign">
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.company!=null && customer.company.trim()!=''?customer.company:'-'}}</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.desg!=null && customer.desg.trim()!=''?customer.desg:'-'}}</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.email!=null && customer.email.trim()!=''?customer.email:'-'}}</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.phonoNo!=null && customer.phonoNo.trim()!=''?dialCode+" - "+customer.phonoNo:'-'}}</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.altPhoneNo!=null && customer.altPhoneNo.trim()!=''?dialCode+" - "+customer.altPhoneNo:'-'}}</label>
												</div>

											</div>

										</div>
									</div>
									<div class="lrPadding viewCustomerDetails remarksBlock">
										<div class="col-xs-6 col-sm-3">
											<div
												class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
												<label class="custom-label minHeightLabel">Remarks
													(Optional):</label>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6">
											<div
												class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
												<label class="custom-label boldFont minHeightLabel">{{remarkList[remarkList.length-1].remarks}}
												</label>
											</div>
										</div>
									</div>

								</div>
								<div class="part1_ce">

									<div class="headingBcg header sticky-block-view text-xs-left">
										<img src="distribution/images/icons/address_details.png" class="blockImage"></img>
										<span class="blockHeading">Address Details</span>
										<img src="distribution/images/contracts/edit_icon.png" class="eiPadding pull-right showEditPage hidden-xs"></img>
									</div>
									<div class="lrPadding viewCustomerDetails addressdetailsBlock">
										<div class="col-xs-12 col-sm-5 col-md-5">
											<div class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin">
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Home Address:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign marginEmailTop">
													<label class="custom-label minHeightLabel">Email:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Phone No:</label>
												</div>
											</div>
											
											<div class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin custTextAlign">
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont addressLabel minHeightLabel">{{customer.homeAddressLine1}}
													<span ng-show="customer.homeAddressLine1!=null && customer.homeAddressLine1.trim()!=''">,</span>{{customer.homeAddressLine2}}
													<span ng-show="customer.homeAddressLine2!=null && customer.homeAddressLine2.trim()!=''">,</span><br>{{customer.homeCity}}
													<span ng-show="customer.homeCity!=null && customer.homeCity.trim()!=''">,</span>{{customer.homeState}}
													<span ng-show="customer.homeState!=null  && customer.homeState.trim()!=''">,</span><br>{{customer.homePinCode}}
													</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.homeEmail!=null && customer.homeEmail.trim()!=''?customer.homeEmail:'-'}}</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.homePhoneNo!=null && customer.homePhoneNo.trim()!=''?dialCode+" - "+customer.homePhoneNo:'-'}}</label>
												</div>

											</div>

										</div>
										<div class="col-xs-12 col-sm-5 col-md-5 col-sm-offset-2 col-md-offset-2">

											<div class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin">
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Company Address:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign marginEmailTop">
													<label class="custom-label minHeightLabel">Email:</label>
												</div>
												<div
													class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Phone No:</label>
												</div>
											</div>
											
											<div class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin custTextAlign">
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 ">
													<label class="custom-label boldFont addressLabel minHeightLabel">{{customer.compAddressLine1}}
													<span ng-show="customer.compAddressLine1!=null && customer.compAddressLine1.trim()!=''">,</span>{{customer.compAddressLine2}}
													<span ng-show="customer.compAddressLine2!=null && customer.compAddressLine2.trim()!=''">,</span><br>{{customer.compCity}} {{customer.compCountry}}
													<span ng-show="customer.compCountry!=null  && customer.compCountry.trim()!=''">,</span><br>{{customer.compPinCode}}
													</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.compEmail!=null && customer.compEmail.trim()!=''?customer.compEmail:'-'}}</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{customer.compPhoneNo!=null && customer.compPhoneNo.trim()!=''?dialCode+" - "+customer.compPhoneNo:'-'}}</label>
												</div>
											</div>

										</div>
									</div>

								</div>
								<div class="part1_ce">
									<div class="headingBcg header sticky-block-view text-xs-left">
										<img src="distribution/images/icons/relationship.png" class="blockImage"></img>
										<span class="blockHeading">Relationship Details</span>
											<img src="distribution/images/contracts/edit_icon.png" class="eiPadding pull-right showEditPage hidden-xs"></img>
									</div>
									<div class="lrPadding viewCustomerDetails addressdetailsBlock" ng-repeat="rel in customer.relationships">
										<div class="col-xs-12 col-sm-5 col-md-5">
											<div class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin">
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Name:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Relationship:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Phone No:</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Email:</label>
												</div>
											</div>
											
											
											<div class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin custTextAlign">
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{rel.name}}</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{rel.relation}}</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{rel.phoneNo!=null && rel.phoneNo.trim()!=''?dialCode+" - "+rel.phoneNo:'-'}}</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{rel.email!=null && rel.email.trim()!=''?rel.email:'-'}}</label>
												</div>
											</div>

										</div>
										
										
										<div class="col-xs-12 col-sm-5 col-md-5 col-sm-offset-2 col-md-offset-2">

											<div class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin">
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
													<label class="custom-label minHeightLabel">Address:</label>
												</div>
											</div>
											
											<div class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin custTextAlign">
												<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
													<label class="custom-label boldFont minHeightLabel">{{rel.addressLine1}}
													<span ng-show="rel.addressLine1!=null && rel.addressLine1.trim()!=''">,</span>{{rel.addressLine2}}
													<span ng-show="rel.addressLine2!=null && rel.addressLine2.trim()!=''">,</span><br>{{rel.cityName}},<br>{{rel.pinCode}}
													</label>
												</div>
											</div>

										</div>
									</div>

								</div>
								<!-- <div class="part1_ce">

								<div class="headingBcg header sticky-block-view">
									<img src="distribution/images/icons/bank_details.png"
										class="blockImage"></img> <span class="blockHeading">Bank
										Details</span><img src="distribution/images/contracts/edit_icon.png"
										class="eiPadding pull-right showEditPage"></img>
								</div>
								<div class="lrPadding viewCustomerDetails addressdetailsBlock"
									ng-repeat="bank in customer.paymentDetails">
									<div class="col-xs-5 col-sm-5 col-md-5">
										<div
											class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin">
											<div
												class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
												<label class="custom-label ">Bank Name:</label>
											</div>
											<div
												class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
												<label class="custom-label ">Account Type:</label>
											</div>

										</div>
										<div
											class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin">
											<div
												class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
												<label class="custom-label boldFont">{{bank.bankName}}</label>
											</div>
											<div
												class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
												<label class="custom-label boldFont">{{bank.accountType}}</label>
											</div>

										</div>

									</div>
									<div
										class="col-xs-5 col-sm-5 col-md-5 col-sm-offset-2 col-md-offset-2">

										<div
											class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin">
											<div
												class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign">
												<label class="custom-label ">Bank Address:</label>
											</div>
											<div
												class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10 rightAlign marginEmailTop">
												<label class="custom-label "><input type="checkbox"
													ng-disabled="true"></label>
											</div>



										</div>
										<div
											class="col-xs-6 col-sm-6 col-md-6 form_margin mobile_form_margin">
											<div
												class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
												<label class="custom-label boldFont">32B, Sunset
													Avenue,<br>CBD Singapore,<br>21345
												</label>
											</div>
											<div
												class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
												<label class="custom-label boldFont">Use this as the
													default payment Method </label>
											</div>


										</div>

									</div>
								</div>

							</div> -->
							</div>
							<div id="editPage" ng-show="editPage">
								<form name="userForm" ng-submit="editCustomer()" novalidate>
									<div class="part1_ce">
										<div class="headingBcg header sticky-block-view">
											<img src="distribution/images/icons/customer_details.png"
												class="blockImage"></img> <span class="blockHeading">Customer
												Details</span>
										</div>
										<div class="lrPadding">
											<div class="col-xs-5 col-sm-5 col-md-5">
												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Customer Code</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.customerCode" ng-disabled="true">
													</div>

												</div>
												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Customer Name</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-class="userForm.custName.$invalid && submitPressed?'emptyField':''"
															ng-model="customer.name" name="custName" required>
														<span class="errorMsg"
															ng-show="userForm.custName.$invalid && submitPressed">Please
															Enter a Name</span>

													</div>

												</div>

												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">IC No</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.icNo" maxlength="20">
													</div>

												</div>


												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Race</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<select
															class="form-control form_radius c-select arrow_remove"
															ng-model="customer.race"
															ng-options="race for race in raceList">

														</select>
													</div>

												</div>


												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Date Of Birth</label>
													</div>
													<div
														class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom custom-date buttonToolbar">
														<input maxlength="11" size="11" placeholder="dd/mon/yyyy"
															datepicker type="text" class="form-control form_radius placeholder_italic"
															ng-model="customer.dob" ng-model="dob">
													</div>

												</div>

											</div>
											<div
												class="col-xs-5 col-sm-5 col-md-5 col-sm-offset-2 col-md-offset-2">

												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Company</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.company">
													</div>

												</div>

												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Designation</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.desg">
													</div>

												</div>


												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Email</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="email" class="form-control form_radius"
															ng-class="userForm.custEmail.$invalid && submitPressed?'emptyField':''"
															ng-model="customer.email" name="custEmail" required>
														<span class="errorMsg"
															ng-show="userForm.custEmail.$invalid && submitPressed">Please
															Enter a Valid Email</span>
													</div>

												</div>


												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Primary Phone</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-class="userForm.custPhone.$invalid && submitPressed ?'emptyField':''"
															ng-model="customer.phonoNo" name="custPhone"
															ng-pattern="/[0-9]+[-]{1}[0-9]{1,11}/" required>
														<span class="errorMsg"
															ng-show="userForm.custPhone.$invalid && submitPressed">Please
															Enter a Valid Phone No</span>
													</div>

												</div>


												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Alt Phone</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.altPhoneNo" name="altphone"
															ng-pattern="/[0-9]+[-]{1}[0-9]{1,11}/"
															ng-class="userForm.altphone.$invalid && submitPressed ?'emptyField':''">

														<span class="errorMsg"
															ng-show="userForm.altphone.$invalid && submitPressed">Please
															Enter a Valid Phone No</span>
													</div>

												</div>

											</div>
										</div>
										<div class="col-xs-12 adjPadding">
											<div class="col-md-12 margin_bottom_10">
												<label class="custom-label">Customer is Tax Exempted</label>
											</div>
											<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
												<div class="onoffswitch">
													<input type="checkbox" name="onoffswitch"
														class="onoffswitch-checkbox" id="myonoffswitch1"
														ng-model="taxexemption"> <label
														class="onoffswitch-label" for="myonoffswitch1"> <span
														class="onoffswitch-inner onoffswitch-inner-desg"></span> <span
														class="onoffswitch-switch"></span>
													</label>
												</div>
											</div>
										</div>
										<div class="col-xs-12 adjPadding remarks">
											<div class="col-md-12 margin_bottom_10">
												<label class="custom-label">Remarks (Optional)</label>
											</div>
											<textarea class="form-control" rows="5" id="comment"></textarea>
										</div>
									</div>
									<div class="part1_ce">
										<div class="headingBcg header sticky-block-view">
											<img src="distribution/images/icons/address_details.png"
												class="blockImage"></img> <span class="blockHeading">Address
												Details</span>
										</div>
										<div class="addressBlockChanges">
											<div class="col-xs-5 col-sm-5 col-md-5">
												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Home Address</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.homeAddressLine1">
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.homeAddressLine2">
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.homeCity">
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<!-- <input type="text" class="form-control form_radius"
											ng-model="customer.homeState"> -->
														<select
															class="form-control form_radius c-select arrow_remove margin_30_bottom"
															ng-model="customer.homeState"
															ng-options="state for state in customer.stateList">
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															maxlength="5" ng-model="customer.homePinCode">
													</div>

												</div>
											</div>
											<div
												class="col-xs-5 col-sm-5 col-md-5 col-sm-offset-2 col-md-offset-2">

												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Phone</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.homePhoneNo">
													</div>

												</div>
												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10 ">
														<label class="custom-label ">Email</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.homeEmail">
													</div>

												</div>

											</div>
										</div>
										<div class="addressBlockChanges">
											<div class="col-xs-5 col-sm-5 col-md-5">
												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Company Address</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.compAddressLine1">
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.compAddressLine2">
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.compCity">
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<!-- <input type="text" class="form-control form_radius"
											ng-model="customer.compState"> -->
														<select
															class="form-control form_radius c-select arrow_remove margin_30_bottom"
															ng-model="customer.compState"
															ng-options="state for state in customer.stateList">
															<option value="">-Select-</option>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															maxlength="5" ng-model="customer.compPinCode">
													</div>

												</div>
											</div>
											<div
												class="col-xs-5 col-sm-5 col-md-5 col-sm-offset-2 col-md-offset-2">

												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Phone</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.compPhoneNo">
													</div>

												</div>
												<div
													class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
													<div
														class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
														<label class="custom-label ">Email</label>
													</div>
													<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
														<input type="text" class="form-control form_radius"
															ng-model="customer.compEmail">
													</div>

												</div>

											</div>
										</div>

									</div>
									<div class="part1_ce">
										<div class="headingBcg header sticky-block-view">
											<img src="distribution/images/icons/relationship.png"
												class="blockImage"></img> <span class="blockHeading">Relationship
												Details</span>
										</div>

										<div ng-repeat="rlt in customer.relationships">
											<ng-form name="paymentForm">
											<div
												class="row mobile_text_right price_screen_content paymentBlock pmtBlockEdit">
												<div class="no">
													<label>{{$index+1}}.</label>
												</div>
												<div class="crossCustomer"
													ng-hide="customer.relationships.length==1">
													<img src="distribution/images/decline_inactive.png"
														ng-click="delRelationship($index)"></img>
												</div>
												<div class="col-xs-12 col-sm-5 col-md-5">
													<div
														class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
														<div
															class="col-xs-3 col-sm-5 col-md-8 padding_right15 margin_bottom_10">
															<label class="custom-label ">Choose Relation</label>
														</div>
														<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
															<select
																ng-class="paymentForm.relationType.$invalid && submitPressed?'emptyField':''"
																class="form-control form_radius c-select arrow_remove margin_10"
																ng-model="rlt.relation"
																ng-options="relation for relation in relationList"
																name="relationType" required>

															</select> <span class="errorMsg"
																ng-show="paymentForm.relationType.$invalid && submitPressed">Please
																Select a RelationShip</span>
														</div>
													</div>
													<div
														class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
														<div
															class="col-xs-3 col-sm-5 col-md-8 padding_right15 margin_bottom_10">
															<label class="custom-label ">Reference Name</label>
														</div>
														<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
															<input type="text" class="form-control form_radius"
																ng-class="paymentForm.relationName.$invalid && submitPressed?'emptyField':''"
																ng-model="rlt.name" name="relationName" required>
															<span class="errorMsg"
																ng-show="paymentForm.relationName.$invalid && submitPressed">Please
																Enter a Name</span>
														</div>
													</div>
													<div
														class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
														<div
															class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
															<label class="custom-label ">Phone</label>
														</div>
														<div
															class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom arrow_select">
															<input type="text" class="form-control form_radius"
																ng-class="paymentForm.relationphone.$invalid && submitPressed?'emptyField':''"
																ng-model="rlt.phoneNo" name="relationphone"
																ng-pattern="/[0-9]+[-]{1}[0-9]{1,11}/"> <span
																class="errorMsg"
																ng-show="paymentForm.relationphone.$invalid && submitPressed">Please
																Enter a Phone Number</span>
														</div>
													</div>


													<div
														class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
														<div
															class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
															<label class="custom-label ">Email</label>
														</div>
														<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">

															<div class="col-xs-8 col-sm-12 col-md-12 custom-date">
																<input type="email" class="form-control form_radius"
																	ng-model="rlt.email" name="relationEmail"
																	ng-class="paymentForm.relationEmail.$invalid && submitPressed?'emptyField':''">

																<span class="errorMsg"
																	ng-show="paymentForm.relationEmail.$invalid && submitPressed">Please
																	Enter a Valid Email</span>

															</div>
														</div>
													</div>
												</div>
												<div
													class="col-xs-12 col-sm-5 col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-2">
													<div
														class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
														<div
															class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
															<label class="custom-label ">Address</label>
														</div>
														<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
															<input type="text" class="form-control form_radius placeholder_italic"
																placeholder="Address Line 1" ng-model="rlt.addressLine1"
																name="relationAddr">
															<!-- ng-class="paymentForm.relationAddr.$invalid && submitPressed?'emptyField':''" -->
															<!-- <span class="errorMsg" ng-show="paymentForm.relationAddr.$invalid && submitPressed">Please Enter Address</span> -->
														</div>
														<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
															<input type="text" class="form-control form_radius placeholder_italic"
																placeholder="Address Line 2" ng-model="rlt.addressLine2">
														</div>
														<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
															<input type="text" class="form-control form_radius placeholder_italic"
																placeholder="City" ng-model="rlt.cityName">
														</div>
														<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
															<select
																class="form-control form_radius c-select arrow_remove"
																ng-model="rlt.stateName"
																ng-options="state for state in customer.stateList"
																name="rltState">
															</select>
															<!-- ng-class="paymentForm.rltState.$invalid && submitPressed ? 'emptyField' : ''" -->
															<!-- <span class="errorMsg" ng-show="paymentForm.rltState.$invalid && submitPressed">Please Select a State</span> -->

														</div>
														<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom buttonToolbar">
															<input type="number" class="form-control form_radius placeholder_italic"
																placeholder="PostCode" maxlength="5" ng-model="rlt.pinCode"
																name="relationPincode">
															<!-- ng-class="paymentForm.relationPincode.$invalid && submitPressed ? 'emptyField' : ''" -->
															<!-- <span class="errorMsg" ng-show="paymentForm.relationPincode.$invalid && submitPressed">Please Enter Pincode</span> -->
														</div>
													</div>


												</div>
												<div class="col-xs-12 addMore btn_font_bold"
													ng-show="($index+1)==customer.relationships.length">
													<label class="btn_font_bold pull-right"
														ng-click="addReference()"><img
														src="distribution/images/Add_icon.png"
														class="adddItemCustomer"></img><span
														class="addCustomerOpt">Add More</span></label>
												</div>

											</div>
										</div>
										</ng-form>
										<div
											class="row mobile_text_right price_screen_content paymentBlock pmtBlockEdit"
											ng-show="customer.relationships==null || customer.relationships==undefined || customer.relationships.length==0">
											<div
												class="col-xs-12 addMore btn_font_bold text-center borderNone ">
												<label class="btn_font_bold "><img
													src="distribution/images/Add_icon.png"
													class="adddItemCustomer" ng-click="addNewRelationship()"><span
													class="addCustomerOpt">Add New RelationShip Details
												</span></label>
											</div>
										</div>


									</div>
									<!-- <div class="part1_ce">
								<div class="headingBcg header sticky-block-view">
									<img src="distribution/images/icons/bank_details.png"
										class="blockImage"></img><span class="blockHeading">Bank
										Details</span>
								</div>
								<div ng-repeat="pmt in customer.paymentDetails">
								<ng-form name="userFieldForm">
									<div
										class="row mobile_text_right price_screen_content paymentBlock pmtBlockEdit">
										<div class="no">
											<label>{{$index+1}}.</label>
										</div>
										<div class="crossCustomer"
											ng-hide="customer.paymentDetails.length==1">
											<img src="distribution/images/decline_inactive.png"
												ng-click="delPaymentMethod($index)"></img>
										</div>
										<div class="col-xs-12 col-sm-5 col-md-5"
											ng-hide="showRoleDetails">
											<div
												class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
												<div
													class="col-xs-3 col-sm-5 col-md-8 padding_right15 margin_bottom_10">
													<label class="custom-label ">Payment Method</label>
												</div>
												<div
													class="col-xs-7 col-sm-12 col-md-12 margin_30_bottom arrow_select">

													<select ng-class="userFieldForm.pmtMethod.$invalid && submitPressed ? 'emptyField' : ''"
														class="form-control form_radius c-select arrow_remove margin_10"
														ng-options="p for p in customer.paymentMethodList"
														ng-model="pmt.paymentMethod" name="pmtMethod" required>
									
													</select>
													
													<span class="errorMsg" ng-show="userFieldForm.pmtMethod.$invalid && submitPressed">Please Select A Payment Method</span>

												</div>
											</div>
											<div
												class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
												<div
													class="col-xs-3 col-sm-5 col-md-8 padding_right15 margin_bottom_10">
													<label class="custom-label ">Bank Name</label>
												</div>
												<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
													<input type="text" class="form-control form_radius" ng-class="userFieldForm.bankName.$invalid && submitPressed ? 'emptyField' : ''"
														ng-model="pmt.bankName" name="bankName" required>
														<span class="errorMsg" ng-show="userFieldForm.bankName.$invalid && submitPressed">Please Enter Bank Name</span>
													
												</div>
											</div>
											<div
												class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
												<div
													class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
													<label class="custom-label ">Account Type</label>
												</div>
												<div
													class="col-xs-7 col-sm-12 col-md-12 margin_30_bottom arrow_select">

													<select 
														class="form-control form_radius c-select arrow_remove margin_10"
														ng-class="userFieldForm.accType.$invalid && submitPressed ? 'emptyField' : ''"
														ng-model="pmt.accountType"
														ng-options="accType for accType in accTypeList" name="accType" required>
														
													</select>
													<span class="errorMsg" ng-show="userFieldForm.accType.$invalid && submitPressed">Please Enter Account Type</span>

												</div>
											</div>
											<div
												class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">

												<div
													class="col-xs-7 col-sm-12 col-md-12 margin_30_bottom arrow_select">

													<label class="custom-label"><input type="checkbox"
														class="form_radius">Use This as the default
														payment method</label>

												</div>
											</div>



										</div>
										<div
											class="col-xs-12 col-sm-5 col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-2"
											ng-hide="showManageDiv">
											<div
												class="col-xs-12 col-sm-12 col-md-12 form_margin mobile_form_margin">
												<div
													class="col-xs-3 col-sm-5 col-md-4 padding_right15 margin_bottom_10">
													<label class="custom-label ">Bank Address</label>
												</div>
												<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
													<input type="text" class="form-control form_radius" ng-model="pmt.bankAddr1" ng-class="userFieldForm.bankAddr1.$invalid && submitPressed ? 'emptyField' : ''"
														placeholder="Address Line 1" name="bankAddr1" required>
												<span class="errorMsg" ng-show="userFieldForm.bankAddr1.$invalid && submitPressed">Please Enter Bank Address</span>
												</div>
												<div class="col-xs-8 col-sm-12 col-md-12 margin_30_bottom">
													<input type="text" class="form-control form_radius" ng-model="pmt.bankAddr2"
														placeholder="Address Line 2">
												</div>

											</div>


										</div>
										<div class="col-xs-12 addMore btn_font_bold"
											ng-show="($index+1)==customer.paymentDetails.length">
											<label class="btn_font_bold pull-right" ng-click="addPmt()"><img
												src="distribution/images/Add_icon.png"
												class="adddItemCustomer"></img><span class="addCustomerOpt">Add
													More</span></label>
										</div>

									</div>
									</ng-form>
								</div>
								<div class="row mobile_text_right price_screen_content paymentBlock pmtBlockEdit" ng-show="customer.paymentDetails==null || customer.paymentDetails==undefined || customer.paymentDetails.length==0">
									<div class="col-xs-12 addMore btn_font_bold text-center borderNone ">
											<label class="btn_font_bold "><img src="distribution/images/Add_icon.png" class="adddItemCustomer" ng-click="addNewPayment()"><span class="addCustomerOpt">Add New Payment Details
													</span></label>
										</div>
								</div>


							</div> -->
									<div>
										<div class="col-xs-12 col-sm-12 col-md-12 reference-btn">
											<span class="pull-left">
												<button class="btn btn-md cancelBtnEc btn_font_bold"
													ng-click="showViewPage()" type="button">Cancel</button>
											</span> <span class="pull-right">
												<button type="submit"
													class="btn btn-md createroleButton btn_font_bold contract-btn-next"
													id="save" ng-click="save()" ng-disbaled="userForm.$invalid">Save</button>
											</span>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div id="tab2" ng-show="tab2" =ng-if="nav2Current==true">
							<div class="part1_ce borderNone">
								<div
									class="col-xs-12 col-sm-12 col-md-12 text_center contract-container padding_tb_20_10">
									<span class="view-sub-heading raleway_subheading">CONTRACT
										HISTORY</span>
								</div>
								<div class="main-container">
									<div class="sub-container custom_container">
										<div class="custom_Grid_padding">
											<div
												class="col-xs-12 top_box padding-none margin_bottom_10 padding-grid">
												<div class="pull-left hidden-sm showing_margin">
													Showing {{showingStart}}-{{showingEnd}} of
													{{totalItemCount}} Records</div>
												<div
													class="pull-right showing_page padding-right-none border-none">
													<span>Showing Per Page</span> <select
														class="btn btn-dropdown btn-md dropdown-toggle"
														ng-model="$parent.selectedCnt"
														ng-options="noOfRecords for noOfRecords in recordsPerPage"
														ng-change="$parent.PageCntChange()">
														<option value="noOfRecords"
															ng-if="colData.length>noOfRecords">{{selectedCnt}}</option>
													</select>
												</div>
											</div>
										</div>
										<div class="table-responsive col-xs-12">
											<table class="table table-striped">
												<thead class="spacing">
													<tr>
														<th ng-repeat="(i,th) in $parent.gridOptions.columnDefs"
															ng-mouseenter="activeColumn($index+1)"
															ng-mouseleave="deActiveColumn(i,$index+1)"
															ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
															<span class="col-head-text">{{th}}</span> <i
															class="fa fa-chevron-up"
															ng-show="predicate == i  && reverse"></i> <i
															class="fa fa-chevron-down"
															ng-show="predicate == i  && !reverse"></i></span>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr
														ng-repeat="row in $parent.gridOptions.data|orderBy:predicate:reverse">
														<td>
															<div>
																<a ng-click='ShowEditPage(row)'>{{row.contractCode}}</a>
															</div>
														</td>
														<td class="spacing">{{row.commenceMentDate!=null?row.commenceMentDate:'-'}}</td>
														<td class="spacing">{{row.salesRepName!=null?row.salesRepName:'-'}}</td>
														<td class="spacing">{{row.verificationOfficerName?row.verificationOfficerName:'-'}}</td>
														<td class="spacing">{{row.collectorName!=null?row.collectorName:'-'}}</td>
														<td class="spacing">{{row.installmentPaymentMethod?row.installmentPaymentMethod:'-'}}</td>
														<!-- <td class="spacing">{{row.downPaymentMethod}}</td> -->
														<td class="spacing">{{row.orderDueAmt?row.orderDueAmt:'-'}}</td>
														<td class="spacing statusCell"><span
															class='{{concatanateString(row.status)}}'>{{row.status}}</span></td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="col-md-12 text_center"
											ng-show="$parent.showPagination">
											<uib-pagination boundary-links="true"
												total-items="totalItems" ng-model="$parent.currentPage"
												class="pagination-lg" previous-text="&larr;"
												next-text="&rarr;" first-text="&laquo;" last-text="&raquo;"
												ng-click="pageChanged($event)"></uib-pagination>
										</div>
									</div>
								</div>



							</div>
						</div>
						<div id="tab3" ng-show="tab3" ng-if="nav3Current==true">
							<div class="part1_ce borderNone">
								<div
									class="col-xs-12 col-sm-12 col-md-12 text_center contract-container padding_tb_20_10">
									<span class="view-sub-heading raleway_subheading">PAYMENT
										HISTORY</span>
								</div>
								<div class="main-container">

									<!-- ManageGridCtrl-->
									<!-- ng-show="gridOptions.data.length!=0" -->
									<div class="sub-container custom_container">
										<div class="custom_Grid_padding">
											<div
												class="col-xs-12 top_box padding-none margin_bottom_10 padding-grid">
												<div class="pull-left hidden-sm showing_margin">
													<!-- Showing 1-{{selectedCnt}} of {{totalItems}} Records  -->
													Showing {{showingStart}}-{{showingEnd}} of
													{{totalItemCount}} Records
												</div>
												<div
													class="pull-right showing_page padding-right-none border-none">
													<span>Showing Per Page</span> <select
														class="btn btn-dropdown btn-md dropdown-toggle"
														ng-model="$parent.selectedCnt"
														ng-options="noOfRecords for noOfRecords in recordsPerPage"
														ng-change="$parent.PageCntChange()">
														<option value="noOfRecords"
															ng-if="colData.length>noOfRecords">{{selectedCnt}}</option>
													</select>
												</div>
											</div>




										</div>
										<div class="table-responsive col-xs-12">
											<table class="table table-striped">
												<thead class="spacing">
													<tr>
														<th ng-repeat="(i,th) in gridOptions.columnDefs"
															ng-mouseenter="activeColumn($index+1)"
															ng-mouseleave="deActiveColumn(i,$index+1)"
															ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
															<span class="col-head-text">{{th}}</span> <i
															class="fa fa-chevron-up"
															ng-show="predicate == i  && reverse"></i> <i
															class="fa fa-chevron-down"
															ng-show="predicate == i  && !reverse"></i></span>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr
														ng-repeat="row in $parent.gridOptions.data|orderBy:predicate:reverse">
														<!-- <td>
												<div>
													<a ng-click='ShowEditPage(row)'>{{row.systemSatus}}</a>
												</div>
											</td> -->

														<td class="spacing">{{row.postingDetails!=null?row.postingDetails:'-'}}</td>
														<td>
															<div>
																<a ng-click='ShowEditPage(row)'>{{row.contractNo}}</a>
															</div>
														</td>
														<td>
															{{row.orNo!=null?row.orNo:'-'}}
														</td>
														<td>
															{{row.orDate!=null?row.orDate:'-'}}
														</td>
														<td>
															{{row.type!=null?row.type:'-'}}
														</td>
														<td>
															{{row.accNo!=null?row.accNo:'-'}}
														</td>
														<td>
															{{row.refNum!=null?row.refNum:'-'}}
														</td>
														
														<!-- <td class="spacing">{{row.accNo!=null?row.accNo:'-'}}</td> -->
														
														<td class="spacing">{{row.amontPaid!=null?row.amontPaid:'-'}}</td>
														<td class="spacing">{{row.outBalance!=null?row.outBalance:'-'}}</td>
														<td class="spacing">{{row.lastUpdt!=null?row.lastUpdt:'-'}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<!-- ng-show="gridOptions.data.length!=0" -->
										<div class="col-md-12 text_center" ng-show="showPagination">
											<uib-pagination boundary-links="true"
												total-items="totalItems" ng-model="$parent.currentPage"
												class="pagination-lg" previous-text="&larr;"
												next-text="&rarr;" first-text="&laquo;" last-text="&raquo;"
												ng-click="pageChanged($event)"></uib-pagination>
										</div>







									</div>

								</div>
							</div>
						</div>
						<div id="tab4" ng-show="tab4">
							<div class="part1_ce borderNone">
								<div
									class="col-xs-12 col-sm-12 col-md-12 text_center contract-container padding_tb_20_10">
									<span class="view-sub-heading raleway_subheading">REMARKS</span>
								</div>
								<div class="col-xs-12" ng-show="addRemarkForm.$invalid && addRemarkPressed">
									<div class="alert remarksDanger" ng-show="addRemarkForm.contractCodeForNewComment.$invalid && addRemarkPressed">
    										Please Select a Contract from the List
  									</div>
  									<div class="alert remarksDanger" ng-show="addRemarkForm.newCommentToAdd.$invalid && addRemarkPressed">
    										Please Add a Note As Your Remarks
  									</div>
								</div>
								<div class="col-xs-12 addRemarkslabelBlock">
									<label class="addRemarkLabel">Add Remarks</label>
								</div>
								<form name="addRemarkForm" ng-submit="addRemark()" novalidate>
								<div>
									<div class="col-xs-1" ng-show="customer.contractList.length>0">
										<span class="">Contract:</span>
									</div>
									<div class="col-xs-2 form-group" ng-show="customer.contractList.length>0">
										<select name="contractCodeForNewComment" class="form-control remarkSelectBox" id="sel1" ng-model="selectedContractCode" ng-class="addRemarkForm.contractCodeForNewComment.$invalid && addRemarkPressed ? 'emptyField' : ''" ng-required="customer.contractList.length>0">
											<option ng-repeat="contract in customer.contractList">{{contract.contractCode}}</option>
										</select>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-1">
										<span class="remarkLabel">Remarks (Optional):</span>
									</div>
									<div class="col-xs-11">
										<textarea name="newCommentToAdd" class="form-control nonResizeableTextArea" ng-class="addRemarkForm.newCommentToAdd.$invalid && addRemarkPressed ? 'emptyField' : ''" rows="5"
											id="comment" ng-model="newComment" required></textarea>
									</div>
								</div>
								<div class="col-xs-12 pull-right addRemarkButton">
									<span class="pull-right">
										<button  type="submit"
											class="btn btn-md createroleButton btn_font_bold contract-btn-next">Add</button>
									</span>

								</div>
								</form>
								<div class="col-xs-12">
									<div class=col-xs-6>
										<span class=" pull-left">Showing
											{{remarkList.length}} Remarks</span>
									</div>
									<div class="col-xs-6">
										<span class="pull-right remarkPageRightMargin"> <select
											class="form-control" ng-model="contractRemark" ng-change="changeRemarkBlock(contractRemark)">
												<option>All Contracts</option>
												<option ng-repeat="contract in customer.contractList">{{contract.contractCode}}</option>
										</select>
										</span>
									</div>

								</div>
								<div class="col-xs-12 comment-text comment more"
									ng-repeat="remark in remarkList" on-finish-render="ngRepeatFinished">
									<span class="col-xs-12 comment-user">{{remark.recordedBy}}
										| {{remark.recorderDate}}</span> <span class="font-900" ng-show="remark.showShortRemark">
										{{shortRemark(remark.remarks)}} <a ng-click="readMore($index)" ng-hide="remark.remarks.length<200">Read More..</a></span><span class="font-900" ng-hide="remark.showShortRemark">
										{{remark.remarks}} <a ng-click="readLess($index)" ng-hide="remark.remarks.length<200">Read Less..</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row footer-stickey visible-xs hidden-print">
  			<div class="col-xs-12">
				<ul class="list-group footer-sticky-nav text-center">
				
					<li id="nav1" class="list-group-item" ng-class="nav1Current?'active':''" ng-click="setCurrent('nav1')">
						<div class="imgCust">
						<a><img src="distribution/images/contracts/Customer-Details-icon.png" ng-show="nav1Img">
						<img src="distribution/images/contracts/Customer-Details-gray.png" ng-show="!nav1Img"></a>
						</div>
						<div class="tab-text">Contract Details</div>
					</li>
					<li id="nav2" class="list-group-item hidden-xs" ng-class="nav2Current?'active':''"  ng-click="setCurrent('nav2')"> 
						<div class="">
						<a><img src="distribution/images/contracts/edit.png" ng-show="nav2Img">
						<img src="distribution/images/contracts/edit-gray.png" ng-show="!nav2Img"></a>
						</div>
						<div class="tab-text">Contract History</div>	
					</li>
					
					<li id="nav3" class="list-group-item hidden-xs" ng-class="nav3Current?'active':''" ng-click="setCurrent('nav3')"> 
						<div class="">
						<a><img src="distribution/images/contracts/Payment-Details_icon.png" ng-show="nav3Img">
						<img src="distribution/images/contracts/Payment-Details-grey.png" ng-show="!nav3Img"></a>
						</div>
						<div class="tab-text">Payment History</div>
						</li>
						
					<li id="nav4" class="list-group-item hidden-xs" ng-class="nav4Current?'active':''" ng-click="setCurrent('nav4')">
						<div class="">
						<a><img src="distribution/images/contracts/chat_button.png" ng-show="nav4Img">
						<img src="distribution/images/contracts/chat-button-active.png" ng-show="!nav4Img"></a>
						</div>
						<div class="tab-text">Remarks</div>
						</li>
				</ul>
  			</div>
		</div>
			
			
		</div>
		
		
	</div>
</div>




