<div class="modal-body config-modal">

	<div class="modal-header">
		<!-- <button type="button" ng-click="cancel()" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">x</span>
		</button> -->
		<button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
		<h3 class="modal-title" id="gridModalLabel">Manage Columns</h3>
	</div>

	<div class="modal-body">
		<div class="container-fluid bd-example-row">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<h4 class="subTitle">Available Columns</h4>
				</div>

				<div class="col-xs-12 col-sm-4 col-sm-offset-4">
					<h4 class="subTitle">Show these columns in this order</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 availableBox">
					<ul>
						<li ng-repeat="(key1, cols) in allColumns" ng-click="selectColumn(key1,'left')" ng-class="{'active' : key==key1}">{{cols}}</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 text-center">
					<div class="col-xs-12 ok_wrapper add-btn">
						<button class="btn btn-md okayButton" ng-click="addColumns()">Add <i class="fa fa-angle-right rightArrowBtn" aria-hidden="true"></i></button>
					</div>
					<div class="col-xs-12 ok_wrapper">
						<button class="btn btn-md okayButton" ng-click="removeColumns()"><i class="fa fa-angle-left leftArrowBtn" aria-hidden="true"></i>Remove</button>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 availableBox">
					<ul>
						<li ng-repeat="(key2, selCols) in selectedColumns" ng-click="selectColumn(key2,'right')" ng-class="{'active' : key==key2}">{{selCols}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<div class="col-xs-12 text-center">
			<button class="btn btn-md cancelButton btn_font_bold" type="button" ng-click="cancel()">Cancel</button>
			<button class="btn btn-md btn_create_color btn_font_bold btn-yes" type="button" ng-click="done()">Save</button>
		</div>
	</div>
</div>