<div class="container" ng-controller="VoBankInCtrl">
	<div class="row margin_null">
		<div class="loading-spiner" ng-show="loader">
			<img src="distribution/images/loader.gif" alt="Loading Icon" />
		</div>
		<div class="col-md-5  back-margin">
			<a ui-sref="VoBoard.VoTurnIn" class="back-link"> <i
				class="fa fa-angle-left"></i>&nbsp;Back to Manage Turn-in
			</a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 text-center heading-bottom">
		<span class="raleway_heading">Bank-in Collections</span>
	</div>
	<div class="row">
		<form name="voBankIN" ng-submit="serviceHit()" novalidate>
			<div class="sub-container container noMinHeight">
				<div class="table-responsive">
					<div class="pull-left hidden-sm showing_margin">Showing
						{{totalItemCount}} Collections</div>
				</div>
				<div class="table-responsive col-xs-12">
					<table class="table table-striped">
						<thead class="spacing">
							<tr>
								<th>Amount</th>
								<th>Cheque Date</th>
								<th>Cheque Number</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-hide="CashBankIn.length==0" class="colorBankIn">
								<td class="font-700 breakWord text-left">Cash</td>
								<td></td>
								<td class="font-700 breakWord text-right">Cash-in-Hand : {{cashTotal}}</td>
							</tr>
							<tr ng-repeat="x in CashBankIn">
								<td class="breakWord">{{x.amount}}</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<tr ng-hide="ChequeBankIn.length==0" class="colorBankIn">
								<td class="font-700 breakWord text-left">Cheque</td>
								<td></td>
								<td class="font-700 breakWord text-right">Cheque-in-hand: {{ChequeBankIn.length}} | {{chequeTotal}}</td>
							</tr>
							<tr ng-repeat="x in ChequeBankIn">
								<td class="breakWord">{{x.amount}}</td>
								<td class="breakWord">{{x.chequeDate}}</td>
								<td class="breakWord">{{x.chequeNo}}</td>
							</tr>
							<tr ng-hide="CreditCardBankIn.length==0" class="colorBankIn">
								<td class="font-700 breakWord text-left">Credit Card</td>
								<td></td>
								<td class="font-700 breakWord text-right">Total - {{creditCardTotal}}</td>
							</tr>
							<tr ng-repeat="x in CreditCardBankIn">
								<td class="breakWord">{{x.amount}}</td>
								<td class="breakWord">{{x.date}}</td>
								<td>-</td>
							</tr>

						</tbody>
					</table>

					<div class="col-xs-12 topSummary-bank">
						<div class="col-xs-4 text-center summary-turn font-700">
							Total cash Amount: <span class="font-700">{{cashTotal}}</span>
						</div>
						<div class="col-xs-4 text_center summary-turn font-700">
							Total Cheque Amount: <span class="font-700">{{chequeTotal}}</span>
						</div>
						<div class="col-xs-4 text_center summary-turn font-700">
							Total Credit Card Amount: <span class="font-700">{{creditCardTotal}}</span>
						</div>
					</div>


				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom">
					<div class="stepLine_bank"></div>
				</div>



				<div class="col-md-5 table-responsive">
					<div
						class="col-xs-12 col-sm-12 col-md-10 form_margin mobile_form_margin"
						ng-show="cashTotal>0">
						<div class="col-xs-12 text-left">
							<label class="contract-label ">Actual Cash Amount
								Banked-in</label>
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_bottom_20">
							<input type="text" name="cashAmount"
								class="form-control contract-label form_radius"
								ng-model="cashAmount"
								ng-pattern="/^[0123456789]+([.]{1}[0123456789]{1,2})*$/"
								ng-class="voBankIN.cashAmount.$invalid && submitPressed?'emptyField':''"
								ng-required="cashTotal>0" ng-max="cashTotal"> <span class="errorMsg"
								ng-show="voBankIN.cashAmount.$invalid && submitPressed">Please
								Enter an Amount</span>
						</div>
					</div>
					<div
						class="col-xs-12 col-sm-12 col-md-10 form_margin mobile_form_margin" ng-show="cashTotal>0 || chequeTotal>0">
						<div class="col-xs-12 text-left">
							<label class="contract-label ">Account Name</label>
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_bottom_20">
							<input type="text"
								class="form-control contract-label form_radius"
								ng-model='selectedBank.accountName' ng-disabled="true">
						</div>
					</div>
					<div
						class="col-xs-12 col-sm-12 col-md-10 form_margin mobile_form_margin" ng-show="cashTotal>0 || chequeTotal>0">
						<div class="col-xs-12 text-left">
							<label class="contract-label ">Slip Number</label>
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_bottom_20">
							<input name="slipNumber" type="text"
								class="form-control contract-label form_radius"
								ng-model="slipNumber"
								ng-class="voBankIN.slipNumber.$invalid && submitPressed?'emptyField':''"
								required> <span class="errorMsg"
								ng-show="voBankIN.slipNumber.$invalid && submitPressed">Please
								Enter an Slip No.</span>
						</div>
					</div>
				</div>

				<div
					class="col-xs-12 col-sm-5 col-md-5 col-sm-5 col-sm-offset-1 col-md-offset-1 table-responsive">
					<div
						class="col-xs-12 col-sm-12 col-md-10 form_margin mobile_form_margin" ng-show="cashTotal>0 || chequeTotal>0">
						<div class="col-xs-12 text-left">
							<label class="contract-label ">Bank</label>
						</div>
						<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
							<select name="bankSelect" ng-model="selectedBank"
								class="form-control contract-label form_radius"
								ng-options="bank as bank.bankName for bank in bankNameList"
								ng-class="voBankIN.bankSelect.$invalid && submitPressed?'emptyField':''"
								ng-required="cashTotal>0 || chequeTotal>0">

							</select> <span class="errorMsg"
								ng-show="voBankIN.bankSelect.$invalid && submitPressed">Please
								Select a Bank</span>
						</div>
					</div>
					<div
						class="col-xs-12 col-sm-12 col-md-10 form_margin mobile_form_margin" ng-show="cashTotal>0 || chequeTotal>0">
						<div class="col-xs-12 text-left">
							<label class="contract-label ">Account Number</label>
						</div>
						<div
							class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20 buttonToolbar">
							<input type="text"
								class="form-control contract-label form_radius placeholder_italic"
								ng-model='selectedBank.accountNumber' ng-disabled="true">
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-12 col-md-10 form_margin mobile_form_margin">
					<div class="col-xs-12 text-left">
						<label class="contract-label ">Banked In Date</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20 custom-date buttonToolbar">
						<input type="text" class="form-control contract-label form_radius placeholder_italic" name="bankedInDate" ng-model="bankedInDate" maxlength="11" size="11" placeholder="dd/mon/yyyy" datepicker ng-required="true"/>
						<span ng-class="(chequeDateError && submitPressed) ? 'showError' : 'hideError'">Future date can not be selected</span>
						<span ng-class="(chequePastDateError && submitPressed) ? 'showError' : 'hideError'">Bank-in date can not be more than 3 days from past date</span>
						<span ng-class="(voBankIN.bankedInDate.$invalid && submitPressed) ? 'showError' : 'hideError'">Please select a valid date</span>
					</div> 
			</div>

				</div>

				<div class="col-md-12 table-responsive">
					<div class="col-xs-5 col-sm-12 col-md-12 text-left">
						<label class="contract-label ">Remarks <span class="remarksColor">(Optional)</span></label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_30_bottom">
						<textarea class="form-control contract-label form_radius"
							placeholder="" rows="5" id="comment" ng-model="remarks"
							maxlength="4000"></textarea>
					</div>
				</div>
			</div>



			<div class="text-center" style="border-top: 1px solid #ccc;">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 btn-padding-bank">
						<div class="text-center bottom_buttons mobile_btn_padding">
							<span class="pull-right">
								<button type="submit"
									class="btn btn-md createroleButton btn_font_bold">Submit</button>
							</span> <span class="pull-left">
								<button type="button"
									class="btn btn-md cancelButton btn_font_bold"
									ng-click="cancel()">Cancel</button>
							</span>
						</div>
					</div>
				</div>

			</div>
		</form>
	</div>

</div>