<div class="container-fluid loading-wrapper">
	<div class="loading-spiner" ng-show="loading"><img src="distribution/images/loader.gif" alt="Loading..."/></div>
	<div class="view-container-wraper cancel-initiate" ng-form name="vo.voCancellationForm">
		<div class="row padding-xs hidden-xs hidden-sm">
			<img src="distribution/images/contracts/print_icon.png" class="pull-right view-contract">
			<img src="distribution/images/contracts/Email_icon.png" class="pull-right view-email">
		</div>
		<div class="row">
			<div class="col-xs-12 back-margin padding-xs">
				<a ui-sref="{{previousState}}" class="back-link"> <i class="fa fa-angle-left"></i>&nbspBack to {{previousStateTitle}}</a>
			</div>
		</div>
		<div class="row contract-container view-heading border-none text-center">
			<h1 class="headingClass_Autoresponse">Cancellation Request Form</h1>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 review-container vo-report sub-container">
			<div class="col-xs-12 border-bottom vo-report-detail">
				<div class="col-xs-12 review-heading text-left">Delivery Details</div>
				<ul class="col-xs-12 col-md-11 report-list">
					<li class="col-xs-12 col-sm-6">
						<div class="col-xs-5 col-md-4 text-right">Contract Code | Date:</div>
						<div class="col-xs-6 col-md-7 lbl-value">
							<a has-access="viewContract" ng-click="gotoContract(contract)">{{contract.contractCode}}</a>
							<span has-access="!viewContract">{{contract.contractCode}}</span> | {{contract.orderDate}}
						</div>
					</li>
					<li class="col-xs-12 col-sm-6">
						<div class="col-xs-5 col-md-4 text-right">Customer ID | Name:</div>
						<div class="col-xs-6 col-md-7 lbl-value ">
							<a has-access="viewUser" ng-click="gotoCustomer(contract.customerCode)">{{contract.customerCode}} | {{contract.customerDetails.name}}</a>
							<span has-access="!viewUser">{{contract.customerCode}} | {{contract.customerDetails.name}}</span>
						</div>
					</li>
				</ul>
				<ul class="col-xs-12 col-md-11 report-list">
					<li class="col-xs-12 col-sm-6">
						<div class="col-xs-5 col-md-4 text-right">Contract Status:</div>
						<div class="col-xs-6 col-md-7 lbl-value" ng-class="concatanateString(contract.status)">{{contract.status}}</div>
					</li>
					<li class="col-xs-12 col-sm-6">
						<div class="col-xs-5 col-md-4 text-right">Invoice No | Date:</div>
						<div class="col-xs-6 col-md-7 lbl-value ">INVID1234 | 18-Mar-2016</div>
					</li>
				</ul>
				<ul class="col-xs-12 col-md-11 report-list">
					<li class="col-xs-12 col-sm-6">
						<div class="col-xs-5 col-md-4 text-right">Delivered Address:</div>
						<div class="col-xs-6 col-md-7 lbl-value"><p>{{contract.customerDetails.homeAddressLine1}}, {{contract.customerDetails.homeAddressLine2}},</p><p>{{contract.customerDetails.homeState}}, {{contract.customerDetails.homeCountry}}</p></div>
					</li>
					<li class="col-xs-12 col-sm-6">
						<div class="col-xs-5 col-md-4 text-right">Delivered Date:</div>
						<div class="col-xs-6 col-md-7 lbl-value">{{contract.deliveryDate}}</div>
					</li>
				</ul>
			</div>

			<div ng-if="isSalesRep" class="col-xs-12 review-heading text-left">Product Details</div>
			<!-- For Desktop and Tablet -->
			<div ng-if="isSalesRep" class="col-xs-12 hidden-xs">
				<div class="col-xs-12 table-responsive contract-table border-bottom" ng-controller="ManageGridCtrl">
					<table class="table table-striped">
						<thead>
						<tr>
							<th ng-repeat="(i,th) in vo.cancelProductSalesCol" style="width: {{th.width}}" ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn(i,$index+1)" ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
								<ul>
									<li class="col-head-text">{{th.col}}</li>
									<li class="order-arrow">
										<i class="fa fa-chevron-up" ng-show="predicate == i  && reverse"></i>
										<i class="fa fa-chevron-down" ng-show="predicate == i  && !reverse"></i>
									</li>
								</ul>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="prod3 in contract.productDetails|orderBy:predicate:reverse">
							<td>{{$index+1}}</td>
							<td class="text-left"><span class="font-900">{{prod3.productId}}</span> {{prod3.productName}}</td>
							<td>{{prod3.quantity}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- For Mobile Screen -->
			<div ng-if="isSalesRep" class="col-xs-12 visible-xs cancel-xs-table">
				<div class="col-xs-12" ng-repeat="prod3 in contract.productDetails">
					<div class="col-xs-12">
						<div class="col-xs-4 text-left">{{prod3.productId}}:</div>
						<div class="col-xs-8 font-900">{{prod3.productName}}</div>
					</div>
					<div class="col-xs-12">
						<div class="col-xs-4 text-right">Ordered Qty</div>
						<div class="col-xs-8">{{prod3.quantity}}</div>
					</div>
				</div>
			</div>


			<div class="col-xs-12 vo-report-detail" ng-class="(!isSalesRep)?'border-bottom':''">
				<div class="col-xs-12 review-heading text-left">Cancellation Details</div>
				<ul class="col-xs-12 col-md-11 report-list">
					<li class="col-xs-12 text-right">
						<div class="col-xs-4 col-sm-2">Cancel Request Date:</div>
						<div class="col-xs-7 col-sm-3 col-md-2 lbl-value">
							<input type="text" maxlength="11" size="11" disabled="" ng-model="vo.cancelData.cancelRequestDate" class="form-control contract-label text-center form_radius">
						</div>
					</li>
					<li class="col-xs-12">
						<div class="col-xs-4 col-sm-2 text-right">Reason:</div>
						<div class="col-xs-7 col-sm-9 lbl-value">
							<textarea class="form-control form_radius" rows="4" ng-model="vo.cancelData.cancelReason" placeholder="Please Enter the reason for cancellation"  required></textarea>
						</div>
					</li>
				</ul>
			</div>
			<div ng-show="showProductDetails()">
				<div ng-if="!isSalesRep" class="col-xs-12 review-heading text-left">Product Details</div>
				<!-- For Desktop and Tablet -->
				<div ng-if="!isSalesRep" class="col-xs-12 hidden-xs">
					<div class="col-xs-12 table-responsive contract-table" ng-controller="ManageGridCtrl">
						<table class="table table-striped">
							<thead>
							<tr>
								<th ng-repeat="(i,th) in vo.cancelProductColList" style="width: {{th.width}}" ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn(i,$index+1)" ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
									<ul>
										<li class="col-head-text">{{th.col}}</li>
										<li class="order-arrow">
											<i class="fa fa-chevron-up" ng-show="predicate == i  && reverse"></i>
											<i class="fa fa-chevron-down" ng-show="predicate == i  && !reverse"></i>
										</li>
									</ul>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="prod in contract.productDetails|orderBy:predicate:reverse">
								<td>{{$index+1}}</td>
								<td class="text-left"><span class="font-900">{{prod.productId}}</span> {{prod.productName}}</td>
								<td>{{prod.quantity}}</td>
								<td>{{prod.deliveredQty}}</td>
								<td><input type="text" ng-model="vo.cancelData.productDetails[$index].returnedQty" ng-class="vo.cancelQtyError[$index] ? 'emptyField' : ''" allow-pattern="\d" ng-change="vo.validateCancelQtyInput($index, prod.deliveredQty, vo.cancelData.productDetails[$index].returnedQty)" class="form-control contract-label text-center form_radius" limit-char="5" size="5" /></td>
								<td>{{prod.deliveredQty - vo.cancelData.productDetails[$index].returnedQty}}</td>
								<td><input type="text" ng-model="vo.cancelData.productDetails[$index].remarks" class="form-control contract-label form_radius" /></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- For Mobile Screen -->
				<div ng-if="!isSalesRep" class="col-xs-12 visible-xs cancel-xs-table">
					<div class="col-xs-12" ng-repeat="prod2 in contract.productDetails">
						<div class="col-xs-12">
							<div class="col-xs-4 text-left">{{prod2.productId}}:</div>
							<div class="col-xs-8 font-900">{{prod2.productName}}</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-4 text-right">Ordered Qty</div>
							<div class="col-xs-8">{{prod2.quantity}}</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-4 text-right">Delivered Qty</div>
							<div class="col-xs-8">{{prod2.deliveredQty}}</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-4 text-right">Returned Qty</div>
							<div class="col-xs-8"><input type="text" ng-model="vo.cancelData.productDetails[$index].returnedQty" ng-class="vo.cancelQtyError[$index] ? 'emptyField' : ''" allow-pattern="\d" ng-change="vo.validateCancelQtyInput($index, prod2.deliveredQty, vo.cancelData.productDetails[$index].returnedQty)" class="form-control contract-label text-center text-xs-left form_radius" limit-char="5" size="5" /></div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-4 text-right">Remaining Qty</div>
							<div class="col-xs-8">{{prod2.deliveredQty - vo.cancelData.productDetails[$index].returnedQty}}</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-4 text-right">Remarks (Optional)</div>
							<div class="col-xs-8"><input type="text" ng-model="vo.cancelData.productDetails[$index].remarks" class="form-control contract-label form_radius" limit-char="400" /></div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 text-center cancel-initiate-btn">
			<!-- <button class="btn btn-md contract-btn btn_font_bold cancel-reset" ng-click="vo.resetCancellationRequest();">Reset</button> -->
			<button class="btn btn-md contract-btn btn_font_bold cancel-reset" ng-click="vo.cancelCancellationRequest();">Cancel</button>
			<button ng-disabled="vo.voCancellationForm.disableSubmit||!vo.voCancellationForm.$valid" class="btn btn-md createroleButton btn_font_bold" ng-click="vo.submitCancellationRequest()">Save</button>
		</div>

	</div>
</div>