<div class="modal-body">
	<form name="customerStatement" ng-submit="close()" novalidate>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="usr">Contract No:</label> <input type="text"
						class="form-control" name="contractCode" ng-model="contractCode"
						ng-class="customerStatement.contractCode.$invalid && submitPressed?'emptyField':''" ng-change="getContractSuggestionList()"
						required> <span class="errorMsg"
						ng-show="customerStatement.contractCode.$invalid && submitPressed">Please
						Enter a Contract No</span>
				</div>
			</div>
			<div class="col-xs-12" ng-show="contractSuggestion">
				<ul class="list-group locationSuggestionBox">
    				<li class="list-group-item" ng-repeat="contract in contractSuggestionList" ng-click="getSelectedContract(contract)">{{contract.contractCode}}</li>
    			</ul>
			</div>
			<div class="col-xs-12">
				<button type="submit" class="btn btn-md  adminButton pull-right">Submit</button>
				<button type="button" class="btn btn-md adminCancelButton pull-left"
					ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</form>
</div>
