<div class="container-fluid" ng-controller="ManageGridCtrl">
	<div ng-controller="CoRequestCtrl">
		<div class='row text_center margin_top_heading hidden-xs'>
			<h1 class="raleway_heading">Manage Collection Requests</h1>
			<ul class="tab">
				<li id="Unassigned"><a class="tablinks" ng-click="openGrid('unassigned')">Unassigned</a></li>
				<li id="Assigned"><a class="tablinks" ng-click="openGrid('assigned')">Assigned</a></li>
			</ul>

		</div>
		<div class="row main-container">
			<div class="col-xs-12 data-block">
				<div class="sidebar-wrapper {{SidebarWidth}}" ng-include="'app/modules/sidebar-filter/view.html'"></div>

				<div  class="sub-container {{MainGridWidth}}">
					<div class="top_box" id="top_boxId" ng-hide="($parent.gridOptions.data==null || $parent.gridOptions.data==undefined || $parent.gridOptions.data.length==0)">

						<div class="pull-left hidden-sm showing_margin">
							Showing {{showingStart}}-{{showingEnd}} of {{totalItemCount}} {{recordType}} Requests
						</div>
						<div class="clear" id="divClear" ng-model="clearAll" ng-click="clear(gridOptions.data)"><a>Clear</a></div>
						<div class="pull-right more_links" id="threeDot_Id">
							<ul class="dotted">
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<ul class="sub-menu">
								<li class="print">Print</li>
								<li class="export-csv">Export to .csv</li>
								<li class="email">Email</li>
								<li class="settings"><a href="javascript: void(0);" data-ng-click="columnConfig($event);">Manage Columns</a></li>
							</ul>
						</div>

						<button type="submit" id="bulkAssign_btnId" class="btn btn-md btn-createUser_width_21 pull-right btn_create_color_bulk btn_font_bold" ng-click="bulkAssign()">Bulk Assign</button>
						<div class="pull-right showing_page" id="showPerPage_Id">
							<span>Showing Per Page</span>
							<select class="btn btn-dropdown btn-md dropdown-toggle" ng-model="$parent.selectedCnt"
									ng-options="noOfRecords for noOfRecords in recordsPerPage" ng-change="PageCntChange()">
								<option value="noOfRecords" ng-if="false">{{selectedCnt}}</option>
							</select>
						</div>

						<div class="pull-right showing_Vo" id="chooseVo_Id">
							<span class="padding_vo">Choose CO</span>
							<select class="btn btn-dropdown btn-md dropdown-toggle c-select choose_width" id="verificationBulk" ng-model="verificationOfficerCode" ng-change="getBulkAssignCo()">
								<option ng-repeat="(key, value) in $parent.coList" value="{{key}}">{{value}}</option>
							</select>
						</div>
					</div>
					<div>
						<div class="template_bulk" id="bulkAssign_row">
							<div class="span_grid col-xs-8"><p>{{count_check}} Contracts has been {{opTypeCO}} successfully to <span class="vo_color">{{selectedBulkAssignCO}}</span></p></div>
							<div class="template_btn"><button type="submit" class="btn btn_okay_color_vo" ng-click="submit()">OK</button>&nbsp; &nbsp; &nbsp; &nbsp;
								<div class="undo_vo"><button type="button" class="undo_btn_manage_vo" ng-click="undotop()"><img src="distribution/images/Undo_icon.png"></img></button></div>
							</div>
						</div>
						<div class="template_bulk" id="singleRowAssign">
							<div class="span_grid col-xs-8"><p>Contracts has been {{opTypeCO}} successfully to <span class="vo_color">{{singleAssignVo}}</span></p></div>
							<div class="template_btn"><button type="submit" class="btn singleAssignButton" ng-click="hideSingleAssign()">OK</button>&nbsp; &nbsp; &nbsp; &nbsp;
								<div class="undo_vo"><button type="button" class="undo_btn_manage_vo" ng-click="undotop()"><img src="distribution/images/Undo_icon.png"></img></button></div>
							</div>
						</div>
						<div data-ng-show="loading" class="loadingIcon">
							<img src="distribution/images/loader.gif" alt="Loading Icon">
						</div>
						<div ng-show="parts || parts==undefined">
							<div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="loading||($parent.gridOptions.data==null || $parent.gridOptions.data==undefined || $parent.gridOptions.data.length==0) && (parts==true || parts==undefined)">
								<table class="table table-striped checkpadding">
									<thead>
									<tr>
										<th style="width: 7%;" ng-mouseenter="activeColumn(1)" ng-mouseleave="deActiveColumn('chkbox',1)" ng-click="order('chkbox',1)" ng-class="selectedCls('chkbox')">
											<div class="checkbox cust-chkbox white-checkbox aln-center header-chekbox">
												<label><input type="checkbox" id="th-check" ng-model="bulkSelect" ng-click="selectAll(gridOptions.data)"><span><span></span></span></label>
											</div>
										</th>
										<th ng-repeat="(i,th) in gridOptions.columnDefs"  ng-mouseenter="activeColumn($index+2)" ng-mouseleave="deActiveColumn(i,$index+2)" ng-click="order(i,$index+2)" ng-class="selectedCls(i)">
											{{th}}
											<!-- <ul>
                                                <li class="col-head-text">{{th}}</li>
                                                <li class="order-arrow">
                                                    <ul>
                                                        <i class="fa fa-chevron-up" ng-show="predicate == i  && reverse"></i>
                                                        <i class="fa fa-chevron-down" ng-show="predicate == i  && !reverse"></i>
                                                    </ul>
                                                </li>
                                            </ul> -->
										</th>
									</tr>
									</thead>
									<tbody>

									<tr ng-repeat="row in gridOptions.data|orderBy:predicate:reverse" id="{{gridOptions.data.indexOf(row)}}" on-finish-render="ngRepeatFinished">
										<td id="{{'check'+gridOptions.data.indexOf(row)}}">
											<div
													class="checkbox cust-chkbox white-checkbox aln-center check-margin">
												<label><input type="checkbox"
															  id="{{'checkBox'+gridOptions.data.indexOf(row)}}"
															  ng-click="selectCheckBox()" ng-model="row.Selected"><span><span></span></span></label>
											</div>
										</td>
										<td data-ng-repeat="(i,thKey) in gridOptions.columnDefs">
											<div ng-switch on="i">
												<div ng-switch-when="contractCode">
													<div id="{{'contract'+gridOptions.data.indexOf(row)}}">
														<a has-access="viewContract"
														   ng-click='ShowContractPage(row, $event)'>{{row[i]}}</a>
														<span has-access="!viewContract">{{row[i]}}</span>
													</div>
												</div>
												<div ng-switch-when="custName">
													<div id="{{'custName'+gridOptions.data.indexOf(row)}}">
														<a has-access="viewUser"
														   ng-click='ShowCustomerPage(row, $event)'>{{row[i]}}</a>
														<span has-access="!viewUser">{{row[i]}}</span>
													</div>
												</div>
												<div ng-switch-when="addressType">
													<div id="{{'custAddressType'+gridOptions.data.indexOf(row)}}">
														{{row[i]}}
													</div>
												</div>
												<div ng-switch-when="custHomeAddr">
													<div id="{{'custAddress'+gridOptions.data.indexOf(row)}}">
														{{row[i]}}
													</div>
												</div>
												<div ng-switch-when="nextPaymentDueDt">
													<div id="{{'fiscalYear'+gridOptions.data.indexOf(row)}}">
														{{row[i]!=null?row[i]:'-'}}
													</div>
												</div>
												<div ng-switch-when="fiscalYear">
													{{row[i]!=null?row[i]:'-'}}
												</div>
												<div ng-switch-when="status">
													<div class="statusCell"></div>
													<span class='{{concatanateString(row[i])}}'>{{row[i]}}</span>
												</div>
												<div ng-switch-when="collectionOfficerName">
													<div class="col-sm-12">
														<select
																class="form-control contract-label form_radius c-select"
																id="verification{{$parent.$parent.$index}}"
																ng-model="row.collectionOfficerCode">
															<option value="">-Select-</option>
															<option ng-repeat="(key, value) in $parent.coList"
																	value="{{key}}">{{value}}</option>
														</select>
													</div>
												</div>
												<div ng-switch-when="assign">
													<div id="{{'assign'+gridOptions.data.indexOf(row)}}">
														<button type="button" class="assign_btn" ng-show="image"
																ng-click="assignCO($parent.$parent.$index,row)"
																tooltip-placement="left" uib-tooltip="Assign">
															<img src="distribution/images/co_vo/user_tick.png"></img>
														</button>
													</div>
												</div>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div ng-show="showAfterLoading" ng-show="($parent.gridOptions.data!==null || $parent.gridOptions.data!==undefined || $parent.gridOptions.data.length>0)">
								<div class="col-md-12 text_center" ng-show="showPagination">
									<uib-pagination boundary-links="true" total-items="totalItems" ng-model="$parent.currentPage" class="pagination-lg" max-size="5" previous-text="&larr;" next-text="&rarr;" first-text="&laquo;" last-text="&raquo;" ng-click="pageChanged($event)"></uib-pagination>
								</div>
							</div>
							<div ng-show="!loading">
								<div class="col-xs-12 empty-block" ng-show="($parent.gridOptions.data==null || $parent.gridOptions.data==undefined || $parent.gridOptions.data.length==0) && (parts==true || parts==undefined)">
									<div  class="sub-container {{MainGridWidth}}">
										<div class="row">
											<div class="empty-content col-xs-12 col-sm-10 col-md-6 col-lg-5">
												<p class="raleway_heading">There are no Collection Request to view.</p>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div ng-show="!parts && parts!=undefined">

							<div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="loading||($parent.gridOptions.data==null || $parent.gridOptions.data==undefined || $parent.gridOptions.data.length==0) && (parts==false || parts!=undefined)">
								<table class="table table-striped checkpadding" id="reAssignTable">
									<thead>
									<tr>
										<th style="width: 7%;" ng-mouseenter="activeColumn(1)" ng-mouseleave="deActiveColumn('chkbox',1)" ng-click="order('chkbox',1)" ng-class="selectedCls('chkbox')">
											<div class="checkbox cust-chkbox white-checkbox aln-center header-chekbox">
												<label><input type="checkbox" id="th-check" ng-model="bulkSelect" ng-click="selectAll(gridOptions.data)"><span><span></span></span></label>
											</div>
										</th>
										<th ng-repeat="(i,th) in gridOptions.columnDefs"  ng-mouseenter="activeColumn($index+2)" ng-mouseleave="deActiveColumn(i,$index+2)" ng-click="order(i,$index+2)" ng-class="selectedCls(i);sortClass(i);" class="rowPaddingContract">
											{{th}}
											<!-- <ul>
                                                <li class="col-head-text">{{th}}</li>
                                                <li class="order-arrow">
                                                    <ul>
                                                        <i class="fa fa-chevron-up" ng-show="predicate == i  && reverse"></i>
                                                        <i class="fa fa-chevron-down" ng-show="predicate == i  && !reverse"></i>
                                                    </ul>
                                                </li>
                                            </ul> -->
										</th>
									</tr>
									</thead>
									<tbody>

									<tr ng-repeat="row in gridOptions.data|orderBy:predicate:reverse" id="{{gridOptions.data.indexOf(row)}}" >

										<td id="{{'check'+gridOptions.data.indexOf(row)}}">
											<div
													class="checkbox cust-chkbox white-checkbox aln-center check-margin">
												<label><input type="checkbox"
															  id="{{'checkBox'+gridOptions.data.indexOf(row)}}"
															  ng-click="selectCheckBox()" ng-model="row.Selected"><span><span></span></span></label>
											</div>
										</td>
										<td data-ng-repeat="(i,thKey) in gridOptions.columnDefs">
											<div ng-switch on="i">
												<div ng-switch-when="contractCode">
													<div id="{{'contract'+gridOptions.data.indexOf(row)}}">
														<a has-access="viewContract" ng-click='ShowContractPage(row, $event)'>{{row[i]}}</a>
														<span has-access="!viewContract">{{row[i]}}</span>
													</div>
												</div>
												<div ng-switch-when="custName">
													<div id="{{'custName'+gridOptions.data.indexOf(row)}}">
														<a has-access="viewUser" ng-click='ShowCustomerPage(row, $event)'>{{row[i]}}</a>
														<span has-access="!viewUser">{{row[i]}}</span>
													</div>
												</div>
												<div ng-switch-when="addressType">
													<div id="{{'custAddressType'+gridOptions.data.indexOf(row)}}">
														{{row[i]}}
													</div>
												</div>
												<div ng-switch-when="custHomeAddr">
													<div id="{{'custAddress'+gridOptions.data.indexOf(row)}}">
														{{row[i]}}
													</div>
												</div>
												<div ng-switch-when="nextPaymentDueDt">
													<div id="{{'fiscalYear'+gridOptions.data.indexOf(row)}}">
														{{row[i]!=null?row[i]:'-'}}
													</div>
												</div>
												<div ng-switch-when="fiscalYear">
													{{row[i]!=null?row[i]:'-'}}
												</div>
												<div ng-switch-when="status">
													<div class="statusCell">
														<span class='{{concatanateString(row[i])}}'>{{row[i]}}</span>
													</div>
												</div>
												<div ng-switch-when="collectionOfficerName">
													<div class="col-sm-12">
														<select
																class="form-control contract-label form_radius c-select"
																id="verification{{$index}}"
																ng-model="row.collectionOfficerCode">
															<option ng-repeat="(key, value) in $parent.coList"
																	value="{{key}}">{{value}}</option>
														</select>
													</div>
												</div>
												<div ng-switch-when="assign">
													<div id="{{'assign'+gridOptions.data.indexOf(row)}}">
														<button type="button" class="assign_btn" ng-show="image" ng-click="reassignCO({{$index}},row)" tooltip-placement="left" uib-tooltip="Re-assign"><img src="distribution/images/co_vo/reassign.png"></img></button>
													</div>
												</div>
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							</div>

							<div class="col-md-12 text_center" ng-show="showPagination||($parent.gridOptions.data!==null || $parent.gridOptions.data!==undefined || $parent.gridOptions.data.length>0)" >
								<uib-pagination boundary-links="true" total-items="totalItems" ng-model="$parent.currentPage" max-size="5" class="pagination-lg" previous-text="&larr;" next-text="&rarr;" first-text="&laquo;" last-text="&raquo;" ng-click="pageChanged($event)"></uib-pagination>
							</div>

							<div ng-show="!loading">
								<div class="col-xs-12 empty-block" ng-show="($parent.gridOptions.data==null || $parent.gridOptions.data==undefined || $parent.gridOptions.data.length==0) && (parts==false || parts!=undefined)">
									<div  class="sub-container {{MainGridWidth}}">
										<div class="row">
											<div class="empty-content col-xs-12 col-sm-10 col-md-6 col-lg-5">
												<p class="raleway_heading">There are no Collection Request to view.</p>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>