.posting-entry-heading{
	padding:15px;
	background:grey;
	color:white;
	margin-bottom:20px;
}

.admin-posting-details{
	border:1px solid #ddd;
	border-radius:10px;
	padding:30px;
	margin-bottom:40px;

	.admin-posting-posting-type-row{
		display:flex;
		align-items:center;
		vertical-align:middle;
	}
}

.transaction-list{
	padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 30px;
}

.select-year{
	padding:0;
}

.input-filter{
	margin-top: -25px;
    height: 50px;
    background: white;
    width: auto;

    .input-order{
    	border:1px solid #ddd;
    	border-radius:5px;
    	padding: 2px;
    }
}

.input-row-margin-admin-posting{
	margin-bottom:20px;
}

.error{
    color: red;
    border-color:red;
}

.error-link{
	list-style-type: none;
	color: red;
	text-decoration: underline;
	cursor: pointer;
}

.revert-padding{
	padding-left:15px;
	padding-right:15px;
}

.summary-turn-in-section{
	padding:15px;
	border:1px solid #ddd;
	border-radius:2px;
}

.grid-turn-in{
	margin-top:30px;
	margin-bottom:20px;
	word-wrap: break-word;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding-top:15px;
	padding-bottom:15px;

	.cash-section,.cheque-section{
		-webkit-transition:all linear 0.5s;
  		transition:all linear 0.5s;
  		margin-bottom: 10px;

  		.ng-hide{
  			opacity:0;
  		}
	}

	.cash-heading, .cheque-heading{
		text-align:center;
		background:#ddd;
		padding:5px;
	}
}


.list-heding{
	background:#E7F1F8;
	padding:10px;


}
.list-header{
		background:#E5E5E5;
		padding:7px;
}

.filter-section{
	display:flex;
	align-items:center;
	vertical-align:middle;
	margin-bottom: 10px;
}

.no-requests-turn-in{
	text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px;
}

.action-image{
	text-align: right;
}