@heading-color: #4F4F4F;
@contract-light: #eaeaea;
@ref-panel: #f9f9f9;
@green-background:  #DFF0D8;
@font-green: #4a902d;
@font-gray: #888888;
@font-raleway-regular: ralewayRegular;
@font-arial-regular : arialRegular;
@create-border-bottom : 3px dotted #eaeaea;
@bottom-border-top: 1px solid #eaeaea;
@header-border: 1px solid #9e9e9e;
@review-border: 1px solid #A1A1A1;
@green-border: 1px solid #c9e6bd;


.sticky-stripe {
	border-left: 58px solid #eee;
    padding-left: 20px;
	.sticky-img {
	    display: inline-block;
	    position: absolute;
        margin-left: -77px;
	    cursor: pointer;
	}
	.img1 {
	     margin-top: 0.01%;
	    padding: 12.5px 12px;
	    border: @bottom-border-top;
	    border-bottom: 0;
	}
	.img2 {
		margin-top: 5.3%;
	    padding: 17px 13.9px;
	    border:@bottom-border-top;
	    border-bottom: 0;
	}
	.img3 {
	   margin-top: 10.5%;
	    padding: 12.5px 12.4px;
	    border: @bottom-border-top;
	}
	.sticky-active {
		background: #FFFFFF;
		border-right: 0;
		border-left: 4px solid #153795;
	     cursor: not-allowed;

	}
}
.stickey-nav-wrapper {
	position: relative;
	ul.list-group {
	    width: 58px;
	    position: absolute;
	    z-index: 2;
	    .tooltip-inner {
		    max-width: none;
            white-space: nowrap;
		}
	    li.list-group-item {
		    width: 58px;
		    height: 58px;
		    border-radius: 0;
		    border: 1px solid #eaeaea;
		    cursor: pointer;
		}
		
		
	    li.list-group-item.customer {
		    background: #eeeeee url("../images/contracts/edit.png") no-repeat 14px 14px;
		}
		li.list-group-item.vo_report {
		    background: #eeeeee url("../images/contracts/vo-report.png") no-repeat 8px 6px;
		}
	    li.list-group-item.payment {
		    background: #eeeeee url("../images/contracts/Payment-Details_icon.png") no-repeat 14px 20px;
		}
	    li.list-group-item.remarks {
		    background: #eeeeee url("../images/contracts/chat_button.png") no-repeat 14px 16px;
		}
	    li.list-group-item.cancellation {
		    background: #eeeeee url("../images/contracts/cancel.png") no-repeat 18px 14px;
		}
		li.list-group-item.customer:hover {
		    background: #eeeeee url("../images/contracts/edit-gray.png") no-repeat 14px 14px;
		}		
		li.list-group-item.vo_report:hover {
		    background: #eeeeee url("../images/contracts/vo-report-active.png") no-repeat 8px 6px;
		}
	    li.list-group-item.payment:hover {
		    background: #eeeeee url("../images/contracts/Payment-Details-grey.png") no-repeat 14px 20px;
		}
	    li.list-group-item.remarks:hover {
		    background: #eeeeee url("../images/contracts/chat-button-active.png") no-repeat 14px 16px;
		}
	    li.list-group-item.cancellation:hover {
		    background: #eeeeee url("../images/contracts/cancel_grey.png") no-repeat 18px 14px;
		}
		
	    li.list-group-item.active {
		    border-left: 4px solid #153795;
		    border-right: 0;
		}
	    li.list-group-item.customer.active,
	    li.list-group-item.customer.active:hover {
		    background: #ffffff url("../images/contracts/edit-gray.png") no-repeat 11px 14px;
		}
		li.list-group-item.vo_report.active,
	    li.list-group-item.vo_report.active:hover {
		    background: #ffffff url("../images/contracts/vo-report-active.png") no-repeat 5px 6px;
		}
	    li.list-group-item.payment.active,
	    li.list-group-item.payment.active:hover {
		    background: #ffffff url("../images/contracts/Payment-Details-grey.png") no-repeat 11px 20px;
		}
	    li.list-group-item.remarks.active,
	    li.list-group-item.remarks.active:hover {
		    background: #ffffff url("../images/contracts/chat-button-active.png") no-repeat 11px 16px;
		}
	    li.list-group-item.cancellation.active,
	    li.list-group-item.cancellation.active:hover {
		    background: #ffffff url("../images/contracts/cancel_grey.png") no-repeat 15px 14px;
		}
	}
	ul.list-group.sticky-nav.fixed {
	    position: fixed;
	    top: 0px;
	}
}
.footer-stickey {
	position: fixed;
	bottom: 0;
	z-index: 3;
	width: 100%;
	margin: 0;
	left: 0;
	-webkit-box-shadow: 0px -3px 5px 0px rgba(219,219,219,1);
	-moz-box-shadow: 0px -3px 5px 0px rgba(219,219,219,1);
	box-shadow: 0px -3px 5px 0px rgba(219,219,219,1);
	border-top: 1px solid #dbdbdb;
	
	.col-xs-12 {	
		display: table;
	
		ul.footer-sticky-nav {
			font-size: 10px;
			color: #111;
			text-shadow: none;
			overflow: auto;
		    margin: 0;
		    padding: 0;
		    border: 0;
		    border-radius: 0;
		    display: table-row-group;
		    
			li.list-group-item {
				width: auto;
		    	background-color: #eeeeee;
		    	border-radius: 0;
		    	padding: 0 5px;
		    	display: table-cell;
		    	border-bottom: 1px solid #eeeeee;
		    	width: 33.33%;
		    	
	    		.img {
				    background-repeat: no-repeat;
				    background-position: 50% 50%;
				    padding: 35px 0 0;
				    opacity: 0.5;
		    		filter: alpha(opacity=50);
	    		}
	    		.customer-img {
					background-image: url("../images/mobile/customer-details-active.png");
				}
			    .payment-img {
				    background-image: url("../images/mobile/payment-active.png");
				}
			    .remarks-img {
				    background-image: url("../images/mobile/remarks-active.png");
				}
				.vo_report-img {
				    background-image: url("../images/mobile/report-active.png");
				}
			    .cancellation-img {
				    background-image: url("../images/mobile/cancel-active.png");
				}
				.tab-text {
		    		padding: 0 0 3px;
		    		font-weight: bold;
					opacity: 0.5;
		    		filter: alpha(opacity=50);
				}
			}
			
			li.list-group-item.active {
				border: none;
	    		text-shadow: none;
	    		background: #eeeeee;
	    		color: #111;
				border-bottom: 1px solid #153795;
				.img, .tab-text {
	    			opacity: 1;
		    		filter: alpha(opacity=100);
	    		}
			}
		}
	}
}


.contract-heading {
	display: inline-block;
    margin-top: 2%;
    padding: 0 25%;
    padding-bottom: 40px;
    color: @heading-color;
    font-size: 32px;
    font-family: @font-raleway-regular;
    border-bottom: @create-border-bottom;
}
.contract-container {
    padding: 20px 0px;
    font-size: 12px;
    font-family: arialRegular;
}
.contract-flow {
	margin-top: 20px;
	.line-through {
		border-bottom: 1px solid #ccc;
    	margin-top: -10px;
	}
}
.contract-nav {
	padding: 20px 0px 0 0px;
    margin: 0px 0px 0px 5%;
    overflow: auto;
    float: none;
    width: 95%;
	.stepline-contract {
	    width: 40%;
	    float: left;
	    margin: 15px 10px 0 10px;
	    border-top: 1px solid @contract-light;
	}
	.step-round {
	    width: 33px;
	    height: 33px;
	    border-radius: 50%;
	    padding: 7px;
	    background: rgba(102, 102, 102, 0.64);
	    display: inline-block;
	    color: #fff;
	    text-align: center;
	}
}
.contract_screen_content {
    margin: 0px 5% auto;
}
.view-contract-container {
	 margin: 0px 5% 0 12%;
	 padding-top: 0;
}
.customer-notify {
	font-size: 13px;
	font-weight: 900;
	font-family: @font-arial-regular;
}
.network-notify {
    padding: 10px;
    color: @font-green;
    font-size: 13px;
    background: @green-background;
    border: @green-border;
    .close {
    	font-weight: 300;
    	font-size: 17px;
    } 
    ul {
    	list-style: inherit;
    	padding: 0 0 0 20px;
    }
}
.product-notify {
    padding: 0;
    font-size: 13px;
    color: #666;
    background-color: #eaeaea;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    .notify-text {
    	padding: 9px 5px;
    }
}
.contract-label {
	font-family: arialRegular;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}
.contract-label:not(input) { margin: 4px 0; }
.contract-nav-text {
    padding: 0 0 40px;
    span {
	    color:rgba(102, 102, 102, 0.64);
	    font-size: 13px;
	    font-family: @font-arial-regular;
	    text-decoration: none;
    }
    .current_alink {
    	color: #1779bd !important;
    	font-size: 14px;
    }
    .step_text {
    	float: left;
	    padding: 0;
    }
	.nav-width1 {
		width: 43.5%;
		margin-left: 2%;
	}
	.nav-width2 {
		width: 26%;
	}
	.nav-width3 {
		width: 30%;
		margin-left: -2%;
	}
	.step_active{
	    background-color: #666666;
	    border:1px solid #4D4D4D;
	}
	.active_alink{
	    cursor: pointer !important;
	    color: #1779BD !important;
	}
}
.reference-heading {
    padding-top: 20px;
    border-top: @bottom-border-top;	
    .contract-font {
    	color: #525252;
    	font-size: 17px;
    }
}
.reference-container {
	margin: 10px 0 30px 0;
	padding: 20px 10px 0 10px;
    background-color: @ref-panel;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    .reference-body {
    	padding: 0 5px 10px;
    	margin-bottom: 10px;
    	border-bottom: 1px solid #eaeaea;
    	position: relative;
    	.ref-remove {
    		position: absolute;
		    top: -3px;
		    right: 0px;
		    cursor: pointer;
		    z-index: 100;
    	}
    	.ref-index {
    		float: left;
    		margin-right: 10px;
    		.contract-label {
    			font-size: 16px;
    			font-weight: 700;
    		}
    	}
    }
	.reference-foot {
		padding: 0 0 10px 0;
		span {
			color: #1779BD;
		    cursor: pointer;
			img {
			    margin-right: 10px;
			}
		}
	}
	.margin-adjustment {
		margin-left: 27.5px;
	}
}
.remarks-div {
    padding-top: 20px;
    border-top: @bottom-border-top;
}
.add-remarks {
    font-size: 12px;
	font-family: @font-arial-regular;
}
.comment-remarks {
	display: inline-block;
    margin-top: 10px;
    color: #757575;
    font-size: 13px;
	font-family: @font-arial-regular;
}
.comment-text {
	padding: 20px 0;
	border-bottom: @bottom-border-top;
	font-size: 12px;
    font-family: arialRegular;
    word-wrap: break-word;
    .comment-user {
        color: #757575;
	    margin-bottom: 10px;
    }

}
.reference-btn {
	padding: 30px 0;
	border-top: @bottom-border-top;
	span:first-child {
		padding-top: 13px;
	}
}
.contract-table {
	font-size: 12px;
    font-family: @font-arial-regular;
	thead {
		background-color: #f9f9f9;
	}
	tbody {
		.product_action {
			.fa-times {
				float: left;
    			margin: 1% 10% 0 0;
    			cursor: pointer;
			}
			.fa-plus {
			    float: left;
    			margin: 1% 0 0 0;
    			cursor: pointer;
			}
		}
	}
	.table-bordered {
		border: @header-border;
	}
	.table>thead:first-child>tr:first-child>th {
	    font-weight: 700;
	    font-size: 13px;
	}
	.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	    border: 0;
	    border-top: @header-border;
	    vertical-align: middle;
	}
	.numb {
		font-weight: 700;
		font-size: 17px;
	}
	.points {
		border-left: @header-border;
		padding: 10px 0;
		height: 38px;
	}
	.volume{
	border-right: @header-border;
	padding: 10px 0;
	height: 38px;
	}
	.spinner {
		border-right: @header-border;
		border-left: @header-border;
		.fa {
			padding: 0 5%;
		}
		.form-control {
		    width: 45%;
		    display: inline-block;
		    text-align: center;
		}
		a:hover {
			text-decoration: none;
		}
	}
}

.contract-btn {
		margin: 0;
		padding: 0px;
	    padding-right: 10px;
	    margin-right: 10px;
        color: #0487D5;
        background-color: #ffffff;
        border-color: #ffffff;
	    outline: none;   
}
.contract-btn:hover {
 	color: #0487D5;
 	&:active{
 	color: #0487D5;
 	}
 	&:focus{
 	color: #0487D5;
 	}
}
.contract-prev,
.contract-btn-next {
	padding: 10px 20px;
	border-radius: 23px;
	font-size: 15px;
    font-family: arial_bold;
	.img_icon {
		margin-right: 10px;
		height: 20px;
	}
}
.contract-prev {
   	margin-right: 20px;
	color: #7e7e7f;
   .prev_arr {
		margin-right: 5px;
	}
}
.contract-btn-next {
	.next_ar {
		margin: -2px 0 0 5px;
	}
}
.contract-prev:hover, 
.contract-prev:focus, 
.contract-prev:active,
.contract-btn-next:hover, 
.contract-btn-next:focus, 
.contract-btn-next:active {
	padding: 10px 20px;
}
	
.contract-font{
	font-size: 15px;
	font-weight: 900;
}


/*review page*/


.view-container-wraper,
.review-container-wraper {
	color: #666666;
	width: 78.5%;
	margin: 0 auto;
	.headingClass_Autoresponse {
		color: #333;
	    margin: 1.10% auto 0;
	    padding-bottom: 28px;
	    border-bottom: 2px dotted #eaeaea;
	    width: 76%;
	    font-size: 35px;
	    margin-bottom: 25px;
	    .sub-heading {
	    	font-size: 20px;
	    }
	}
}
.view-container-wraper {
	.view-heading {
		.headingClass_Autoresponse {
			margin: 0;
		}
	}
	.view-summary {
		padding: 20px 0 0 78px;
		font-size: 12px;
	}
	
	.margin_top_50 {
		margin-top: 50px;
	}
	.prod_remarks {
		border-top: 1px solid #eaeaea;
    	padding-top: 20px;
	}
	.sub-container {
		min-height: auto;
	}
	
}
.padding_bottom_15 {
	padding-bottom: 15px;
}
.margin_bottom_15 {
	margin-bottom: 15px;
}
.address {
	p {
		margin: 0;
	}
}
.review-container { 
    margin-bottom: 20px;
    border: @review-border;
    border-radius: 4px;
    font-family: @font-arial-regular;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    .header {
	    padding: 9px;
        background-color: #f9f9f9;
        border-radius: 4px;
        font-size: 15px;
        border-bottom: 1px solid #A1A1A1;
	    border-bottom-left-radius: 0;
	    border-bottom-right-radius: 0;
        span {
            margin-left: 10px;
        }
        .edit-img {
        	cursor: pointer;
        }
    }
    .body {
        padding: 20px 20px 20px 20px;
    	font-size: 12px;
    }
    .review-reference {
    	padding: 20px 0;
    	margin-bottom: 20px;
	    border-top: @bottom-border-top;
	    border-bottom: @bottom-border-top; 
    }
    .review-heading {
    	color: #4D4D4D;
        font-weight: 900;
    }
    .review-sub-heading {
    	color: #4D4D4D;
    	font-size: 15px;
        font-weight: 900;
           padding: 10px 0px 5px 0px;
    }
}

/*view contract*/

/*.contract-sidepanel {
	width: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: @contract-light;
}*/

.view-sub-heading {
    color: #4F4F4F;
    font-size: 22px;
    font-family: @font-raleway-regular;
    text-transform: uppercase;
}
.view-email {
	margin-top: 3%;
	margin-right: 10px;
	padding-right: 10px;
	border-right: @bottom-border-top;
}
.view-contract {
	margin-top: 3%;
}


.margin_right_10 {
	margin-right: 10px;
}
.margin_bottom_20 {
	margin-bottom: 20px;
}
.padding_right_10 {
	padding-right: 10px;
}
.padding_16_5 {
	padding: 16.5px 0;
}
.padding_9_5 {
	padding: 9.5px 0;
}
.padding_9 {
	padding: 9px 0;
}
.font-900 {
	font-weight: 900;
}
.font-700 {
	font-weight: 700;
}
.padding_tb_20_10 {
	padding: 20px 0 10px;
}
.margin_top_10 {
	margin-top: 10px;
}
.sub-container .top_box .showing_page.border-none,
.border-none {
	border: 0;
}
.border-bottom-contract {
	border-bottom: @bottom-border-top;
}
.sub-container .top_box.padding-none,
.padding-none {
	padding: 0;
}
.sub-container .top_box .showing_page.padding-right-none {
	padding-right: 0;
}
.margin-none {
	margin: 0;
}

.create-contract {
	color: #666666;
	width: 66.8%;
	.back-margin {
		margin-top: 40px;
	}
	.headingClass_Autoresponse {
		color: #333;
	    margin: 1.10% auto 0;
	    padding-bottom: 28px;
	    border-bottom: 2px dotted #eaeaea;
	    width: 76%;
	    font-size: 35px;
	}
	.total_content {
	    width: 35%;
	    float: none;
	    margin: 0 auto;
	}
	.form-control {
		color: #111;
		border: 1px solid #9e9e9e;
    	box-shadow: none;
	}
	.ok-group {
		position: relative;
		display: block;
		.input-group {
			width: 100%;
			.form-control:first-child {
				border-top-right-radius: 3px;
	    		border-bottom-right-radius: 3px;
			}
			.form-control:focus {
			    z-index: 2;
			}
			.input-group-btn {
				width: 25%;
				button.btn-primary { 
					width: 100%; 
					border-color: #1779bd;
				    background: #1779bd;
				    box-shadow: none;
				}
			}
		}	
		.custom_input.custom-input {
			.form-control:first-child {
				border-top-right-radius: 0;
	    		border-bottom-right-radius: 0;
			}
		}
		.customer-notify {
			font-size: 11px;
    		font-weight: 300;
		    position: absolute;
		    top: 8px;
		    right: -150px;
		}
	}
}
.margin_bottom_120 {
	margin-bottom: 120px;
}
.onoffswitch.onoffswitch-yesno {
	width: 85px;
	.onoffswitch-inner:before {
		content: "YES";
	}
	.onoffswitch-inner:after {
		content: "NO";
	}
	.onoffswitch-switch {
		right: 39px;
	}
}
.onoffswitch.onoffswitch-payby {
	width: 130px;
	.onoffswitch-inner:before {
		content: "Commission";
	}
	.onoffswitch-inner:after {
		content: "Cash";
	    background-color: #85CD00;
	    color: #FFFFFF;
	    padding-right: 30px;
	}
	.onoffswitch-switch {
		right: 83px;
	}
}

.onoffswitch.flt-left {
	float: left;
    overflow: hidden;
    .onoffswitch-switch {
    	height: 37px;
    }
}
.onoffswitch.flt-left + .switch-input {
	width: 70%;
    margin: 6px 0 0 0;
    float: right;
}
.sticky-block-view,
.sticky-block {
  	position: relative;
  	z-index: 1;
}
.sticky-block-view.fixed.absolute,
.sticky-block.fixed.absolute {
 	position: absolute;
 	width: 100%;
}
.sticky-block.fixed.absolute {
 	left: 0;
}
.sticky-block-view.fixed,
.sticky-block.fixed {
	position: fixed;
    width: 78.5%;
    top: 0;
    border: none;
    border-bottom: 1px solid #A1A1A1;
    left: 10.75%;
    box-sizing: border-box;
}
.sticky-block.fixed {
    border: 1px solid #A1A1A1;
}
.sticky-block-view.fixed {
    width: 73%;
    left: inherit;
}


.padding_5 {
	padding: 5px 0;
}
.padding_10 {
	padding: 10px 0;
}

.remark_label {
	padding: 0;
}
.width_auto {width: auto !important;}
.margin_top_4 {margin-top: 4px;}
.margin_top_8 {margin-top: 8px;}
.sub-container .table-responsive.padding-side-none {
	padding: 15px 0;
}
.update-price-diff {
    background: #eee;
    padding: 20px 30px;
    position: fixed;
    width: 73.1%;
    border: 1px solid #d4d4d4;
    font-size: 12px;
    z-index: 3;
    bottom: 0;
}
.vo-report.sub-container {
	min-height: 500px;
	.table-responsive {
		padding: 0;
		margin: 5px 0 0;
	}
}
.vo-report {
	padding: 0 20px 20px;
	font-size: 13px;
	.status {font-size: 14px;}
	.review-heading {
		padding: 15px 0 15px;
		font-size: 15px;
	}
	.location-wrapper {
		padding: 15px 0;
	}
	.vo-report-detail {
		padding: 0;
		ul.report-list {
			margin: 0 0 0 30px;
			li {
				padding-bottom: 15px;
				div {margin-right: 6px;}
				div.padding_0 {padding: 0px;}
			}
		}
	}
	.lbl-value {
		font-weight: 900;
		margin-left: 7px;
	}
	.lbl-value textarea {font-weight: 300;}
}

.heading-line{
margin-bottom: 0px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
}
.iconImageMarginRight{
	margin-right:10px;
}
.navPaddingLeft1{
	padding-left:6%;
}
.navPaddingLeft2{
	padding-left:6%;
}
.navPaddingRight3{
	padding-right:8%;
}

.turnInMenu{
	width:33.33%;
	float:left;
	ul.tab li a {
		padding: 14px 0px;
	}
}
.darkBcg{
	background-color:#f6f6f6;
}
.lightBcg{
	background-color:#fdfdfd;
}
.product_table{
background-color:#E5E5E5;
}
.tab-heading {
    padding: 20px 0 10px;
    margin: 0 0 15px;
    border-bottom: 1px solid #eaeaea;
}
.cancel-reset {
    border: 0;
    margin-right: 30px;
}
.btn_create_color.btn-gray,
.btn_create_color.btn-gray:hover {
    padding: 5px 20px;
    border: 1px solid #eee;
    background: #f9f9f9;
    color: #8a8a8a;
}
.btn_create_color.btn-yes,
.btn_create_color.btn-yes:hover {
	padding: 5px 20px;
}
.customerNavTitle{
    	padding-bottom: 40px;
    	span{
    		color:rgba(102, 102, 102, 0.64);
	    	font-size: 13px;
	    	font-family: @font-arial-regular;
	    	text-decoration: none;
    	}
	    

}
.navIconPointer{
	cursor:pointer;
}
.remarkSelectBox{
	margin-left:10%;
}
.remarkSelectBox{
	resize:none;
}
.remarkPageRightMargin{
	margin-right:15px;
}
.morecontent span {
	display: none;
}
.comment {
}
.contract-remarks {
	word-wrap: break-word;
}
.margin_right_10 {margin-right: 10px;}
a { word-wrap: break-word; }
.noBreakLine{
	white-space:nowrap;
}
img.review-edit {
	position: absolute;
    right: 9px;
    top: 9px;
    cursor: pointer;
    z-index: 1;
}
.contract-topbar {
	.contract-label {margin: 0;}
	.payment-row {margin-top: 25px;}
}
.input_label {margin-top:7px;}
.cancl-reject {margin-left: 20px;}

.create-label{
font-size:14px;
}

.translateCustom17{
transform: translateY(17%);
}

.inputPriceDiff{
    margin-top: -5px;
}

.noRemarkList{
	li{
		
	    margin: 0 0 2px 0;
	    color: white;
	    
	    span{
	    padding: 4px 7px 4px 6px;
	    background: aliceblue;
	    color:#4f2be2;
	    }
    
	}
	} 
.remarkSpan{
	 background: aliceblue;
    padding: 4px 7px 4px 6px;
    color: #4f2be2;
}

.cooling-off {
    font-size: 18px;
    color: red;
}

