@white: #FFFFFF;
@sidebarGray: #616161;
@create-btn-color: #E60505;
@border-top: 1px solid #ddd;
@table-text-color: #333333;
@table-stripe-even: #F6F6F6;
@table-stripe-odd: #FDFDFD;
@table-header-gray: #E5E5E5;
@active-status: #00CC33;
@inactive-status: #CCCCCC;
@spacing-status:1px;
@grid-spacing:0.3px;
@table-border-right: 1px solid #FFFFFF;

.tdStyleTurn{
	padding:13px 0px;
}    
.checkMarginTable{
	margin-bottom:1px;
}
.checkTurnPadding{
	padding-bottom: 0px;    
}      
.table > thead.theadFont{
	font-weight:100;
}     
.table > thead tr th.noBorderColor{
 	border-right:none;
}      
.sub-container {
	.table-responsive {
		.table>tbody {
			tr.subheading_color {
				background-color: #E5E5E5;
			}
		}
	}
}
 
.cont-summary-xs .summary_box {		
	margin: 0 0 10px;		
    border: 1px solid #1779BD;		
    border-radius: 3px;		
    .summary_value {		
	    padding: 5px 0;		
	    color:#1779BD;		
	}		
}
	 
.sub-container {
    min-height: 750px;;
	background-color: @white;
	.top_box {
	    height: 51px;
	    padding: 0 10px;
	    border-top: @border-top;
	    border-bottom: @border-top;
	    .showing_margin {
	        margin-top: 13px;
	    }
	    .showing_page {
	    	padding: 7px 20px 6px 0;
    	    border-right: @border-top;
	    }
	    .btn_create_color {
	        margin-top: 7px;
            margin-left: 20px;
            padding-left:5px;
            color: @white;
            background-color: @create-btn-color;
            border-radius: 24px;
            &:hover{
            margin-top: 7px;
            margin-left: 20px;
            padding-left:5px;
            color: @white;
            background-color: @create-btn-color;
            border-radius: 24px;
            border:1px solid transparent;
            }
            &:active{
            margin-top: 7px;
            margin-left: 20px;
            padding-left:5px;
            color: @white;
            background-color: @create-btn-color;
            border-radius: 24px;
            border:1px solid transparent;
            }
            &:focus{
            margin-top: 7px;
            margin-left: 20px;
            padding-left:5px;
            color: @white;
            background-color: @create-btn-color;
            border-radius: 24px;
            border:1px solid transparent;
            }
	    }
	}
	.summary_box {		
		margin: 25px 10px 15px;		
	    border: 1px solid #1779BD;		
	    border-radius: 3px;		
	    .summary_value {		
		    padding: 10px 15px;		
		    background: #fff;
		    color:#1779BD;		
		    span {		
			    font-weight: 700;		
			}		
		}		
	}
	
	
	 .tableReceive {
		 min-height:500px !important;
		 background-color: @white;
	 }
	 
	 
	 
	 .table-responsive .table > thead tr th {
		padding: 12px 2px 12px 3px;		
		vertical-align: middle;	
		background-color: @table-header-gray;	
		ul {		
			margin: 0;		
		    padding: 0;		
		    display: inline-block;		
		    overflow: hidden;		
		    vertical-align: middle;		
		    li {		
		    	float: left;		
		    	padding: 0;		
		    	margin: 0;		
		    }		
		    li.col-head-text {		
		    	width: 80%;		
		    	padding: 0;		
		    }		
		    li.order-arrow {		
		    	width: 20%;		
		    	ul {		
		    		line-height: 9px;		
		    	}		
		    }		
		}		
	}
	.table-responsive:not(.checkTurnPadding){
	    padding: 10px;
	    color: @table-text-color;
	    font-family: arial_regular;
	    /*overflow-x: hidden;*/
	    .table > thead:not(.theadFont){
		    font-size: 12px;
			font-weight: 900;
			tr {
				background-color: @table-header-gray;
				th {
				 	position: relative;
				    padding: 8px 0px 9px 0px;;
				    text-align: center;
				    border: 0;
					border-right: @table-border-right;
					cursor: pointer;
					background-clip: padding-box;
					.fa {
						font-size: 10px;
						cursor: pointer;
					}
					.col-head-text {
					    display: inline-block;
		        		padding-top: 6px;
		        		.fa-chevron-down {
		        			margin-top: 5px;
		        			margin-left: 5px;
		        		}
					}
					.col-up {
						position: absolute;
    					margin-left: -10px;
					}
				}
			}
		}
		.table>tbody {
			font-size: 12px;
			text-align: center;
			tr {
				td {
				    padding: 13px 12px;
        			border: 0;
				}
			}
			tr:nth-of-type(odd):not(.subheading_color) {
				background: @table-stripe-odd;
			}
			tr:nth-of-type(even) {
				background: @table-stripe-even;
			}
			
			.statusCell {
				font-weight: bold;
				 .Active {
					color: @active-status;
				}
				.Inactive {
					color: @inactive-status;
				}
			}
		}
		.table>tfoot {		
			background: #ededed;		
		}		
		.table>tfoot>tr>td {		
			border-right: 1px solid #fff;		
		    padding: 12px;		
		    text-align: center;		
		    font-weight: 700;		
		}
	}
}

.table>thead {
    font-size: 12px;
	font-weight: 700;
	tr {
		background-color: @table-header-gray;
		th{
		 	position: relative;
		    padding: 8px 0px 9px 0px;;
		    text-align: center;
		    border: 0;
			
			cursor: pointer;
			.fa {
				font-size: 10px;
				cursor: pointer;
			}
			.col-head-text {
			    display: inline-block;
        		padding-top: 6px;
        		.fa-chevron-down {
        			margin-top: 5px;
        			margin-left: 5px;
        		}
			}
			.col-up {
				position: absolute;
				margin-left: -10px;
			}
		}
	}
}

.sub-container .table-responsive .table > thead tr th.active,
.table-responsive .table > thead tr th.active {
	background-color: #dce4ea;
}

.sub-container .table-responsive .table > tbody tr:nth-of-type(odd) td.active-odd,
.table-responsive .table > tbody tr:nth-of-type(odd) td.active-odd {
    background-color: #eff8fd;
}
.sub-container .table-responsive .table > tbody tr:nth-of-type(even) td.active-even,
.table-responsive .table > tbody tr:nth-of-type(even) td.active-even {
    background-color: #e9f2f8;
}




.margin_top_heading {
	margin-top: 10px;
    margin-bottom: 25px;
}
.pageBackLink{
    margin-top: 50px;
}
.modalMessage{
	color:#0487D5;
	font-weight:700;
}

.modal-custom-width .modal-content{
width:650px;


.modalBtnWidth{
width:intial;
}
}
.modal-custom-width-comm .modal-content{
width:650px;
margin-left: -60px;

.modalBtnWidth{
width:intial;
}
}



.btn-style{
text-decoration: none;
padding: 7px 10px;		
-webkit-user-select: none;		
-moz-user-select: none;		
-ms-user-select: none;		
text-align: center;		
    white-space: nowrap;		
    vertical-align: middle;	
    border: 1px solid #ccc;
    border-radius:5px;	
}

.statusCell{
letter-spacing:@spacing-status;
}

.spacing{
letter-spacing:@grid-spacing;
}
.loadingIcon{
    text-align: center;
    margin: 100px auto;
}
	.empty-block {		
	margin: 0 auto;		
    background: #ffffff;
    overflow-x: hidden;		
    .sub-container {		
    	float: none;		
    	margin: 0 auto;		
    	min-height: 700px;		
    	.empty-content {		
    		text-align: center;		
		    border: 1px solid #e7e7e7;		
		    border-radius: 3px;		
		    float: none;		
		    margin: 8% auto;		
		    padding: 6% 0;		
		    p.raleway_heading {		
			    font-size: 1.7em;		
			    font-weight: bold;		
			}		
    	}		
    }		
}		
		
@print-icon: "../images/contracts/icon_print.png";		
@export-icon: "../images/contracts/icon_export.png";		
@email-icon: "../images/contracts/icon_email.png";		
@setting-icon: "../images/contracts/icon_setting.png";		
div.more_links {		
   		
    height: 35px;		
 	
    border-radius: 4px;		
    margin: 7px 0 0 20px;		
    position: relative;		
    cursor: pointer;		
    ul.dotted {		
    	display: inline-block;		
	    overflow: hidden;		
	    padding: 5px 11px 18px 10px;		
	    margin: 0;		
	    li {		
	    	width: 6px;		
		    height: 6px;		
		    padding: 0;		
		    margin: 2px 8px 0 12px;		
		    background: #666666;		
		    border: 1px solid #666666;		
		    border-radius: 3px;		
	    }		
    }		
    ul.sub-menu {		
    	display: none;		
	    position: absolute;		
	    top: 35px;		
	    right: 0;		
	    cursor: default;		
	    background: #fff;		
	    border: 1px solid #ccc;		
	    box-shadow: 1px 1px 5px #ccc;		
	    padding: 0;		
	    margin: 0;		
	    width: 200px;		
	    z-index: 1;		
	    li {		
	    	padding: 9px 0 9px 50px;		
    		margin: 5px 0;		
	    }		
	    li.print {		
	    	background: url(@print-icon) no-repeat 18px 7px;		
	    }		
	    li.export-csv {		
	    	background: url(@export-icon) no-repeat 18px 7px;		
	    }		
	    li.email {		
	    	background: url(@email-icon) no-repeat 18px 7px;		
	    }		
	    li.settings {		
	    	background: url(@setting-icon) no-repeat 18px 7px;		
	    }		
    }		
}		
div.more_links:hover {		
	background: #eeeeee;
	ul.dotted {		
    	li {			
	    	background: #666666;		
	    }		
    }		
    ul.sub-menu {		
    	display: block;		
    	li.print:hover {		
	    	background: #f1f1f1 url(@print-icon) no-repeat 18px 7px;		
	    }		
	    li.export-csv:hover {		
	    	background: #f1f1f1 url(@export-icon) no-repeat 18px 7px;		
	    }		
	    li.email:hover {		
	    	background: #f1f1f1 url(@email-icon) no-repeat 18px 7px;		
	    }		
	    li.settings:hover {		
	    	background: #f1f1f1 url(@setting-icon) no-repeat 18px 7px;		
	    }		
    }		
}


.phn_width{
width:20%
}

.phn_left{
    margin-left:5%;
}


.footer_style{
color: #ccc;
font-family: arial_regular;
}


.footer_style:hover{
color:#ccc;
font-family: arial_regular;
}
.footer_hyper{
color:#ccc;
text-decoration:none;
}

.footer_hyper:hover{
color:#ccc;
}

.draft {		
	color: #B74ECA;		
	font-weight: 700;
	border:none;
	outline:none;		
}	
.closed{
 	color: #179604;		
	font-weight: 700;
}	
.partially-delivered,.Partially-Delivered{		
	color: #FFCC00;		
	font-weight: 700;		
}

.banked-in-by-admin,.with-admin,.banked-in-by-co,.with-co, .with-vo, .Banked-In-By-CO, .banked-in-by-vo , .banked-in,.banked-in-by-sr{
	color: #00CC33;
	font-weight: 700;
}


.cancelled,.Rejected, .rejected,.cancellation-request-rejected{color: #E14218;font-weight: 700;}

.cancellation-initiated,.suspended,.suspense{color: #990033;font-weight: 700;}

.delinquent{color: #BC5611;font-weight: 700;}

.accepted, .pay-ahead,.Confirmed,.confirmed,.Delivered ,.delivered,.Cleared,.cleared,.ordered,.Ordered,.banked-in,.Banked-in,.Approved,.approved,.payment-released {
	color: #00CC33;
	font-weight: 700;
}
.released, .amended, .Reconsidered,.Re-considered, .reconsidered,.Pending,.pending,.pending-confirmation,.pending-verification,.pending-vo-allocation,.pending-co-allocation,.pending-collection ,.cash-in-hand, .cheque-in-hand,.pending-shipment,.payment-pending,.pending-approval,.product-reprocessed{
	color:#FE8122;
	font-weight: 700;
}

.cancellation-approved-for-product-reprocessed{
	color:#998200;
	font-weight: 700;
}
.current {
	color: #784C8D;
	font-weight: 700;
}

.padding-2{
	padding: 0 2px 0 0;
}

.breakWord{
 -ms-word-break: break-all;
   -ms-word-wrap: break-all;
   -webkit-word-break: break-word;
   -webkit-word-wrap: break-word;
   word-break: break-word;
   word-wrap: break-word;
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   hyphens: auto;
}

.addMoreHouse{
	border-top: 1px solid #ccc;
    padding-bottom: 15px;
    padding-top: 10px;
    color: #0487D5;
    border-bottom: 1px solid #ccc;
    font-size:12px;
}

 
 
/*.main-container {*/
	.sidebar-wrapper,
	.sidebar-inner-wrapper {overflow: auto; float: left;}
	.side_bar {
		width: 240px;
    	float: left;
	}
	.sidebar-refined {
		text-align: center;
    	padding-top: 20px;
		width: 40px;
		background-color: #616161;
		float: left;
	}
	.desktop {
		width: 100%;
		float: left;
	}
	.desktop.filter-on {
		width: -moz-calc(~'100% - 240px');
		width: -webkit-calc(~'100% - 240px');
		width: -o-calc(~'100% - 240px');
		width: calc(~'100% - 240px');
	}
	.desktop.filter-off {
		width: -moz-calc(~'100% - 40px');
		width: -webkit-calc(~'100% - 40px');
		width: -o-calc(~'100% - 40px');
		width: calc(~'100% - 40px');
	}

	.container-xs { 
		background: #ffffff;
		min-height: 400px;
	}
	.manage-xs {
		.top_box {
			.showing-record { padding: 15px 0 0 5px; }
			.dropdown-toggle { width: 100px; }
		}
		.table-xs-view {
			.icon, .content, .right-arrow {
				padding: 0 0 0 5px;
			}
			.icon { margin: 0; float: left; margin-top: 20px; }
			.customer { font-weight: bold; color: #3990da; }
			.contractText{font-weight: bold; color: black; font-size: 14px;}
			.customerText{font-weight: bold; color: black; word-wrap: break-word; }
			.contract { color: #3990da; }
			.right-arrow {
				margin-top: 6px;
				font-size: 20px;
				padding: 0;
			}
			.content.content-right { 
				color: #868686; 
				label {margin: 0;}
			}
			.details-sec {
				padding: 0;
    			margin: 30px 0 0;
				span {
					color: #1779bd;
				    -webkit-transform: rotate(90deg);
				    -moz-transform: rotate(90deg);
				    -o-transform: rotate(90deg);
				    -ms-transform: rotate(90deg);
				    transform: rotate(90deg);
				    font-size: 12px;
				}
			}
		}
		
		.row-selected {
			background: #1779bd;
			color: #fff;
			.txt-area {
				padding: 15px 0;
				.txt-wrapper {padding: 0;}
				textarea {
					width: 100%;
				    border: 1px solid #fff;
				    border-radius: 2px;
				    padding: 5px;
				    color: #666;
				}
			} 
			.bordered {border-right: 1px solid #5cb8f9;}
			.save-btn {width: 25%;}
			.detail-btn {padding: 15px 0; width: 20%;}
			
			.details-sec {
				padding: 0;
    			margin: 25px 0 0;
				span {
					color: #fff;
				    -webkit-transform: rotate(90deg);
				    -moz-transform: rotate(90deg);
				    -o-transform: rotate(90deg);
				    -ms-transform: rotate(90deg);
				    transform: rotate(90deg);
				    font-size: 12px;
				}
			}
		}
		
	}
/*}*/
.table-xs-view {
	padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: default;
	.heading {
	    font-weight: bold;
	    padding-bottom: 10px;
	}
	label { 
		font-weight: normal;
		margin-bottom: 0;
		span { margin-left: 5px; } 
	}
}
.load-more {
	padding: 20px;
	.text { margin-left: 10px; }
}
.table-xs-view .pointer {cursor: pointer;}

.manage-xs-heading {
    padding: 20px 15px 10px;
    .raleway_heading { font-size: 29px; margin: 0; }
    .more_links { 
    	margin: 0;
    	ul.dotted {
		    padding: 5px 5px 9px;
		    li { margin-left: 10px; }
		}
    }
    .btn_create_color,
    .btn_create_color:hover,
    .btn_create_color:active {
    	margin: 20px 0 0;
    	padding: 4px 10px 4px 4px;
    	img {
    		margin-right: 3px;
    		width: 18px;
    	}
    } 
}



.col-container.filter-on, .col-container.filter-on:before {
    width: -moz-calc(~'100% - 240px');
	width: -webkit-calc(~'100% - 240px');
	width: -o-calc(~'100% - 240px');
	width: calc(~'100% - 240px');
}
.col-container.filter-off, .col-container.filter-off:before {
    width: -moz-calc(~'100% - 40px');
	width: -webkit-calc(~'100% - 40px');
	width: -o-calc(~'100% - 40px');
	width: calc(~'100% - 40px');
}
.sidebar-wrapper.filter-on, .sidebar-wrapper.filter-on:before {
	width: 240px;
}
.sidebar-wrapper.filter-off, .sidebar-wrapper.filter-off:before {
	width: 40px;
}

.col-container:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background: #fff;
}
.sidebar-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background-color: #616161;
    width: 40px;
}
.sidebar-wrapper.filter-on:before { width: 240px; }

    
.config-modal{
	padding: 0px 0px 15px 0px;
  	.modal-header{
     	padding:10px;
     	background-color:#eee;
    }
    .modal-title{
     	font-family: ralewayRegular;
     	font-size: 18px;
     	font-weight: 700;
     	margin-left: 30px;
    }
    .okayButton,.okayButton:hover,.okayButton:focus,.okayButton.focus{
     	background-color: #1779BD;
     	border-radius: 2px;
     	color: white;
     	outline: none;
     	font-size: 13px;
     	font-weight: 700;
     	width: 100%;
     	padding-left: 15px;
     	padding-right: 15px;
     	margin: 0;
     	width: 120px;
	    float: none;
       	.leftArrowBtn{
       		font-size: 20px;
       		margin-top: -2px;
       		float: left;
       	}
       	.rightArrowBtn{
       		font-size: 20px;
       		margin-top: -2px;
       		float: right;
       	}
    }
    
    .subTitle{
	    font-family: arialRegular;
	    font-size: 15px;
	    font-weight: 700;
	}
	.availableBox{
	    border: 1px solid #ccc;
	    border-radius: 2px;
	    overflow-y: auto;   
		ul{
			padding: 10px;
			font-family: arialRegular;
		    font-size: 13px;
		    li{
		    	padding:2px 5px;
		        cursor:pointer;
		    }
		    li.active{
			  background-color:#1779BD;
			  color:white;
			}
		}
	}
	.ok_wrapper{
		margin: 6px auto 30px;
	    display: inline-block;
	}
    .add-btn {
    	margin-top: 35%;
    }
}
    
.houseCalender {
 	color: #fff;
    margin-left: 15px;
    font-size: 12px;
    margin-right: 30px;
    border: 1px solid rgba(182, 182, 182, 0.25);
    border-radius: 3px;
    label {margin: 0;}
    input {
    	background: #616161;
	    border: none;
	    outline: 0;
	    padding: 8px 10px;
	    font-weight: 300;
    }
}
.houseCalender.custom-date .ui-datepicker-trigger {top: 5px; right: 5px;}

ul.manage-tab {
	list-style-type: none;
	margin: 0 0 25px;
	padding: 15px 0 0;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	
	li.tablink_active {
	    border-bottom: 2px solid #153795;
	    a {color: #153795; font-weight: 300;}
	}
    li {
    	padding: 15px 0;
    	a {
    		color: #797979;
		    text-decoration: none;
		    font-size: 20px;
    	}
    }
}

.commission-detail {
	.commission-tab {width: 80%; margin: 0 auto;}
	.margin_top_heading {
		margin-top: 0;
    	margin-bottom: 0;
		.back-margin {
			padding: 10px 15px 20px;
		}
	}
	.raleway_heading {
		width: 60%;
	    margin: 0 auto;
	    padding: 0 0 30px;
	    border-bottom: 2px dotted #ccc;
	}
	.sub-container .table-responsive .table > thead tr th ul {width: 95%;}
	table th .cust-chkbox.white-checkbox {
		padding: 0;
    	margin: 0 0 0 30px;
		label > span {top: 5px;}
	} 
	.more-to-go {
		position: absolute;
	    right: 60px;
	    top: 15px;
	}
	div.more_links {margin: 7px 0 0 5px;}
	.tab2 div.more_links {
		position: absolute;
	    right: 10px;
	    top: 1px;
	}
	.empty-block .sub-container .empty-content {
		border:none;
		margin: 10% auto;
		border:none;
		.raleway_heading {border:none;}
	}
	.sub-heading {
		font-size: 27px;
	    padding: 5px 0 7px;
	}
	.sub-container .top_box.tab2 {
		height: auto;
		border-top: none;
	}
	.sub-container .top_box {
		.showing_page {padding: 7px 0 6px; border: none;}
		.sel-row span {margin-right:10px;}
	}
	.bulk-post {float:right; margin-top: 10px;}
	.tab2 {
		.country-select {
			padding: 15px 0;
    		border-bottom: 1px solid #ccc;
    		margin-bottom: 15px;
    		span {float: left; width: auto; margin: 7px 10px 0 0;}
    		span.input {margin: 0 20px 0 0; width: 150px;}
		}
		.foot-total,
		.txn-row {
			padding: 20px 0;
		    margin: 0 0 15px;
		    background: #ededed;
		}
		.foot-total {
			padding: 15px 0;
			.total-amt {padding-left: 40px;}
		}
		.padding-left {padding-left: 30px !important;}
		.comm-left {
			padding-left: 0;
			padding-bottom: 15px;
			.points {float:right; margin-right: 15px;}
			.table {margin-bottom: 0;}
			.table>tbody>tr>td {border: none; padding: 14px 8px;}
			.table>tbody>tr>th.paddingColor {border: none; padding: 15px 30px;}
		}
		.comm-right {
			padding: 0 0 20px 0;
			margin: 0;
			.lbl {margin-right: 10px;}
			.lbl-wraper {padding: 2px 0;}
			.wrapper {
				.header {border: none; background-color: #f1f1f1; border-radius: 0;}
				.body {
					padding-top: 10px;
					padding: 10px 0;
    				border-bottom: 1px solid #ccc;
    				font-size: inherit;
				}
				.footer {padding: 10px 0 0; font-size: 16px;}
				padding: 15px 20px 10px; border-bottom: 1px solid #ccc;
			}
		}
		.com-post {
			padding: 30px 0 0;
		    border-top: 1px solid #ccc;
		    margin: 20px 0 60px;
		    .reset {margin: 11px 30px 0;}
		}
		.empty-block .sub-container {min-height: auto;}
	}
}
.comm-modal {
	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {font-size: 12px;}
	.table > tfoot tr {background-color: #e5e5e5;}
	.table > tfoot tr th,
	.table > thead tr th { 
		border-right: 1px solid #fff; 
		vertical-align: middle;
		ul {
			margin: 0;
			overflow: hidden;
			li {float: left;}
			li.col-head-text {width: 80%;}
		}
	}
	.modal-title {font-size: 20px;}
	.modal-body {
		padding: 20px 10px; 
		height: 415px; 
		overflow-y: auto;
	}
	.checkbox {margin-bottom: 0;}
	.cancelButton,
	.cancelButton:hover {margin: 0;}
	.sug-text {margin-top: 15px; margin-bottom: 15px;}
}
.modal-ok-btn,
.modal-ok-btn:hover,
.modal-ok-btn:active {margin-left: 0;} 


.padding_10{
 padding: 10px 0;
}

 