<div class="modal-body">
	<form name="passwordForm" ng-submit="changePassword()" novalidate>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label>Current Password</label>  
					<input type="password" class="form-control" name="currentPswd" ng-model="currentPswd" ng-class="passwordForm.currentPswd.$invalid && submitPressed?'emptyField':''" required>
					<span class="errorMsg" ng-show="passwordForm.currentPswd.$invalid && submitPressed">Please Enter your Current Password</span>
				</div>
				<div class="form-group">
					<label>New Password</label>  
					<input type="password" class="form-control" name="newPassword" ng-model="newPassword" ng-class="passwordForm.newPassword.$invalid && submitPressed?'emptyField':''" ng-change="checkPassword()" required>
					<span class="errorMsg" ng-show="passwordForm.newPassword.$invalid && submitPressed">Please Enter New Password</span>
				</div>
				<div class="form-group">
					<label>Repeat New Password</label>  
					<input type="password" class="form-control" name="confirmPassword" ng-model="confirmPassword" ng-class="passwordForm.confirmPassword.$invalid && submitPressed?'emptyField':''" required>
					<span class="errorMsg" ng-show="passwordForm.confirmPassword.$invalid && (newPassword==confirmPassword) && submitPressed">Confirm Your New Password</span>
				</div>
			</div>
			<div class="col-xs-6">
				<ul class="list-group">
					<li class="list-group-item passList btn_font_bold">Your password must contain :</li>
					<li class="list-group-item passList caution">-Make it at
						least 6 characters</li>
					<li class="list-group-item passList caution">-lowercase
						letter</li>
					<li class="list-group-item passList caution">-uppercase
						letter</li>
					<li class="list-group-item passList caution">-numbers</li>
					<li class="list-group-item passList caution">-special
						characters</li>
				</ul>
			</div>
			<div class="col-xs-12 text-xs-center text-right">
				<button type="submit" class="btn btn-md  adminButton" ng-disabled="disableSubmit">Change Password</button>
			</div>
		</div>
	</form>
</div>
