<div class="container-fluid" ng-controller="VoTurnInCtrlMobile">
		<div class="loading-spiner" ng-show="loader">
			<img src="distribution/images/loader.gif" alt="Loading Icon" />
		</div>
		<div class='row text_center margin_top_heading' ng-hide="detailsView">
			<h1 class="raleway_heading">Manage Turn-in</h1>
		</div>

        <div class="row text-center margin_top_heading" ng-show="detailsView">
            <h1 class="raleway_heading">History for {{detailList.datePayment}}</h1>
            <div class="col-xs-12 revert-padding text-left"><a ng-click="backToTurnIn();"> < Back to Manage Turn In</a></div>
        </div>

		<div class="col-xs-12 revert-padding summary-turn-in-section" ng-hide="detailsView">
		
		<div class="col-xs-12 revert-padding text-right">

			<div class="col-xs-offset-4 col-xs-8 revert-padding">
				<div class="col-xs-4 revert-padding text-left"><span class="font-700">Cash</span></div>
				<div class="col-xs-4 revert-padding text-left"><span class="font-700">Cheque</span></div>
				<div class="col-xs-4 revert-padding text-left"><span class="font-700"><nobr>Credit Card</nobr></span></div>
			</div>
			
		</div>

		<div class="col-xs-12 revert-padding">
			<div class="col-xs-4 revert-padding ReceivedColor"><span class="font-700">Received</span></div>
			<div class="col-xs-8 revert-padding">
				<div class="col-xs-4 revert-padding ReceivedColor"><span>{{cashSummary.receivedAmt}}</span></div>
				<div class="col-xs-4 revert-padding ReceivedColor"><span>{{chequeSummary.receivedAmt}}</span></div>
				<div class="col-xs-4 revert-padding ReceivedColor"><span>{{creditCardSummary.receivedAmt}}</span></div>
			</div>
		</div>

		<div class="col-xs-12 revert-padding">
			<div class="col-xs-4 revert-padding bankColor"><span class="font-700">Banked-in</span></div>
			<div class="col-xs-8 revert-padding">
				<div class="col-xs-4 revert-padding bankColor"><span>{{cashSummary.bankedInAmt}}</span></div>
				<div class="col-xs-4 revert-padding bankColor"><span>{{chequeSummary.bankedInAmt}}</span></div>
				<div class="col-xs-4 revert-padding bankColor"><span>{{creditCardSummary.bankedInAmt}}</span></div>
			</div>
		</div>

		<div class="col-xs-12 revert-padding">
			<div class="col-xs-4 revert-padding outstandingColor"><span class="font-700">Total Outstanding</span></div>
			<div class="col-xs-8 revert-padding">
				<div class="col-xs-4 revert-padding outstandingColor"><span>{{cashSummary.outstandingAmt}}</span></div>
				<div class="col-xs-4 revert-padding outstandingColor"><span>{{chequeSummary.outstandingAmt}}</span></div>
				<div class="col-xs-4 revert-padding outstandingColor"><span>{{creditCardSummary.outstandingAmt}}</span></div>
			</div>
		</div>
		<div class="col-xs-12 revert-padding">
			<div class="col-xs-4 revert-padding summary-turn"><span class="font-700">Submitted To Office</span></div>
			<div class="col-xs-8 revert-padding">
				<div class="col-xs-4 revert-padding summary-turn"><span>{{cashSummary.submittedAmt}}</span></div>
				<div class="col-xs-4 revert-padding summary-turn"><span>{{chequeSummary.submittedAmt}}</span></div>
				<div class="col-xs-4 revert-padding summary-turn"><span>{{creditCardSummary.submittedAmt}}</span></div>
			</div>
		</div>

			

		</div>


        <div class="col-xs-12 revert-padding summary-turn-in-section text-center" ng-show="detailsView">



            <div class="col-xs-12 revert-padding">
                <div class="col-xs-6 text-right"><span>Amount:</span></div>
                <div class="col-xs-6 text-left"><span class="font-700">{{detailList.totalAmount}}</span></div>
            </div>
            <div class="col-xs-12 revert-padding">
                <div class="col-xs-6 text-right"><span>Transactions:</span></div>
                <div class="col-xs-6 text-left"><span class="font-700">{{detailList.noOfTransactions}}</span></div>
            </div>
            <div class="col-xs-12 revert-padding">
                <div class="col-xs-6 text-right"><span>Processed By:</span></div>
                <div class="col-xs-6 text-left"><span class="font-700">{{detailList.processedBy.join()}}</span></div>
            </div>
            <div class="col-xs-12 revert-padding">
                <div class="col-xs-6 text-right"><span>Batch No::</span></div>
                <div class="col-xs-6 text-left"><span class="font-700">{{detailList.batchNo}}</span></div>
            </div>

        </div>

        <ul class="col-xs-12 tab revert-padding" ng-hide="detailsView || !isOnline">
            <li class="col-xs-4 text-center" ng-class="tab0?'tablink_active':''"><a
                    class="tablinks" ng-click="openGrid('historyTab')">History</a></li>
			<li class="col-xs-3 text-center" ng-class="tab1?'tablink_active':''"><a
				class="tablinks" ng-click="openGrid('receive')">Receive</a></li>
			<li class="col-xs-5 text-center" ng-class="tab2?'tablink_active':''"><a
				class="tablinks" ng-click="openGrid('pending')"><nobr>Pending
					Turn-in</nobr></a></li>
		</ul>

		<ul class="col-xs-12 tab revert-padding" ng-hide="isOnline">

			<li class="col-xs-6 text-center" ng-class="tab1?'tablink_active':''"><a
					class="tablinks" ng-click="openGrid('receive')">Receive</a></li>
			<li class="col-xs-6 text-center" ng-class="tab2?'tablink_active':''"><a
					class="tablinks" ng-click="openGrid('pending')"><nobr>Pending
				Turn-in</nobr></a></li>
		</ul>



    <div class="col-xs-12 revert-padding grid-turn-in" ng-show="tab0 && !detailsView">
        <div class="col-xs-12 revert-padding cash-section" ng-show="turnInHistory.length>0">
            <div class="col-xs-12 table-xs-view" ng-repeat="row in turnInHistory" ng-click="viewDetails(row)">
                <div class="col-xs-4 text-left">
                    <div class="col-xs-12"><span>{{row.date}}</span></div>
                    <div class="col-xs-12"><span>{{row.totalAmount}}</span></div>
                    <div class="col-xs-12"><span>Transactions: {{row.noOfTransactions}}</span></div>
                </div>
                <div class="col-xs-6 text-right">
                    <div class="col-xs-12">
                        <span>Processed By: </span><span ng-show="row.processedBy.length<=2">{{row.processedBy.join()}}</span>
                        <span ng-show="row.processedBy.length>2">{{row.processedBy[0]+','+row.processedBy[1]+'&'}}<br>
								<a>{{row.processedBy.length-2}} more</a>
									</span>
                    </div>
                    <div class="col-xs-12">
                        {{row.batchNo}}
                    </div>
                </div>
                <div class="col-xs-2 text-right forward-icon" ng-click="viewDetails(row)">
                    <img src="distribution/images/co_vo/forward.png"/>
                </div>
            </div>
        </div>

    </div>


    <div class="col-xs-12 revert-padding margin_bottom_20 grid-turn-in" ng-show="detailsView">
        <div class="col-xs-12 revert-padding cash-section" ng-show="detailList.rowDetails.length>0">
            <div class="col-xs-12 table-xs-view" ng-repeat="row in detailList.rowDetails">
                <div class="col-xs-4 text-left">
                    <div class="col-xs-12"><span class="font-700">{{row.paymentMethod}}</span></div>
                    <div class="col-xs-12"><span>{{row.processByName}}</span></div>
                    <div class="col-xs-12"><span class="font-700">{{row.amount}}</span></div>
                </div>
                <div class="col-xs-8 text-right">
                    <div class="col-xs-12">
                        <span>Processed By: {{row.processByName}}</span>
                    </div>
                    <div class="col-xs-12">
                        {{row.bankSlipNo}}
                    </div>
                    <div class="col-xs-12">
                        <span class='font-700 {{concatanateString(row.statusPayment)}}'>{{row.status}}</span>
                    </div>
                </div>
                <div class="col-xs-12 text-left" ng-show="row.remarks">
                    <span>Remarks: {{row.remarks}}</span>
                </div>
            </div>
        </div>
    </div>

		<div class="col-xs-12 revert-padding margin_bottom_20 grid-turn-in" ng-show="tab1 && !detailsView">
			<div class="col-xs-12 revert-padding filter-section">
				<select class="col-xs-12 btn btn-md c-select pull-right" ng-model="salesRepName" ng-options="salesRep for salesRep in salesRepNames">
				</select>
			</div>
			<div class="col-xs-12 revert-padding cash-section" ng-hide="!cashList.length">
			<div class="col-xs-12 cash-heading"><span class="font-700">Cash</span></div>
			<div class="col-xs-12 table-xs-view" ng-repeat="cashRow in cashList = (cashDetailsList| filterBySR:salesRepName)">
				<div class="col-xs-4"><span>{{cashRow.srName}}</span></div>
				<div class="col-xs-4"><span>{{cashRow.amount}}</span></div>
				<div class="col-xs-4"><span>{{cashRow.date}}</span></div>
			</div>
			</div>
			<div class="col-xs-12 revert-padding cash-section" ng-hide="!chequeList.length">
			<div class="col-xs-12 cash-heading"><span class="font-700">Cheque</span></div>
			<div class="col-xs-12 table-xs-view" ng-repeat="cashRow in chequeList = (chequeDetailsList | filterBySR:salesRepName)">
				<div class="col-xs-3"><span>{{cashRow.srName}}</span></div>
				<div class="col-xs-3"><span>{{cashRow.amount}}</span></div>
				<div class="col-xs-3"><span>{{cashRow.chequeDate}}</span></div>
				<div class="col-xs-3"><span>{{cashRow.chequeNumber}}</span></div>
			</div>
			</div>
			<div class="col-xs-12 revert-padding cash-section" ng-hide="!creditList.length">
			<div class="col-xs-12 cash-heading"><span class="font-700">Credit Card</span></div>
			<div class="col-xs-12 table-xs-view" ng-repeat="cashRow in creditList= (creditDetailsList | filterBySR:salesRepName)">
				<div class="col-xs-3"><span>{{cashRow.srName}}</span></div>
				<div class="col-xs-3"><span>{{cashRow.amount}}</span></div>
				<div class="col-xs-3"><span>{{cashRow.date}}</span></div>
				<div class="col-xs-3">
					<span>{{cashRow.transactionNumber}}</span>
				</div>
			</div>
			</div>

			<div class="col-xs-12 revert-padding text-center">
				<button type="button" class="btn btn-md createroleButton btn_font_bold" ng-click="receiveFrom(salesRepName);">Receive</button>
			</div>

			
		</div>

		<div class="col-xs-12 revert-padding margin_bottom_20 grid-turn-in" ng-show="tab2 && !detailsView">
			<div class="col-xs-12 revert-padding filter-section">
				<div class="col-xs-8 pull-left"><span class="font-700">Filter By</span></div>
				<select class="col-xs-4 btn btn-md pull-right c-select" ng-model="paymentType" ng-options="payment for payment in paymentTypeList">
				</select>
			</div>

			<div class="col-xs-12 revert-padding cash-section" ng-show="cashDetailsList.length>0 && paymentType==='Cash'">
				<div class="col-xs-12 cash-heading"><span class="font-700">Cash</span></div>
				<div class="col-xs-12 revert-padding table-xs-view" ng-repeat="cashRow in cashDetailsList">
					<div class="col-xs-3"><span>{{cashRow.date}}</span></div>
					<div class="col-xs-3"><span>{{cashRow.amount}}</span></div>
					<div class="col-xs-3"><span class='{{concatanateString(cashRow.bankedInBy)}}'>{{cashRow.bankedInBy}}</span></div>
					<div class="col-xs-3 action-image" ng-click="singleSubmit(cashRow)" ng-show="cashRow.bankedInBy==='With VO'">
						<img src="distribution/images/co_vo/forward.png"/>
					</div>
				</div>
			</div>
			<div class="col-xs-12 revert-padding cash-section" ng-show="cashDetailsList.length===0 && paymentType==='Cash'">
				<div class="col-xs-12 revert-padding no-requests-turn-in">
					<span>There are no requests to view</span>
				</div>
			</div>
			<div class="col-xs-12 revert-padding cheque-section" ng-show="chequeDetailsList.length>0 && paymentType==='Cheque'">
				<div class="col-xs-12 cheque-heading"><span class="font-700">Cheque</span></div>
				<div class="col-xs-12 revert-padding table-xs-view" ng-repeat="chequeRow in chequeDetailsList">
					<div class="col-xs-3"><span>{{chequeRow.chequeDate}}</span></div>
					<div class="col-xs-3"><span>{{chequeRow.amount}}</span></div>
					<div class="col-xs-3"><span class='{{concatanateString(chequeRow.bankedInBy)}}'>{{chequeRow.bankedInBy}}</span></div>
					<div class="col-xs-3 action-image" ng-click="singleSubmit(chequeRow)" ng-show="chequeRow.bankedInBy==='With VO'">
						<img src="distribution/images/co_vo/forward.png"/>
					</div>
				</div>
			</div>
			<div class="col-xs-12 revert-padding cash-section" ng-show="chequeDetailsList.length===0 && paymentType==='Cheque'">
				<div class="col-xs-12 revert-padding no-requests-turn-in">
					<span>There are no requests to view</span>
				</div>
			</div>
			<div class="col-xs-12 revert-padding cash-section" ng-show="creditDetailsList.length===0 && paymentType==='Credit Card'">
				<div class="col-xs-12 revert-padding no-requests-turn-in">
					<span>There are no requests to view</span>
				</div>
			</div>
			<div class="col-xs-12 revert-padding text-center">
					<button type="button" class="btn btn-md createroleButton btn_font_bold" ng-click="bankInVO();">Bank In</button>
				</div>
			</div>

	</div>