<div class="container-fluid" ng-controller="ManageGridCtrl">
	<div ng-controller="VoRequestCtrl">
		<div class='row text-center margin_top_heading visible-print-block'>
			<h1 class="raleway_heading print_only">Grolier International</h1>
			<div class="col-xs-12 address">
				81 Ubi Ave 4, #02-30, UB. ONE, Singapore 408830,</br>
				Tel: 6922 9555 &nbsp;&nbsp;Fax: 6922 9556
			</div>
		</div>
		<div class='row text_center margin_top_heading hidden-xs hidden-print'>
			<h1 class="raleway_heading">Verification Requests</h1>
		</div>

		<div class='row manage-xs-heading visible-xs hidden-print'>
			<div class="col-xs-12 text-center"><h1 class="raleway_heading">Verification Pending</h1> </div>
		</div>

		<div class="row main-container">
			<div class="col-xs-12 data-block" ng-hide="isEmptyManageData">
				<div class="sidebar-wrapper {{SidebarWidth}}" ng-include="'app/modules/sidebar-filter/view.html'"></div>

				<!-- Mobile Screen -->
				<div class="col-container {{MobilePageWidth}}">
					<div class="col-xs-12 top_box padding-none margin_bottom_10">
						<div class="pull-left hidden-sm showing-record">
							{{gridOptions.data.length}} Verifications
						</div>

						<!-- <div class="pull-right more_links">
                            <ul class="dotted"><li></li><li></li><li></li></ul>
                            <ul class="sub-menu">
                                <li class="print">Print</li>
                                <li class="export-csv">Export to .csv</li>
                                <li class="email">Email</li>
                                <li class="settings">Manage Columns</li>
                            </ul>
                        </div>  -->
						<div class="pull-right showing_page padding-right-none border-none">
							<select class="btn btn-dropdown btn-md dropdown-toggle" ng-model="listing.sortedBy" ng-options="list.value as list.text for list in listing.sortedByList track by list.value">
								<option value="">Last Modified</option>
							</select>
						</div>
					</div>



					<div class="col-xs-12 table-xs-view" ng-repeat="row in gridOptions.data | orderBy: listing.sortedBy" ng-click="verifyContract(row.contractCode,row);"><!--  ng-click="ShowContractPage(row,$event)"> -->

						<div class="col-xs-1 icon">
							<img ng-if="isOffline" src="distribution/images/mobile/not-synced.png"/>
							<img ng-if="!isOffline" src="distribution/images/mobile/synced.png"/>
							
						</div>
						<div class="col-xs-5 content">
							<!-- <div class="col-xs-12 contractText" ng-click="ShowContractPage(row)">{{row.contractCode}}</div> -->
							<div class="col-xs-12 contractText">{{row.contractCode}}</div>
							<div class="col-xs-12"><label class="">Points: </label>{{row.points==null?'-':row.points}}</div>
							<div class="col-xs-12 status"><label class="">Total Amount: </label>{{row.totalOrderAmt==null?'-':row.totalOrderAmt}}</div>
						</div>
						<div class="col-xs-5 content">
							<div class="col-xs-12 text-right customerText">{{row.custName}}</div>
							<div class="col-xs-12 text-right">{{row.custHomeAddr==null?'-':row.custHomeAddr}}<br>{{row.contactNumber==null?'-':row.contactNumber}}</div>
						</div>
						<div class="col-xs-1 right-arrow">
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						</div>
					</div>
					<div data-ng-show="loading" class="loadingIcon"><img src="distribution/images/loader.gif" alt="Loading Icon"></div>

					<div ng-show="!loading" ng-if="!showPagination" class="col-xs-12 load-more text-center">
						<img src="distribution/images/icons/loader-inactive-20x20.png"/>
						<span>Load More</span>
					</div>
					<div ng-show="!loading" ng-if="showPagination" class="col-xs-12 load-more text-center">
						<img src="distribution/images/icons/loader-20x20.png"/>
						<span><a href="javascript:void(0);" ng-click="listing.loadMore();">Load More</a></span>
					</div>
				</div>

				<!-- For destop and tablet ManageUserGridCtrl-->
				<div class="col-container sub-container {{MainGridWidth}} vo-verification">
					<div class="top_box">

						<div class="pull-left hidden-sm showing_margin">
							Showing {{$parent.totalItemCount}} Verification Requests
						</div>
						<div class="pull-left showing-record visible-sm">
							Showing {{showingEnd}} Verification Requests
						</div>
						<div class="pull-right more_links hidden-sm">
							<ul class="dotted"><li></li><li></li><li></li></ul>
							<ul class="sub-menu">
                        <li class="print"><a href="javascript: void(0);" data-ng-click="printPage($event);">Print</a></li>
                        <li class="export-csv"> <a href="javascript: void(0);" data-ng-click="exportToCsv($event,colData);">Export to .csv</a></li>
                        <li class="email"><a href="javascript: void(0);" data-ng-click="sendEmail($event);">Email</a></li>
                        <li class="settings"><a href="javascript: void(0);" data-ng-click="columnConfig($event);">Manage Columns</a></li>
                     </ul>
						</div>

						<div class="pull-right showing_page hidden-sm" id="showPerPage_Id">
							<span>Showing Per Page</span>
							<select class="btn-style btn-md" ng-model="selectedCnt"
									ng-options="noOfRecords for noOfRecords in recordsPerPage" ng-change="PageCntChange()">
								<option value="noOfRecords" ng-if="false">{{selectedCnt}}</option>
							</select>
						</div>

						<div class="pull-right showing_page visible-sm">
							<span>Sort by</span>
							<select class="btn btn-dropdown btn-md dropdown-toggle" ng-model="listing.sortedBy" ng-options="listSm.value as listSm.text for listSm in listing.sortedByList track by listSm.value">
								<option value="">-Select-</option>
							</select>
						</div>

					</div>
					<div data-ng-show="loading" class="loadingIcon"><img src="distribution/images/loader.gif" alt="Loading Icon"></div>
					<div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-hide="loading">
						<table class="table table-striped checkpadding">
							<thead>
							<tr>
								<th ng-repeat="(i,th) in gridOptions.columnDefs" style="width: {{th.width}};" ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn(i,$index+1)" ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
									<ul>
										<li class="col-head-text">{{th.title}}</li>
										<li class="order-arrow">
											<ul>
												<i class="fa fa-chevron-up" ng-show="predicate == i  && reverse"></i>
												<i class="fa fa-chevron-down" ng-show="predicate == i  && !reverse"></i>
											</ul>
										</li>
									</ul>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="row in gridOptions.data|orderBy:predicate:reverse" id="{{gridOptions.data.indexOf(row)}}" ng-controller="VoRequestCtrl">
								<!-- <td><button type="button" ng-click='' class="tick_btn"><img src="distribution/images/contracts/refresh.png"></img></button></td> -->
								<td>
									<div>
										<a has-access="viewContract" ng-click='ShowContractPage(row)'>{{row.contractCode}}</a>
										<span has-access="!viewContract">{{row.contractCode}}</span>
									</div>
								</td>
								<td>
									<a ng-if="isDesktop" has-access="viewUser" ng-click='ShowCustomerPage(contract.custCode)'>{{row.custName}}</a>
									<span ng-if="isDesktop" has-access="!viewUser">{{row.custName}}</span>
									<span ng-if="!isDesktop">{{row.custName}}</span>
									<!-- <span class="new_position" ng-show="row.isNewConTract=='Y'">New</span> -->
								</td>
								<td>{{row.custHomeAddr==null?'-':row.custHomeAddr}}</td>
								<td>{{row.contactNumber==null?'-':row.contactNumber}}</td>
								<td>{{row.points==null?'-':row.points}}</td>
								<td>{{row.totalOrderAmt==null?'-':row.totalOrderAmt}}</td>
								<td>{{row.fiscalYear==null?'-':row.fiscalYear}}</td>
								<td><button type="button" ng-click="verifyContract(row.contractCode,row);" class="tick_btn"><img src="distribution/images/co_vo/forward.png"></img></button></td>
							</tr>
							</tbody>
						</table>
					</div>
					<!-- <div class="col-md-12 text_center" ng-show="showPagination">
                    <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" max-size="5" class="pagination-lg" previous-text="&larr;" next-text="&rarr;" first-text="&laquo;" last-text="&raquo;" ng-click="pageChanged($event)"></uib-pagination>
                    </div> -->


					<div class="col-md-12 text_center hidden-xs hidden-sm" ng-show="showPagination">
						<uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" max-size="5" class="pagination-lg" previous-text="&larr;" next-text="&rarr;" first-text="&laquo;" last-text="&raquo;" ng-click="pageChanged($event)" max-size="5"></uib-pagination>
					</div>
					<div ng-show="!loading" ng-if="!showPagination" class="col-xs-12 load-more text-center visible-xs visible-sm">
						<img src="distribution/images/icons/loader-inactive-20x20.png"/>
						<span>Load More</span>
					</div>
					<div ng-show="!loading" ng-if="showPagination" class="col-xs-12 load-more text-center visible-xs visible-sm">
						<img src="distribution/images/icons/loader-20x20.png"/>
						<span><a href="javascript:void(0);" ng-click="listing.loadMore();">Load More</a></span>
					</div>
				</div>
			</div>
			<div class="empty-block" ng-hide="!isEmptyManageData">
				<div  class="sub-container {{MainGridWidth}}">
					<div class="top_box">

					</div>
					<div class="row">
						<div class="empty-content col-xs-12 col-sm-10 col-md-6 col-lg-5">
							<p class="raleway_heading">There are no Verification Requests to view.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>