<div class="col-xs-12 col-sm-5 col-md-5">
	<div class="col-xs-12" ng-hide="networkSuccess">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Customer Code</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="customerDetails.customerCode" ng-disabled="true">
			<div ng-if="isAdmin" class="text-right contract-label">Existing Customer? <a ng-click="reloadPage()">Search</a></div>
		</div>
	</div>
	<div class="col-xs-12" ng-hide="networkSuccess">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Customer Name</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="customerDetails.name" ng-class="nameError ? '' : 'emptyField'" ng-change="reset('custName')" limit-char="200">
			<span ng-class="nameError ? 'hideError' : 'showError'">Please Enter a Name</span>
		</div>
	</div>
	<div class="col-xs-12" ng-hide="networkSuccess">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">IC No</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="customerDetails.icNo" minlength="7" limit-char="12" ng-class="icError ? '' : 'emptyField'" ng-change="reset('icNo')">
			<span ng-class="icError ? 'hideError' : 'showError'">Please Enter a valid IC Number</span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_20" ng-hide="!networkSuccess">
		<div class="col-xs-12 col-sm-12 col-md-12">

			<div class="col-xs-4 col-sm-4 col-md-4 text-right">
				<label class="contract-label">Customer Code:</label>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 contract-label ">
				<span class="font-900" ng-model="customerDetails.customerCode"><a class="ng-binding">{{customerDetails.customerCode}}</a></span><!-- end ngIf: currentSate == 'AdminBoard.ViewContract' -->
			</div>
			<div class="col-xs-3 col-sm-4 col-md-4 contract-label">
				Not Correct? <a ng-click="reloadPage()">Change</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_20" ng-hide="!networkSuccess">
		<div class="col-xs-12 col-sm-12 col-md-12">

			<div class="col-xs-4 col-sm-4 col-md-4 text-right">
				<label class="contract-label">Customer Name:</label>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 contract-label ">
				<span class="font-900" ng-model="customerDetails.name">{{customerDetails.name}}</span>
			</div>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_20" ng-hide="!networkSuccess">
		<div class="col-xs-12 col-sm-12 col-md-12">

			<div class="col-xs-4 col-sm-4 col-md-4 text-right">
				<label class="contract-label">IC NO.:</label>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 contract-label ">
				<span class="font-900" ng-model="customerDetails.icNo">{{customerDetails.icNo}}</span>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Race (Optional)</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<select class="form-control contract-label form_radius c-select" ng-model="customerDetails.race" ng-options="race for race in raceList" ng-class="raceError ? '' : 'emptyField'" ng-change="raceError==false?raceError=true:''">
				<!-- <option font-900ue="" ng-if="false">-Select-</option> -->
				<option value="">-Select-</option>
			</select>
			<span ng-class="raceError ? 'hideError' : 'showError'">Please Select a Race</span>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Date of Birth (Optional)</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20 custom-date buttonToolbar">
			<input type="text" class="form-control contract-label form_radius placeholder_italic" ng-model="customerDetails.dob" maxlength="11" size="11" placeholder="dd/mon/yyyy" datepicker ng-class="dobError ? '' : 'emptyField'" ng-change="dobError==false?dobError=true:''"/>
			<span ng-class="dobError ? 'hideError' : 'showError'">Please Select a valid Date of Birth</span>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-5 col-md-5 col-sm-offset-2 col-md-offset-2">
	<div class="col-xs-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Email</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<!-- ng-change="emailError==false?emailError=true:''" -->
			<input type="text" class="form-control contract-label form_radius" limit-char="200" ng-model="customerDetails.email" ng-class="emailError ? '' : 'emptyField'" ng-change="reset('email')">
			<span ng-class="emailError ? 'hideError' : 'showError'">Please Enter a valid Email ID</span>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Mobile</label>
		</div>
		<div class="col-xs-2 col-sm-4">
			<input type="text" class="form-control contract-label form_radius" ng-model="dialCode" ng-disabled="true">
		</div>
		<div class="col-xs-offset-1 col-xs-5 col-sm-7 col-md-7 margin_bottom_20 buttonToolbar">
			<!-- ng-change="mobileError==false?mobileError=true:''" -->
			<input type="text" class="form-control contract-label form_radius placeholder_italic" ng-model="customerDetails.altPhoneNo" ng-class="mobileError ? '' : 'emptyField'"  placeholder="Mobile Number" minlength="7" limit-char="14" ng-change="reset('mobile')">
			<span ng-class="mobileError ? 'hideError' : 'showError'">Please Enter a valid Mobile Number</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Phone</label>
		</div>
		<div class="col-xs-2 col-sm-4">
			<input type="text" class="form-control contract-label form_radius" ng-model="dialCode" ng-disabled="true">
		</div>
		<div class="col-xs-offset-1 col-xs-5 col-sm-7 col-md-7 margin_bottom_20 buttonToolbar">
			<!-- ng-change="phoneError==false?phoneError=true:''" -->
			<input type="text" class="form-control contract-label form_radius placeholder_italic" ng-model="customerDetails.phonoNo" ng-class="phoneError ? '' : 'emptyField'"  placeholder="Phone Number" minlength="7" limit-char="14" ng-change="reset('phone')">
			<span ng-class="phoneError ? 'hideError' : 'showError'">Please Enter a valid Phone Number</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12" ng-hide="networkError">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Home Address</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 buttonToolbar">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20 placeholder_italic" placeholder="Address Line 1" ng-model="customerDetails.homeAddressLine1" ng-class="Homeaddr1Error ? '' : 'emptyField'" ng-change="reset('addressLine1')" limit-char="200">
			<span ng-class="Homeaddr1Error?'hideError':'showError'">Please Enter Home Address</span>
			<input type="text" class="form-control contract-label form_radius margin_bottom_20 placeholder_italic" placeholder="Address Line 2 (Optional)" ng-model="customerDetails.homeAddressLine2" limit-char="200">

			<input type="text" class="form-control contract-label form_radius margin_bottom_20 placeholder_italic" placeholder="City" ng-model="customerDetails.homeCity" ng-class="HomecityError ? '' : 'emptyField'" placeholder="(Optional)" limit-char="200">
			<span ng-class="HomecityError?'hideError':'showError'">Please Enter Home City</span>
			<!-- <input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="Country" ng-model="customerDetails.homeCountry"> -->
			<!-- <input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="State/Provience/Region" ng-model="customerDetails.homeState"> -->
			<div class="col-xs-12 col-sm-12 col-md-12 margin_bottom_20">
				<select class="form-control contract-label form_radius c-select" ng-model="customerDetails.homeState" ng-options="state for state in stateList" ng-class="HomeStateError ? '' : 'emptyField'"  ng-change="reset('state')">
					<!-- <option font-900ue="" ng-if="false">-Select-</option> -->
					<option value="">-State-</option>
				</select>
				<span ng-class="HomeStateError?'hideError':'showError'">Please Select a State</span>
			</div>
			<div class="col-xs-12 margin_bottom_20">
				<input type="text" class="form-control contract-label form_radius placeholder_italic" placeholder="Postcode" ng-model="customerDetails.homePinCode" ng-class="homePinError ? '' : 'emptyField'" ng-paste="$event.preventDefault()" allow-pattern="\d" limit-char="5" ng-change="reset('pin')">
				<span ng-class="homePinError?'hideError':'showError'">Please Enter Post Code</span>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12" ng-show="networkError">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Billing Address</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 buttonToolbar">
			<div class="margin_bottom_20">
				<input type="text" class="form-control contract-label form_radius  placeholder_italic" placeholder="Address Line 1" ng-model="customerDetails.homeAddressLine1" ng-class="Homeaddr1Error ? '' : 'emptyField'" ng-change="reset('addressLine1')" limit-char="200">
				<span ng-class="Homeaddr1Error?'hideError':'showError'">Please Enter Home Address</span>
			</div>

			<div class="margin_bottom_20">
				<input type="text" class="form-control contract-label form_radius placeholder_italic" placeholder="Address Line 2 (Optional)" ng-model="customerDetails.homeAddressLine2" limit-char="200">

			</div>
			<input type="text" class="form-control contract-label form_radius margin_bottom_20 placeholder_italic" placeholder="City" ng-model="customerDetails.homeCity" ng-class="HomecityError ? '' : 'emptyField'" limit-char="200">
			<!-- <input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="State/Provience/Region" ng-model="customerDetails.homeState"> -->
			<div class="col-xs-12 col-sm-12 col-md-12 margin_bottom_20">
				<select class="form-control contract-label form_radius c-select" ng-model="customerDetails.homeState" ng-options="state for state in stateList"  ng-class="HomeStateError ? '' : 'emptyField'" ng-change="reset('state')">
					<!-- <option font-900ue="" ng-if="false">-Select-</option> -->
					<option value="">-State-</option>
				</select>
				<span ng-class="HomeStateError?'hideError':'showError'">Please Select a State</span>
			</div>
			<div class="col-xs-12 margin_bottom_20">
				<input type="text" class="form-control contract-label form_radius placeholder_italic" placeholder="Postcode" ng-model="customerDetails.homePinCode" ng-class="homePinError ? '' : 'emptyField'" ng-paste="$event.preventDefault()" allow-pattern="\d" limit-char="5" ng-change="reset('pin')">
				<span ng-class="homePinError?'hideError':'showError'">Please Enter  Post Code</span>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 border-bottom-contract margin_bottom_20"></div>
<div class="col-xs-12 col-sm-5 col-md-5">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Company (Optional)</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="customerDetails.company" ng-class="companyNameError ? '' : 'emptyField'" limit-char="30">
			<span ng-class="companyNameError ? 'hideError' : 'showError'">Please Enter a Company Name</span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Designation (Optional)</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="customerDetails.desg" ng-class="companyDesgError ? '' : 'emptyField'" limit-char="30">
			<span ng-class="companyDesgError ? 'hideError' : 'showError'">Please Enter a Designation</span>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-5 col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-2">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Company Address (Optional)</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 buttonToolbar">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20 placeholder_italic" placeholder="Address Line 1" ng-model="customerDetails.compAddressLine1" ng-class="companyAdd1Error ? '' : 'emptyField'" limit-char="200">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20 placeholder_italic"  placeholder="Address Line 2" ng-model="customerDetails.compAddressLine2" ng-class="companyAddr2Error ? '' : 'emptyField'" limit-char="200">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20 placeholder_italic" placeholder="City" ng-model="customerDetails.compCity" ng-class="companyCityError ? '' : 'emptyField'" limit-char="200">
			<!-- <input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="State/Provience/Region" ng-model="customerDetails.compState"> -->
			<div class="col-xs-12 col-sm-12 col-md-12 margin_bottom_20">
				<select class="form-control contract-label form_radius c-select" ng-model="customerDetails.compState" ng-options="state for state in stateList" ng-class="companyStateError ? '' : 'emptyField'">
					<!-- <option font-900ue="" ng-if="false">-Select-</option> -->
					<option value="">-State-</option>
				</select>
			</div>
			<input type="text" class="form-control contract-label form_radius margin_bottom_20 placeholder_italic" placeholder="Postcode" ng-model="customerDetails.compPinCode" ng-class="companyPincodeError ? '' : 'emptyField'" ng-paste="$event.preventDefault()" allow-pattern="\d" limit-char="5">
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 border-bottom-contract margin_bottom_20"></div>
<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="col-xs-4 col-sm-12 text-xs-right">
		<label class="contract-label ">Customer is Tax Exempted</label>
	</div>
	<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
		<div class="onoffswitch onoffswitch-yesno">
			<input type="checkbox" name="onoffswitch"
				   class="onoffswitch-checkbox" id="onoffswitch1_editCountry"
				   ng-model="customerDetails.excempted" ng-change="fetchPriceList();"> <label class="onoffswitch-label"
																							  for="onoffswitch1_editCountry"> <span
				class="onoffswitch-inner onoffswitch-inner-sr"></span> <span class="onoffswitch-switch"></span>
		</label>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 reference-heading">
	<span class="stepName stepName_font contract-font">REFERENCE DETAILS (Optional)</span>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 reference-container">
	<div class="col-xs-12 col-sm-12 col-md-12 reference-body" ng-repeat="ref in referenceModel" id="reference-body">
		<div style="padding-left: 25px; display:none;" id="{{$index+'refObj'}}">
			<span style="color:red;" class="">Please Fill All Fields</span>
		</div>
		<div class="ref-remove" ng-show="enableRefremove">
			<span ng-click="removeReferenceDiv($index)"><img src="distribution/images/contracts/decline_inactive.png"/></span>
		</div>
		<div class="ref-index">
			<div class="">
				<label class="contract-label sno">{{$index+1}}.</label>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-5">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-4 col-sm-12 col-md-12 text-xs-right">
					<label class="contract-label ">Choose Relationship</label>
				</div>
				<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
					<select class="form-control contract-label form_radius c-select" ng-model="ref.relation" ng-options="relation for relation in relationList" id="{{$index+'relationShip'}}">
						<option value="">-Select-</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-4 col-sm-12 col-md-12 text-xs-right">
					<label class="contract-label ">Reference Name</label>
				</div>
				<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
					<input type="text" class="form-control contract-label form_radius" ng-model="ref.name" id="{{$index+'relName'}}" limit-char="200">
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-4 col-sm-12 col-md-12 text-xs-right">
					<label class="contract-label ">Email Address</label>
				</div>
				<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
					<input type="text" class="form-control contract-label form_radius" ng-model="ref.email" id="{{$index+'relEmail'}}" limit-char="200">
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-4 col-sm-12 col-md-12 text-xs-right">
					<label class="contract-label ">Phone</label>
				</div>
				<div class="col-xs-2 col-sm-4">
					<input type="text" class="form-control contract-label form_radius" ng-model="dialCode" ng-disabled="true">
				</div>
				<div class="col-xs-offset-1 col-xs-5 col-sm-7 col-md-7 margin_bottom_20">
					<input type="text" class="form-control contract-label form_radius" ng-model="ref.phoneNo" id="{{$index+'relPhone'}}" limit-char="14">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-5 col-sm-offset-1 col-md-offset-1">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-4 col-sm-12 col-md-12 text-xs-right">
					<label class="contract-label ">Home Address</label>
				</div>
				<div class="col-xs-7 col-sm-12 col-md-12 buttonToolbar">
					<input type="text" class="form-control contract-label form_radius margin_bottom_20 placeholder_italic"  placeholder="Address Line 1" limit-char="200" ng-model="ref.addressLine1" id="{{$index+'relAddr1'}}">
					<input type="text" class="form-control contract-label form_radius margin_bottom_20 placeholder_italic"  placeholder="Address Line 2" limit-char="200" ng-model="ref.addressLine2" id="{{$index+'relAddr2'}}">
					<input type="text" class="form-control contract-label form_radius margin_bottom_20 placeholder_italic" placeholder="City" limit-char="200" ng-model="ref.cityName" id="{{$index+'relCity'}}">
					<!-- <input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="State/Provience/Region" ng-model="ref.state"> -->
					<div class="col-xs-12 col-sm-12 col-md-12 margin_bottom_20">
						<select class="form-control contract-label form_radius c-select"  ng-options="state for state in stateList" ng-model="ref.stateName" id="{{$index+'relState'}}">
							<!-- <option font-900ue="" ng-if="false">-Select-</option> -->
							<option value="">-State-</option>
						</select>
					</div>
					<!-- <input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="Country" ng-model="ref.country.countryName"> -->
					<input type="text" class="form-control contract-label form_radius margin_bottom_20 placeholder_italic" placeholder="Postcode" ng-model="ref.pinCode" id="{{$index+'relPin'}}" ng-paste="$event.preventDefault()" allow-pattern="\d" limit-char="5">

				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 reference-foot text-right">
		<span ng-click="addReferenceDiv()"><img src="distribution/images/contracts/Add_icon.png"/>Add More</span>
	</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 remarks-div">
	<div class="col-xs-12 col-sm-12 col-md-12 text-left">
		<label class="contract-label ">Remarks (Optional)</label>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom">
		<textarea class="form-control contract-label form_radius" placeholder="" rows="5" id="comment" limit-char="200" ng-model="remarks.remarkCustomer"></textarea>
	</div>
</div>