<div class="col-xs-12 col-sm-5 col-md-5">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Customer Code</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="contract.customerCode" ng-disabled="true">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Customer Name</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="contract.customerDetails.name" ng-class="nameEditError ? '' : 'emptyField'" limit-char="200">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">IC No</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-disabled="true" ng-model="contract.customerDetails.icNo" limit-char="12" ng-class="icEditError ? '' : 'emptyField'">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Race (Optional)</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<select class="form-control contract-label form_radius c-select" ng-model="contract.customerDetails.race" ng-options="race for race in raceList">
				<!-- <option font-900ue="" ng-if="false">-Select-</option> -->
				<option value="">-Select-</option>
			</select>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Date of Birth (Optional)</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20 custom-date">
			<input type="text" class="form-control contract-label form_radius" ng-model="contract.customerDetails.dob" ng-class="dobEditError?'':'empty-field'" maxlength="11" size="11" placeholder="dd/mon/yyyy" datepicker />
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-5 col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-2">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Email</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="contract.customerDetails.email" limit-char="200" ng-class="emailEditError ? '' : 'emptyField'">
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Mobile</label>
		</div>
		<div class="col-xs-2 col-sm-3">
			<input type="text" class="form-control contract-label form_radius" ng-model="dialCode" ng-disabled="true">
		</div>
		<div class="col-xs-offset-1 col-xs-5 col-sm-8 col-md-8 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="contract.customerDetails.altPhoneNo" ng-class="mobileEditError ? '' : 'emptyField'" placeholder="Mobile Number" minlength="7" limit-char="14">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Phone</label>
		</div>
		<div class="col-xs-2 col-sm-3">
			<input type="text" class="form-control contract-label form_radius" ng-model="dialCode" ng-disabled="true">
		</div>
		<div class="col-xs-offset-1 col-xs-5 col-sm-8 col-md-8 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="contract.customerDetails.phonoNo" ng-class="phoneEditError ? '' : 'emptyField'" placeholder="Phone Number" minlength="7" limit-char="14">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12" ng-hide="networkError">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Home Address</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="Address Line 1" ng-model="contract.customerDetails.homeAddressLine1" ng-class="Homeaddr1EditError ? '' : 'emptyField'">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="Address Line 2 (Optional)" ng-model="contract.customerDetails.homeAddressLine2" limit-char="200">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="City" ng-model="contract.customerDetails.homeCity" ng-class="HomecityEditError ? '' : 'emptyField'" limit-char="200">
			<!-- <input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="Country" ng-model="contract.customerDetails.homeCountry" > -->
			<!-- <input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="State/Provience/Region" ng-model="customerDetails.homeState"> -->
			<div class="col-xs-12 col-sm-12 col-md-12 margin_bottom_20">
				<select class="form-control contract-label form_radius c-select" ng-model="contract.customerDetails.homeState" ng-options="state for state in contract.stateList" ng-class="HomeStateEditError ? '' : 'emptyField'" ng-change="fetchPriceList()" limit-char="200">
					<!-- <option font-900ue="" ng-if="false">-Select-</option> -->
					<option value="">-State-</option>
				</select>
			</div>
			<input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="Postcode" ng-model="contract.customerDetails.homePinCode" ng-class="homePinEditError ? '' : 'emptyField'" ng-paste="$event.preventDefault()" allow-pattern="\d" limit-char="5" ng-change="fetchPriceList()">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12" ng-show="networkError">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Billing Address</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="Address Line 1" ng-model="contract.customerDetails.homeAddressLine1" limit-char="200" ng-class="Homeaddr1EditError ? '' : 'emptyField'">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="Address Line 2 (Optional)" ng-model="contract.customerDetails.homeAddressLine2" limit-char="200">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="City" ng-model="contract.customerDetails.homeCity" ng-class="HomecityEditError ? '' : 'emptyField'" limit-char="200">
			<!-- <input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="State/Provience/Region" ng-model="customerDetails.homeState"> -->
			<div class="col-xs-12 col-sm-12 col-md-12 margin_bottom_20">
				<select class="form-control contract-label form_radius c-select" ng-model="contract.customerDetails.homeState" ng-options="state for state in contract.stateList" ng-class="HomeStateEditError ? '' : 'emptyField'" ng-change="fetchPriceList()">
					<!-- <option font-900ue="" ng-if="false">-Select-</option> -->
					<option value="">-State-</option>
				</select>
			</div>
			<input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="Postcode" ng-model="contract.customerDetails.homePinCode" ng-class="homePinEditError ? '' : 'emptyField'" ng-paste="$event.preventDefault()" allow-pattern="\d" limit-char="5" ng-change="fetchPriceList()">
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 border-bottom-contract margin_bottom_20"></div>
<div class="col-xs-12 col-sm-5 col-md-5">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Company (Optional)</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="contract.customerDetails.company" limit-char="30">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Designation (Optional)</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
			<input type="text" class="form-control contract-label form_radius" ng-model="contract.customerDetails.desg" limit-char="30">
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-5 col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-2">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-4 col-sm-12 text-xs-right">
			<label class="contract-label ">Company Address (Optional)</label>
		</div>
		<div class="col-xs-7 col-sm-12 col-md-12">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="Address Line 1" ng-model="contract.customerDetails.compAddressLine1" limit-char="200">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20"  placeholder="Address Line 2" ng-model="contract.customerDetails.compAddressLine2" limit-char="200">
			<input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="City" ng-model="contract.customerDetails.compCity" limit-char="200">
			<!-- <input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="State/Provience/Region" ng-model="customerDetails.compState"> -->
			<div class="col-xs-12 col-sm-12 col-md-12 margin_bottom_20">
				<select class="form-control contract-label form_radius c-select" ng-model="contract.customerDetails.compState" ng-options="state for state in contract.stateList" >
					<!-- <option font-900ue="" ng-if="false">-Select-</option> -->
					<option value="">-State-</option>
				</select>
			</div>
			<input type="text" class="form-control contract-label form_radius margin_bottom_20 " placeholder="Postcode" ng-model="contract.customerDetails.compPinCode"  ng-paste="$event.preventDefault()" allow-pattern="\d" limit-char="5">
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 border-bottom-contract margin_bottom_20"></div>
<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="col-xs-4 col-sm-12 text-xs-right">
		<label class="contract-label ">Customer is Tax Exempted</label>
	</div>
	<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
		<div class="onoffswitch onoffswitch-yesno">
			<input type="checkbox" name="onoffswitch"
				   class="onoffswitch-checkbox" id="onoffswitch1_editCountry"
				   ng-model="contract.customerDetails.excempted" ng-change="fetchPriceList();"> <label class="onoffswitch-label"
																									   for="onoffswitch1_editCountry"> <span
				class="onoffswitch-inner onoffswitch-inner-sr"></span> <span class="onoffswitch-switch"></span>
		</label>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 reference-heading">
	<span class="stepName stepName_font contract-font">REFERENCE DETAILS (Optional)</span>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 reference-container">
	<div class="col-xs-12 col-sm-12 col-md-12 reference-body" ng-repeat="ref in referenceModel1" id="reference-body">
		<div class="ref-remove" ng-show="enableRefremove">
			<span ng-click="removeReferenceDiv($index)"><img src="distribution/images/contracts/decline_inactive.png"/></span>
		</div>
		<div class="ref-index">
			<div class="">
				<label class="contract-label sno">{{$index+1}}.</label>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-5">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-4 col-sm-12 col-md-12 text-xs-right">
					<label class="contract-label ">Choose Relationship</label>
				</div>
				<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
					<select class="form-control contract-label form_radius c-select" ng-model="ref.relation" ng-options="relation for relation in relationList">
						<option font-900ue="" ng-if="false">-Select-</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-4 col-sm-12 col-md-12 text-xs-right">
					<label class="contract-label ">Reference Name</label>
				</div>
				<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
					<input type="text" class="form-control contract-label form_radius" ng-model="ref.name" limit-char="200">
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-4 col-sm-12 col-md-12 text-xs-right">
					<label class="contract-label ">Email Address</label>
				</div>
				<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
					<input type="text" class="form-control contract-label form_radius" ng-model="ref.email" limit-char="200">
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-4 col-sm-12 col-md-12 text-xs-right">
					<label class="contract-label ">Phone</label>
				</div>
				<div class="col-xs-2 col-sm-3">
					<input type="text" class="form-control contract-label form_radius" ng-model="dialCode" ng-disabled="true">
				</div>
				<div class="col-xs-offset-1 col-xs-5 col-sm-8 col-md-8 margin_bottom_20">
					<input type="text" class="form-control contract-label form_radius" ng-model="ref.phoneNo" limit-char="14">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-5 col-sm-offset-1 col-md-offset-1">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-4 col-sm-12 col-md-12 text-xs-right">
					<label class="contract-label ">Home Address</label>
				</div>
				<div class="col-xs-7 col-sm-12 col-md-12">
					<input type="text" class="form-control contract-label form_radius margin_bottom_20"  placeholder="Address Line 1" ng-model="ref.addressLine1" limit-char="200">
					<input type="text" class="form-control contract-label form_radius margin_bottom_20"  placeholder="Address Line 2 (Optional)" ng-model="ref.addressLine2" limit-char="200">
					<input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="City" ng-model="ref.cityName" limit-char="200">
					<!-- <input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="State/Provience/Region" ng-model="ref.state"> -->
					<div class="col-xs-12 col-sm-12 col-md-12 margin_bottom_20">
						<select class="form-control contract-label form_radius c-select"  ng-options="state for state in contract.stateList" ng-model="ref.stateName">
							<!-- <option font-900ue="" ng-if="false">-Select-</option> -->
							<option value="">-State-</option>
						</select>
					</div>
					<!-- <input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="Country" ng-model="ref.country.countryName"> -->
					<input type="text" class="form-control contract-label form_radius margin_bottom_20" placeholder="Postcode" ng-model="ref.pinCode" ng-paste="$event.preventDefault()" allow-pattern="\d" limit-char="5">

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 reference-foot text-right">
		<span ng-click="addReferenceDiv()"><img src="distribution/images/contracts/Add_icon.png"/>Add More</span>
	</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 remarks-div">
	<div class="col-xs-12 col-sm-12 col-md-12 text-left">
		<label class="contract-label ">Remarks (Optional)</label>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom">
		<textarea class="form-control contract-label form_radius" placeholder="" rows="5" id="comment" ng-model="remarks.remarkCustomer" limit-char="200"></textarea>
	</div>
</div>