<div class="col-xs-7 text-left" style="margin-top: 35px;">
	<h1 class="headingClass_Autoresponse">{{contract.contractCode}}</h1>
	<div class="col-xs-12">Contract Date: {{contract.orderDate}}</div>
	<div class="col-xs-12">Commencement Date: {{contract.commenceMentDate}}</div>
	<div class="col-xs-12">Fiscal Week/Month/Year: {{contract.contractWeek}}/{{contract.contractMonth}}/{{contract.contractYear}}</div>
	<div class="col-xs-12">Status: <span ng-class="concatanateString(contract.status)">{{contract.status}}</span></div>
</div>
<div class="col-xs-5 text-left" style="margin-top: 35px;">
	<h1 class="headingClass_Autoresponse">{{contract.customerDetails.name}}</h1>
	<div class="col-xs-12">Customer ID: {{contract.customerDetails.customerCode}}</div>
	<div class="col-xs-12">IC Number: {{contract.customerDetails.icNo}}</div>
	<div class="col-xs-12">Mobile NO. : {{contract.customerDetails.altPhoneNo}}</div>
	<div class="col-xs-12">Email: {{contract.customerDetails.email}}</div>
</div>

<div class="col-xs-12 delivery">
	<div class="col-xs-12 col-sm-4">
		<div class="col-xs-12">Delivery Order No:{{(contract.doNum!=null)?contract.doNum:'-'}}</div>
		<div class="col-xs-12">Delivered Date: {{(contract.deliveryDate!=null)?contract.deliveryDate:'-'}}</div>
	</div>
	<!-- <div class="col-xs-12 col-sm-4 text-xs-center">
	    <div class="col-xs-12">Delivered By: {{(contract.verificationOfficerName!=null)?contract.verificationOfficerName:'-'}}</div>
	    <div class="col-xs-12">Collector: {{(contract.collectorName!=null)?contract.collectorName:'-'}}</div>
	    <div class="col-xs-12">Cancel Type | Date: {{(contract.cancelType!=null)?contract.cancelType:'-'}} | {{contract.cancelDate}}</div>
	    <div class="col-xs-12">Chargeback 1: </div>
    </div>
	<div class="col-xs-12 col-sm-4 text-center">
		<div class="col-xs-12">Delivery Order No:{{(contract.doNum!=null)?contract.doNum:'-'}}</div>
		<div class="col-xs-12">Last Payment Date: {{payment[payment.length-1].lastPaymentDt}}</div>
		<div class="col-xs-12">Cancel Period: - </div>
		<div class="col-xs-12">Chargeback 2: - </div>
	</div>
	<div class="col-xs-12 col-sm-4 text-right text-xs-center">
		<div class="col-xs-12">Delivered Date: {{(contract.deliveryDate!=null)?contract.deliveryDate:'-'}}</div>
		<div class="col-xs-12">Status Date: {{contract.statusDate}}</div>
		<div class="col-xs-12">Suspend Date: - </div>
		<div class="col-xs-12">Reinstatement: - </div>
	</div> -->
</div>

<div class="col-xs-12 contract-detail" ng-show="contractDetails" style="margin-top: 20px;float:none">
	<div class="col-xs-12 border-bottom-contract" style="margin-bottom: 20px; border-bottom: 1px solid #ccc !important;page-break-after: always !important;float:none">
		<div class="col-xs-6 review-container" style="border: none; border-right: 1px solid #ccc !important;">
			<div class="header">
				<span class="review-heading">Customer Details</span>
			</div>
			<div class="col-xs-12 body">
				<div ng-include ="'app/partials/contract/view-customer-detail.html'"></div>
			</div>
		</div>
		<div class="col-xs-6 review-container" style="padding-left: 20px; border: none;">
			<div class="header">
				<span class="review-heading">Pricing & Payment Details</span>
			</div>
			<div class="col-xs-12 body">
				<div ng-include ="'app/partials/contract/view-payment-detail.html'"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 review-container product">
		<div class="header">
			<span class="review-heading">Product Details</span>
		</div>
		<div class="col-xs-12 body">
			<div ng-include ="'app/partials/contract/view-product-detail.html'"></div>
		</div>
	</div>
</div>