<div class="col-xs-12">
	<div class="col-xs-12 col-sm-6">
		<div class="col-xs-12 margin_bottom_15">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Customer ID:</div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900" ng-model=contract.customerCode ng-if="currentSate == 'AdminBoard.ViewContract'"><a ng-click='ShowCustomerPage(contract.customerDetails.customerCode, $event)'>{{contract.customerCode}}</a></span>
				<span class="font-900" ng-model="contract.customerCode" ng-if="currentSate != 'AdminBoard.ViewContract'">{{contract.customerCode}}</span>
			</div>
		</div>
		<div class="col-xs-12 margin_bottom_15">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Customer Name:</span></div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900" ng-model="contract.customerDetails.name" ng-if="currentSate == 'AdminBoard.ViewContract'"><a ng-click='ShowCustomerPage(contract.customerDetails.customerCode, $event)'>{{contract.customerDetails.name}}</a></span>
				<span class="font-900" ng-model="contract.customerDetails.name" ng-if="currentSate != 'AdminBoard.ViewContract'">{{contract.customerDetails.name}}</span>
			</div>
		</div>
		<div class="col-xs-12 margin_bottom_15" ng-show="contract.customerDetails.icNumber!==null || contract.customerDetails.icNo!==null">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>IC NUmber:</span></div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900" ng-if="currentSate == 'AdminBoard.CreateEditContract'">{{contract.customerDetails.icNumber}}</span>
				<span class="font-900" ng-if="currentSate == 'AdminBoard.ViewContract' || 'VoBoard.UpdateVoPriceDifference'">{{contract.customerDetails.icNo}}</span>
			</div>
		</div>
		<div class="col-xs-12 margin_bottom_15" ng-hide="customerDetails.race==null && customerDetails.race==undefined">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Race:</span></div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900" ng-model="contract.customerDetails.race">{{contract.customerDetails.race}}</span>
			</div>
		</div>
		<div class="col-xs-12 margin_bottom_20" ng-show="common.formattedDob!=null">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Date of Birth:</span></div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900">{{common.formatedDob}}</span>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="col-xs-12 margin_bottom_15">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Email:</div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900" ng-model="contract.customerDetails.email">{{contract.customerDetails.email}}</span>
			</div>
		</div>

		<div class="col-xs-12 margin_bottom_15">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Mobile NO. :</span></div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900" ng-model="contract.customerDetails.phonoNo">{{dialCode}} - {{contract.customerDetails.altPhoneNo}}</span>
			</div>
		</div>
		<div class="col-xs-12 margin_bottom_15">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Phone:</span></div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900" ng-model="contract.customerDetails.phonoNo">{{dialCode}} - {{contract.customerDetails.phonoNo}}</span>
			</div>
		</div>
		<div class="col-xs-12 margin_bottom_20">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Home Address:</span></div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900 address"><p>{{contract.customerDetails.homeAddressLine1}}, {{contract.customerDetails.homeAddressLine2}}, </p><p>{{contract.customerDetails.homeCity}}, {{contract.customerDetails.homeState}}, </p><p>{{contract.customerDetails.homePinCode}}</p></span>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 margin_top_30">
	<div class="col-xs-12 col-sm-6 margin_bottom_15">
		<div class="col-xs-12 margin_bottom_15" ng-hide="customerDetails.company==null">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Company:</span></div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900" ng-model="contract.customerDetails.company">{{contract.customerDetails.company}}</span>
			</div>
		</div>
		<div class="col-xs-12 margin_bottom_15" ng-hide="customerDetails.desg==null">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Designation:</span></div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900" ng-model="contract.customerDetails.desg">{{contract.customerDetails.desg}}</span>
			</div>
		</div>
		<div class="col-xs-12 margin_bottom_20">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Customer is Tax Exempted:</span></div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900">{{contract.customerDetails.excempted?"Yes":"No"}}</span>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6" >
		<div class="col-xs-12 margin_bottom_20" ng-hide="customerDetails.compAddressLine1==null">
			<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Company Address:</span></div>
			<div  class="col-xs-7 col-sm-6">
				<span class="font-900 address" ><p>{{contract.customerDetails.compAddressLine1}}, {{contract.customerDetails.compAddressLine2}}, </p><p>{{contract.customerDetails.compCity}}, {{contract.customerDetails.compState}} </p><p>{{contract.customerDetails.compPinCode}}</p></span>
			</div>
		</div>
	</div>
</div>


<div class="col-xs-12 review-reference" ng-hide="referenceModel1.length==0">
	<div class="col-xs-12 review-sub-heading margin_bottom_20">Reference Details</div>

	<div class="col-xs-12" ng-repeat="rel in referenceModel1 track by $index">
		<div class="col-xs-12 col-sm-6">
			<div class="col-xs-12 margin_bottom_15">
				<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Relationship:</div>
				<div  class="col-xs-7 col-sm-6">
					<span class="font-900">{{rel.relation}}</span>
				</div>
			</div>
			<div class="col-xs-12 margin_bottom_15">
				<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Name:</span></div>
				<div  class="col-xs-7 col-sm-6">
					<span>{{rel.name}}</span>
				</div>
			</div>
			<div class="col-xs-12 margin_bottom_15">
				<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Phone:</span></div>
				<div  class="col-xs-7 col-sm-6">
					<span>{{dialCode}} - {{rel.phoneNo}}</span>
				</div>
			</div>
			<div class="col-xs-12 margin_bottom_15">
				<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Email:</span></div>
				<div  class="col-xs-7 col-sm-6">
					<span>{{rel.email}}</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="col-xs-12 margin_bottom_15">
				<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Address:</span></div>
				<div  class="col-xs-7 col-sm-6">
					<span class="address"><p>{{rel.addressLine1}},{{rel.addressLine2}}, </p><p>{{rel.cityName}}, {{rel.stateName}}, </p><p>{{rel.pinCode}}</p></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-5 col-md-12 hidden-print" ng-hide="remarks.remarkCustomer==null && remarks.remarkCustomer==''">
	<div class="col-xs-4 col-sm-3 col-md-2 margin_right_10">
		<span>Remarks (Optional):</span>
	</div>
	<div class="col-xs-7 col-sm-8 col-md-9">
		<span class="font-900 contract-remarks"><!-- {{remarkList[0].remarks}} -->{{remarks.remarkCustomer}}</span>
	</div>
</div>