<div class="col-xs-12 col-sm-6">
	<div class="col-xs-12 margin_bottom_15">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10">PriceList Code:</div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.priceListCode}}</span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_15">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Points:</span></div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.points}}</span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_20">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Terms:</span></div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.terms}}</span>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-6">
	<div class="col-xs-12 margin_bottom_15">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Total Order Amount:</span></div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.totalAmountOrder}} </span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_15">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Total Instalment Amount:</span></div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.totalInstallmentAmount}} </span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_20">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Outstanding Balance:</span></div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.totalOutstandingBalance}} </span>
		</div>
	</div>
</div>


<div class="col-xs-12 col-sm-6">
	<div class="col-xs-12 hidden-print">
		<div class="col-xs-12 review-heading review-sub-heading margin_bottom_20">
			<div class="col-xs-12 text-center text-xs-left">Downpayment 1</div>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_15" ng-show="contract.downPayment1!=null">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Amount Collected:</div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.downPayment1}} </span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_15" ng-show="contract.downPayment1!=null">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Method of Payment:</div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.methodOfPaymentDP1}}</span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_15" ng-show="contract.methodOfPaymentDP1=='Credit Card' || contract.methodOfPaymentDP1=='Online Payment'">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Cleared From:</div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.bankDp1.accountName}}</span>
		</div>
	</div>

	<div class="col-xs-12 margin_bottom_15" ng-show="contract.downPayment1!=null">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Reference No.:</div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.paymentRefNum}}</span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_15" ng-show="contract.salesRepContribution||contract.salesRepContributionStatus">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Sales Rep Contribution:</span></div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.salesRepContributionAmt}} </span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_20" ng-show="contract.salesRepContribution||contract.salesRepContributionStatus">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Pay by:</span></div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{(contract.commission)? 'Commission' : 'Cash'}}</span>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6">
	<div class="col-xs-12 hidden-print">
		<div class="col-xs-12 review-heading review-sub-heading margin_bottom_20">
			<div class="col-xs-12 text-center text-xs-left">Downpayment 2 Upon Delivery</div>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_15" ng-show="contract.downPayment2!=null">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Downpayment 2 Upon Delivery:</span></div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.downPayment2}} </span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_15">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Payment Period:</span></div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{bank.bankId}}</span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_15" ng-show="contract.installmentAmt!=null">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>{{text.instalmentAmountLbl}}:</span></div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.installmentAmt}} </span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_20">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>{{text.paymentMethodDP2Lbl}}:</span></div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900">{{contract.methodOfPaymentDP2}} </span>
		</div>
	</div>
	<div class="col-xs-12 margin_bottom_20" ng-show="contract.methodOfPaymentDP2=='Credit Card' || contract.methodOfPaymentDP2=='Online Payment'">
		<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Clearing From:</span></div>
		<div  class="col-xs-7 col-sm-6">
			<span class="font-900" ng-show="contract.bankDp2==null">-</span>
			<span class="font-900" ng-show="contract.bankDp2!=null">{{contract.bankDp2.accountName}}</span>
		</div>
	</div>
</div>
<div class="col-xs-12 product-notify margin_bottom_20 hidden-print">
	<div class="col-xs-2 width_auto"><img src="distribution/images/contracts/comment_icon.png"/></div>
	<div class="col-xs-10 notify-text">Products will be delivered in 4-7 working days.</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 hidden-print" ng-hide="remarks.remarkPricing==null && remarks.remarkPricing==''">
	<div class="col-xs-4 col-sm-3 col-md-2 margin_right_10">
		<span>Remarks (Optional):</span>
	</div>
	<div class="col-xs-7 col-sm-8 col-md-9">
		<span class="font-900 contract-remarks"><!-- {{remarkList[2].remarks}} -->{{remarks.remarkPricing}}</span>
	</div>
</div>