<div class="container-fluid">
	<div class="row">
		<!-- <div class="col-sm-2 col-lg-2 login-header-logo">
	    	<img src="distribution/images/scholastic_logo.png"/> 
	    	<img src="distribution/images/Grolier-Logo-Slim-Nav.jpg" class="img-responsive">
	    <img src="distribution/images/Login-Grolier-Logo.png" class="img-responsive">
		</div> -->
		<div class="header-logo">
			<img src="distribution/images/scholastic_logo.png" class="img-responsive"/> 
		</div>
		<div class="container-fluid header-right">
			<div class="pull-left country-text">Asia</div>
		</div>
	</div>
</div>