<div class="col-xs-12 vo-report-detail" ng-show="contract.doNum!=null">
	<div class="col-xs-12 review-heading">Delivery Details</div>
	<div class="col-xs-11 col-xs-offset-1 report-list">
		<div class="col-xs-12 col-sm-6">
			<div class="col-xs-4 width_auto">Delivery Order No: </div>
			<div class="col-xs-8 width_auto lbl-value">{{(contract.doNum!=null)?contract.doNum:'-'}}</div>
		</div>
		<!-- <div class="col-xs-6">
		  <div class="col-xs-9 width_auto lbl-value pull-right">{{vo.report.deliveryDetails.location}}</div>
		  <div class="col-xs-3 width_auto pull-right">Location:</div>
		</div> -->
	</div>
</div>

<div class="col-xs-12 vo-report-detail">
	<div class="col-xs-12 review-heading">Product Details</div>
	<div class="col-xs-12 table-responsive contract-table" ng-controller="ManageGridCtrl">
		<table class="table table-striped">
			<thead>
			<tr>
				<th ng-repeat="(i,th) in vo.productColList" style="width: {{th.width}}" ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn(i,$index+1)" ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
					{{th.col}}
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="prod in contract.productDetails">
				<td>{{$index+1}}</td>
				<td class="text-left"><span class="font-900">{{prod.productId}}</span> {{prod.productName}}</td>
				<td>{{prod.quantity}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="col-xs-12 border-bottom vo-report-detail">
	<div class="col-xs-12 review-heading">Pricing & Payment Details</div>
	<div class="col-xs-12">
		<div class="col-xs-12">
			<div class="col-xs-12 col-sm-6">
				<div class="row margin_bottom_15">
					<div  class="col-xs-6 text_right padding_right_10">PriceList Code:</div>
					<div  class="col-xs-6">
						<span class="font-900">{{contract.priceListCode}}</span>
					</div>
				</div>
				<div class="row margin_bottom_15">
					<div  class="col-xs-6 col-sm-6 text_right padding_right_10"><span>Terms:</span></div>
					<div  class="col-xs-3 col-sm-3">
						<span class="font-900">{{contract.paymentPeriod}}</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 border-xs-bottom">
				<!-- <div class="row margin_bottom_15">
					<div  class="col-xs-6 col-sm-6 text_right padding_right_10"><span>Downpayment Total Order Amount:</span></div>
					<div  class="col-xs-3 col-sm-3">
						<span class="font-900">{{contract.totalInstallmentAmount}}</span>
					</div>
				</div> -->
				<div class="row margin_bottom_15">
					<div  class="col-xs-6 text_right padding_right_10"><span>Points:</span></div>
					<div  class="col-xs-6">
						<span class="font-900">{{contract.points}}</span>
					</div>
				</div>
				<div class="row margin_bottom_15">
					<div  class="col-xs-6 col-sm-6 text_right padding_right_10"><span>Total Order Amount:</span></div>
					<div  class="col-xs-3 col-sm-3">
						<span class="font-900">{{contract.totalAmountOrder}}</span>
					</div>
				</div>
			</div>
		</div>


		<div class="col-xs-12 col-sm-6 ng-scope border-xs-bottom">
			<div class="col-xs-12">
				<div class="col-xs-12 review-heading review-sub-heading margin_bottom_20 margin_top_10">
					<div class="col-xs-12 text-center text-xs-left">Downpayment 1</div>
				</div>
			</div>
			<div class="col-xs-12 margin_bottom_15">
				<div class="col-xs-6 col-sm-6 text-right margin_right_10">Downpayment 1:</div>
				<div class="col-xs-3 col-sm-3">
					<span class="font-900">{{contract.downPayment1}}</span>
				</div>
			</div>
			<div class="col-xs-12 margin_bottom_15">
				<div class="col-xs-6 col-sm-6 text-right margin_right_10">Method of Payment:</div>
				<div class="col-xs-3 col-sm-3">
					<span class="font-900">{{contract.methodOfPaymentDP1}}</span>
				</div>
			</div>
			<div class="col-xs-12 margin_bottom_15 ng-hide" ng-show="contract.salesRepContribution||contract.salesRepContributionStatus">
				<div class="col-xs-6 col-sm-6 text-right margin_right_10"><span>Sales Rep Contribution:</span></div>
				<div class="col-xs-3 col-sm-3">
					<span class="font-900">{{contract.salesRepContribution}}</span>
				</div>
			</div>
			<div class="col-xs-12 margin_bottom_20 ng-hide" ng-show="contract.salesRepContribution||contract.salesRepContributionStatus">
				<div class="col-xs-6 col-sm-6 text-right margin_right_10"><span>Pay by:</span></div>
				<div class="col-xs-3 col-sm-3">
					<span class="font-900">{{(contract.commission)? 'Commission' : 'Cash'}}</span>
				</div>
			</div>
		</div>


		<div class="col-xs-12 col-sm-6">
			<div class="col-xs-12">
				<div class="col-xs-12 review-heading review-sub-heading margin_bottom_20 margin_top_10">
					<div class="col-xs-12 text-center text-xs-left">Downpayment 2 Upon Delivery</div>
				</div>
			</div>
			<div class="col-xs-12 margin_bottom_15">
				<div  class="col-xs-6 col-sm-6 text-right margin_right_10"><span>Downpayment 2 Upon Delivery:</span></div>
				<div  class="col-xs-3 col-sm-3">
					<span class="font-900">{{contract.downPayment2}}</span>
				</div>
			</div>
			<div class="col-xs-12 margin_bottom_15">
				<div  class="col-xs-6 col-sm-6 text-right margin_right_10"><span>Method of Payment:</span></div>
				<div  class="col-xs-3 col-sm-3">
					<span class="font-900">{{contract.methodOfPaymentDP2}}</span>
				</div>
			</div>
			<div class="col-xs-12 margin_bottom_15" ng-show="contract.installmentAmt!=null">
				<div  class="col-xs-6 col-sm-6 text-right margin_right_10"><span>Monthly Instalment Amount:</span></div>
				<div  class="col-xs-3 col-sm-3">
					<span class="font-900">{{contract.installmentAmt}}</span>
				</div>
			</div>
			<!-- <div class="col-xs-12 margin_bottom_20">
                <div  class="col-xs-6 col-sm-6 text-right margin_right_10"><span>Commencement Date:</span></div>
                <div  class="col-xs-3 col-sm-3">
                    <span class="font-900">{{contract.commenceMentDate}}</span>
                </div>
            </div> -->
		</div>
	</div>
</div>