<div class="modal-body">
	<div class="row" ng-hide="hidegreenTick">
        <div class="col-xs-12 text-center modal-img" >
        	<img class="modalSuccessTick" src="distribution/images/Green_check.png"></img>
        </div>
    </div>
    <div class="row" ng-hide="hideRedCross">
        <div class="col-xs-12 text-center modal-img" >
        	<img class="modalSuccessTick" src="distribution/images/red_icon.png"></img>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
        <p >{{modalEntity}} <span class="breakWord modalMessage">{{modalBody}}</span> {{modalMessge}}</p>
        </div>
    </div>
    
    <div class="row" ng-show="!confirmModal">
        <div class="col-xs-12 text-center">
        <p>{{suggestionText}}</p>
        </div>
    </div>
    <div class="row margin_top_modal" ng-hide="!showModalBtn">
    	<div class="col-xs-12 text-center" ng-show="confirmModal">
		  <button class="btn btn-md btn_create_color btn_font_bold btn-gray" type="button" ng-click="ok('close')" ng-show="showModalBtn">{{grayBtnText}}</button>      	
		  <button class="btn btn-md btn_create_color btn_font_bold btn-yes" type="button" ng-click="ok('createAnother')" ng-show="showModalBtn">{{modalBtn}}</button>
    	</div>
    	
    	<div class="col-xs-12 col-sm-6 text-center" ng-show="!confirmModal">
			<a  ng-click="ok('close')" class="btn btn-md cancelButton btn_font_bold modalLink"> <i class="fa fa-angle-left font_fa"></i><span class="back_modal">{{modalLink}}</span></a>
    	</div>
    	<div class="col-xs-12 col-sm-6 text-center" ng-show="!confirmModal">
        	<button class="btn btn-md btn_create_color btn_font_bold modalBtnWidth" type="button" ng-click="ok('createAnother')" ng-show="showModalBtn">{{modalBtn}}</button>
    	</div>
	</div>
    <div class="row margin_top_modal" ng-hide="showModalBtn">
		<div class="col-xs-12 text-center">
	    	<a  ng-click="ok('close')" class="btn btn-md cancelButton btn_font_bold modalLink"> <i class="fa fa-angle-left font_fa"></i><span class="back_modal">{{modalLink}}</span></a>
	    </div>
	</div>    
</div>