<div class="col-xs-12 padding_5 product_table">
	<div class="col-xs-4 col-sm-5 col-xs-offset-1 font-900">Products</div>
	<div class="col-xs-2 text-center font-900">Points</div>
	<div class="col-xs-2 text-center font-900">Qty</div>
	<div class="col-xs-3 col-sm-2 text-center font-900" ng-show="contract.shipmentStatus=='Delivered'||contract.shipmentStatus=='Partially Delivered'">Delivered Qty</div>
</div>

<div class="col-xs-12 padding_5" ng-repeat="prod in contract.productDetails track by $index" ng-class="getRow($index)?'lightBcg':'darkBcg'">

	<div class="col-xs-4 col-sm-5 col-xs-offset-1"><span class="font-900">{{$index+1}}. {{prod.productId}}</span> {{prod.productName}}</div>
	<div class="col-xs-2 text-center">{{prod.productPoints}}</div>
	<div class="col-xs-2 text-center">{{prod.quantity}} Nos</div>
	<div class="col-xs-3 col-sm-2 text-center" ng-show="contract.shipmentStatus=='Delivered'||contract.shipmentStatus=='Partially Delivered'">{{prod.deliveredQty}} Nos</div>

</div>
<div class="col-xs-12 padding_5 margin_bottom_15">
	<div class="col-xs-4 col-sm-5 col-xs-offset-1">Total</div>
	<div class="col-xs-2 text-center font-900"><!-- {{getTotalPointsVal}} -->{{getTotalPoints()}}</div>
	<div class="col-xs-2 text-center font-900">{{totalQty}} Nos</div>
</div>
<div class="col-xs-12 prod_remarks" ng-hide="remarks.remarkProduct==null && remarks.remarkProduct==''">
	<div class="col-xs-4 col-sm-3 col-md-2 margin_right_10">
		<span>Remarks (Optional):</span>
	</div>
	<div class="col-xs-7 col-sm-8 col-md-9">
		<span class="font-900 contract-remarks"><!-- {{remarkList[1].remarks}} -->{{remarks.remarkProduct}}</span>
	</div>
</div>