.ui-grid-header-viewport {
   background-color: #F5F5F5 ;
   height: 55px;
}
.ui-grid-cell{
    border:none;
}
.ui-grid-cell-contents {
    padding: 12px;
	word-wrap: break-word;
	white-space: normal;
	text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;
    cursor: context-menu;
}
.ui-grid-header-cell{
	border: 1px solid white;
}
.ui-grid-header{
	border:0;
}
.ui-grid-viewport{
	overflow-x:hidden; 
}
.ui_grid_link{
	padding: 15px;
    text-align: left;
    cursor: pointer;
}
.ui_rolegrid_link{
	 padding: 15px;
    text-align: left;
    cursor: pointer;
}
.grid_custom_width{
   width: 97.3%;
   padding:0;
}
.ui_grid_link .Inactive,.mobile_only .Inactive{
	background-color: #b92c28;
    border: none;
    color: #fff;
    padding: 4px;
    font-size: 14px;
    border-radius: 9%;
}
.ui_grid_link .Active,.mobile_only .Active{
    color: #fff;
    background-color: green;
    padding: 4px 9.9px;
    border: none;
    font-size: 14px;
    border-radius: 9%;
}
.ui_rolegrid_link .Active{
   /*  color: green; */
    color:#00CC33;
    font-size: 15px;
}
.ui_rolegrid_link .Inactive{
    color: #ccc;
    font-size: 15px;
}

.merge_row{
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    color: black;
    background-color: #d9edf7
}
.merge_row span{
	color: #1263AB;
}
.merge_row button{
    padding: 0 17px;
    border-radius: 13px;
    border: none;
    background-color: red;
    color: #fff;
}



/*Grid Bottom Pagination*/
.cd-pagination {
    text-align: center;
    margin: 10px;
}
.cd-pagination li {
    margin: 0 .2em;
    color: gray;
}

.cd-pagination li.button {
    display: inline-block;
}

.cd-pagination li {
    display: inline-block;
    color: gray;
}

.cd-pagination a,.cd-pagination span {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .6em .8em;
    font-size: 1.6rem;
}

.cd-pagination a {
    border: 1px solid #e6e6e6;
    border-radius: 0.25em;
    color: gray;
}

.no-touch .cd-pagination a:hover {
    background-color: #f2f2f2;
}

.cd-pagination a:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.cd-pagination a.disabled {
    color: rgba(46, 64, 87, 0.4);
    pointer-events: none;
}

.cd-pagination a.disabled::before,.cd-pagination a.disabled::after {
    opacity: .4;
}

.cd-pagination .button:first-of-type a::before {
    content: '\00ab  ';
}

.cd-pagination .button:last-of-type a::after {
    content: ' \00bb';
}

.cd-pagination .current {
    border-color: #00BFFF;
    color: gray;
    pointer-events: none;
}

/*Grid Top Box*/
/*.table-responsive {
    padding-top: 10px;
    font-family: arial_regular;
    overflow-x: hidden;
}*/

.top_box {
    padding-top: 0px;
    height: 51px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -2px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.top_box .dropdown-toggle {
    border: 1px solid #ddd;
}
.showing_page{
	padding-top: 10px;
    border-right: 1px solid rgba(182, 182, 182, 0.25);
    padding-right: 20px;
    padding-bottom: 6px;
}
