* {
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
    font-family: "ralewayRegular"; /*a name to be used later*/
    src: url("../../fonts/Raleway/Raleway-Regular.ttf"); /*URL to font*/
}
.raleway_heading{
	font-family: "ralewayRegular";
	font-size:32px;
}
@font-face {
    font-family: "ralewayMedium"; /*a name to be used later*/
    src: url("../../fonts/Raleway/Raleway-Medium.ttf"); /*URL to font*/
}
.raleway_subheading{
	font-family: "ralewayMedium";
	font-size:20px;
}
@font-face {
    font-family: "arialRegular";
    src: url("../../fonts/Arial-Regular.ttf");
}
.label_arial, .label_arial:hover, .label_arial:focus, .label_arial.focus{
	font-family: "arialRegular";
	font-size:15px;
	color:#0487D5;
}  
.stepName_font{
	font-family: "arialRegular";
	font-size:20px;
}
@font-face {
    font-family: "arial_bold";
    src: url("../../fonts/Arial-Bold.ttf");
}	
.btn_font_bold{
	font-family: "arial_bold";
	/* font-size:15px; */
}		
@font-face {
   font-family: "MuseoSans_300"; /*a name to be used later*/
   src: url("../../fonts/Museo_Sans/MuseoSans-300.otf"); /*URL to font*/
}
.label_MuseoSans_300{
    font-family: "MuseoSans_300";
    font-size: 15px;
}@font-face {
   font-family: "MuseoSans_900"; /*a name to be used later*/
   src: url("../../fonts/Museo_Sans/MuseoSans-900.otf"); /*URL to font*/
}
.label_MuseoSans_900{
    font-family: "MuseoSans_300";
    font-size: 20px;
}
@font-face {
   font-family: "arial_regular"; /*a name to be used later*/
   src: url("../../fonts/Arial-Regular.ttf"); /*URL to font*/
}
.arial_regular{
	font-family:arial_regular;
}
@font-face {
   font-family: "arial_italic"; /*a name to be used later*/
   src: url("../../fonts/arial-narrow-italic.ttf"); /*URL to font*/
}
/* .placeholder_italic{
	font-family: arial_italic;
} */

.buttonToolbar input {
   font-family:arial_regular; 
}

.buttonToolbar input:-ms-input-placeholder {
    font-family: arial_italic;
}
.buttonToolbar input::-webkit-input-placeholder { 
     font-family: arial_italic;
}

.buttonMax input:-ms-input-placeholder {
    font-family: arial_italic;
    text-align: right;
}

.buttonMax input::-webkit-input-placeholder {
    font-family: arial_italic;
    text-align: right;
}