@font-face {
   font-family: "MuseoSans_900"; /*a name to be used later*/
   src: url("../../fonts/Museo_Sans/MuseoSans-900.otf"); /*URL to font*/
}
/* CSS for main navbar*/

.main_nav .navbar-collapse {
    padding: 0;
    border-bottom: 1px solid #e8e8e8;
}
.main_nav .collapse {
    display: none!important;
}
.main_nav .in{
    display: block!important;
    overflow: inherit;
}
.main_nav li {
    display: inline-block;
    margin-bottom: 0;
}
.first_nav li {
    background-color: #FFFFFF;
    border-left: 1px solid #e8e8e8;
}
.first_nav .menu_active {
     background-color: #F5F5F5;
}






.nav-tabs > li > a,.main_nav
{
	border: none; 
}

.main_nav li > a:hover,
.second_navbar li > a:hover,
.main_nav li > a:focus,
.second_navbar li > a:focus {
	background-color: #F5F5F5;
}
.main_nav li > a
{
    margin-right: 0;
    padding: 14px 15px;
    font-size: 15px;		
    font-family: MuseoSans_900;
    cursor: pointer;
}
.second_navbar li > a{
	padding: 20px 15px;
}
.second_navbar,.menu_active
{
    background-color: #F5F5F5;
}
 .second_navbar span
 {
    padding: 15px 45px;
 	color: #808080;	
    font-size: 15px;		
    font-family: MuseoSans_300;
 }
 .second_navbar .nav > li > a
{
    padding: 15px 15px;
}

.sublink_active
{
border-bottom: 6px solid #153795;
   font-family:MuseoSans_900;
}
.sublink_active span{
    color: #4D4D4D;
}
.contracts_menu,.customers_menu {
	padding-left: 40%;
}

.menu_item span{
    margin-left: 15px;
    font-weight: 900;
    color: #4D4D4D;
}
.main_nav .fa-chevron-up,
.main_nav .fa-chevron-down {
    color: #4D4D4D;
    padding-top: 14px;
    float: right;
    cursor: pointer;
}

.floating_navbar{
	transition: top 0.2s ease-in-out;
	position:fixed;
	top: 0;
}

.nav-up {
	top:-195px;
}

#main-nav .first_nav .five-div{
	width:20%;
}