.pagination>li>a{
	padding: 6px 12px;
	color:grey;
	margin-left: 10px;
    font-size: 16px;
    border-radius: 6px;
}
.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span{
	border-radius: 6px;
}
.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span{
	border-radius: 6px;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
    background-color: #fff;
	color:grey;

}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #fff;
	color:grey;
	border: 1px solid #1779bd;
}

.pagination {
	font-family:"arial_regular";
	font-size:16px;
	color:#808080;
	
}

