*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
footer {
	text-align: center;
	color: #ffffff;
	background-color: #504B4B;
	width: 100%;
	padding: 2rem 0;
	font-size: 1em;
	line-height: 2rem;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}

/* .padding_15{
    padding:0 15px;
} */
.padding_65 {
	margin-left: 65px;
}

.padding_right15 {
	padding-right: 15px;
}

.padding_8_left {
	padding-left: 8%;
}

.padding_10 {
	padding-left: 10px;
}

.cursor_pointer {
	cursor: pointer;
}

.text_center {
	text-align: center;
}

.font-bold {
	font-weight: bold;
}

/* Manage User */
.gridStyle {
	height: auto;
}

.desktop h2 {
	text-align: center;
}

.btn-createUser {
	border-radius: 24px;
}

.btn-createUser+hr {
	margin-top: 7%;
}

nav[role="navigation"] {
	text-align: center;
}

.text_right {
	text-align: right;
}

.form_margin {
	/* margin-left: 15%;
        padding-left: 16%; */
	/*  margin-top: 1%; */
	
}

.seq_margin {
	/*  margin-left: 18%;
    margin-top: 1%; */
	
}

.line_margin {
	/*  margin-left: 4%; */
	margin-top: 1%;
}

.suffixbox_margin {
	/* margin-left:21.9%; */
	
}
/* .margin_null{
		margin:0;
	} */
.headingClass_Autoresponse {
	margin-top: 2%;
	display: inline-block;
	font-size: 29px;
	color: #4F4F4F;
	margin-bottom: 40px;
}
/* .captcha_create {
      margin-bottom: -13%;
    float: right;
    margin-right: -8%;
    background-color: #7D8DB7;
} */
.suffixbox_margin {
	/*  margin-left: 17.9%; */
	
}

.seq_margin {
	/*  margin-left: 15%;
    margin-top: 2%; */
	
}

.margin_left10 {
	margin-left: 10%;
}

.popover {
	background: #F6F6F6;
	color: #BBBBBB;
	font-size: 11px;
}

.popover-content {
	padding: 5px 11px;
}

.popover.right .arrow:after {
	border-right-color: #F6F6F6;
}

.onoffswitchR {
	position: relative;
	width: 137px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitchR-checkbox {
	display: none;
}

.onoffswitchR-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #EEEEEE;
	border-radius: 20px;
}

.onoffswitchR-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitchR-inner:before,.onoffswitchR-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 34px;
	padding: 0;
	line-height: 35px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitchR-inner:before {
	content: "Has Reportees";
	padding-left: 10px;
	background-color: #85CD00;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 100
}

.onoffswitchR-inner:after {
	content: "No Reportees";
	padding-right: 10px;
	background-color: #FFFFFF;
	color: #999999;
	text-align: right;
	font-size: 13px;
	font-weight: 100
}

.onoffswitchR-switch {
	display: block;
	width: 27px;
	margin: 5.5px;
	background: #EEEEEE;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 100px;
	border: 2px solid #EEEEEE;
	border-radius: 30px;
	transition: all 0.3s ease-in 0s;
}

.onoffswitchR-checkbox:checked+.onoffswitchR-label .onoffswitchR-inner {
	margin-left: 0;
}

.onoffswitchR-checkbox:checked+.onoffswitchR-label .onoffswitchR-switch
	{
	right: 0px;
}

.desgList {
	margin-left: 35.5%;
}

.desgNameMargin {
	margin-right: 10px;
}

.desgIdNo {
	display: inline-block;
	padding-top: 10px;
	font-weight: bold;
}

/*************Loader CSS Start************/
/* <div class="loading-spiner"><img src="distribution/images/loader.gif" alt="Loading Icon"/></div> */
.loading-wrapper {
    position: relative;
}
/* Absolute Center Spinner */
.loading-spiner {
  position: absolute;
  z-index: 999;  
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  
  width: 100%;
  height: 106%;
  background-color: rgba(117, 117, 117, 0.3);
}
.loading-spiner img {
	position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/*************Loader CSS End************/