<div class="modal-body">
	
    <div class="row">
        <div class="col-xs-12 text-center">
        <p >{{modalEntity}}</p>
        </div>
    </div>
    
    
    <div class="row margin_top_modal">
    	<div class="col-xs-12 text-center">
		  <button class="btn btn-md btn_create_color btn_font_bold btn-gray" type="button" ng-click="ok('close')">{{grayBtnText}}</button>      	
		  <button class="btn btn-md btn_create_color btn_font_bold btn-yes" type="button" ng-click="ok('createAnother')" >{{modalBtn}}</button>
    	</div>
	</div>
    <div class="row margin_top_modal" ng-hide="showModalBtn">
		<div class="col-xs-12 text-center">
	    	
	    </div>
	</div>    
</div>