<div class="container-fluid loading-wrapper">
	<div class="loading-spiner" ng-show="loading"><img src="distribution/images/loader.gif" alt="Loading..."/></div>
	<div class="view-container-wraper">
		<div class="row ">
		  	<img src="distribution/images/contracts/print_icon.png" class="pull-right view-contract">
		  	<img src="distribution/images/contracts/Email_icon.png" class="pull-right view-email">
		</div>
		<div class="row">
		    <div class="col-xs-12 back-margin">
		         <a ui-sref="SalesRep.ManageContractSales" class="back-link"> <i class="fa fa-angle-left"></i>&nbspBack to Manage Contract</a>
		    </div>
		</div>
		<div class="row contract-container view-heading border-none text_center">
			<h1 class="headingClass_Autoresponse">{{contract.contractCode}}</h1>
		</div>
	
		<div class="row view-summary border-none">
		     <div class="col-xs-12 margin_bottom_15">
				<div class="col-xs-4">
					<span class="">Contract Date: </span>
					<span class="font-700">{{contract.orderDate}}</span>
				</div>
				<div class="col-xs-4 text_center">
					<span class="">Commence Date:</span>
					<span class="font-700">{{contract.commenceMentDate}}</span>
				</div>
				<div class="col-xs-4 text_right">
					<span class="">Status:</span>
					<span class="{{concatanateString(contract.status)}}">{{contract.status}}</span>
				</div>
		    </div>
		  <div class="col-xs-12 margin_bottom_15">
				<div class="col-xs-4">
					<span class="">Customer Name: </span>
					<span class="font-700"><a ng-click='ShowCustomerPage(contract.customerDetails.customerCode)'>{{contract.customerDetails.name}}</a></span>
				</div>
				<div class="col-xs-4 text_center">
					<span class="">Period: Week</span>
					<span class="font-700">{{contract.contractWeek}} | {{contract.contractMonth}} | {{contract.contractYear}}</span>
				</div>
				<div class="col-xs-4 text_right">
					<span class="">Sales Rep/DM:</span>
					<span class="font-700"><a>{{contract.salesRepName}}/{{(contract.dmName!=null)?contract.dmName:'-'}}</a></span>
				</div>
			</div>
		</div>
	
		<!--Contract Details-->
	    <section class="main">
			<div class="row mobile_text_right stickey-nav-wrapper">
				<ul class="list-group sticky-nav">
					<li class="list-group-item customer" ng-class="contractDetails?'active':''" ng-click="stickyMenu('contract')" tooltip-placement="right" uib-tooltip="Contract Details"></li>
					<li class="list-group-item remarks" ng-class="remarksDetails?'active':''" ng-click="stickyMenu('remarks')" tooltip-placement="right" uib-tooltip="Remarks"></li>
				</ul>
				<div class="col-xs-12 sticky-stripe">
					<div class="col-xs-12" ng-show="contractDetails">
						<div class="contract-container col-xs-12 padding_16_5" ng-show="{{contract.status!='Pending'}}">
						    <div class="col-md-4">
						    <div class="col-xs-12">
							    	<span class="cust-col-xs-40 text-xs-right">Delivered By</span>
									<span class="cust-col-xs-60 text-xs-left font-900">{{(contract.verificationOfficerName!=null)?contract.verificationOfficerName:'-'}}</span>
							    </div>
							    <div class="col-xs-12">
							    	<span class="cust-col-xs-40 text-xs-right">Collector</span>
									<span class="cust-col-xs-60 text-xs-left font-900">{{(contract.collectorName!=null)?contract.collectorName:'-'}}</span>
							    </div>
							    <div class="col-xs-12">
							    	<span class="cust-col-xs-40 text-xs-right">Cancel Type | Date</span>
									<span class="cust-col-xs-60 text-xs-left font-900">{{(contract.cancelType!=null)?contract.cancelType:'-'}} | {{contract.cancelDate}}</span>
							    </div>
							    <div class="col-xs-12">
							    	<span class="cust-col-xs-40 text-xs-right">Chargeback 1</span>
									<span class="cust-col-xs-60 text-xs-left font-900"><!-- Week NN| MMM| YYYY -->-</span>
							    </div>
						    </div>
							<div class="col-md-4 text_center">
								<div>
									<span class="">Delivery Order No:</span>
									<span class="font-900">{{(contract.doNum!=null)?contract.doNum:'-'}}</span>
								</div>
								<div>
									<span class="">Last Payment Date:</span>
									<span class="font-900">{{payment[payment.length-1].lastPaymentDt}}</span>
								</div>
								<div>
									<span class="">Cancel Period:</span>
									<span class="font-900">-</span>
								</div>
								<div>
									<span class="">Chargeback 2:</span>
									<span class="font-900"> -</span>
								</div>
							</div>
							<div class="col-md-4 text_right">
							<div class="col-xs-12">
									<span class="cust-col-xs-40 text-xs-right">Delivered Date:</span>
									<span class="cust-col-xs-60 text-xs-left font-900">{{(contract.deliveryDate!=null)?contract.deliveryDate:'-'}}</span>
								</div>
								<div class="col-xs-12">
									<span class="cust-col-xs-40 text-xs-right">Status Date:</span>
									<span class="cust-col-xs-60 text-xs-left font-900">{{contract.statusDate}}</span>
								</div>
								<div class="col-xs-12">
									<span class="cust-col-xs-40 text-xs-right">Suspend Date:</span>
									<span class="cust-col-xs-60 text-xs-left font-900">-</span>
								</div>
								<div class="col-xs-12">
									<span class="cust-col-xs-40 text-xs-right">Reinstatement:</span>
									<span class="cust-col-xs-60 text-xs-left font-900">-</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 review-container">
							<div class="header sticky-block-view">
								<img src="distribution/images/contracts/Customer-Details-gray.png"/>
								<span class="review-heading">Customer Details</span>
								<img src="distribution/images/contracts/edit_icon.png" class="edit-img pull-right" ng-click="editContract('customer')" ng-hide="removeEditBtn||editCustomer"/>
							</div>
							<div class="col-xs-12 body"  ng-hide="editCustomer">
								<div ng-include ="'app/partials/contract/view-customer-detail.html'"></div>
							</div>
							<div class="col-xs-12 body"  ng-show="editCustomer">
								<div ng-include ="'app/partials/contract/edit-customer-details.html'"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 review-container">
							<div class="header sticky-block-view">
								<img src="distribution/images/contracts/Book_gray.png"/>
								<span class="review-heading">Product Details</span>
								<img src="distribution/images/contracts/edit_icon.png" class="edit-img pull-right" ng-click="editContract('product')" ng-hide="removeEditBtn||editProduct"/>
							</div>
							<div class="col-xs-12 body" ng-hide="editProduct">
								<div ng-include ="'app/partials/contract/view-product-detail.html'"></div>
							</div>
							<div class="col-xs-12 body contract-table" ng-show="editProduct">
								<div ng-include ="'app/partials/contract/product-detail.html'"></div>
							</div>
							
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 review-container">
							<div class="header sticky-block-view">
								<img src="distribution/images/contracts/Payment-Details-grey.png"/>
								<span class="review-heading">Pricing & Payment Details</span>
								<img src="distribution/images/contracts/edit_icon.png" class="edit-img pull-right" ng-click="editContract('payment')" ng-hide="removeEditBtn||editPayment"/>
							</div>
							<div class="col-xs-12 body" ng-hide="editPayment">
								<div ng-include ="'app/partials/contract/view-payment-detail.html'"></div>
							</div>
							<div class="col-xs-12 body" ng-show="editPayment">
								<div ng-include ="'app/partials/contract/payment-detail.html'"></div>
							</div>
							
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 reference-btn" ng-show="editProduct||editCustomer||editPayment">
							<span class="pull-left">
								<button class="btn btn-md contract-btn border-none btn_font_bold" ng-click="cancellEditCustomer()">Cancel</button>
							</span>
							<span class="pull-right">
								<button class="btn btn-md createroleButton" ng-click="saveContract()">Save Contract</button>
							</span>
						</div>
						<!-- <div class="col-xs-12 contract-container padding-none border-none reference-foot margin_bottom_20" ng-hide="editProduct||editCustomer||editPayment">
							<div class="checkbox cust-chkbox white-checkbox">
								  <label>
								  <input type="checkbox" name="review_terms" ng-model="contract.review_terms" value="true" ng-disabled="true"><span><span></span></span>Customer agrees to the <a href="javascript:void(0)">terms and conditions</a> and <a href="javascript:void(0)">Privacy policy</a> terms of Grolier</label>
							</div>
						</div> -->
						
						<div class="col-md-12 reference-btn" ng-hide="editProduct||editCustomer||editPayment">
							<div class=col-md-8>
								<div class="checkbox cust-chkbox white-checkbox">
								  <label>
								  <input type="checkbox" name="review_terms" ng-model="acceptResponsibility" value="true"><span><span></span></span>I will take full responsibility for this contract and guarantee that customer will pay on time.
								</div>
								<span class="errorMsg" ng-show="showDMTermsError">Please Accept the terms and conditions.</span>
							</div>
							<div class=col-md-4>
								<span class="text-center">
									<button
										class="btn btn-md createroleButton btn_font_bold margin_right_10"
										ng-click="acceptByDM()">Accept</button>
								</span>
								<span class="text-center">
									<button
										class="btn btn-md createroleButton btn_font_bold margin_right_10"
										ng-click="rejectedByDM()">Reject & Close</button>
								</span>
							</div>
						</div>
					</div>
					
					
					<div class="col-xs-12 margin_30_bottom" ng-show="remarksDetails">
						<div class="col-xs-12 col-sm-12 col-md-12 text_center contract-container border-bottom-contract padding_tb_20_10">
							<span class="view-sub-heading raleway_subheading">REMARKS</span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 text_left margin_bottom_20 margin_top_10">
							<span class="add-remarks font-900">Add Remarks</span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-md-1 remark_label">
								<span class="contract-label ">Remarks (Optioanl):</span>
							</div>
							<div class="col-md-11 padding-none margin_bottom_10">
								<textarea class="form-control form_radius" rows="5" id="comment" ng-model="viewRemark"></textarea>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 border-bottom-contract padding_10">
							<button class="btn btn-md createroleButton btn_font_bold pull-right margin_bottom_10" ng-click="addRemark()">Add</button>
						</div>
						<div class="col-md-12">
							<span class="comment-remarks">Showing {{remarkList.length}} Remarks</span>
						</div>
						<div class="col-md-12 comment-text" ng-repeat="remark in remarkList">
						<!-- 18-Mar-2016 10.35PM -->
							<span class="col-md-12 comment-user">{{remark.recordedBy}} | {{remark.recorderDate}}</span>
							<span class="font-900">
								{{remark.remarks}}
							</span>
						</div>
						
					</div>
					<div class="col-xs-12 margin_30_bottom sub-container"  ng-controller="ManageGridCtrl" ng-show="paymentDetails1">
						<div class="col-xs-12 col-sm-12 col-md-12 text_center contract-container padding_tb_20_10">
							<span class="view-sub-heading raleway_subheading">PAYMENT HISTORY</span>
						</div>
						<div class="col-xs-12 top_box padding-none margin_bottom_10">
							<div class="pull-left hidden-sm showing_margin">
								<!-- Showing 1-{{selectedCnt}} of {{totalItems}} Records  -->
								Showing {{showingStart}}-{{showingEnd}} of {{totalItemCount}} Records
							</div>
							<div class="pull-right showing_page padding-right-none border-none">
								<span>Showing Per Page</span>
								<select class="btn btn-dropdown btn-md dropdown-toggle" ng-model="selectedCnt"
				    				ng-options="noOfRecords for noOfRecords in recordsPerPage" ng-change="PageCntChange()">
				    				<option value="noOfRecords" ng-if="false">{{selectedCnt}}</option>
				    			</select>
					 		</div>
					    </div>
						<div class="col-xs-12 table-responsive contract-table padding-side-none">
						    <table class="table table-striped">
						        <thead>
						            <tr>
						               <!-- <th ng-repeat="(i,th) in paymentList" ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn($index+1)">{{th}}
						               </th> -->
						               
						               <th ng-repeat="(i,th) in paymentList" ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn(i,$index+1)" ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
						               		<ul>
						               			<li class="col-head-text">{{th}}</li>
						               			<li class="order-arrow">
							               			<ul>
							               				<i class="fa fa-chevron-up" ng-show="predicate == i  && reverse"></i>
							               				<i class="fa fa-chevron-down" ng-show="predicate == i  && !reverse"></i>
							               			</ul>
						               			</li>
						               		</ul>
						               </th>
						            </tr>
						        </thead>
						        <tbody>
						            <tr ng-repeat="row in payment">
						           		<td>{{row.lastPaymentDt}}</td>
						           		<!-- <td>{{row.paymentId}}</td>
						           		<td>{{row.paymentMethod}}</td> -->
						      
						           		<td><!-- {{row.bankTagNo}} -->Bank</td>
						           		<td><!-- {{row.bankAccountNo}} -->ABC Bank</td>
						           		<td>{{row.bankAccountNo}}</td>
						           		<td>{{row.paymentAmt}}</td>
						           		<td>{{row.prevBalance}}</td>
						           		<td>{{row.paymentAmt}}</td>
						           		<td>{{row.orderDueAmt}}</td>
						           		<td>{{row.lastPaymentDt}}</td>	               
						            </tr>
						        </tbody>
						    </table>
						</div>
					</div>
				</div>
			</div>
	    </section>
	
	<!--Payment History-->
		<div class="row reference-btn contract_screen_content" ng-hide="true">
			<span class="pull-left">
				<button class="btn btn-md cancelButton btn_font_bold">Cancel</button>
				<img src="distribution/images/contracts/save-icon.png">	
			</span>
			<span class="pull-right">
				 <button class="btn btn-md createroleButton btn_font_bold">Save & Submit</button>
			</span>
		</div>
	</div>
</div>