<div class="container loading-wrapper">
	<div class="loading-spiner" ng-show="loading"><img src="distribution/images/loader.gif" alt="Loading..."/></div>
	
	<div class="vo-verify vo-verify-payment" ng-form name="vo.voVerificationForm">
		<div class="row hidden-xs hidden-sm">
			<!-- <div class="col-xs-12 padding-sm">
			  	<img src="distribution/images/contracts/print_icon.png" class="pull-right view-contract">
			  	<img src="distribution/images/contracts/Email_icon.png" class="pull-right view-email">
			</div> -->
		</div>
		
		<div class="row">
		   <div class="col-xs-12 back-margin padding-xs padding-sm">
		         <a ng-click="backtoVerifyContract();" class="back-link"> <i class="fa fa-angle-left"></i>&nbsp;Back to verify Contracts
		        </a>
  <div class="pull-right padding-sm">
			  	<img src="distribution/images/contracts/print_icon.png" class="pull-right view-contract">
			  	<img src="distribution/images/contracts/Email_icon.png" class="pull-right view-email">
			</div>
		    </div>
		</div>
		
		<div class="row view-heading border-none text-center hidden-xs">
		  <h1 class="headingClass_Autoresponse">{{contract.contractCode}}</h1>
		</div>
		
		<div class="row view-heading border-none text-center visible-xs">
		  <h1 class="headingClass_Autoresponse">Collect Payment</h1>
		</div>
	
		<div class="row">
			<div class="col-xs-12 sub-container section_summary summary-dotted padding-sm padding-xs">
			   	<div class="row view-summary border-none summary-block">
					<div class="col-xs-12 col-sm-4 text-xs-center">
						<span class="cust-col-xs-40 text-xs-right">Contract Code | Date </span>
						<span class="cust-col-xs-60 text-xs-left font-700"><a ng-click="gotoContractDetail($event);">{{contract.contractCode}}</a> | {{contract.commenceDate}}</span>
					</div>
				
					<!-- <div class="col-xs-6 margin_bottom_15">
						<span class="">Contract ID | Date </span>
						<span class="font-700"><a ng-click="gotoContractDetail();">{{contract.contractCode}}</a> | {{contract.commenceDate}}</span>
					</div> -->
					<div class="col-xs-12 col-sm-4 pull-right text-center">
						<span class="cust-col-xs-40 text-xs-right">Amount to be collected </span>
						<span class="cust-col-xs-60 text-xs-left font-700">{{contract.amtTobeCollDwPay2}}</span>
					</div>
					
					<!-- <div class="col-xs-6 text_right">
						<span class="">Amount to be collected </span>
						<span class="font-700">{{contract.amtTobeCollDwPay2}} {{common.currency}}</span>
					</div> -->
					 <div class="col-xs-12 ">
						<div class="col-xs-12 col-sm-4 text-left text-xs-center">
							<span class="cust-col-xs-40 text-xs-right">Customer</span>
							<span class="cust-col-xs-60 text-xs-left font-700"><a ng-click='ShowCustomerPage(contract.custCode, $event)'>{{contract.custCode}} | {{contract.custName}}</a></span>
						</div>	
				    </div>
				    
				    <!-- <div class="col-xs-12 ">
						<div class="col-xs-6 ">
							<span class="">Customer</span>
							<span class="font-700"><a ng-click='ShowCustomerPage(contract.custCode)'>{{contract.custCode}} | {{contract.custName}}</a></span>
						</div>	
				    </div> -->
				    
				    
				    
				</div>		 
			   
			    <div class="col-xs-12 vo-report-detail ">
					<div class="col-xs-12 review-heading">Delivery Details</div>

					<div class="col-xs-12 parenElement">
					<div class="col-sm-5 col-md-5 col-xs-12 col-xs-offset-1 report-list childElement">
						<div class="col-xs-6 pull-left">
						  <div class="col-xs-4 width_auto">Delivery Order No:</div> 
						  <div class="col-xs-8 width_auto lbl-value">{{(contract.doNum!=null)?contract.doNum:'-'}}</div>
						</div>
					</div>
					<div class="col-xs-6 pull-right">
						<div class="col-xs-offset-2 col-xs-4 col-sm-2 col-md-2 margin-xs-top pull-left">Bin</div>
						<div class="col-xs-6 col-sm-8 col-md-7 pull-right childElement rightNo">
							<select class="form-control contract-label form_radius c-select arrow_remove" ng-model="selectedLocation" ng-class="submitPressed && binError ?'emptyField':'' " ng-options="option.locationName for option in contract.locationList track by option.locationId">
								<option value="">-Select-</option>
							</select>
							<span class="errorMsg" ng-show="submitPressed && binError ? 'emptyField':''">Please select a bin</span>
						</div>
					</div>

					</div>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-xs-4 col-sm-12 text-xs-right">
				<label class="contract-label ">Is delivery location greater than 30 km?</label>
			</div>
			<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
				<div class="onoffswitch onoffswitch-yesno">
					<input type="checkbox" name="onoffswitch"
						class="onoffswitch-checkbox" id="onoffswitch1_editCountry"
						ng-model="distance" ng-change="fetchPriceList();"> <label class="onoffswitch-label"
						for="onoffswitch1_editCountry"> <span
						class="onoffswitch-inner onoffswitch-inner-sr"></span> <span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
		</div>
				
				<div class="col-xs-12 vo-report-detail">
					<div class="col-xs-12 review-heading">Product Details</div>
					<div class="col-xs-12 table-responsive contract-table border-bottom" ng-controller="ManageGridCtrl">
					    <table class="table table-striped">
					        <thead>
					            <tr>
						            <th ng-repeat="(i,th) in vo.productColList" style="width: {{th.width}}" ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn(i,$index+1)" ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
					               		{{th.col}}
					               </th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr ng-repeat="product in contract.itemList">
					           		<td>{{$index+1}}</td>
					           		<td class="text-left"><span class="font-900">{{product.itemProductCode}}</span> {{product.itemDesc}}</td>
					           		<td>{{product.orderedProdQty}}</td>
					           		<!-- <td><input type="text" maxlength="5" size="5" class="form-control contract-label text-center form_radius" ng-model="contract.data.itemList[$index].deliveredProdQty" required name="deliveredProdQty_$index" ng-pattern="/^(\d)+$/" ng-class="vo.voVerificationForm.qtyError[$index] ? 'emptyField' : ''" ng-change="(vo.voVerificationForm.deliveredProdQty_$index.$error.pattern || (product.orderedProdQty - contract.data.itemList[$index].deliveredProdQty) < 0) ? vo.voVerificationForm.qtyError[$index]=vo.voVerificationForm.qtyEr=true : vo.voVerificationForm.qtyError[$index]=vo.voVerificationForm.qtyEr=false" /></td> -->               
					           		<td><input type="text" limit-char="5" size="5" class="form-control contract-label text-center form_radius" ng-model="contract.data.itemList[$index].deliveredProdQty" ng-class="vo.qtyError[$index] ? 'emptyField' : ''" ng-change="vo.validateInput($index, product.orderedProdQty)" /></td>
					            </tr>
					        </tbody>
					    </table>
					</div>
					<span class="showError" ng-show="showDeliveryError">Please Enter Atleast One Deliverable Amount</span>
					<span class="showError" ng-show="codDeliveryError">Delivered quantity and ordered quantity should be same for COD orders</span>
				</div>
				
				<div class="col-xs-12 border-bottom vo-report-detail" >
					<!--ng-show="showPaymentSection"-->
					<div class="col-xs-12 review-heading">Payment Details</div>
					<div class="col-xs-11 col-xs-offset-1">
						<div class="col-xs-4 col-sm-12">
							<label class="contract-label">Amount to be collected (Min: {{contract.amtTobeCollDwPay2}})</label>
							<!--Max: {{contract.outstandingBal}}-->
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 margin_bottom_20">
							<input type="number" class="form-control contract-label form_radius" name="paymentMade" min='{{contract.amtTobeCollDwPay2}}' ng-model="paymentMade"  ng-required="showPaymentSection"/>
							<!--max='{{contract.outstandingBal}}'-->
						</div>
					</div>
					<div class="col-xs-11 col-xs-offset-1">
						<div class="col-xs-4 col-sm-12">
							<label class="contract-label">Method of Payment</label>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 margin_bottom_20">
							<select class="form-control contract-label form_radius c-select arrow_remove" name="pmtMethod" ng-model="selectedPayment" ng-options="option.paymentMethodName for option in contract.paymentMethodList track by option.paymentMethodId" ng-class="showPaymentSection && pmtMethod.$invalid && pmtMethod.$dirty? 'emptyField':''" ng-required="showPaymentSection">
								<option value="">-Select-</option>
							</select>
							<span class="errorMsg" ng-show="showPaymentSection && pmtMethod.$dirty && pmtMethod.$invalid">Please select Method of Payment</span>
						</div>
					</div>
					<div class="col-xs-11 col-xs-offset-1" ng-show="selectedPayment.paymentMethodName.toLowerCase()=='cheque'">
						<div class="col-xs-4 col-sm-12">
							<label class="contract-label">Cheque Date</label>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 margin_bottom_20">
							<div class="col-md-12 custom-date buttonToolbar">
								<input name="chequeDate" maxlength="11" size="11" placeholder="dd-mon-yyyy" datepicker type="text" class="form-control form_radius" ng-model="chequeDate" ng-required="selectedPayment.paymentMethodName.toLowerCase()=='cheque' && showPaymentSection">
							</div>
							<span class="errorMsg" ng-show="showPaymentSection && chequeDate.$dirty && chequeDate.$invalid">Please select a valid Date.</span>
							<span class="errorMsg" ng-show="showPaymentSection  && vo.voVerificationForm.chequeDate.$valid && !sixMonthError">Cheque Date cant be more than six months old and can not be a future date.</span>
						</div>
					</div>
					<div class="col-xs-11 col-xs-offset-1" ng-show="selectedPayment.paymentMethodName.toLowerCase()=='credit card'">
						<div class="col-xs-4 col-sm-12">
							<label class="contract-label">Clearing From</label>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 margin_bottom_20">
							<select class="form-control contract-label form_radius c-select arrow_remove" name="pmtMethod" ng-model="selectedBank" ng-options="bank.accountName for bank in bankList track by bank.bankId" ng-class="showPaymentSection && pmtMethod.$invalid && pmtMethod.$dirty? 'emptyField':''" ng-required="showPaymentSection && (selectedPayment.paymentMethodName.toLowerCase()=='credit card')">
								<option value="">-Select-</option>
							</select>
							<span class="errorMsg" ng-show="showPaymentSection && pmtMethod.$dirty && pmtMethod.$invalid">Please select a bank</span>
						</div>
					</div> 
					<div class="col-xs-11 col-xs-offset-1">
						<div class="col-xs-4 col-sm-12">
							<label class="contract-label ">Reference No.</label>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 margin_bottom_20">
							<input type="text" class="form-control contract-label form_radius" name="refNo" ng-model="contract.data.paymentRef" limit-char="30" ng-class="refNo.$dirty && refNo.$invalid ?'emptyField':'' " ng-required="selectedPayment!=null && showPaymentSection"/>
							<span class="errorMsg" ng-show="refNo.$dirty && refNo.$invalid ?'emptyField':'' ">Please Enter a Reference No.</span>
						</div> 
					</div> 				
					<div class="col-xs-11 col-xs-offset-1">
						<div class="col-xs-4 col-sm-12">Remarks (Optional):</div>
						<div class="col-xs-6 col-sm-10">
							<textarea class="form-control form_radius" rows="5" limit-char="200" ng-model="contract.data.remarks"></textarea>
						</div>
					</div> 
				</div>
			</div>
		</div>
		
		<div class="col-xs-12 payment_btn">
			<!-- <span class="pull-left">
				<button class="btn btn-md contract-btn border-none btn_font_bold" ng-click="gotoManagePage();">Cancel</button>
			</span> -->
			<span class="pull-right">
				<button ng-disabled="(vo.voVerificationForm.disableSubmit||!vo.voVerificationForm.$valid)" class="btn btn-md createroleButton btn_font_bold" ng-click="submitPayment();">Submit</button>
			</span>
		</div>
	</div>
</div>
<!-- comment -->