<div class="container-fluid" data-ng-controller="ManageGridCtrl">
	<div class='row text-center margin_top_heading visible-print-block'>
	   <h1 class="raleway_heading print_only">Grolier International</h1> 
	   <div class="col-xs-12 address">
	   		81 Ubi Ave 4, #02-30, UB. ONE, Singapore 408830,</br>
	   		Tel: 6922 9555 &nbsp;&nbsp;Fax: 6922 9556
	   </div>
	</div>
	<div class='row text-center margin_top_heading hidden-xs hidden-print'>
	   <h1 class="raleway_heading">Manage Contracts</h1> 
	</div>
	<div class='row manage-xs-heading visible-xs hidden-print'>
		<div class="col-xs-6"><h1 class="raleway_heading">Manage Contracts</h1> </div>
		<div class="col-xs-6">
			<div class="col-xs-12 hidden-print">
				<button has-access="edit" type="submit" class="btn btn-md btn-createUser_width_21 pull-right btn_create_color btn_font_bold" ui-sref="AdminBoard.CreateEditContract">
					<img src="distribution/images/CreateRoll-icon.png" class="picture"/>Create Contract
				</button>

			</div>
		</div>
	</div>
	
	
	<div class="row main-container" data-ng-controller="ManageContractCtrl">
		<div class="container-fluid cont-summary-xs visible-xs">
			<div class="col-xs-12 summary_box text-center" data-ng-hide="loading">
				<div class="col-xs-6 summary_value">
					<div class="col-xs-12">Total Points: </div><div class="col-xs-12 "><strong>{{ $parent.topTotalPoints }}</strong></div>
				</div>
				<div class="col-xs-6 summary_value">
					<div class="col-xs-12">Total Order Amount: </div><div class="col-xs-12"><strong>{{ $parent.topTotalOrderAmount }}</strong></div>
				</div>
			</div>
		</div>
		
		<div class="col-xs-12 data-block" data-ng-hide="{{isEmptyManageData}}" >
			<div class="sidebar-wrapper {{SidebarWidth}}" data-ng-include="'app/modules/sidebar-filter/view.html'"></div>
			
			<!-- Mobile Screen -->	
			<div class="col-container {{MobilePageWidth}}">
				<div class="col-xs-12 top_box padding-none margin_bottom_10">
					<div class="pull-left hidden-sm showing-record">
						{{$parent.totalItemCount}} Contracts
					</div>
					<!-- <div class="pull-right more_links">
						<ul class="dotted"><li></li><li></li><li></li></ul>
						<ul class="sub-menu">
							<li class="print">Print</li>
							<li class="export-csv">Export to .csv</li>
							<li class="email"><a href="javascript: void(0);" data-ng-click="sendEmail($event);">Email</a></li>
							<li class="settings">Manage Columns</li>
						</ul>
					</div> -->
					<div class="pull-right showing_page padding-right-none border-none">
						<!-- <span>Sort by</span> -->
						<select class="btn btn-dropdown btn-md dropdown-toggle" data-ng-model="listing.sortedBy" data-ng-options="list.value as list.text for list in listing.sortedByList track by list.value">
							<option value="">Last Modified</option>
			   			</select>
			 		</div>
			    </div>
			    
			   <!-- <div data-ng-show="loading" class="loadingIcon"><img src="distribution/images/loader.gif" alt="Loading Icon"></div>-->
					    
				<div class="col-xs-12 table-xs-view" data-ng-repeat="row in gridOptions.data | orderBy: listing.sortedBy" data-ng-click="ShowContractPage(row,$event)">
					<!--on-long-press="itemOnLongPress(row)"-->
					<div class="col-xs-1 icon">
						<img data-ng-if="!row.isSync" src="distribution/images/mobile/not-synced.png"/>
						<img data-ng-if="row.isSync" src="distribution/images/mobile/synced.png"/>
					</div>
					<div class="col-xs-5 content">
						<div class="col-xs-12 font-700">{{row.customerName}}</div>
						<div class="col-xs-12">{{row.contractCode}}</div>
						<div class="col-xs-12 font-700 status {{concatanateString(row.status)}}">{{row.status}}</div>						
					</div>
					<div class="col-xs-5 content content-right">
						<div class="col-xs-12 text-right">{{row.orderDate}}</div>
						<div class="col-xs-12 text-right"><label class="">Points: </label> {{row.points}}</div>
						<!-- <div class="col-xs-12 text-right"><label class="">Total Amount: </label> {{row.totalAmountOrder}}</div> -->
					</div>
					<div class="col-xs-1 right-arrow" ng-hide="row.transferRow">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					</div>
				</div>
				
				<div data-ng-show="!loading" data-ng-if="!showPagination" class="col-xs-12 load-more text-center">
					<img src="distribution/images/icons/loader-inactive-20x20.png"/>
					<span>Load More</span>
				</div>
				<div data-ng-show="!loading" data-ng-if="showPagination" class="col-xs-12 load-more text-center">
					<img src="distribution/images/icons/loader-20x20.png"/>
					<span><a href="javascript:void(0);" data-ng-click="listing.loadMore();">Load More</a></span>
				</div>
				<div data-ng-show="loading" class="loadingIcon"><img src="distribution/images/loader.gif" alt="Loading Icon"></div>
			</div>
			
			<!-- For destop and tablet ManageUserGridCtrl-->
			<div class="col-container sub-container {{MainGridWidth}}">
				<div class="top_box">
					<div class="pull-left showing_margin hidden-sm">
						Showing {{$parent.showingStart}}-{{$parent.showingEnd}} of {{$parent.totalItemCount}} Records
					</div>
					<div class="pull-left showing-record visible-sm">
						Showing {{$parent.showingEnd}} Contracts
					</div>
					<div class="pull-right more_links hidden-sm">
						<ul class="dotted"><li></li><li></li><li></li></ul>
						<ul class="sub-menu">
							<li class="print"><a href="javascript: void(0);" data-ng-click="printPage($event);">Print</a></li>
							<li class="export-csv"><a href="javascript: void(0);" data-ng-click="exportToCsv($event,colData);">Export to .csv</a></li>
							<li class="email"><a href="javascript: void(0);" data-ng-click="sendEmail($event);">Email</a></li>
							<li class="settings"><a href="javascript: void(0);" data-ng-click="columnConfig($event);">Manage Columns</a></li>
						</ul>
					</div>
					<div class="pull-right more_links hidden-sm">
						<ul class="dotted"><li></li><li></li><li></li></ul>
						<ul class="sub-menu">
							<li class="print">Print</li>
							<li class="export-csv"><a href="javascript: void(0);" data-ng-click="exportToCsv($event,colData);">Export to .csv</a></li>
							<li class="email"><a href="javascript: void(0);" data-ng-click="sendEmail($event);">Email</a></li>
							<li class="settings"><a href="javascript: void(0);" data-ng-click="columnConfig($event);">Manage Columns</a></li>
						</ul>
					</div>
					<button has-access="edit" type="submit" class="btn btn-md btn-createUser_width_21 pull-right btn_create_color btn_font_bold" ui-sref="AdminBoard.CreateEditContract">
						<img src="distribution/images/CreateRoll-icon.png" class="picture"/>Create Contract
					</button>
					<div class="pull-right showing_page hidden-sm">
						<span>Showing Per Page</span>
						<select class="btn btn-dropdown btn-md dropdown-toggle" data-ng-model="$parent.selectedCnt"
			    				data-ng-options="noOfRecords for noOfRecords in recordsPerPage" data-ng-change="PageCntChange()">
			   				<option value="noOfRecords" data-ng-if="false">{{$parent.selectedCnt}}</option>
			   			</select>
					</div>
					<div class="pull-right showing_page visible-sm">
						<span>Sort by</span>
						<select class="btn btn-dropdown btn-md dropdown-toggle" data-ng-model="listing.sortedBy" data-ng-options="listSm.value as listSm.text for listSm in listing.sortedByList track by listSm.value">
							<option value="">-Select-</option>
			   			</select>
			 		</div>
				</div>
				<div class="row summary_box" data-ng-hide="loading">
					<div class="col-xs-4 summary_value">
						Total Points: <span class="">{{ $parent.topTotalPoints }}</span>
					</div>
					<div class="col-xs-4 summary_value">
						Total Order Amount: <span class="">{{ $parent.topTotalOrderAmount }}</span>
					</div>
					<div class="col-xs-4 summary_value">
						Total Outstanding Amount: <span class="">{{ $parent.topOutstandingAmount }}</span>
					</div>
				</div>
				<div data-ng-show="loading" class="loadingIcon"><img src="distribution/images/loader.gif" alt="Loading Icon"></div>
				<div class="table-responsive" data-ng-hide="loading">
				    <table class="table table-striped">
				        <thead>
				            <tr>
				               <th data-ng-repeat="(i,th) in gridOptions.columnDefs" data-ng-mouseenter="activeColumn($index+1)" data-ng-mouseleave="deActiveColumn(i,$index+1)" data-ng-click="order(i,$index+1)"    data-ng-class="selectedCls(i)">
				               		<ul>
				               			<li class="col-head-text">{{th}}</li>
				               			<li class="order-arrow">
					               			<ul>
					               				<i class="fa fa-chevron-up" data-ng-show="predicate == i  && reverse"></i>
					               				<i class="fa fa-chevron-down" data-ng-show="predicate == i  && !reverse"></i>
					               			</ul>
				               			</li>
				               		</ul>
				               </th>
				            </tr>
				        </thead>
				        <tbody>
				             <tr data-ng-repeat="row in gridOptions.data|orderBy:predicate:reverse| orderBy: listing.sortedBy">
				             	
				             	<td data-ng-repeat="(i,thKey) in gridOptions.columnDefs">
				                	<div ng-switch on="i">
									    <div ng-switch-when="systemStatus">
									        <div class="icon">
												<!-- <img data-ng-if="isOffline" src="distribution/images/mobile/refresh.png"/>
												<img data-ng-if="!isOffline" src="distribution/images/mobile/selected.png"/> -->
												
												<img data-ng-if="!row.isSync" src="distribution/images/mobile/not-synced.png"/>
												<img data-ng-if="row.isSync" src="distribution/images/mobile/synced.png"/>
											</div>
									    </div>
									    <div ng-switch-when="contractCode">
									        <a has-access="view" data-ng-click='ShowContractPage(row,$event)'>{{row[i]}}</a>
				                        	<span has-access="!view">{{row[i]}}</span>
									    </div>
									    <div ng-switch-when="customerName">
									        <a ng-if="isDesktop" has-access="viewUser" data-ng-click='ShowCustomerPage(row,$event)'>{{row[i]}}</a>
				                        	<span ng-if="isDesktop" has-access="!viewUser">{{row[i]}}</span>
				                        	<span ng-if="!isDesktop">{{row[i]}}</span>
									    </div>
									    <div ng-switch-when="verificationOfficerName">
									        <span ng-if="row[i] != null">{{row[i]}}</span>
				                        	<span ng-if="row[i] == null">-</span>
									    </div>
									    <div ng-switch-when="collectorName">
									        <span ng-if="row[i] != null">{{row[i]}}</span>
				                        	<span ng-if="row[i] == null">-</span>
									    </div>
									    <div ng-switch-when="lastPaymentDate">
									        <a data-ng-click='ShowContractPage(row,$event)'>{{row[i]}}</a>
									    </div>
									    <div ng-switch-when="status">
									        <span class="{{concatanateString(row[i])}}">{{row[i]}}</span>
									    </div>
									    <div ng-switch-default>
									        {{row[i]}}
									    </div>
									</div>
				                </td>
				            </tr>
				        </tbody>
				        <tfoot>
				        	<tr>
				        		<td data-ng-repeat="(i,thKey) in gridOptions.columnDefs">
				                	<div ng-switch on="i">
									    <div ng-switch-when="points">{{ getCurrentTotalPoints(gridOptions.data) }}</div>
									    <div ng-switch-when="totalAmountOrder">{{ totalOrderAmount }}</div>
									    <div ng-switch-when="totalOutstandingBalance">{{ outstandingAmount }}</div>
									    
									    <div ng-switch-default>
									    	<span ng-if="$index === 0">Total</span>
				                        	<span ng-if="$index > 0">&nbsp;</span>
									    </div>
									</div>
				                </td>
				        	</tr>
				        </tfoot>
				    </table>
				</div>
				 
				<div class="col-md-12 text-center hidden-xs hidden-sm" data-ng-show="showPagination">
			 		<uib-pagination boundary-links="true" total-items="$parent.totalItems" data-ng-model="$parent.currentPage" class="pagination-lg" previous-text="&larr;" next-text="&rarr;" first-text="&laquo;" last-text="&raquo;" data-ng-click="pageChanged($event)" max-size="5"></uib-pagination>
			 	</div>
			 	<div data-ng-show="!loading" data-ng-if="!showPagination" class="col-xs-12 load-more text-center visible-xs visible-sm">
					<img src="distribution/images/icons/loader-inactive-20x20.png"/>
					<span>Load More</span>
				</div>
				<div data-ng-show="!loading" data-ng-if="showPagination" class="col-xs-12 load-more text-center visible-xs visible-sm">
					<img src="distribution/images/icons/loader-20x20.png"/>
					<span><a href="javascript:void(0);" data-ng-click="listing.loadMore();">Load More</a></span>
				</div>
				
			   </div>
		  </div>
	    <div class="col-xs-12 empty-block" data-ng-show="{{isEmptyManageData}}">
	    	<div class="sub-container {{MainGridWidth}}">
				<div class="top_box">
					<button has-access="edit" type="submit" class="btn btn-md btn-createUser_width_21 pull-right btn_create_color btn_font_bold" ui-sref="AdminBoard.CreateEditContract">
						<img src="distribution/images/CreateRoll-icon.png" class="picture"/>Create Contract
					</button>
				</div>
				<div class="row">
					<div class="empty-content col-xs-12 col-sm-10 col-md-6 col-lg-5">
						<p class="raleway_heading">There are no Contracts to view.</p>
						<button has-access="edit" type="submit" class="btn btn-md btn-createUser_width_21 btn_create_color btn_font_bold" ui-sref="AdminBoard.CreateEditContract">
							<img src="distribution/images/CreateRoll-icon.png" class="picture"/>Create Contract
						</button>
					</div>
				</div>
			</div>
	    </div>

        <!--<div class="col-xs-12 visible-xs visible-sm button-container" ng-show="countTransferRow>0">-->
            <!--<button class="btn btn-round">Send</button>-->
        <!--</div>-->
	</div>
</div>