<div class="container-fluid loading-wrapper">
	<div class="loading-spiner" ng-show="loading"><img src="distribution/images/loader.gif" alt="Loading..."/></div>
	<div class="view-container-wraper">
		<div class="row ">
		  	<img src="distribution/images/contracts/print_icon.png" class="pull-right view-contract">
		  	<img src="distribution/images/contracts/Email_icon.png" class="pull-right view-email">
		</div>
		<div class="row">
		    <div class="col-xs-12 back-margin">
		         <!-- <a ui-sref="VoBoard.ManageVoCompleteRequest" class="back-link"> <i class="fa fa-angle-left"></i>&nbspBack to Manage Completed Contracts</a> -->
		         <a ui-sref="{{previousState}}" class="back-link"> <i class="fa fa-angle-left"></i>&nbspBack to {{previousStateTitle}}</a>
		    </div>
		</div>
		<div class="row contract-container view-heading border-none text-center">
			<h1 class="headingClass_Autoresponse">{{contract.contractCode}}</h1>
		</div>
	
		<div class="row view-summary border-none">
		     <div class="col-xs-12 margin_bottom_15">
				<div class="col-xs-4">
					<span class="">Contract Date: </span>
					<span class="font-700">{{contract.commenceMentDate}}</span>
				</div>
				<div class="col-xs-4 text-center">
					<span class="">Commence Date:</span>
					<span class="font-700">{{contract.commenceMentDate}}</span>
				</div>
				<div class="col-xs-4 text_right">
					<span class="">Status:</span>
					<span ng-class="concatanateString(contract.status)">{{contract.status}}</span>
				</div>
		    </div>
		  <div class="col-xs-12 margin_bottom_15 heading-line">
				<div class="col-xs-4">
					<span class="">Customer Name: </span>
					<span class="font-700"><a>{{contract.customerDetails.name}}</a></span>
				</div>
				<div class="col-xs-4 text-center">
					<span class="">Period: Week</span>
					<span class="font-700">{{contract.contractWeek}} | {{contract.contractMonth}} | {{contract.contractYear}}</span>
				</div>
				<div class="col-xs-4 text_right">
					<span class="">Sales Rep/DM:</span>
					<span class="font-700"><a>{{contract.salesRepName}}/{{(contract.dmName!=null)?contract.dmName:'-'}}</a></span>
				</div>
			</div>
		</div>
	
		<!--Contract Details-->
	    <section class="main">
			<div class="row mobile_text_right stickey-nav-wrapper">
				<ul class="list-group sticky-nav">
					<li class="list-group-item customer" ng-class="contractDetails?'active':''" ng-click="stickyMenu('contract')" tooltip-placement="right" uib-tooltip="Contract Details"></li>
					<li class="list-group-item vo_report" ng-class="reportDetails?'active':''" ng-click="stickyMenu('report')" tooltip-placement="right" uib-tooltip="Verification Report"></li>
					<li class="list-group-item payment" ng-class="paymentDetails1?'active':''" ng-click="stickyMenu('payment')" tooltip-placement="right" uib-tooltip="Payment History"></li>
					<li class="list-group-item remarks" ng-class="remarksDetails?'active':''" ng-click="stickyMenu('remarks')" tooltip-placement="right" uib-tooltip="Remarks"></li>
				</ul>
				<div class="col-xs-12 sticky-stripe">
					<div class="col-xs-12" ng-show="contractDetails">
						<div class="contract-container col-xs-12 padding_16_5"
							ng-show="{{contract.status!='Pending'}}">
							<div class="col-xs-12 col-sm-4 text-xs-center">
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.verificationOfficerName!=null">Delivered By:</span>
									<span class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.verificationOfficerName!=null">{{(contract.verificationOfficerName!=null)?contract.verificationOfficerName:'-'}}</span>
								</div>
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.collectorName!=null">Collector:</span> <span
										class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.collectorName!=null">{{(contract.collectorName!=null)?contract.collectorName:'-'}}</span>
								</div>
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.cancelType!=null">Cancel Type |
										Date:</span> <span class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.cancelType!=null">{{(contract.cancelType!=null)?contract.cancelType:'-'}}
										| {{contract.cancelDate}}</span>
								</div>
								<div class="col-xs-12">
									<span class="cust-col-xs-40 text-xs-right">Chargeback 1:</span>
									<span class="cust-col-xs-60 text-xs-left font-900">
										<!-- Week NN| MMM| YYYY -->{{(contract.chargeBack1!=null)?contract.chargeBack1:'-'}}
									</span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 text-center">
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.doNum!=null">Delivery
										Order No:</span> <span class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.doNum!=null">{{(contract.doNum!=null)?contract.doNum:'-'}}</span>
								</div>
								<div class="col-xs-12">
									<span class="cust-col-xs-40 text-xs-right">Last Payment
										Date:</span> <span class="cust-col-xs-60 text-xs-left font-900">{{payment[payment.length-1].lastPaymentDt}}</span>
								</div>
								<div class="col-xs-12" ng-show="false">
									<span class="cust-col-xs-40 text-xs-right">Cancel
										Period:</span> <span class="cust-col-xs-60 text-xs-left font-900">-</span>
								</div>
								<div class="col-xs-12">
									<span class="cust-col-xs-40 text-xs-right">Chargeback 2:</span>
									<span class="cust-col-xs-60 text-xs-left font-900"> {{(contract.chargeBack2!=null)?contract.chargeBack2:'-'}}</span>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 text-right text-xs-center">
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.deliveryDate!=null">Delivered
										Date:</span> <span class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.deliveryDate!=null">{{(contract.deliveryDate!=null)?contract.deliveryDate:'-'}}</span>
								</div>
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.statusDate!=null">Status Date:</span>
									<span class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.statusDate!=null">{{contract.statusDate}}</span>
								</div>
								<div class="col-xs-12" >
									<span class="cust-col-xs-40 text-xs-right" ng-show="contract.suspenseContractDt!=null">Suspend Date:</span>
									<span class="cust-col-xs-60 text-xs-left font-900" ng-show="contract.suspenseContractDt!=null">{{contract.suspenseContractDt}}</span>
								</div>
								<div class="col-xs-12">
									<span class="cust-col-xs-40 text-xs-right">Reinstatement:</span>
									<span class="cust-col-xs-60 text-xs-left font-900">{{(contract.reinstatement!=null)?contract.reinstatement:'-'}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 review-container">
							<div class="header sticky-block-view">
								<img src="distribution/images/contracts/Customer-Details-gray.png"/>
								<span class="review-heading">Customer Details</span>
							</div>
							<div class="col-md-12 body">
								<div ng-include ="'app/partials/contract/view-customer-detail.html'"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 review-container">
							<div class="header sticky-block-view">
								<img src="distribution/images/contracts/Book_gray.png"/>
								<span class="review-heading">Product Details</span>
							</div>
							<div class="col-md-12 body">
								<div ng-include ="'app/partials/contract/view-product-detail.html'"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 review-container">
							<div class="header sticky-block-view">
								<img src="distribution/images/contracts/Payment-Details-grey.png"/>
								<span class="review-heading">Pricing & Payment Details</span>
							</div>
							<div class="col-md-12 body">
								<div ng-include ="'app/partials/contract/view-payment-detail.html'"></div>
							</div>
						</div>
					</div>				
					
					<div class="col-xs-12 margin_30_bottom" ng-show="reportDetails" ng-form name="vo.voVerificationForm">
						<div class="col-xs-12 text-center tab-heading">
							<span class="view-sub-heading raleway_subheading">VERIFICATION REPORT</span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 review-container vo-report sub-container">
							
							<div class="col-xs-12" ng-include ="'app/partials/vo/general-report.html'"></div>
							
							<div class="col-xs-12" ng-hide="vo.reportStatus=='Rejected'" ng-include ="'app/partials/vo/confirmed-report.html'"></div>
							
							<div class="col-xs-12 review-heading text-left">Remarks</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<textarea class="form-control form_radius" rows="5" ng-model="vo.data.remarks"></textarea>
							</div>
						</div>
						
						<div class="col-xs-12 col-sm-12 col-md-12">
							<button ng-disabled="vo.voVerificationForm.disableSubmit||!vo.voVerificationForm.$valid" class="btn btn-md createroleButton btn_font_bold pull-right margin_bottom_10" ng-click="vo.submitVerificationReport()">Submit</button>
						</div>				
					</div>
					
					<div class="col-xs-12 margin_30_bottom" ng-show="remarksDetails">
						<div class="col-xs-12 col-sm-12 col-md-12 text-center contract-container border-bottom-contract padding_tb_20_10">
							<span class="view-sub-heading raleway_subheading">REMARKS</span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 text_left margin_bottom_20 margin_top_10">
							<span class="add-remarks font-900">Add Remarks</span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-md-1 remark_label">
								<span class="contract-label ">Remarks (Optional):</span>
							</div>
							<div class="col-md-11 padding-none margin_bottom_10">
								<textarea class="form-control form_radius" rows="5" id="comment" ng-model="vo.response.remarks"></textarea>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 border-bottom-contract padding_10">
							<button class="btn btn-md createroleButton btn_font_bold pull-right margin_bottom_10" ng-click="addRemark()">Add</button>
						</div>
						<div class="col-md-12">
							<span class="comment-remarks">Showing {{remarkList.length}} Remarks</span>
						</div>
						<div class="col-md-12 comment-text" ng-repeat="remark in remarkList">
						<!-- 18-Mar-2016 10.35PM -->
							<span class="col-md-12 comment-user">{{remark.recordedBy}} | {{remark.recorderDate}}</span>
							<span class="font-900">
								{{remark.remarks}}
							</span>
						</div>					
					</div>
					
					<div class="col-xs-12 margin_30_bottom sub-container"  ng-controller="ManageGridCtrl" ng-show="paymentDetails1">
						<div class="col-xs-12 col-sm-12 col-md-12 text-center contract-container padding_tb_20_10">
							<span class="view-sub-heading raleway_subheading">PAYMENT HISTORY</span>
						</div>
						<div class="col-xs-12 top_box padding-none margin_bottom_10">
							<div class="pull-left hidden-sm showing_margin">
								Showing {{showingStart}}-{{showingEnd}} of {{totalItemCount}} Records
							</div>
							<div class="pull-right showing_page padding-right-none border-none">
								<span>Showing Per Page</span>
								<select class="btn btn-dropdown btn-md dropdown-toggle" ng-model="selectedCnt"
				    				ng-options="noOfRecords for noOfRecords in recordsPerPage" ng-change="PageCntChange()">
				    				<option value="noOfRecords" ng-if="false">{{selectedCnt}}</option>
				    			</select>
					 		</div>
					    </div>
						<div class="col-xs-12 table-responsive contract-table padding-side-none">
						    <table class="table table-striped">
						        <thead>
						            <tr>
						               <!-- <th ng-repeat="(i,th) in paymentList" ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn($index+1)">{{th}}
						               </th> -->
						               
						               <th ng-repeat="(i,th) in paymentList" ng-mouseenter="activeColumn($index+1)" ng-mouseleave="deActiveColumn(i,$index+1)" ng-click="order(i,$index+1)" ng-class="selectedCls(i)">
						               		<ul>
						               			<li class="col-head-text">{{th}}</li>
						               			<li class="order-arrow">
							               			<ul>
							               				<i class="fa fa-chevron-up" ng-show="predicate == i  && reverse"></i>
							               				<i class="fa fa-chevron-down" ng-show="predicate == i  && !reverse"></i>
							               			</ul>
						               			</li>
						               		</ul>
						               </th>
						            </tr>
						        </thead>
						        <tbody>
						            <tr ng-repeat="row in payment">
						           		<td>{{row.lastPaymentDt}}</td>
						           		<td>{{row.paymentType}}</td>
						           		<td>{{row.paymentMethod}}</td>
						           		<td>{{row.paymentRefNum}}</td>
						           		<td>{{row.paymentMethod.toLowerCase()==='cheque'?row.chequeDt:row.lastPaymentDt}}</td>
						           		<td>{{row.collectedBy}}</td>
						           		<!-- <td>{{row.prevBalance}}</td> -->
						           		<td>{{row.paymentAmt}}</td>
						           		<td>{{row.orderDueAmt}}</td>
						           		<td>{{(row.statusDate===null)?'-':row.statusDate}}</td>
						           		<td>{{(row.bankInStatus===null)?'-':row.bankInStatus}}</td>
						            </tr>
						        </tbody>
						    </table>
						</div>
					</div>
				</div>
			</div>
	    </section>
	</div>
</div>