<div class="modal-body config-modal">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
		<h3 class="modal-title" id="gridModalLabel">Email Contract Form</h3>
	</div>
	<form name="emailStatment" ng-submit="sendEmail()" novalidate>
		<div class="modal-body">
			<div class="container-fluid bd-example-row">
				<div class="row">
				
				<!-- <div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-12 col-sm-12">
					<label class="contract-label ">Subject</label>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 margin_bottom_20">
					<input type="email" class="form-control contract-label form_radius" >
				</div> 
				</div> -->
				
					<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-12 col-sm-12">
					<label class="contract-label ">Recipient</label>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 margin_bottom_20">
					<input type="email" class="form-control contract-label form_radius" name="recipient" ng-model="recipient" ng-pattern="/^([A-Za-z0-9._]+[@]{1}[a-zA-Z0-9]+[.]{1}[a-zA-Z0-9]+[,]*)+$/" value="" ng-required="true"
					ng-class="emailStatment.recipient.$invalid && submitPressed?'emptyField':''">
					<span class="errorMsg" ng-show="emailStatment.recipient.$invalid && submitPressed">Please Enter Valid Email</span>
				</div> 
				</div>
	
					<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
						<label class="contract-label ">Message <span class="remarksColor">(Optional)</span></label>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom">
						<textarea class="form-control contract-label form_radius" rows="5" id="emailMessage" ng-model="message"></textarea>
					</div>	
				</div>
				</div>
			
			</div>
		</div>
	
		<div class="modal-footer">
			<div class="col-xs-12 text-center">
				<button class="btn btn-md cancelButton btn_font_bold" type="button" ng-click="cancel()">Cancel</button>
				<button class="btn btn-md btn_create_color btn_font_bold btn-yes" type="submit">Send Email</button>
			</div>
		</div>
	</form>
</div>