<div class="modal-body">
	<form name="deliveryClaimForm" ng-submit="close()" novalidate>
		<div class="row">
			<div class="col-xs-4">
				<div class="form-group">
					<label for="usr">From Week:</label> <select class="form-control" name="startWeek" ng-model="startWeek" ng-class="deliveryClaimForm.startWeek.$invalid && submitPressed?'emptyField':''" required>
						<option ng-repeat="x in weekList">{{x}}</option>
					</select>
					<span class="errorMsg" ng-show="deliveryClaimForm.startWeek.$invalid && submitPressed">Please Select A Week No.</span>
				</div>
			</div>
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<div class="form-group">
					<label for="usr">To Week:</label> <select class="form-control" name="endWeek" ng-model="endWeek" ng-class="deliveryClaimForm.endWeek.$invalid && submitPressed?'emptyField':''" required>
						<option ng-repeat="x in weekList">{{x}}</option>
					</select>
					<span class="errorMsg" ng-show="deliveryClaimForm.endWeek.$invalid && submitPressed">Please Select a Week No.</span>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="form-group">
					<label for="usr">Year:</label>  
					<input type="text" class="form-control" name="year" ng-model="year" ng-class="deliveryClaimForm.year.$invalid && submitPressed?'emptyField':''" ng-pattern="/^[0-9]{4}$/" required>
					<span class="errorMsg" ng-show="deliveryClaimForm.year.$invalid && submitPressed">Please Enter a Year</span>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="form-group">
					<label for="usr">Bin:</label>
					<input type="text" class="form-control" name="location" ng-model="location"  ng-change="getSuggestion()" ng-class="deliveryClaimForm.location.$invalid && submitPressed?'emptyField':''" required>
					<span class="errorMsg" ng-show="deliveryClaimForm.location.$invalid && submitPressed">Please Enter a Year</span>
				</div>
			</div>
			<div class="col-xs-12" ng-show="locationSuggestion">
				<ul class="list-group locationSuggestionBox">
    				<li class="list-group-item" ng-repeat="location in suggestionList" ng-click="getSelectedLocation(location)">{{location.locationName}}</li>
    			</ul>
			</div>
			<div class="col-xs-12">
				<div class="form-group">
					<label for="usr">VO Name:</label>  
					<input type="text" class="form-control" name="voNAme" ng-model="voNAme" ng-class="deliveryClaimForm.voNAme.$invalid && submitPressed?'emptyField':''" ng-change="getVOSuggestionList()" required>
					<span class="errorMsg" ng-show="deliveryClaimForm.voNAme.$invalid && submitPressed">Please Enter VO Name</span>
				</div>
			</div>
			<div class="col-xs-12" ng-show="showVOList">
				<ul class="list-group locationSuggestionBox">
    				<li class="list-group-item" ng-repeat="vo in voSuggestionList" ng-click="getSelectedVO(vo)">{{vo.voName}}</li>
    			</ul>
			</div>
			<div class="col-xs-12">
				<button type="submit" class="btn btn-md  adminButton pull-right">Submit</button>
				<button type="button" class="btn btn-md adminCancelButton pull-left"
					ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</form>
</div>
