<div class="loading-wrapper">
	<div class="loading-spiner" ng-show="loader"><img src="distribution/images/loader.gif" alt="Loading Icon"/></div>

	<div class="container create-contract" ng-hide="showCreateContract">
		<div class="row">
			<div class="col-xs-12 back-margin padding-xs">
				<a ui-sref="AdminBoard.ManageContract" class="back-link"> <i class="fa fa-angle-left"></i>&nbspBack to Manage Contracts
				</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 text-center">
				<h1 class="headingClass_Autoresponse raleway_subheading">{{contractHeader}}</h1>
			</div>
		</div>

		<div ng-if="isAdmin" class="row contract-container contract-topbar border-none border-bottom-contract padding-xs">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<span class="col-xs-4 col-sm-5 text-right padding_right_10 input_label"><span ng-hide="true">Contract Code | </span>Contract Date:</span>
					<span class="font-900 col-xs-7 col-sm-7 text-xs-left custom-date">
						<input type="text" class="form-control contract-label form_radius placeholder_italic" ng-model="adminCont.orderDate" maxlength="11" size="11" placeholder="dd/mon/yyyy" datepicker />
						<!-- <span ng-class="orderDateError ? 'hideError' : 'showError'">Please Select Contract Date</span> -->
					</span>
				</div>
				<div class="col-xs-12 col-sm-4">
					<span class="col-xs-4 col-sm-7 text-right padding_right_10 input_label">Sales Rep:</span>
					<span class="font-900 col-xs-7 col-sm-5 text-xs-left">
						<select class="form-control contract-label form_radius c-select" ng-model="adminCont.salesRepName" ng-class="salesRepError ? '' : 'emptyField'">
							<option value="">-Select-</option>
							<option ng-repeat="(key, value) in salesRepList" value="{{key}}">{{value}}</option>
						</select>
						<span ng-class="salesRepError?'hideError':'showError'">Please select a Sales Rep to proceed</span>
					</span>
				</div>
				<div class="col-xs-12 col-sm-4 input_label" ng-show="productCurrent||paymentCurrent">
					<span class="col-xs-4 col-sm-7 text-right padding_right_10">Customer Name:</span>
					<span class="font-900 col-xs-7 col-sm-5 text-xs-left">{{customerDetails.name}}</span>
				</div>
			</div>
			<div class="row payment-row">
				<div class="col-xs-12 col-sm-4 input_label" ng-show="paymentCurrent">
					<span class="col-xs-4 col-sm-7 text-right padding_right_10">Total Product Points:</span>
					<span class="font-900 col-xs-7 col-sm-5 text-left text-xs-left">{{getTotalPoints()}}</span>
				</div>
				<div class="col-xs-12 col-sm-4" ng-show="paymentCurrent">
					<span class="col-xs-4 col-sm-5 text-right padding_right_10 input_label">Delivery Date:</span>
					<span class="font-900 col-xs-7 col-sm-7 text-xs-left custom-date">
						<input type="text" class="form-control contract-label form_radius placeholder_italic" ng-model="adminCont.deliveryDate" maxlength="11" size="11" placeholder="dd/mon/yyyy" datepicker />
						<!-- <span ng-class="deliveryDateError ? 'hideError' : 'showError'">Please Select Delivery Date</span> -->
					</span>
				</div>
				<div class="col-xs-12 col-sm-4" ng-show="paymentCurrent">
					<span class="col-xs-4 col-sm-5 text-right padding_right_10">Commencement Date:</span>
					<span class="font-900 col-xs-7 col-sm-7 text-xs-left custom-date">
						<input type="text" class="form-control contract-label form_radius placeholder_italic" ng-model="adminCont.commenceMentDate" maxlength="11" size="11" placeholder="dd/mon/yyyy" datepicker />
						<!-- <span ng-class="comDateError ? 'hideError' : 'showError'">Please Select Commencement Date</span> -->
					</span>
				</div>
			</div>
		</div>
		<div ng-if="!isAdmin" class="row contract-container border-none border-bottom-contract padding-xs">
			<div class="col-xs-12 col-sm-3">
				<span class="col-xs-4 col-sm-7 text-right padding_right_10"><span ng-hide="true">Contract Code | </span>Date:</span>
				<span class="font-900 col-xs-7 col-sm-5 text-xs-left"><span ng-hide="true">{{customerDetails.customerCode}} | </span>{{getTodayDate()}}</span>
			</div>
			<div class="col-xs-12 col-sm-5" ng-hide="customerCurrent ||showCustomer">
				<span class="col-xs-4 col-sm-7 text-right padding_right_10">Customer Name:</span>
				<span class="font-900 col-xs-7 col-sm-5 text-xs-left">{{customerDetails.name}}</span>
			</div>
			<div class="col-xs-12 col-sm-4" ng-hide="customerCurrent ||showCustomer">
				<span class="col-xs-4 col-sm-7 text-right padding_right_10">Total Product Points:</span>
				<span class="font-900 col-xs-7 col-sm-5 text-left text-xs-left">{{getTotalPoints()}}</span>
			</div>
		</div>

		<div class="row contract-flow padding-xs">
			<div class="col-xs-2" ng-click="subContractMenu('customer','prev')">
				<img src="distribution/images/contracts/Customer-Details-icon.png" class="img-responsive center-block" ng-hide="customerCurrent ||showCustomer" ng-click="subContractMenu('product')"/>
				<img src="distribution/images/contracts/Customer-Details-active.png" class="img-responsive center-block" ng-show="customerCurrent ||showCustomer"/>
			</div>
			<div class="col-xs-3 line-through">&nbsp;</div>
			<div class="col-xs-2" ng-click="subContractMenu('product','prev')">
				<img src="distribution/images/contracts/Book_inactive.png" class="img-responsive center-block" ng-hide="productCurrent"/>
				<img src="distribution/images/contracts/Book_icon.png" class="img-responsive center-block" ng-show="productCurrent"/>
			</div>
			<div class="col-xs-3 line-through">&nbsp;</div>
			<div class="col-xs-2" ng-click="subContractMenu('payment','prev')">
				<img src="distribution/images/contracts/Payment-Details_icon.png" class="img-responsive center-block" ng-hide="paymentCurrent"/>
				<img src="distribution/images/contracts/Payment-Details-active.png" class="img-responsive center-block" ng-show="paymentCurrent"/>
			</div>
		</div>

		<div class="row contract-nav-text">
			<div class="col-xs-4">
				<span ng-class="{current_alink : customerCurrent || showCustomer}">Customer Details</span>
			</div>
			<div class="col-xs-4 text-center">
				<span ng-class="{current_alink : productCurrent}">Product Details</span>
			</div>
			<div class="col-xs-4 text-right">
				<span ng-class="{current_alink : paymentCurrent}">Pricing & Payment <span class="hidden-xs" ng-class="{current_alink : paymentCurrent}">Details</span></span>
			</div>
		</div>
		<div class="row margin_30_bottom text-center padding-xs" ng-show="showCustomer">
			<span class="customer-notify">Please enter any of the below to add or fetch the details for a customer.</span>
		</div>
		<div class="row total_content padding-xs-right" ng-show="showCustomer">
			<div class="col-xs-12">
				<div class="col-xs-4 col-sm-12 margin_bottom_10 text-left text-xs-right">
					<label class="contract-label">Customer ID</label>
				</div>
				<div class="col-xs-8 col-sm-12 margin_30_bottom ok-group">
					<div class="input-group" ng-class="{custom_input: showOkCustCode}">
						<input my-enter="checkCustId('custCode')" type="text" class="form-control contract-label form_radius" ng-focus="showOk('showOkCustCode')"ng-model="customerCode">
				        <span class="input-group-btn" ng-show="showOkCustCode">
				        	<button class="btn btn-primary" type="button" ng-click="checkCustId('custCode')">OK</button>
				     	</span>
					</div>
					<span class="hidden-xs customer-notify" ng-show="showOkCustCode">or Press Enter to Proceed</span>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-4 col-sm-12 margin_bottom_10 text-left text-xs-right">
					<label class="contract-label">Customer Name</label>
				</div>
				<div class="col-xs-8 col-sm-12 margin_30_bottom ok-group">
					<div class="input-group" ng-class="{custom_input: showOkCustName}">
						<input my-enter="checkCustId('custName')" type="text" class="form-control contract-label form_radius" ng-focus="showOk('showOkCustName')" ng-change="getCustomerList()" ng-model="customerName">
				        <span class="input-group-btn" ng-show="showOkCustName">
				        	<button class="btn btn-primary" type="button" ng-click="checkCustId('custName')">OK</button>
				     	</span>
					</div>
					<ul class="dropdown-menu prepopulate-list" id="prePopulateCustList">
						<li ng-repeat="customer in customerList" ng-click="selectTPrePopulate($index)">{{customer.customerName}} : {{(customer.dob==null?"-":customer.dob)}}</li>
					</ul>

					<span class="hidden-xs customer-notify" ng-show="showOkCustName">or Press Enter to Proceed</span>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-4 col-sm-12 margin_bottom_10 text-left text-xs-right">
					<label class="contract-label">IC No</label>
				</div>
				<div class="col-xs-8 col-sm-12 margin_30_bottom ok-group">
					<div class="input-group" ng-class="{custom_input: showOkIC}">
						<input my-enter="checkCustId('ic')" type="text" class="form-control contract-label form_radius" ng-focus="showOk('showOkIC')" ng-model="icNo" limit-char="20">
				        <span class="input-group-btn" ng-show="showOkIC">
				        	<button class="btn btn-primary" type="button" ng-click="checkCustId('ic')">OK</button>
				     	</span>
					</div>
					<span class="hidden-xs customer-notify" ng-show="showOkIC">or Press Enter to Proceed</span>
				</div>
			</div>
		</div>
		<div class="row contract-container border-none" ng-show="showCustomer">
			<div class="col-xs-12 reference-btn text-center padding-xs">
				<button class="btn cancelButton btn-md btn_font_bold" ng-click="redirect('AdminBoard.ManageContract')">Cancel</button>
			</div>
		</div>

		<!--Show Full customer-->
		<div class="row padding-xs" ng-show="customerCurrent">
			<div class="alert alert-success fade in margin_30_bottom network-notify" ng-show="networkSuccess||networkError">
				<!-- <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">x</a> -->
				<ul><li>{{alertMsg}}</li></ul>
			</div>

			<div ng-include ="'app/partials/contract/customer-detail.html'"></div>


			<div class="col-xs-12 col-sm-12 col-md-12 reference-btn">
				<span class="pull-left">
					<button class="btn btn-md contract-btn btn_font_bold" ng-click="redirect('AdminBoard.ManageContract')">Cancel</button>
					<!-- <img src="distribution/images/contracts/save-icon.png"> -->
				</span>
				<span class="pull-right">
					 <button class="btn btn-md createroleButton btn_font_bold contract-btn-next" ng-click="subContractMenu('product','next')">
						 <img src="distribution/images/contracts/Book_white.png" class="img_icon"/>Next
						 <img src="distribution/images/contracts/arrow_next_red.jpg" class="next_ar"/>
					 </button>
				</span>
			</div>
		</div>

		<!--Product Details-->

		<div class="row contract-table padding-xs" ng-show="productCurrent">
			<div id="prodError" style="color:red;display:none;">Please Select at least one Product to proceed.</div>
			<div ng-show="showProductDetailErr" style="color:red;">You can not select same product twice.</div>
			<!-- <div ng-include ="'app/partials/contract/product-detail.html'"></div> -->
			<table class="table table-bordered mobile-bordered-tbl">
				<thead class="thead">
				<tr>
					<th class="width-sno text-center" style="width:6%">Sr No.</th>
					<th class="width-product text-left" style="width:30%">Product</th>
					<th class="width-product text-center" style="width:10%">Points</th>
					<th class="width-qty text-center" style="width:20%">Quantity</th>
					<th class="width-actn text-center" style="width:10%">Actions</th>
				</tr>
				</thead>
				<tbody class="text-center">
				<tr ng-repeat='x in productDetails track by $index' id="$index+'row'">
					<td><span class="numb">{{$index+1}}.</span></td>
					<td>
						<select class="form-control contract-label form_radius c-select hidden-sm hidden-xs hidden-lg"  ng-class="(productDetailErr[$index])?'emptyField':''" ng-model="myprod.selProductDetails[$index]" ng-options="product as product.legacyCode for product in productList1 track by product.itemId" ng-change="selectProductMobile(myprod.selProductDetails[$index], $index)">
							<option font-900ue="" value="" ng-hide="hideOption">-Select-</option>
						</select>

						<div class="col-xs-12">
							<button type="button" class="btn btn-md dropdown-toggle form-control c-select margin_10 mobile-prod-sel" ng-class="(productDetailErr[$index])?'emptyField':''" data-toggle="dropdown" ng-model="myprod.selProductDetails[$index]" >
								<nobr>{{(myprod.selProductDetails[$index]==undefined || myprod.selProductDetails[$index]=='')?'-Select-':myprod.selProductDetails[$index]}}</nobr>
							</button>
							<ul class="dropdown-menu prepopulate-list fixedHeightDropDown scrollbar">
								<li class="no-effect">
									<div class="right-inner-addon search_bg">
										<i class="fa fa-search search_icon" aria-hidden="true"></i>
										<input type="search" class="form-control search_radius placeholder_italic no-hover" placeholder="Search" ng-model="selDetails[$index]" />
									</div>
								</li>
								<li ng-repeat="product in productList1|filter:selDetails[$index]" class="margin_12" ng-click="selectProduct(product, $parent.$index, $index)">{{product.legacyCode}}</li>
							</ul>
							<br>
							<span class="font-700">{{productDetails[$index].productName}}</span>
						</div>
					</td>
					<td>
						<div class="points"><span>{{productDetails[$index].productPoints}}</span></div>
					</td>

					<td>
						<div class="spinner">
							<a  ng-click="decrementer(productDetails[$index].quantity,$index)">
								<i class="fa fa-minus"></i>
							</a>
							<input type="nmber" class="form-control contract-label" ng-model="productDetails[$index].quantity" min=0 data-rule="quantity" allow-pattern="\d" ng-paste="$event.preventDefault()" ng-show="showRemoveProdBtn" ng-change="changeQuantity(productDetails[$index].quantity,$index)">
							<a ng-click="incrementer(productDetails[$index].quantity,$index)">
								<i class="fa fa-plus"></i>
							</a>
						</div>
					</td>
					<td class="product_action">
						<img class="fa-times" src="distribution/images/contracts/decline_inactive.png" ng-click="removeProductRow($index)" ng-show="showRemoveProdBtn">
						<img class="fa-plus" src="distribution/images/contracts/Add_icon.png" ng-show="checkContProdAddBtn($index)" ng-click="addProductRow()">
					</td>
				</tr>
				<tr>
					<td colspan="2" class="text-right"><strong>Total</strong></td>
					<td colspan="1">{{getTotalPoints()}}</td>
					<td colspan="1">{{totalQty}}</td>
					<td colspan="1"></td>
				</tr>
				</tbody>
			</table>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="col-xs-12 col-sm-12 col-md-12 padding_right15 margin_bottom_10">
					<label class="contract-label ">Remarks (Optional)</label>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom">
					<textarea class="form-control contract-label form_radius placeholder_italic" rows="5" id="comment1" ng-model="remarks.remarkProduct" placeholder="Please Mention the products that are under promotions or being given as free gifts..." limit-char="400"></textarea>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 reference-btn">
				<span class="pull-left">
					<button class="btn btn-md contract-btn btn_font_bold" ng-click="redirect('AdminBoard.ManageContract')">Cancel</button>
					<!-- <img src="distribution/images/contracts/save-icon.png"> -->
				</span>
				<span class="pull-right text-right">
					 <button class="btn btn-md btn-default contract-prev" ng-click="subContractMenu('customer','prev')">
						 <img src="distribution/images/contracts/arrow_prev_gray.jpg" class="prev_arr"/>
						 <img src="distribution/images/contracts/Customer-Details-gray.png" class="img_icon"/>Previous
					 </button>
					 <button class="btn btn-md createroleButton btn_font_bold contract-btn-next" ng-click="subContractMenu('payment','next')">
						 <img src="distribution/images/contracts/Payment-Details_white.png" class="img_icon"/>Next
						 <img src="distribution/images/contracts/arrow_next_red.jpg" class="next_ar"/>
					 </button>
				</span>
			</div>
		</div>

		<!--pricing &payment details-->
		<div class="row padding-xs" ng-show="paymentCurrent">
			<!-- <div ng-include ="'app/partials/contract/payment-detail.html'"></div> -->
			<div class="col-xs-12">
				<div class="col-xs-12 col-sm-5">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Price List Code</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<select class="form-control contract-label form_radius c-select" ng-model="pricing.priceListCode" ng-options="priceListCode for priceListCode in priceListCodeList" ng-change="((priceListCodeError==false)?(priceListCodeError=true):'');getTerms();"  ng-class="priceListCodeError ? '' : 'emptyField'">
							<option value="">-Select-</option>
						</select>
						<span ng-class="priceListCodeError ? 'hideError' : 'showError'">Please Select a Price List Code</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-5 col-sm-offset-2">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Terms</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<select class="form-control contract-label form_radius c-select" ng-model="pricing.terms" ng-options="terms for terms in installmentList" ng-change="(termsError==false?termsError=true:'');getPointList();" ng-class="termsError ? '' : 'emptyField'">
							<!-- <option font-900ue="" ng-if="false">-Select-</option> -->
							<option value="">-Select-</option>
						</select>
						<span ng-class="termsError ? 'hideError' : 'showError'">Please Select a Term</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-12 col-sm-5">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Points</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<!-- <input type="text" class="form-control contract-label form_radius allownumericwithdecimal" ng-model="pricing.points" ng-change="getPricingDetails()" ng-class="pricingPointsError ? '' : 'emptyField'" ng-paste="$event.preventDefault()"> -->
						<select class="form-control contract-label form_radius c-select" ng-model="pricing.points" ng-options="points for points in pointList" ng-change="(pricingPointsError==false?pricingPointsError=true:'');getPricingDetails();" ng-class="pricingPointsError ? '' : 'emptyField'">
							<!-- <option font-900ue="" ng-if="false">-Select-</option> -->
							<option value="">-Select-</option>
						</select>

						<span ng-class="pricingPointsError ? 'hideError' : 'showError'">Please Enter a valid Point</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-5 col-sm-offset-2">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Total Order Amount</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<input type="text" class="form-control contract-label form_radius" ng-model="pricing.totalAmountOrder" ng-disabled="true">
					</div>
				</div>
			</div>
			<div class="col-xs-12 margin_bottom_120" ng-hide="paymentDetailsShow"></div>

			<div class="col-xs-12 col-sm-12 col-md-12 border-bottom-contract margin_bottom_20" ng-show="paymentDetailsShow"></div>

			<div class="col-xs-12 col-sm-5 col-md-5" ng-show="paymentDetailsShow">
				<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom text-xs-left text-center">
					<span class="stepName stepName_font contract-font">DOWNPAYMENT 1</span>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Amount Collected</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<input type="text" class="form-control contract-label form_radius allownumericwithdecimal" numbers-only ng-model="pricing.downpayment1" ng-blur="generateAmount('dp1')" ng-class="dp1Error ? '' : 'emptyField'" ng-paste="$event.preventDefault()" ng-change="dp1Error==false?dp1Error=true:''" ng-disabled="dp1Disabled">
						<span ng-class="dp1Error ? 'hideError' : 'showError'">Please Enter a valid amount</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Method of Payment</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<select class="form-control contract-label form_radius c-select" ng-model="pricing.methodOfPaymentDP1" ng-options="method for method in methodOfPaymentList" ng-class="methodOfDp1Error ? '' : 'emptyField'" ng-change="methodOfDp1Error==false?methodOfDp1Error=true:''">
								<option value="">-Select-</option>
							</select>
							<span ng-class="methodOfDp1Error ? 'hideError' : 'showError'">Please Select a Method Of Payment</span>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12" ng-show="pricing.methodOfPaymentDP1=='Credit Card'">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Clearing From</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<select class="form-control contract-label form_radius c-select arrow_remove" ng-model="pricing.bankDp1" name="bankName" ng-class="bankDp1Error ? '' : 'emptyField'" ng-change="bankDp1Error==false?bankDp1Error=true:''" ng-options="bank as bank.accountName for bank in bankList">
								<option value="">-Select-</option>
							</select>
							<span ng-class="bankDp1Error ? 'hideError' : 'showError'">Please Select a Bank Name</span>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12" ng-show="pricing.methodOfPaymentDP1.toLowerCase()=='cheque'">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label">Cheque Date</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<div class="col-xs-12 col-sm-12 col-md-12 custom-date buttonToolbar">
							<input maxlength="11" size="11" placeholder="dd-mon-yyyy" datepicker type="text" class="form-control form_radius" ng-model="chequeDate" ng-change="updatechequeDateparial()" ng-class="cheque1Error && cheque2Error ? '':'emptyField'">
						</div>
						<span class="errorMsg" ng-class="cheque1Error ? 'hideError' : 'showError'">Please select a valid Date.</span>
						<span class="errorMsg" ng-class="cheque2Error ? 'hideError' : 'showError'">Cheque Date cant be more than 6 months old and can not be a future date.</span>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Reference No.</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<input type="text" class="form-control contract-label form_radius" ng-model="pricing.paymentRefNum" ng-class="refNoError ? '' : 'emptyField'" ng-change="refNoError==false?refNoError=true:''" limit-char="30">
						<span ng-class="refNoError ? 'hideError' : 'showError'">Please Enter a Reference Number</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Sales Rep Contribution</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<div class="onoffswitch onoffswitch-yesno flt-left">
							<input type="checkbox" name="onoffswitch"
								   class="onoffswitch-checkbox" id="onoffswitch_sr"
								   ng-model="pricing.salesRepContribution" ng-change="toggleSalesRep()" ng-disabled="pricing.salesRepContributionAmt"> <label class="onoffswitch-label"
																												for="onoffswitch_sr"> <span
								class="onoffswitch-inner onoffswitch-inner-sr"></span> <span class="onoffswitch-switch"></span>
						</label>
						</div>
						<input type="text" class="form-control placeholder_italic switch-input contract-label form_radius ng-pristine ng-untouched ng-valid ng-empty allownumericwithdecimal" numbers-only placeholder="Enter a Amount" ng-model="pricing.salesRepContributionAmt" ng-show="pricing.salesRepContribution" ng-change="generateAmount()"  ng-class="contributionError ? '' : 'emptyField'" ng-paste="$event.preventDefault()" ng-change="contributionError==false?contributionError=true:''">
						<span ng-class="contributionError ? 'hideError' : 'showError'">Please Enter a valid amount</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12" ng-show="pricing.salesRepContribution">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Pay by</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<div class="onoffswitch onoffswitch-payby margin_bottom_20">
							<input type="checkbox" name="onoffswitch-payby"
								   class="onoffswitch-checkbox" id="onoffswitch-pricing-payby" ng-disabled="true"
								   ng-model="pricing.payby" checked> <label class="onoffswitch-label"
																			for="onoffswitch-pricing-payby"> <span
								class="onoffswitch-inner onoffswitch-inner-sr"></span> <span class="onoffswitch-switch"></span>
						</label>
						</div>
					</div>
				</div>

				<!-- <div class="col-xs-12 col-sm-12 col-md-12" ng-show="salesRepContribution">
						<div class="col-xs-12">
							<label class="contract-label ">Pay by</label>
						</div>
						<div class="col-xs-8 col-sm-12 col-md-12 margin_bottom_20">
						<div class="onoffswitch onoffswitch-pay">
							<input type="checkbox" name="onoffswitch"
								class="onoffswitch-checkbox" id="onoffswitch_payby"
								ng-model="pricing.commission"> <label class="onoffswitch-label"
								for="onoffswitch_payby"> <span
								class="onoffswitch-inner onoffswitch-inner-pay"></span>
								<span class="onoffswitch-switch onoffswitch-switch-pay"></span>
							</label>
						</div>
						</div>
				</div> -->
			</div>

			<div class="col-xs-12 col-sm-5 col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-2" ng-show="paymentDetailsShow">
				<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom text-xs-left text-center">
					<span class="stepName stepName_font contract-font">DOWNPAYMENT 2 UPON DELIVERY</span>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Down Payment 2 Upon Delivery</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<input type="text" class="form-control contract-label form_radius" ng-model="pricing.downpayment2" ng-disabled="true">
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Payment Period</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<input type="text" class="form-control contract-label form_radius" ng-model="bank.bankId" ng-disabled="true">
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">{{text.instalmentAmountLbl}}</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<input type="text" class="form-control contract-label form_radius" ng-model="pricing.installmentAmt" ng-disabled="true">
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">{{text.paymentMethodDP2Lbl}}</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<select class="form-control contract-label form_radius c-select" ng-model="pricing.methodOfPaymentDP2" ng-options="method for method in methodOfPaymentList" ng-class="dp2MethodError ? '' : 'emptyField'" ng-change="dp2MethodError==false?dp2MethodError=true:''">
							<option value="">-Select-</option>
						</select>
						<span ng-class="dp2MethodError ? 'hideError' : 'showError'">Please Select a Method Of Payment</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="col-xs-4 col-sm-12 text-xs-right">
						<label class="contract-label ">Method for Installment</label>
					</div>
					<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
						<select class="form-control contract-label form_radius c-select" ng-model="instalmethod" ng-options="method for method in methodOfPaymentList">
							<option value="">-Select-</option>
						</select>
					</div>
				</div>
				<!-- <div class="col-xs-12 col-sm-12 col-md-12" ng-show="pricing.methodOfPaymentDP2=='Credit Card' || pricing.methodOfPaymentDP2=='Online Payment'">
                            <div class="col-xs-4 col-sm-12 text-xs-right">
                                <label class="contract-label ">Clearing From</label>
                            </div>
                            <div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <select class="form-control contract-label form_radius c-select arrow_remove" ng-model="pricing.bankDp2" name="bankName" ng-class="bankDp2Error ? '' : 'emptyField'" ng-change="bankDp2Error==false?bankDp2Error=true:''" ng-options="bank as bank.accountName for bank in bankList">
                                            <option value="">-Select-</option>
                                        </select>
                                    <span ng-class="bankDp2Error ? 'hideError' : 'showError'">Please Select a Bank Name</span>
                                </div>
                            </div>
                    </div> -->
			</div>

			<div class="col-xs-12 product-notify margin_bottom_20" ng-show="paymentDetailsShow">
				<div class="col-xs-2 width_auto"><img src="distribution/images/contracts/comment_icon.png"/></div>
				<div class="col-xs-10 notify-text">Products will be delivered in 4-7 working days.</div>
			</div>

			<div class="col-xs-12 col-sm-5 col-md-5" ng-show="paymentDetailsShow">
				<div class="col-xs-4 col-sm-12 text-xs-right">
					<label class="contract-label ">Campaign Code (Optional)</label>
				</div>
				<div class="col-xs-7 col-sm-12 col-md-12 margin_bottom_20">
					<input type="text" class="form-control contract-label form_radius" ng-model="campaignCode" limit-char="200" >
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12" ng-show="paymentDetailsShow">
				<div class="col-xs-12">
					<label class="contract-label ">Remarks (Optional)</label>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 margin_30_bottom">
					<textarea class="form-control form_radius" rows="5" id="comment" ng-model="remarks.remarkPricing" limit-char="400"></textarea>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 reference-btn">
				<span class="pull-left">
					<button class="btn btn-md contract-btn btn_font_bold" ng-click="redirect('AdminBoard.ManageContract')">Cancel</button>
					<!-- <img src="distribution/images/contracts/save-icon.png"> -->
				</span>
				<span class="pull-right">
					<button class="btn btn-md btn-default contract-prev" ng-click="subContractMenu('product','prev')">
						<img src="distribution/images/contracts/arrow_prev_gray.jpg" class="prev_arr"/>
						<img src="distribution/images/contracts/Book_gray.png" class="img_icon"/>Previous
					</button>
					<button class="btn btn-md createroleButton btn_font_bold contract-btn-next" ng-click="subContractMenu('reviewContract','next')">
						<img src="distribution/images/contracts/save_icon.png" class="img_icon"/>Next
						<img src="distribution/images/contracts/arrow_next_red.jpg" class="next_ar"/>
					</button>
				</span>
			</div>

		</div>
	</div>

	<div class="container review-container-wraper" ng-hide="!showCreateContract">
		<div class="row">
			<div class="col-xs-12 back-margin padding-xs">
				<a ui-sref="AdminBoard.ManageContract" class="back-link"> <i class="fa fa-angle-left"></i>&nbspBack to Manage Contracts
				</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 text-center padding-xs">
				<h1 class="headingClass_Autoresponse raleway_subheading">{{customerDetails.customerCode}}
					<span class="hidden-xs">|</span>
					<span class="sub-heading">{{common.todayDate}}</span>
				</h1>
			</div>
		</div>
		<div class="row padding-xs">
			<div ng-if="isAdmin" class="col-xs-12 col-sm-12 col-md-12 review-container">
				<img src="distribution/images/contracts/edit_icon.png" class="edit-img pull-right review-edit" ng-click="editPreview()"/>
				<div class="col-xs-12 body" ng-hide="editContractCustomerDetail">
					<div class="col-xs-12 col-sm-6">
						<div class="col-xs-12 margin_bottom_15">
							<div class="col-xs-4 col-sm-5 text-right margin_right_10">Contract Date:</div>
							<div class="col-xs-7 col-sm-6"><strong>{{adminCont.orderDate}}</strong></div>
						</div>
						<div class="col-xs-12 margin_bottom_15">
							<div class="col-xs-4 col-sm-5 text-right margin_right_10">Sales Rep:</div>
							<div class="col-xs-7 col-sm-6"><strong>{{salesRepList[adminCont.salesRepName]}}</strong></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="col-xs-12 margin_bottom_15">
							<div class="col-xs-4 col-sm-5 text-right margin_right_10">Delivery Date:</div>
							<div class="col-xs-7 col-sm-6"><strong>{{adminCont.deliveryDate}}</strong></div>
						</div>
						<div class="col-xs-12 margin_bottom_15">
							<div class="col-xs-4 col-sm-5 text-right margin_right_10">Commencement Date:</div>
							<div class="col-xs-7 col-sm-6"><strong>{{adminCont.commenceMentDate}}</strong></div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 body" ng-show="editContractCustomerDetail">
					<div class="col-xs-12 col-sm-6">
						<div class="col-xs-12 margin_bottom_15">
							<div class="col-xs-4 col-sm-5 text-right margin_right_10 input_label">Contract Date:</div>
							<div class="col-xs-7 col-sm-6 custom-date">
								<input type="text" class="form-control contract-label form_radius placeholder_italic" ng-model="adminCont.orderDate" maxlength="11" size="11" placeholder="dd/mon/yyyy" datepicker />
								<!-- <span ng-class="orderDateError ? 'hideError' : 'showError'">Please Select Contract Date</span> -->
							</div>
						</div>
						<div class="col-xs-12 margin_bottom_15">
							<div class="col-xs-4 col-sm-5 text-right margin_right_10 input_label">Sales Rep:</div>
							<div class="col-xs-7 col-sm-6">
								<select class="form-control contract-label form_radius c-select" ng-model="adminCont.salesRepName">
									<option ng-repeat="(key, value) in salesRepList" value="{{key}}">{{value}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="col-xs-12 margin_bottom_15">
							<div class="col-xs-4 col-sm-5 text-right margin_right_10 input_label">Delivery Date:</div>
							<div class="col-xs-7 col-sm-6 custom-date">
								<input type="text" class="form-control contract-label form_radius placeholder_italic" ng-model="adminCont.deliveryDate" maxlength="11" size="11" placeholder="dd/mon/yyyy" datepicker />
								<!-- <span ng-class="deliveryDateError ? 'hideError' : 'showError'">Please Select Delivery Date</span> -->
							</div>
						</div>
						<div class="col-xs-12 margin_bottom_15">
							<div class="col-xs-4 col-sm-5 text-right margin_right_10 input_label">Commencement Date:</div>
							<div class="col-xs-7 col-sm-6 custom-date">
								<input type="text" class="form-control contract-label form_radius placeholder_italic" ng-model="adminCont.commenceMentDate" maxlength="11" size="11" placeholder="dd/mon/yyyy" datepicker />
								<!-- <span ng-class="comDateError ? 'hideError' : 'showError'">Please Select Commencement Date</span> -->
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 review-container">
				<div class="header sticky-block">
					<img src="distribution/images/contracts/Customer-Details-gray.png"/>
					<span class="review-heading">Customer Details</span>
					<img src="distribution/images/contracts/edit_icon.png" class="edit-img pull-right" ng-click="editPreview()"/>
				</div>
				<div class="col-xs-12 body" ng-hide="editContractCustomerDetail">

					<div class="col-xs-12">
						<div class="col-xs-12 col-sm-6">
							<div class="col-xs-12 margin_bottom_15" ng-hide="customerDetails.customerCode==null">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Customer ID:</div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{customerDetails.customerCode}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_15">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Customer Name:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{customerDetails.name}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_15" ng-hide="customerDetails.icNo==null">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>IC Number:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{customerDetails.icNo}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_15" ng-hide="customerDetails.race==null && customerDetails.race==undefined">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Race:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{customerDetails.race}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_20" ng-hide="common.formatedDob==null && common.formatedDob==undefined && common.formatedDob==''">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Date of Birth:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{common.formatedDob}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="col-xs-12 margin_bottom_15">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Email:</div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{customerDetails.email}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_15">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Phone:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{dialCode}} - {{customerDetails.phonoNo}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_20">
								<div  class="col-xs-4 col-sm-6 text-right margin_bottom_20 padding_right_10"><span>Home Address:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900 address"><p>{{customerDetails.homeAddressLine1}}, {{customerDetails.homeAddressLine2}}, </p><p>{{customerDetails.homeCity}}, {{customerDetails.homeState}}, {{customerDetails.homeCountry}}, </p><p>{{customerDetails.homePinCode}}</p></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 margin_top_30">
						<div class="col-xs-12 col-sm-6 margin_bottom_15">
							<div class="col-xs-12 margin_bottom_15" ng-hide="customerDetails.company==null" >
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Company:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{customerDetails.company}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_15" ng-hide="customerDetails.desg==null">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Designation:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{customerDetails.desg}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_20">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Customer is Tax Exempted:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{(customerDetails.excempted)?"Yes":"No"}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="col-xs-12 margin_bottom_20" ng-hide="customerDetails.compAddressLine1==null">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Company Address:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900 address" ><p>{{customerDetails.compAddressLine1}}, {{customerDetails.compAddressLine2}}, </p><p>{{customerDetails.compCity}}, {{customerDetails.compState}}, {{customerDetails.compCountry}}, </p><p>{{customerDetails.compPinCode}}</p></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 review-reference" ng-hide="customerDetails.relationships.length==0">
						<div class="col-xs-12 review-sub-heading margin_bottom_20">Reference Details</div>

						<div class="col-xs-12" ng-repeat="rel in customerDetails.relationships">
							<div class="col-xs-12 col-sm-6">
								<div class="col-xs-12 margin_bottom_15">
									<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Relationship:</div>
									<div  class="col-xs-7 col-sm-6">
										<span class="font-900">{{rel.relation}}</span>
									</div>
								</div>
								<div class="col-xs-12 margin_bottom_15">
									<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Name:</span></div>
									<div  class="col-xs-7 col-sm-6">
										<span>{{rel.name}}</span>
									</div>
								</div>
								<div class="col-xs-12 margin_bottom_15">
									<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Phone:</span></div>
									<div  class="col-xs-7 col-sm-6">
										<span>(({{dialCode}} - {{rel.phoneNo}}</span>
									</div>
								</div>
								<div class="col-xs-12 margin_bottom_15">
									<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Email:</span></div>
									<div  class="col-xs-7 col-sm-6">
										<span>{{rel.email}}</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="col-xs-12 margin_bottom_15">
									<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Address:</span></div>
									<div  class="col-xs-7 col-sm-6">
										<span class="address"><p>{{rel.addressLine1}},{{rel.addressLine2}}, </p><p>{{rel.cityName}}, {{rel.stateName}}, {{rel.country.countryName}}, </p><p>{{rel.pinCode}}</p></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12" ng-hide="remarks.remarkCustomer==null && remarks.remarkCustomer==''">
						<div class="col-xs-4 col-sm-3 col-md-2 margin_right_10">
							<span>Remarks (Optional):</span>
						</div>
						<div class="col-xs-7 col-sm-8 col-md-9">
							<span class="font-900">{{remarks.remarkCustomer}}</span>
						</div>
					</div>
				</div>
				<div class="col-xs-12 body" ng-show="editContractCustomerDetail">
					<div ng-include ="'app/partials/contract/customer-detail.html'"></div>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 review-container">
				<div class="header sticky-block">
					<img src="distribution/images/contracts/Book_gray.png"/>
					<span class="review-heading">Product Details</span>
					<img src="distribution/images/contracts/edit_icon.png" class="edit-img pull-right" ng-click="editPreview()"/>
				</div>
				<div class="col-xs-12 body" ng-hide="editContractCustomerDetail">
					<div class="col-xs-12 padding_5">
						<div class="col-xs-5 col-xs-offset-1 font-900">Products</div>
						<div class="col-xs-2 text-center font-900">Points</div>
						<div class="col-xs-2 text-center font-900">Qty</div>
					</div>
					<div class="col-xs-12 padding_5" ng-repeat="product in productDetails track by $index">
						<div class="col-xs-5 col-xs-offset-1"><span class="font-900">{{$index+1}}. {{product.productId}}</span> {{product.productName}}</div>

						<div class="col-xs-2 text-center">{{product.productPoints}}</div>
						<div class="col-xs-2 text-center">{{product.quantity}} Nos</div>
					</div>
					<div class="col-xs-12 padding_5 margin_bottom_15">
						<div class="col-xs-5 col-xs-offset-1">Total</div>
						<div class="col-xs-2 text-center font-900">{{getTotalPoints()}}</div>
						<div class="col-xs-2 text-center font-900">{{totalQty}} Nos</div>
					</div>
					<div class="col-xs-12 prod_remarks" ng-hide="remarks.remarkProduct==null && remarks.remarkProduct==''">
						<div class="col-xs-4 col-sm-3 col-md-2 margin_right_10">
							<span>Remarks (Optional):</span>
						</div>
						<div class="col-xs-7 col-sm-8 col-md-9">
							<span class="font-900">{{remarks.remarkProduct}}</span>
						</div>
					</div>
				</div>
				<div class="col-xs-12 body contract-table" ng-show="editContractCustomerDetail">
					<div ng-include ="'app/partials/contract/product-detail.html'"></div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 review-container">
				<div class="header sticky-block">
					<img src="distribution/images/contracts/Payment-Details-grey.png"/>
					<span class="review-heading">Pricing & Payment Details</span>
					<img src="distribution/images/contracts/edit_icon.png" class="edit-img pull-right" ng-click="editPreview()"/>
				</div>
				<div class="col-xs-12 body" ng-hide="editContractCustomerDetail">
					<div class="col-xs-12 col-sm-6">
						<div class="col-xs-12 margin_bottom_15">
							<div  class="col-xs-4 col-sm-5 text-right margin_right_10">PriceList Code:</div>
							<div  class="col-xs-7 col-sm-6">
								<span class="font-900">{{pricing.priceListCode}}</span>
							</div>
						</div>
						<div class="col-xs-12 margin_bottom_15">
							<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Points:</span></div>
							<div  class="col-xs-7 col-sm-6">
								<span class="font-900">{{pricing.points}}</span>
							</div>
						</div>
						<div class="row margin_bottom_20">
							<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Terms:</span></div>
							<div  class="col-xs-7 col-sm-6">
								<span class="font-900">{{pricing.terms}}</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="col-xs-12 margin_bottom_15">
							<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Total Order Amount:</span></div>
							<div  class="col-xs-7 col-sm-6">
								<span class="font-900">{{pricing.totalAmountOrder}}</span>
							</div>
						</div>
						<div class="col-xs-12 margin_bottom_15">
							<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Total Instalment Amount:</span></div>
							<div  class="col-xs-7 col-sm-6">
								<span class="font-900">{{pricing.totalInstallmentAmount}}</span>
							</div>
						</div>
						<div class="row margin_bottom_20">
							<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Outstanding Balance:</span></div>
							<div  class="col-xs-7 col-sm-6">
								<span class="font-900">{{pricing.totalOutstandingBalance}}</span>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6">
						<div class="col-xs-12 review-heading review-sub-heading margin_bottom_20">
							<div class="col-xs-12 text-center text-xs-left">Downpayment 1</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-12 margin_bottom_15">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Amount Collected:</div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{pricing.downpayment1}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_15">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Method of Payment:</div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{pricing.methodOfPaymentDP1}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_15" ng-show="pricing.methodOfPaymentDP1=='Credit Card'">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Clearing From:</div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{pricing.bankDp1.accountName}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_15" ng-show="pricing.methodOfPaymentDP1=='Cheque'">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Cheque Date:</div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{chequeDate}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_15" ng-show="pricing.salesRepContribution">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Sales Rep Contribution:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{pricing.salesRepContributionAmt}}</span>
								</div>
							</div>
							<div class="row margin_bottom_20" ng-show="pricing.salesRepContribution">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Pay by:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{(pricing.payby)? 'Commission' : 'Cash'}}</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6">
						<div class="col-xs-12 review-heading review-sub-heading margin_bottom_20">
							<div class="col-xs-12 text-center text-xs-left">Downpayment 2 Upon Delivery</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-12 margin_bottom_15">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Downpayment 2 Upon Delivery:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{pricing.downpayment2}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_15">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Payment Period:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{bank.bankId}}</span>
								</div>
							</div>
							<div class="col-xs-12 margin_bottom_15">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>{{text.instalmentAmountLbl}}:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{pricing.installmentAmt}}</span>
								</div>
							</div>
							<div class="row margin_bottom_20">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10"><span>Method of Payment:</span></div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{pricing.methodOfPaymentDP2}}</span>
								</div>
							</div>
							<!-- <div class="col-xs-12 margin_bottom_15" ng-show="pricing.methodOfPaymentDP2=='Credit Card' || pricing.methodOfPaymentDP2=='Online Payment'">
								<div  class="col-xs-4 col-sm-5 text-right margin_right_10">Clearing From:</div>
								<div  class="col-xs-7 col-sm-6">
									<span class="font-900">{{pricing.bankDp2.accountName}}</span>
								</div>
							</div> -->
						</div>
					</div>

					<div class="col-xs-12 product-notify margin_bottom_20">
						<div class="col-xs-2 width_auto"><img src="distribution/images/contracts/comment_icon.png"/></div>
						<div class="col-xs-10 notify-text">Products will be delivered in 4-7 working days.</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12" ng-hide="remarks.remarkPricing==null && remarks.remarkPricing==''">
						<div class="col-xs-4 col-sm-3 col-md-2 margin_right_10">
							<span>Remarks (Optional):</span>
						</div>
						<div class="col-xs-7 col-sm-8 col-md-9">
							<span class="font-900">{{remarks.remarkPricing}}</span>
						</div>
					</div>
				</div>
				<div class="col-xs-12 body" ng-show="editContractCustomerDetail">
					<div ng-include ="'app/partials/contract/payment-detail.html'"></div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 review-container">

				<div class="header sticky-block">
					<img src="distribution/images/contracts/Book_gray.png"/>
					<span class="review-heading">Customer Agreement</span>
					<!-- <img src="distribution/images/contracts/edit_icon.png" class="edit-img pull-right" ng-click="editPreview()"/> -->
				</div>

				<div class="col-xs-12 body">
					<div class="col-xs-12 margin_bottom_10"><span>Sales Representative is not allowed to collect any installment or cash on behalf of the company (except the initial payment or down payment1). No cash discount is allowed to given by a sales representative after this agreement is signed.</span>
                    <br><br>
						<div class="centerTest">
							<span class="cooling-off">This contract is subject to a cooling-off period of ten working days.</span></div></div>
					<div class="checkbox cust-chkbox white-checkbox col-xs-12">
						<label>
							<input type="checkbox" name="review_terms" ng-model="review_terms" value="true"><span><span></span></span>I, {{customerDetails.name}} hereby agree to the <a href="javascript:void(0)">terms and conditions</a> and <a href="javascript:void(0)">Privacy policy</a> terms of Grolier</label>
					</div>
					<span ng-class="review_termsError ? 'hideError' : 'showError'">Customer must agree to the terms and conditions.</span>

				</div>


			</div>
		</div>
		<div class="row reference-btn padding-xs">
			<span class="col-xs-4 col-sm-2 pull-left">
				<button class="btn btn-md contract-btn btn_font_bold" ng-click="redirect('AdminBoard.ManageContract')">Cancel</button>
				 <!--<img class="pull-right visible-xs visible-sm" src="distribution/images/contracts/save-icon.png" ng-click="saveDraft()">-->
			</span>
			<span class="col-xs-4 col-sm-2 pull-left">
				<button class="btn btn-md btn-default contract-prev" ng-click="subContractMenu('payment','prev')">
					<img src="distribution/images/contracts/arrow_prev_gray.jpg" class="prev_arr"/>
					<img src="distribution/images/contracts/Payment-Details_white.png" class="img_icon"/>Previous
				</button>
			</span>
			<span class="pull-right">
				 <button class="btn btn-md createroleButton btn_font_bold contract-btn-next" ng-click="final()">Save & Submit</button>
			</span>
		</div>
	</div>
</div>

