<div class="container-fluid">
  <div class="row">
    <div class="pull-left" ng-if="headerItems.hamburgerMenu">
		<button type="button" id="hamburger" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav" ng-click="resetMainNav()" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="fa fa-lg fa-bars"></span>
		</button>
	</div>
    <div class="header-logo" ng-click="redirectHome()" ng-if="headerItems.logo">
		<img src="distribution/images/scholastic_logo.png" class="img-responsive"/> 
	</div>

    <div class="container-fluid header-right">
	  <div class="pull-left country-text">{{loggedinUserName}}</div>
	  
	  <!-- <div class="header-menu lang-switch-wrapper visible-xs">
	  	<div class="col-xs-12">
	  		<div class="btn-group btn-toggle"> 
				<button class="btn btn-sm btn-primary active">EN</button>
				<button class="btn btn-sm btn-default">OFF</button>
			</div>
		</div>
	  </div> -->
	  
      <div class="dropdown header-menu hidden-xs" id="accountSettings" ng-if="headerItems.accountLinks">
        <span class="dropdown-toggle account-links"  id="AccountSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          <img src="distribution/images/user_icon.png"/>
          <img id="dropArrowMyProfile" src="distribution/images/topnav_arrow.png" class="down-arr" />
        </span>
        <ul class="dropdown-menu dropdown-menu-right account-dropdown" aria-labelledby="AccountSettings" ng-click="toggleAcntlink()">
            <li class="user-name">Hi, {{loggedinUserName}}</li>
            <li><a ng-click="HideNavBar('myaccount')" ui-sref="AdminBoard.MyAccount">My Account</a></li>
            <li><a ng-click="HideNavBar('changepwd')" ui-sref="AdminBoard.MyAccount">Change Password</a></li>
            <li><a ng-click="logout()">Logout</a></li>
        </ul>
      </div>
       <div class="dropdown header-menu" ng-if="isVM||isCM">
        <span class="dropdown-toggle notification-link" id="UserNotifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="toggleNotiylink()">
            <img src="distribution/images/notification_icon.png">
            <span class="notification-cnt">{{notificationCount}}</span>
        </span>
        <div class="dropdown-menu dropdown-menu-right notification-dropdown" aria-labelledby="UserNotifications" ng-click="toggleNotiylink()">
          <div class="notification-text">Notifications</div>
          <div role="separator" class="custom_divider"></div>
          <div ng-repeat="notification in notificationList" class="notification-list">
              <li>{{notification.comment}}</li>
              <div role="separator" class="custom_divider"></div>
          </div> 
          <!--<div class="seeall_notify"><a ui-sref="AdminBoard.Notification">See All</a></div>-->
        </div>
      </div>
      <div class="dropdown header-menu hidden-xs" id="otherLinks" ng-if="headerItems.otherLinks">
        <span class="dropdown-toggle other-links" id="OtherLinks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <!-- ng-click="toggleOtherlink()" -->
           <span><i class="fa fa-cog fa-2x" aria-hidden="true"></i></span>
           
           <!-- <img id="dropArrowOtherLinks" src="distribution/images/topnav_arrow.png" class="down-arr"/> -->
           
        </span>
        <ul class="dropdown-menu dropdown-menu-right other-dropdown" aria-labelledby="OtherLinks" ng-click="toggleOtherlink()" ng-click="toggleOtherlink()">
            <li><a ui-sref="AdminBoard.ManageSequenceGenerator">Sequence Generator</a></li>
            <!-- <li><a ui-sref="AdminBoard.ManageBank">Manage Banks</a></li> --> 
            <li><a ui-sref="AdminBoard.ManageCountry">Manage Countries</a></li>
            <li><a ui-sref="AdminBoard.ManageDivision">Manage Divisions</a></li>
            <!-- <li><a ui-sref="AdminBoard.ManageRegion">Manage Regions</a></li> -->
            <li><a ui-sref="AdminBoard.ManageLocation">Manage Locations</a></li>
            
            <li><a ui-sref="AdminBoard.ManagePriceList">Manage Price Lists</a></li>
            <li><a ui-sref="AdminBoard.ManageItem">Product Points</a></li>
            <li><a ui-sref="AdminBoard.ManageCommissionRate">Manage Commission Rates</a></li>
            <li><a ui-sref="AdminBoard.ManageScreenAccess">Manage Screen Access</a></li>
            <li><a ui-sref="AdminBoard.ManageUserType">Manage User Types</a></li>
            <!-- <li><a ui-sref="AdminBoard.ManageCommissionDetails">Manage Commission Details</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>