<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-lg-12">
			<div class="col-xs-12 col-sm-7">
				<div class="top-banner">
					<span></span>
				</div>
				<div class="bottom-banner" style="display: none;">
					<span></span>
				</div>
			</div>

			<div class="col-xs-12 col-sm-5 login-content">
				<div class="col-xs-12 logo-div">
					<img src="distribution/images/Login-Grolier-Logo.png" class="center-block img-responsive">
					<div>Login</div>
				</div>
				<div class="col-xs-12 login-box">
					<div class="bg-danger msg danger" ng-hide="unAuth">{{loginErMsg}}</div>
					<div class="bg-success msg success" ng-hide="true">{{loginErMsg}}</div>
					
					<form class="login-form">
						<div class="form-group">
							<label for="userName" class="col-xs-4 col-sm-12 custom-label">Username</label>
							<div class="col-xs-8 col-sm-12 buttonToolbar">
								<input type="text"
									class="form-control custom-input placeholder_italic"
									placeholder="Username" ng-model="UserName"
									ng-class="userNameError ? '' : 'emptyField'"> <span
									class="shiftErrorMsgTop"
									ng-class="userNameError ? 'hideError' : 'showError'">Please
									enter Username</span>
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-xs-4 col-sm-12 custom-label">Password</label>
							<div class="col-xs-8 col-sm-12 buttonToolbar">
								<input type="password"
									class="form-control custom-input placeholder_italic"
									placeholder="Password" ng-model="Password" my-enter="myFunc()"
									ng-class="passwordError ? '' : 'emptyField'"> <span
									class="shiftErrorMsgTop"
									ng-class="passwordError ? 'hideError' : 'showError'">Please
									enter Password</span>
							</div>
						</div>	
						<!-- <div class="col-xs-12 visible-xs">
							<span class="col-xs-4"></span>
							<a href="#" class="col-xs-8 col-sm-12 login-forgot">Forgot Password?</a>
						</div> -->
						
						<div class="col-xs-12 form-group login-remember">
							<div class="col-xs-4 col-sm-7 checkbox">
								<label class="hidden-xs"> <input type="checkbox" ng-model="rememberMe"
									name="remember"> <span>Remember Me</span>
								</label>
							</div>
							<div class="col-xs-5">
								<button type="button" class="btn btn-md login-btn pull-right"
									ng-click="LoginAuthentication()">
									<span data-ng-show="loginName">{{login}}</span>
									<div data-ng-show="loading" class="">
										<img src="distribution/images/loader_login24.gif"
											alt="Loading Icon">
									</div>
								</button>
							</div>
						</div>
						<!-- <a href="#" class="hidden-xs login-forgot pull-right">Forgot Password?</a> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
